/* Container */
#StartPageStyle
{
	margin: 10px auto 10px auto;
}

input.SPSearchBoxWIDE
{
	border: #3371d8 1px solid;
	max-height: 40px;
	margin-right: 10px;
	padding: 6px 6px 2px 6px;
	width: 45%;
	min-width: 45%;
	letter-spacing: 1px;
  box-shadow: 2px 2px 3px rgb(0, 0, 0);
	}

img.SPSubmitButton
{
	vertical-align: middle;
  padding-top: 0px;
  max-height: 40px;
  margin-left: 3px;

}

img.SPSearchButton
{
	max-height: 35px;
	border: 0px;
	padding: 0 2px 0 10px;
	float: left;
}

form.SPForm
{
	width: 40%;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}
