//output:techBrowserCol1.html
h2 Ad/Content Blocking

div.panel.panel-default
	div.panel-heading
		h3 Basics 
	div.panel-body
		a(href='/techHQ/browsers/adblocking/adblocker.php') List of Ad/Content Blockers, I recommend 
		a(href='/techHQ/browsers/adblocking/adblockBasics.php') Basic Ad/Content blocking on various blockers
		a(href='/techHQ/browsers/adblocking/') Static -vs- Dynamic Filtering
		a(href='/techHQ/browsers/adblocking/UblockConfusion.php') Ublock Origin -vs - Ublock Confusion
		a(href='/techHQ/browsers/adblocking/ublockDynFilterLevels.php') Static Filtering -vs- Dynamic Filtering
		a(href='/techHQ/browsers/adblocking/') Element Hiders
		a(href='/techHQ/browsers/adblocking/') List of Common Filter lists (strong Static Filters)


div.panel.panel-default
	div.panel-heading
		h3 More advanced topics
	div.panel-body
			a(href='/techHQ/browsers/adblocking/UblockTutorial.php') Ublock Tutorial 
			a(href='/techHQ/browsers/adblocking/ublockDynFilterLevels.php') Dynamic Filter in Ublock
			ul
				li
					a(href='/techHQ/browsers/adblocking/noopExplained.php') What on earth is a &quot;noop filter&apos;?
				li
					a(href='/techHQ/browsers/adblocking/') How to &quot;use&quot; Noop Rules

div.panel.panel-default
	div.panel-heading
		h3 UMatrix Specific
	div.panel-body
		li
			a(href='/techHQ/browsers/adblocking/umatrix_legend.php') Umatrix Legend
		li
			a(href='/techHQ/browsers/adblocking/umatrix_mainLayout.php') Umatrix Main Layout

div.panel.panel-default
	div.panel-heading
		h3 More Ublock Tasks
	div.panel-body
		ul
			li
				a(href='/techHQ/browsers/adblocking/') Cookie Managing
			li
				a(href='/techHQ/browsers/adblocking/') Script Managing


div.panel.panel-default
	div.panel-heading
		h3 Browser Addons
div.panel-body
		a(href='/techHQ/browsers/addons/topAddonsNonSecurity.php') Top Overall Addons
		a(href='/techHQ/browsers/addons/topSecurityAddons.php') Top Security Addons
		a(href='/techHQ/browsers/addons/contentManagerAddons.php') Content Management
		a(href='/techHQ/browsers/addons/downloadRelatedAddons.php') Download Related
		a(href='/techHQ/browsers/addons/generalAddons.php') General Addons
		a(href='/techHQ/browsers/addons/interfaceAddons.php') Interface Related
		a(href='/techHQ/browsers/addons/passwordAddon.php') Password Related
		a(href='/techHQ/browsers/addons/webMasterAddons.php') Webmaster Related
		
		a(href='/techHQ/browsers/#') Backing up Browser Data
		a(href='/techHQ/browsers/prevent_crashing_browsers') Prevent Browser Crashes/Hang-ups
		a(href='/techHQ/browsers/tinyurl.php') URL Shortening
