// For Image "Thumbnailing" in various sections
// Example - Screenshots on Linux Distro and Desktop homepages
.thumbnails {
  max-width: 450px;
  max-height: 450px;
}

// ?? what is this for?
.list-group-item {
  border: 0;
}

// May not be needed if things are responsive via Bootstrap
.YTPlaylists {
  width: 560px;
  height: 315px;
}

.carousel {
  min-height: 350px;
  margin: 0 auto;

  .carousel-control-prev,
  .carousel-control-next {
    width: 60%;
  }

  .carousel-item img {
    display: block;
    margin: 0 auto;
    height: 450px;
    width: 725px;
  }
}

/****** STARTPAGE Box related ******************/

// For the SP icon and input box
.SPHeightIconInput {
  height: 35px;
}

.SPSearchIcon {
  height: 33px;
  vertical-align: middle;
}

.card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  .card-header {
    @extend .themeBGColor;

    font-weight: bold;
    font-size: 1.1rem;

    a:link,
    a:visited {
      background-color: transparent;
      color: var(--white);
      text-decoration: none;
    }
  }
}

// For sidebar menus
.card--sidebar {
  .card-body {
    padding: 0.5rem;
  }
}

code {
  @extend .darkBG;

  display: inline-block;
}

.coverImage {
  background-position: top;
  background-size: cover;
  background-image: url("/graphics/unsplash/city1.jpg");
  min-height: 350px;
}

// Rename after testing
.coverImage2 {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

// Idea

// For basic stuff only
.icon {
  // margin on right side only
  margin-right: 1.1rem;

  a:link,
  a:hover,
  a:visited {
    fill: white;
    color: white;
  }
  &__iconSM {
    @extend .icon;
    width: 32px;
    height: 32px;
  }

  &__iconLG {
    @extend .icon;
    width: 48px;
    height: 48px;
  }
}

// New idea for screen readers
.hiddenAccessLinkText {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.card--bordered {
  border-color: $themeBGColor;
  margin: 0 auto 1.2rem auto;

  .card-text {
    padding: 1rem;

    .feed-item-title {
      a:link,
      a:hover,
      a:visited {
        font-weight: 500;
        font-size: 1rem;
      }
    }
  }
}

/* Global */

a:link,
a:hover,
a:visited {
  color: var(--midnightBlue);
}

// no longer in bootstrap 5
.text-justify {
  text-align: justify;
}

/* Sections */

.flexContainer {
  // Commented out for new frontpage testing ... if things bork .... uncomment this margin line and see if it fixes things
  // margin: 0 0 1.5rem 0;
  max-width: 100%;
  flex: 1 0 auto;

  // the main section between the nav top bar and the footer
  .mainSection {
    margin: 0 auto, 0 auto;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 0;
  }
}
