@import "_nav";

// For Image "Thumbnailing" in various sections
// Example - Screenshots on Linux Distro and Desktop homepages
.thumbnails {
  max-width: 450px;
  max-height: 450px;
}

// ?? what is this for?
.list-group-item {
  border: 0;
}

// May not be needed if things are responsive via Boostrap
.YTPlaylists {
  width: 560px;
  height: 315px;
}

.carousel {
  height: 90%;
  width: 90%;
  min-height: 325px;

  .carousel-control-prev,
  .carousel-control-next {
    width: 60%;
  }

  .carousel-item img {
    max-width: 500px;
    max-height: 500px;
  }
}

/****** STARTPAGE Box related ******************/

// For the SP icon and input box
.SPHeightIconInput {
  height: 35px;
}

.SPSearchIcon {
  height: 33px;
  vertical-align: middle;
}



.card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

  .card-header {
    @extend .themeBGColor;
    font-weight: bold;
    font-size: 20px;

    a:link,
    a:visited {
      background-color: transparent;
      color: var(--white);
      text-decoration: none;
    }
  }
}

code {
  @extend .darkBG;
  display: inline-block;
}

.coverImage {
  background-position: top;
  background-size: cover;
  background-image: url("/graphics/unsplash/city1.jpg");
  min-height: 350px;
}

.iconSM {
  width: 32px;
  height: 32px;
}

.iconLG {
  width: 48px;
  height: 48px;
}

.icon {
  position: relative;
  margin: null, 20px;
}
