// note to self: i had nav declared twice in my scss ... there is probably too much here ... related to the hamburger menus near the end I think
// I think i was messing with the hamburger menus in bs4.x vs bs5.x alpha, and there were differences

// Nav: for the entire header
@import "_custom/_custom-dir";

.nav-themed {
  @extend .themeBGColor;

  padding: 0.5rem, 1rem;
  text-shadow: 2px 5px var(--themeBGColor);
  font-weight: bold;

  // The "title" so to speak on the left
  .navbar-brand,
  .navbar-brand a:link,
  .navbar-brand a:visited {
    font-size: 36px;
    color: var(--white75);
  }

  // This is for the navigation menus on the right, when at full screen
  .navbar-nav {
    a:link,
    a:visited {
      font-size: 22px;
      line-height: 22px;
      text-transform: uppercase;
      //color: rgba(255, 255, 255, 0.5);
      color: rgba(255, 255, 255, 0.75);
    }
  }

  // needed elsewhere on page ... apparently it has nothing to do with the main navs on any section
  .nav-tabs {
    background-color: var(--white);
  }

  // Added since Boostrap 5
  button.navbar-toggler {
    border: 1px solid var(--white);
    color: var(--white);
  }

  .navbar-navbar-toggler {
    // the ONLY reason for the code right below (not tested) is due to things not aligning
    // this is from boostrap 5 ... copied and pasted ... .bootstrap 4's code had the burgers in the hamburger menu, offset
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    expanded {
      border: 1px solid var(--green);
    }

    collapsed {
      padding: 0.25rem 0.75rem;
      font-size: 1.09375rem;
      line-height: 1;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 0.25rem;
    }
  }

  .navbar-toggler-icon {
    height: initial;
    width: initial;

    // For burgers in Hamburger Menu
    div {
      margin: 5px, 0;
      width: 30px;
      height: 3px;
      background-color: var(--white);
    }
  }
}
