/****** Custom CSS *******/
:root {
  --black: rgb(0, 0, 0);
  --white: rgba(255, 255, 255, 1);
  --white50: rgba(255, 255, 255, 0.5);
  --white75: rgba(255, 255, 255, 0.75);
  --darkGrey1: rgb(51, 51, 51);
  --darkGrey2: rgb(62, 63, 58);
  --forrestGreen: rgb(0, 100, 0);
  --green: rgb(0, 153, 0);
  --red: rgb(255, 0, 0);
  --navy: rgb(0, 0, 128);
  --midnightBlue: rgb(25, 25, 112);
  --maroon: rgb(102, 0, 0);
  --tanL: rgb(255, 250, 205);
  --tanD: rgb(238, 233, 191);
  --lightMaroon: rgb(153, 0, 0);
}

.greenText {
  color: var(--green);
}

.redText {
  color: var(--red);
}

/* Border variables */
/* Global */
html,
body {
  font-size: 1.05rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  color: var(--white);
  background-color: var(--darkGrey1);
  padding: 1.5rem;
  margin: 0;
  max-height: 75px;
  display: flex;
}

footer a:link,
footer a:hover,
footer a:visited {
  text-decoration: none;
}

a:link,
a:hover,
a:visited {
  color: var(--midnightBlue);
}

.text-justify {
  text-align: justify;
}

.nav-themed {
  color: var(--white);
  background-color: var(--darkGrey1);
  padding: 0.5rem, 1rem;
  text-shadow: 2px 5px var(--themeBGColor1);
  font-weight: bold;
}

.nav-themed .navbar-brand,
.nav-themed .navbar-brand a:link,
.nav-themed .navbar-brand a:visited {
  font-size: 36px;
  color: var(--white75);
}

.nav-themed .navbar-nav a:link,
.nav-themed .navbar-nav a:visited {
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
}

.nav-themed .nav-tabs {
  background-color: var(--white);
}

.nav-themed button.navbar-toggler {
  border: 1px solid var(--white);
  color: var(--white);
}

.nav-themed .navbar-navbar-toggler {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.nav-themed .navbar-navbar-toggler expanded {
  border: 1px solid var(--green);
}

.nav-themed .navbar-navbar-toggler collapsed {
  padding: 0.25rem 0.75rem;
  font-size: 1.09375rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.nav-themed .navbar-toggler-icon {
  height: initial;
  width: initial;
}

.nav-themed .navbar-toggler-icon div {
  margin: 5px, 0;
  width: 30px;
  height: 3px;
  background-color: var(--white);
}

.card,
.card .card-header .card-body {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card .card-header,
.card .card-header .card-body .card-header {
  border-color: var(--darkGrey1);
  font-weight: bold;
  font-size: 1.1rem;
}

.card .card-header a:link,
.card .card-header a:visited {
  background-color: transparent;
  color: var(--white);
  text-decoration: none;
}

@--sidebar {
  .card .card-header .card-body {
    padding: 0.5rem;
  }
}

.card .card-text,
.card .card-header .card-body .card-text,
.card .card-body,
.card .card-header .card-body .card-body {
  padding: 1rem;
}

@__bordered {
  .card,
  .card .card-header .card-body {
    border-color: var(--darkGrey1);
    margin: 0 auto 1.2rem auto;
  }
}

.icon,
.icon__iconSM,
.icon__iconLG {
  margin-right: 1.1rem;
}

.icon a:link,
.icon__iconSM a:link,
.icon__iconLG a:link,
.icon a:hover,
.icon__iconSM a:hover,
.icon__iconLG a:hover,
.icon a:visited,
.icon__iconSM a:visited,
.icon__iconLG a:visited {
  fill: white;
  color: white;
}

.icon__iconSM {
  width: 32px;
  height: 32px;
}

.icon__iconLG {
  width: 48px;
  height: 48px;
}

.carousel {
  min-height: 350px;
  margin: 0 auto;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  width: 60%;
}

.carousel .carousel-item img {
  display: block;
  margin: 0 auto;
  height: 450px;
  width: 725px;
}

.feed-item-title a:link,
.feed-item-title a:hover,
.feed-item-title a:visited {
  font-weight: 500;
  font-size: 1rem;
}

.w-33 {
  width: 33%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.darkBG {
  color: var(--white);
  background-color: var(--darkGrey1);
}

.darkBG a:hover {
  background-color: inherit;
  color: var(--lightgrey);
}

/* THEME RELATED */
.darkGreyText {
  color: var(--darkGrey1);
}

.masthead {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 27%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url(/graphics/unsplash/city1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.siteTitle {
  font-style: normal;
  font-weight: bold;
  color: #eeeeee;
  font-size: 9vmin;
  letter-spacing: 0.03em;
  line-height: 1;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
  margin: 2rem 0;
}

button {
  background: #333333;
  transition: background ease 0.25s;
  border-radius: 5px;
  display: inline-block;
  border: none;
  padding: 0.75rem 1.5rem;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}

button:hover {
  background: #63b6b8;
}

button:focus {
  outline: 1px solid #ffffff;
  outline-offset: -4px;
}

.frontpageButtons {
  margin: 0 auto;
  display: inline;
}

.frontpageCardBody {
  padding: 1.1rem;
  color: #333333;
  line-height: 1.8rem;
}

.thumbnails {
  max-width: 450px;
  max-height: 450px;
}

.list-group-item {
  border: 0;
}

.YTPlaylists {
  width: 560px;
  height: 315px;
}

/****** STARTPAGE Box related ******************/
.SPHeightIconInput {
  height: 35px;
}

.SPSearchIcon {
  height: 33px;
  vertical-align: middle;
}

code {
  background-color: var(--darkGrey1);
  color: var(--white);
  display: inline-block;
}

.coverImage {
  background-position: top;
  background-size: cover;
  background-image: url("/graphics/unsplash/city1.jpg");
  min-height: 350px;
}

.coverImage2 {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
}

.hiddenAccessLinkText {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Sections */
.flexContainer {
  max-width: 100%;
  flex: 1 0 auto;
}

.flexContainer .mainSection {
  margin: 0 auto, 0 auto;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 0;
}
