// Row code
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;

    @include flex(row, wrap, normal);
    
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));

  > * {
      flex-shrink: 0;
      width: 100%;
      max-width: 100%;
      padding-right: calc(var(--bs-gutter-x) * 0.5);
      padding-left: calc(var(--bs-gutter-x) * 0.5);
      margin-top: var(--bs-gutter-y);

  }

  .col {
    flex: 1 0 0%;
  }
}



.row-cols-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  
  //////////////////////////////////////////////////////////////
  // flex: flex-grow flex-shrink flex-basis 
  
  .row-cols-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  
  .row-cols-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  
  .row-cols-3 > * {
    flex: 0 0 auto;
    width: 33.33%;
  }
    
  .row-cols-4 > * {
      flex: 0 0 auto;
      width: 25%;
  }
    
  .row-cols-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  
  .row-cols-6 > * {
    flex: 0 0 auto;
    width: 16.667%;
  }
  