
.border {
  border: 1px solid var(--themeColorL);
}

.border-top {
  border-top: 1px solid var(--themeColorL);
}

.border-right {
  border-right: 1px solid var(--themeColorL);
}

.border-bottom {
  border-bottom: 1px solid var(--themeColorL);
}

.border-left {
  border-left: 1px solid var(--themeColorL);
}

.border-0 {
  border: 0;
}

.border-top-0 {
  border-top: 0;
}

.border-right-0 {
  border-right: 0;
}

.border-bottom-0 {
  border-bottom: 0;
}

.border-left-0 {
  border-left: 0;
}
