@use "../01-intial/index"as *;

// for display:grid, spans two columns
.span2 {
  @include span2;
}

// ?? what is this for?
.list-group-item {
  border: 0;
}

.YTPlaylistsTN {
  width: 480px;
  height: 276px;
  margin: 1rem 1rem;
}

/************** RSS Feed *************/
// For GAOTD too
.feed-item-title {
  a {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.4rem;
    display: inline-block;
    margin: 0 auto;
    // not sure why things started centering
    text-align: left;
    outline: none;
  }
}

.feed-item-desc {
  img {
    display: block;
    max-width: 100px;
    height: auto;
    margin: 1rem auto;
  }
}

/*********** End RSS CSS **********/

// why is this CSS needed? ...
#outputSection a {
  color: var(--ThemeBGColorAccent);
}

/////////////////////////////////////////////

// Footer specially (for now?) in the TechHQ side of the site
#techHQFooter {
  // display: flex;
  //flex-direction: row;
  @include span2;
  padding-left: 20px;

  a {
    color: inherit;
    margin: 0 1rem;
    font-weight: 500;

    &:hover {
      outline: 1px dotted black;
      text-decoration: none;
    }
  }
}

// For Distro and Desktop Frontpages on the LinuxHQ side of the site
#linux-primary-content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  width: 100%;

  .card {
    min-width: 300px;
    border-radius: 15px 15px 15px 15px;
    width: 40%;

    @media (max-width: 880px) {
      width: 90%;
    }

    .card__header {
      display: flex;
      justify-content: flex-start;
      border-radius: 15px 15px 0 0;
    }
  }
}

// not sure i like how hyper specific this is but it does let me clean up bs css class calls in the html
// location: techHQ frontpage
.EducationalSites {
  @include span2;
  width: 75%;

  @media all and (max-width: 768px) {
    width: 90%;
    grid-column: auto;

    // why? ... is this suppose to be outside the media query?
    a {
      display: block;
    }
  }

  .card__body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    * {
      margin: .75rem;
    }
  }
}

// For LinuxHQ distro section and eventually more
#desktopSection {
  .card {
    box-shadow: none;
    border: 1px dotted var(--themeBGColorMain);

    // putting this here since there is a max-height (still need to lookup why i did that) on the main primaryContent .card heigh
    max-height: none;
  }

  // closes card
}

// closes #desktopSection

#linuxVersions {
  // the top level of the column
  .distroBaseTitle {
    text-decoration: underline;
    font-weight: 900;
  }

  // The Titles of the Distro/Versions
  .versionTitle {
    margin-right: .5rem;
  }

  // the actual version number
  .version {
    color: var(--themeBGColorAccent);
  }
}

// New idea for screen readers
.hiddenAccessLinkText {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

code {
  @include darkBG;
  display: inline-block;
}

// I THINK the only real point to this below is the Ublock O. browser addon pages ... I need to figure out a btter way to do this
// The IDEA was to use spans and class names below ... this seems silly or un-needed ... un-needed classes or something
.greenText {
  color: var(--green);
}

.redText {
  color: var(--red);
}

// thought i had this elsewhere
#browserSection .card {
  .card__header {
    display: flex;
  }
}

.darkBG_svg {
  fill: #fff;
  display: inline;
}

/*** DuckDuckGo search ***/
.searchbarContainer {
  align-items: center;
  display: flex;

  @include span2;
  justify-content: center;

  * {
    height: 40px;
  }

  // submit button
  button {
    background: #006400;
    border: 1px solid #006400;
    box-shadow: 0 2px 8px 0 rgba(20, 40, 20, .2);
    color: var(--white);
    border-radius: .25em;
    padding: .4em .875em;
    font-size: 1rem;
  }
}
