/******************* Width ********************/
// why is this here?  Codacy.com suggestion? ... this seems like it should be better in 01-intial
// however it would make sense i would have moved this here based on a Codacy suggetion
.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-33 {
  width: 33%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.w-100 {
  width: 100%;
}
