// Things specific to the landing page of the site
// I FULLY ADMIT that alot of this seems too hyper specific ... i will refactor the code later

header {
  .frontpage-title {
    text-align: center;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1rem;
  }
}

// The main part of the frontpage, ... sort of a container
.frontpage-section {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas:
    "site-section   site-section"
    "site-section   site-section"
    "git-section    git-section"
    "git-section    git-section";
  grid-template-columns: repeat(auto-fit, minmax(400px, 48%));
  grid-template-rows: repeat(2, 1fr);
  margin: 20px 0;

  .git-section {
    grid-area: git-section;

    .card {
      margin: 0 auto;
      width: 80%;

      .card__header {
        text-align: center;
      }
    }

    .git-icons {
      color: var(--themeBGColorAccent);
      display: flex;
      justify-content: space-around;
      margin-bottom: .5rem;

      a {
        color: inherit;
      }
    }
  }

  // for both sections
  .git-section,
  .site-section {
    // justify-content: space-around;
    display: inline-grid;
    grid-template-columns: inherit;
    padding: 0 1rem;

    // come back to later
    // I need better UX/UI to show the link is clickable
    a:hover {
      border-bottom: 1px solid brown;
      margin-bottom: 0;
      transition: 3s;
      //outline: 1px solid black;
    }

    .card {
      box-shadow: none;
      max-height: 500px;

      // causes errors with the frontpage cards being too wide ... WHY did i put that here?
      // width: 100%;

      .card__header {
        background-color: inherit;
        color: var(--themeBGColorAccent);
        font-size: 1.6rem;
        font-weight: 800;
        padding: .5rem 1rem;

        a {
          background-color: inherit;
          color: inherit;
        }
      }

      .card__body {
        font-weight: 500;

        // in case i remove Bootstrap
        .img-fluid {
          height: auto;
          max-width: 80%;
        }
      }
    }
    // For Titles, so they can span across two columns
    .frontpage-title {
      color: var(--themeBGColorAccent);
      font-size: 3rem;
      font-weight: 900;
      grid-column: span 2;
      text-align: center;
      margin: 1.5rem auto;
    }
  }
  // for images and descriptions for two main website sections
  .site-section {
    grid-area: site-section;
    grid-gap: inherit;

    img {
      margin: 0 auto;
      max-width: 80%;
      max-height: 800px;
    }
    // for bigger images to the side

    .card {
      // zero top and bottom and auto left and right
      margin: 0 auto;
      width: 100%;

      .card__body {
        p {
          margin: 10px 0;
        }
      }
    }
  }
  // for describing my git projects
}

// why is this here?
ol,
ul,
dl {
  margin-bottom: 1rem;
  margin-top: 0;

  li {
    margin-left: 1.4rem;
  }
}

@media (max-width: 874px) {
  .frontpage-section {
    grid-template-columns: 1fr;

    .site-section,
    .git-section {
      grid-gap: 0;
      grid-template-columns: inherit;

      .frontpage-title {
        grid-column: auto;
        font-size: 2rem;
      }
    }
  }
}
