
// No Longer Needed but leave until i can convert the default radius calls to 8px
// Apparently no prefixes are needed anymore
@mixin borderRad($radius: 8px)
{
	border-radius: $radius;
}

@mixin boxShadow($horz: 4px, $vert: 3px, $depth: 5px, $color: rgba(0, 0, 0, 1))
{
  box-shadow: $horz $vert $depth $color;
}


// ############################################################################


@mixin autoMargin($margin-left: auto, $margin-right: auto)
{
	margin-left: $margin-left;
	margin-right: $margin-right;
}

@mixin leftIcon($width: 48px, $height: 48px)
{
	float: left;
	width: $width;
	height: $height;
	padding-right: 10px;

}

@mixin softwareCols($colCount: 2, $colWidth: 40%, $colGap: 10px)
{
	float: left;
	clear: both;

    @include boxShadow();
	border-top: $solidBorder;
	border-left: $solidBorder;
	@include column-count($colCount);
	@include column-width($colWidth);
	@include column-gap($colGap);
    margin-bottom: 20px;
	margin-top: 20px;
	@include inline-block();

	a:link, a:visited, a:hover
    {
		text-decoration:none;
	}

}


%stretched {
  $stretch-color: #4c6b99;
  border: 3px solid $stretch-color;
  border-radius: 8px;
  display: block;
  background-color: darken($stretch-color, 30%);
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 0.5em;
}
