@import "_mixins";
@import "_images";


/* Border variables */
$solidBorder: 1px solid rgba(0, 0, 0, 1);
$dottedBorder: 1px dotted rgba(0, 0, 0, 1);


/* Colors */
$green: #006400;
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$lightMaroon: rgb(153, 0, 0);
$maroon: rgb(102, 0, 0);
$darkGreen: rgb( 0, 153, 0);
$red: rgb( 255, 0, 0);
$tanL: rgb( 255, 250, 205);
$tanD: rgb( 238, 233, 191);
$navy: rgb( 0, 0, 128);
$midnightBlue: ( 25, 25, 112);
$darkGrey: #323232;

$transparentWhite:  rgba(255, 255, 255, .50);

/* Fonts */
$Verdana: Verdana, Geneva, Arial, Helvetica, sans-serif;
$TNR:  "Times New Roman", Times, serif;
$Courier: "Courier New", Courier, monospace;
$Hevl: "Helvetica Neue",Helvetica,sans-serif;
$MSSans: "MS Sans Serif", Geneva, sans-serif;
$SegoeUI: "Segoe UI", Arial, Helvetica, sans-serif;
$Tahoma: Tahoma, Verdana, Segoe, sans-serif;
$Arial: Arial, Helvetica, san-serif;

/* Images */

$blackNav:	url(/techHQ/graphics/navbar/black.jpg);
