@import '_sassHeader';
@import 'bourbon/bourbon';

body
{
    font-size: 16px;

    margin: 0;

    background-image: $beachBG2;
    background-repeat: no-repeat;
}

a:link
{
    text-decoration: none;
}


.dropShadow
{
    box-shadow: 4px 3px 5px rgba(0, 0, 0, 1);
    border-radius: 8px;
}

.btn-link
{
    font-family: $TNR;
    font-size: 25px;
    font-weight: bold;

    text-align: center;

    color: white;
    color: $white;
    outline: $solidBorder;
    background-color: blue;
    text-shadow: 1px 1px 5px $black;
}


nav
{
    order: 2;

    a:link,
    a:visited
    {
        background-color: $darkGrey;

        @include padding(10px 20px 10px 20px);
    }
    a:hover
    {
        color: rgb(255, 255, 51);
    }
}


footer
{
    position: fixed;
    bottom: 0;

    display: block;

    width: 100%;
    height: 40px;

    color: $white;
    background-color: #323232;

    @include padding(10px 10px 10px 10px);

    #val
    {
        float: left;
    }

    #copyright
    {
        font-size: 14px;

        float: right;

        padding-right: 30px;
    }
}

#socialIcons
{
    float: right;

    margin-right: 3px;

    @include padding(null 3px 10px null);

    img
    {
        width: 32px;
        height: 32px;
    }
}

#backgroundImage
{
    background-image: $beachBG2;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-block
{
    padding: 0;
}
