@import '_sassHeader';

body
{
    font-size: 16px;

    margin: 0;

    background-image: $beachBG2;
    background-repeat: no-repeat;

    @include background-size(100%);
}

a:link
{
    text-decoration: none;
}


.dropShadow
{
    @include   boxShadow();
    @include   borderRad();
}

.btn-link
{
    color: white;
    background-color: blue;

    font-family: $TNR;
    font-size: 25px;
    font-weight: bold;


    text-align: center;
    color: $white;
    outline: $solidBorder;

    text-shadow: 1px 1px 5px $black;



}


nav
{

    order: 2;

    a:link,
    a:visited
    {


        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;


        background-color: $darkGrey;

    }
    a:hover
    {
        color: rgb(255, 255, 51);
    }
}


footer
{
    position: fixed;
    bottom: 0;

    display: block;

    width: 100%;
    height: 40px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    color: $white;
    background-color: #323232;

    #val
    {
        float: left;
    }

    #copyright
    {
        font-size: 14px;

        float: right;

        padding-right: 30px;
    }
}

#socialIcons
{
    float: right;

    margin-right: 3px;
    padding-right: 3px;
    padding-bottom: 10px;

    order: 7;

    img
    {
        width: 32px;
        height: 32px;
    }
}

#backgroundImage
{
    background-image: $beachBG2;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-block
{
    padding: 0;
}
