@import "_sassHeader";
@import 'bourbon/bourbon';

body
{
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 128);
	background-image: none;

	font-family: $SegoeUI;
	font-size: 12px;

}

a:link
{
	text-decoration: none;
}


#main
{
	clear: both;

}

.dropShadow {
  @include borderRad();
  @include boxShadow();
}


nav
{
			a:link, a:visited
			{
			float: left;
			clear:	both;

			margin-bottom: 2%;

			text-align: center;

			border: $solidBorder;
			text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.85);

			font-family: $TNR;
			font-size: 25px;
			font-weight: bold;

			@include padding(7px 10px 7px 10px);
			}

		   a:hover
			{
				color: rgb(255, 255, 51);
			}

}



.menuImage
{
	vertical-align: top;

	color: $black;
	background-color: rgba( 255, 255, 255, .90);

	font-size: 30px;
	font-weight: bold;

	@include margin(null auto 10px auto);
	 @include borderRad();
	 @include boxShadow();

}

img.center
{
	margin-right: auto;
	margin-left: auto;

}
.boxShadow
{
	@include boxShadow();
}


#homepageImage
{
	display: none;

}

.header1
{
	text-decoration: underline;

	font-size: 16px;
	font-weight: bold;
}

#socialIcons
{
	margin-bottom: 10px;


	a:link img
	{
		width: 48px;
		height: 48px;
		margin-right: 100px;
	}
}

#message
{
	position: absolute;

	display: block;

	width: auto;

	opacity: 1.00;

}
