@import '_sassHeader';
@import 'bourbon/bourbon';
@import "base/base";


body
{
    font-family: $SegoeUI;
    font-size: 12px;

    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 128);
    background-image: none;
}

a:link
{
    text-decoration: none;
}

#main
{
    clear: both;
}

.dropShadow
{
    border-radius: 8px;
    box-shadow: 4px 3px 5px rgba(0, 0, 0, 1);
}


nav
{
    a:link,
    a:visited
    {
        font-family: $TNR;
        font-size: 25px;
        font-weight: bold;

        float: left;
        clear: both;

        margin-bottom: 2%;

        text-align: center;

        border: $solidBorder;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, .85);

        @include padding(7px 10px 7px 10px);
    }

    a:hover
    {
        color: rgb(255, 255, 51);
    }
}



.menuImage
{
    font-size: 30px;
    font-weight: bold;

    vertical-align: top;

    color: $black;
    background-color: rgba( 255, 255, 255, .90);
    box-shadow: 4px 3px 5px rgba(0, 0, 0, 1);

    @include margin(null auto 10px auto);
    @include borderRad();
}

img.center
{
    @include margin(0px auto null auto);
}

.boxShadow
{
    box-shadow: 4px 3px 5px rgba(0, 0, 0, 1);
}


.header1
{
    font-size: 16px;
    font-weight: bold;

    text-decoration: underline;
}

#socialIcons
{
    margin-bottom: 10px;

    a:link img
    {
        width: 48px;
        height: 48px;
        margin-right: 100px;
    }
}
