//output:numix.html
doctype html
html(lang="en")
	
head
	title Numix Theme on Windows 7

body 
  p These are some screenshots of &quot;Numix on Windows 7&quot; ... There are a few things I am not sure about (I am not sure if i&apos;d like to recommend it YET) but here is an idea of what it can look like.


table(width='90%', border='1', align='center', cellpadding='8')
  tr.boldUnderline
    td.boldUnderline(width='450') Desktop
    |     
    td.boldUnderline(width='450') Firefox
  tr
    td
      a(href='sshots/desktop.jpg')
        img(src='sshots/desktop.jpg', width='567', height='319', alt='')
    |     
    td
      a(href='sshots/firefox.jpg')
        img(src='sshots/firefox.jpg', width='474', height='328', alt='')
  |   
  tr.boldUnderline
    td.boldUnderline Xyplorer File Manager 
    |     
    td.boldUnderline VLC 
  tr
    td(height='367')
      a(href='sshots/xyplorer.jpg')
        img(src='sshots/xyplorer.jpg', width='569', height='324', alt='')
    |     
    td
      a(href='sshots/vlc.jpg')
        img(src='sshots/vlc.jpg', width='371', height='237', alt='')
  |   
  tr
    td.boldUnderline(height='35') Open Dialog Box 
    |     
    td &nbsp;

  tr
    td(height='280')
      a(href='sshots/openDialog.jpg')
        img(src='sshots/openDialog.jpg', width='303', height='188', alt='')
    |     
    td &nbsp;
