// output:index.html


#supportedSites.d-none.d-md-block
  h3 Educational Sites
  br 
  
  .row 
    .col-3
      a(href='https://www.khanacademy.org/', target='_blank')
      img(src='/techHQ/graphics/khan-logo.png', alt='Khan Academy Graphic')
    |                 
    .col-3
      a(href='https://linuxacademy.com/', target='_blank')
      img(src='/techHQ/graphics/linuxAcad2.png', alt='Linux Academy Graphic')
    |                 
    .col-3
      a(href='https://www.digitalocean.com/community/', target='_blank')
      img.float-right(src='/techHQ/graphics/digital-ocean.png', alt='Digital Ocean Graphic' )
    br
    br
  .row
    .col-9
      a(href='http://www.kristakingmath.com/', target='_blank') Krista King Math                
      img(src='/techHQ/graphics/kking.png', alt='Krista King Math Site graphics')
      br
      a(href='https://www.youtube.com/channel/UCUDlvPp1MlnegYXOXzj7DEQ')
      | (or Her Channel on Youtube)


  <?php include $sitePath . "/techHQ/modules/GAOTD.tpl"; ?>


  </div>        <!-- ends second column from the template  -->

  <?php include $sitePath . "/modules/tech/startpage.tpl"; ?>

  </div>        <!-- Closes mainBody container  -->

  <?php  include $sitePath . "/modules/footer.tpl"; ?>
