@use "../01-abstracts/index" as *;

/*********** Main Section in middle of page, between the header and footer *****/

.main-section {
  display: grid;
  gap: 1.5rem;

  // color and font setup
  color: var(--clr-theme-color-d);
  font-family: var(--ffamily-roboto);
  font-size: var(--fs-normal);
  font-weight: 400;

  // for the grid above this
  grid-area: main-section;
  line-height: 1.6;
  padding: 1.5rem;


  // card everywhere else is flex... why grid here? ... shouldn't i just switch them all to flex?
  // was there a need for grid? ...
  .card {
    @include border-radius(10px);
    @include box-shadow;

    margin: 0 auto 1.2rem;
    outline: 1px solid var(--clr-theme-color-main);
    width: auto;

    &--bordered {
      @extend .card;

      border: 1px solid var(--clr-theme-color-main);
    }

    .card__header {
      @include dark-bg;
      @include align-items-justify-content(center, space-between);
      @include flex(row);

      background-color: unset;
      border-color: var(--clr-theme-color-main);
      border-radius: 10px 10px 0 0;
      color: var(--clr-theme-color-accent-l);
      font-weight: bold;
      font-size: var(--h4);
      padding: 1rem;

      // FOR ALL child divs of ';card__header
      div {
        align-items: center;
        display: inherit;
      }

      // for a div .. does this make sense?
      // for a div but only for the first div child
      div:first-child {
        justify-content: flex-start;
      }

      div:nth-of-type(2) {
        justify-content: flex-end;
      }

      // i for fork awesome graphics
      i {
        color: var(--clr-theme-color-l);
      }


      // Oct 2021: what is this for?
      &--wide {
        @extend .card__header;

        // for flexbox
        justify-content: space-between;
      }
    }

    .card__body,
    .card__text {
      padding: 1rem;
      color: var(--clr-theme-color-d);
    }
  }


  // is this REALLY needed?  I have h stuff in typography.scss 
  h1,
  h2,
  h3,
  h4,
  h5 {
    // color: var(--themeColor3);

    a {
      padding: 0.25rem;

      &:hover {
        outline: 1px solid var(--themeColor3);
        text-decoration: none;
      }
    }

  }

  // This even make sense? ... with no "sidebar?"   maybe yes if i dont do grid-template-areas: in the parent class;
  &--wide {
    @extend .main-section;

    grid-template-areas: "pContent";
    grid-template-columns: 1fr;
  }

  &--left-wide {
    @extend .main-section;

    grid-template-areas: "pContent sidebar";
    grid-template-columns: auto 18%;
  }

  &--right-wide {
    @extend .main-section;

    grid-template-areas: "sidebar pContent";
    grid-template-columns: 18% auto;
  }

  /****** Sidebar *****/
  .sidebar {
    // not sure about the placement here
    a {
      color: var(--clr-theme-color-d);
      display: block;

      // idea for better UX
      line-height: 1.75;
      margin: 0.25rem 0 0.25rem 1.5rem;

      &:hover {
        color: var(--clr-theme-color-accent-l);
        outline: 1px solid var(--clr-theme-color-main);
      }
    }

    img {
      // why the display: block ??
      display: block;
      margin: 1rem 0;
      padding: 0;
    }

    @media ($breakpoint-lg) {
      .card {
        margin: 0 none;

        // why is this here? ...
        // could i make this more generic andremove this? (move it to the higest level"card__body"
        .card__body {
          a {
            display: inline-block;
          }
        }
      }
    }

  }

  // the main sections of each side of the site
  .primary-content {
    grid-area: pContent;

    // the idea is for readability as far as the ch unit
    // WHY the margin? ...
    p {
      // margin: 1rem auto;
      max-width: 72ch;
    }

    @media ($breakpoint-lg) {
      margin: 0 1rem;
    }
  }

  @media ($breakpoint-lg) {
    &--left-wide,
    &--right-wide {
      // rows / columns
      grid-template: 1fr / 1fr;
      grid-template-areas:
        "sidebar"
        "pContent";
      max-width: 100vw;
      margin: 0 .5rem;
      
    }
  }
}