@use "../01-abstracts/index" as *;

/*********** Main Section in middle of page, between the header and footer *****/


.main-section {
  display: grid;
  gap: 1.5rem;

  // for the grid above this
  grid-area: main-section;
  padding: 1.5rem;

  // text color
  color: var(--theme-color-main);
  font-family: var(--ffamily-roboto);
  font-size: var(--fs-normal);
  font-weight: 400;
  line-height: 1.6;

  // is this REALLY needed?
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--themeColor3);

    a {
      padding: 0.25rem;
    }

    a:hover {
      outline: 1px solid var(--themeColor3);
      text-decoration: none;
    }
  }

  // This even make sense? ... with no "sidebar?"   maybe yes if i dont do grid-template-areas: in the parent class;
  &--wide {
    @extend .main-section;

    grid-template-areas: "pContent";
    grid-template-columns: 1fr;
  }

  &--left-wide {
    @extend .main-section;

    grid-template-areas: "pContent sidebar";
    grid-template-columns: auto 18%;
  }

  &--right-wide {
    @extend .main-section;

    grid-template-areas: "sidebar pContent";
    grid-template-columns: 18% auto;
  }

  /****** Sidebar *****/
  .sidebar {
    // not sure about the placement here
    a {
      display: block;

      // idea for better UX
      line-height: 1.75;
      margin: 0.25rem 0 0.25rem 1.5rem;

      &:hover {
        color: var(--theme-color-accent-l);
        outline: 1px solid var(--theme-color-main);
      }
    }

    img {
      // why the display: block ??
      display: block;
      margin: 1rem 0;
      padding: 0;
    }

    @media ($breakpoint-lg) {
      .card {
        margin: 0 none; 

        // why is this here? ...
        // could i make this more generic andremove this? (move it to the higest level"card__body"
        .card__body {
          a {
            display: inline-block;
          }        
        }
      }      
    }

  }

  // the main sections of each side of the site
  .primary-content {
    grid-area: pContent;

    // card everywhere else is flex... why grid here? ... shouldn't i just switch them all to flex?
    // was there a need for grid? ...
    .card {
      width: auto;

      .card__header {
        @include align-items-justify-content(center, space-between)
      }
    }

    // the idea is for readability as far as the ch unit
    // WHY the margin? ...
    p {
      // margin: 1rem auto;
      max-width: 72ch;
    }

    @media ($breakpoint-lg) {
        margin: 0 1rem;
    }
  }

  @media ($breakpoint-lg) {
    &--left-wide,
    &--right-wide {
      // rows / columns
      grid-template: 1fr / 1fr;
      grid-template-areas:
        "sidebar"
        "pContent";
    }
  }
}
