@use "../01-abstracts/index" as *;

// May 2023 note: is this hyper specific section needed? really?


// For Distro and Desktop Frontpages on the LinuxHQ side of the site
// wait ... should this NOT be  on anything other than the frontpages ?
#linux-primary-content {
  @include flex(row, wrap, normal);
  @include place-content(flex-start, space-evenly);

  width: 100%;

  .card {
    min-width: 300px;
    max-width: 92%;
  }

  @media ($breakpoint-md) {
    display: unset;
    flex-wrap: unset;

    @include place-content(unset, unset);

    margin: 1.2rem 0;

    .card {
      min-width: unset;
    }
  }
}

// For LinuxHQ distro section and eventually more
#linux-versions {
  // trial syntax for me
  // this is for the version table that sometimes has long version info that collide with other tables
  // also consider using css and removing the "tailwind like" syntax I have there for spacing
  .row {
    margin: 0.75rem 0;

    .col {
      margin: 0 1.5rem;
      word-wrap: break-word;
    }
  }

  // the top level of the column
  .distroBaseTitle {
    font-weight: 900;
    text-decoration: underline;
  }

  // The Titles of the Distro/Versions
  .versionTitle {
    margin-right: 0.5rem;
  }

  // the actual version number
  .version {
    color: var(--clr-theme-d);
  }
}

#browser-frontpage {
  * > a { 
    color: var(--clr-theme-main);
  }

  h4 { color: var(--clr-theme-main); }

  // useful in a few sections below 
  .icon {
    max-height: 32px;
    max-width: 32px;
  }

  .btn {
    border-radius: 20px;

    @include border; 

    padding: 1rem 2rem;
    font-weight: 800;
  }
  
  ul { 
    @include flex(row, wrap, space-evenly);

    li { list-style-type: none; }

  }

  #browsers {
    * > .btn:hover, * > .btn:focus { 
      background: var(--clr-theme-accent-l);
      transition: .25s;

      a:hover, a:focus {
        // background-color: var(--clr-theme-accent-l);
        color: #FFF;
        transition: .25s;
      }
    }
  }

  #addons {
    // like a container class for all the addons 
    div {
      @include flex(row, wrap, flex-start);
    }

    // the class for EACH addon
    .addon {
      @include border;

      border-radius: 20px;
      margin: 0 2rem;
      padding: 3rem;
      width: max(20%, 200px);

      // major addon icon at the top of the "section
      .icon {
        display: block;
        margin: 0 auto;
        max-height: 128px;
        max-width: 128px;

      }

      .addon-name, .addon-descript {
        text-align: center;
        margin: .5rem auto;
      }

      .addon-name {
        font-weight: 800;
      }

      .addon-descript {
        font-style: italic;
      }

      // for row of browsers and their links 
      .browsers {
        // no need for d-flex since with inheritance it already is d-flex 
        
        flex-wrap: nowrap;
        
        ul > li {
          max-height: 38px;
          max-width: 38px;
        }

      }
    }

  }

  #ytvideos {
    display: flex;
  }

  #usefulLinks {

    img {
      max-width: 550px;
    }

  }

}