@use "../01-abstracts/index" as *;


// May 2023 note: is this hyper specific section needed? really?


// For Distro and Desktop Frontpages on the LinuxHQ side of the site
// wait ... should this NOT be  on anything other than the frontpages ?
#linux-primary-content {
  // align-content: flex-start;
  display: flex;
  flex-wrap: wrap;

  // justify-content: space-evenly;
  place-content: flex-start space-evenly;
  width: 100%;

  .card {
    min-width: 300px;
  }

  @media ($breakpoint-md) {
    display: unset;
    flex-wrap: unset;
    place-content: unset;
    margin: 1.2rem 0;

    .card {
      min-width: unset;
    }
  }
}

// not sure i like how hyper specific this is but it does let me clean up bs css class calls in the html
// location: techHQ frontpage
.educational-sites {
  @include span2;

  width: 65%;

  @media ($breakpoint-md) {
    width: 90%;
    grid-column: auto;

    // why? ... is this suppose to be outside the media query?
    a {
      display: block;
    }
  }

  .card__body {
    @include flex(row, wrap);

    justify-content: space-evenly;

    * {
      margin: 0.25rem;
    }
  }
}

// For LinuxHQ distro section and eventually more
#linux-versions {
  // trial syntax for me
  // this is for the version table that sometimes has long version info that collide with other tables
  // also consider using css and removing the "tailwind like" syntax I have there for spacing
  .row {
    margin: 0.75rem 0;

    .col {
      margin: 0 1.5rem;
      word-wrap: break-word;
    }
  }

  // the top level of the column
  .distroBaseTitle {
    font-weight: 900;
    text-decoration: underline;
  }

  // The Titles of the Distro/Versions
  .versionTitle {
    margin-right: 0.5rem;
  }

  // the actual version number
  .version {
    color: var(--theme-color-d);
  }
}
