//output:browserIndex.html

h2 Browser Section Intro
i.fa.fa-firefox.fa-3x.text-dark
i.fa.fa-chrome.fa-3x.text-dark

p This is the New Brower Section.
p This section will contain information on browser addons and what ones I find most useful to improve your webbrowsing experience.
p This will not just Firefox as it use to be on my site, but will also contain Opera, Chrom* (Chromium and Google Chrome) browser info as well as new browsers such as Vivadi
p IMPORTANT: this section is under heavy construction at the moment