h2 Browser Section Intro

.py-3
    i.fa.fa-firefox.fa-3x.text-dark(aria-hidden="true")
    i.fa.fa-chrome.fa-3x.text-dark(aria-hidden="true")

p This is the New Browser Section.
p This section will contain information on browser addons and what ones I find most useful to improve your webbrowsing experience.
p This will not just Firefox as it use to be on my site, but will also contain Opera, Chrom* (Chromium and Google Chrome) browser info as well as new browsers such as Vivadi
p IMPORTANT: this section is under heavy construction at the moment