#browser-frontpage
    #browsers 
        h3 Browsers 
        div
            h4 Chromium based - Blink Engine 
            ul
                li.btn
                    img.icon(src="/techHQ/progIcons/internet/browsers/chrome.svg" alt="Google Chrome SVG Icon") 
                    | Google Chrome
                li.btn
                    img.icon(src="/techHQ/progIcons/internet/browsers/brave.png" alt="Brave Browser Icon")
                    | Brave
                li.btn
                    img.icon(src="/techHQ/progIcons/internet/browsers/vivaldi.svg" alt="Vivaldi Browser SVG Icon") 
                    | Vivaldi
                li.btn
                    img.icon(src="/techHQ/progIcons/internet/browsers/edge.png" alt="Microsoft Edge icon") 
                    | Micrsoft Edge 
                li.btn
                    img.icon(src="/techHQ/progIcons/internet/browsers/chromium.png" alt="Chromium/Ungoogle Chromium icon")
                    | Ungoogled Chromium

        div 
            h4 Firefox Based - Geck Engine          
            ul.d-flex 
                li.btn
                    img.icon(src="/techHQ/progIcons/internet/browsers/firefox.svg" alt="Firefox SVG icon") 
                    | Firefox 
                li.btn
                    img.icon(src="/techHQ/progIcons/internet/browsers/librewolf.png" alt="LibreWolf Icon") 
                    | LibreWolf 

            h4 Firefox Based - Goanna Engine 
            ul.d-flex
                li.btn
                    img.icon(src="/techHQ/progIcons/internet/browsers" alt="") 
                    | Bassilik 
                li.btn
                    img.icon(src="/techHQ/progIcons/internet/browsers"  alt="") 
                    | Pale Moon 
    #addons
        h3 Browser Addons
        ul.jc-start
            li.addon
                img.icon(src="/techHQ/browsers/addons/graphics/ublock-origin.svg" alt="Ublock Origin SVG Icon")
                .addon-name Ublock Origin
                .addon-descript Ad/Content Blocker
                ul.browsers 
                    li 
                        a(href="https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/")
                            img(src="/techHQ/progIcons/internet/browsers/firefox.svg" alt="Ublock Origin Firefox")
                    li 
                        a(href="https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm" target="_blank")
                            img(src="/techHQ/progIcons/internet/browsers/chrome.svg" alt="Ublock Origin Chrome Store")
                    li
                        a(href="https://github.com/gorhill/uBlock" target="_blank")
                            img(src="/graphics/simpleIcons/github.svg" alt="Ublock Origin Github")
            
            li.addon
                img.icon(src="/techHQ/browsers/addons/graphics/bit-warden.svg" alt="Bit Warden SVG Icon")
                .addon-name Bit Warden 
                .addon-descript Open-Source Password Manager
                ul.browsers 
                    li 
                        a(href="https://addons.mozilla.org/en-US/firefox/addon/bitwarden-password-manager/" target="_blank")
                            img(src="/techHQ/progIcons/internet/browsers/firefox.svg" alt="Bit Warden Firefox")
                    li
                        a(href="https://chrome.google.com/webstore/detail/bitwarden-free-password-m/nngceckbapebfimnlniiiahkandclblb" target="_blank")
                            img(src="/techHQ/progIcons/internet/browsers/chrome.svg" alt="Bit Warden Chrome Store")
                    li
                        a(href="https://github.com/bitwarden/clients" target="_blank")
                            img(src="/graphics/simpleIcons/github.svg" alt="Bit Warden Github")

    #ytvideos 
        h3 Youtube Videos 
        ul
            li 
            li 
            li
            li 

    h3 Useful Browser Links