.card
	h5.card__header Mozilla&apos;s &quot;Firefox&quot; - Method 1
	.card__body
		ol
			li  Go to &quot;Bookmarks&quot; and then click Organize Bookmarks
			li  Then go to this Window&apos;s File Menu and Click Export
			li
				| Here you type the name and location to back your bookmarks up
				| to... Remember to back this file up (to removable media, i mean) , otherwise you still will
				| lose your &quot;backup&quot; too ...
				| which is beside the point of why your backing up in the first place
				br

.card
	h5.card__header Google Chrome
	.card__body
		ol
			li
			| Go here (there is no text on the menus ... its the one all the way on the right that is shown here) ... Go down to where it says &quot;Bookmark Manager&quot;
			br
			br
			img(src='/techHQ/browsers/Google_Chrome_Bookmark_Man.jpg', alt='Google Chrome Screenshot', width='450', height='391')
			br
			p
				a(href='/techHQ/browsers/Chrome_bookmark.jpg', target='_blank')
					img(src='/techHQ/browsers/Chrome_bookmark.jpg', alt='Chrome Bookmark Menu', width='643', height='424')
			li
				|	Go to Tools and then Export, which will export/save a HTML file to the location of your choice ... that simple

p
	strong REMEMBER
	| : A common error when backing up data new users make is backing items up the same drive and not actually using removable media... in this sense you put your spare house keys on the same keychain as the originals, so if you do manage to lose one... you lose the other one too .... (If you are using separate partitions, that would work too ... but still ... if your Hard drive goes down... all partitions will be lost too)
