//output:jadeTest.html

doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title  Xmetal&apos;s Homepage
  
    // For Navigation Menu from Bourbon.io and it's Refills section   
    script(src="http://xmetal.x10.mx/scripts/nav.js", type="text/javascript")
    
    // JQuery
    script(src='http://xmetal.x10.mx/scripts/jquery-3.2.0.min.js')

    // Tether
    script(src="http://xmetal.x10.mx/tether133/js/tether.min.js")

    // Bootstrap 4 alpha 6 
    link(rel='stylesheet', href='http://xmetal.x10.mx/bootstrap/css/bootstrap.min.css')
    
    script(src='http://xmetal.x10.mx/bootstrap/js/bootstrap.min.js' )
  

    link(href='/stylesheets/customCSS.css', rel='stylesheet', type='text/css', media='all')

  body  
  
    <?php include 'modules/frontnav.php'; ?> 
                
    .hero
        .hero-content
          p Please visit
          img.show-for-medium(src="/graphics/midfngr.jpg", alt="midfngr thumbnail")
          a.show-for-medium(href="https://www.youtube.com/user/midfingr/undefined", target="_blank")  Midfngr's Youtube Channel

    ul.bullets
        li.bullet    
          .bullet-content
            p Most of the site is broken at the moment ... I have a big idea on my side of things how to redo a few items to make it easier to manage and fix a few things that have been annoying me ... bottom line is I KNOW ITS BROKEN

        li.bullet
          .bullet-content
            p Feb 7 2017 Update - I have been working on the templates and converting stuff over so i can then just go into the individual pages and apply the new way I am doing things all at once.  Think of it like before I get all the furnature in and setup just right ... I have to get the framework of the house setup the way I want/need first.  


  <?php include '/modules/frontFooter.tpl'; ?>
