//output:index.html

doctype html
html(lang="en")

	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		title  Xmetal&apos;s Homepage

<<<<<<< HEAD
    // JQuery and Popper 
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
  
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')
=======
		// JQuery and Popper 
		script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
>>>>>>> 465b526... Fixing Header to not rely on Bourbon.io

		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')


		// For Navigation Menu from Bourbon.io and it's Refills section
		script(src="http://xmetal.x10.mx/scripts/nav.js", type="text/javascript")

		// Tether
		script(src="http://xmetal.x10.mx/frameworks/tether/js/tether.min.js")

		// Bootstrap CDN 
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm', crossorigin='anonymous')


		// Universal CSS file
		link(href='/universalCSS/styling.css', rel='stylesheet', type='text/css', media='all')

	body 
		<?php include 'modules/frontnav.tpl'; ?>

		div.coverImage


		#mainText.row
			.col-lg-6
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			.col-lg-6
				h4 My Github Other Github project

				a(href="https://github.com/Xmetalfanx/linuxSetup" target="_blank") LinuxSetup
				| - Helps a user setup some things with a menu system on Ubuntu, Fedora, OpenSuse, and (minor things for this distro ... so far) Solus.   This includes adding well known third party repos, enabling coming setings not set by default, and adding common software in one shot
				br
				br

				a(href="https://github.com/Xmetalfanx/linuxThemes" target="_blank") LinuxThemeing
				|  This originally was going to be a part of the LinuxSetup scripts, though it grew too much and I decided to branch it out.

				| This installs themes and icon packs of well liked Linux Themes into your system.  I have alot of plans for this for version and distro detection.

				<?php include 'modules/footer.tpl'; ?>
