//output:index.html

doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title  Xmetal&apos;s Homepage

    // JQuery
    script(src='http://xmetal.x10.mx/scripts/jquery-3.2.1.min.js')

    // For Navigation Menu from Bourbon.io and it's Refills section
    script(src="http://xmetal.x10.mx/scripts/nav.js", type="text/javascript")

    // Tether
    script(src="http://xmetal.x10.mx/frameworks/tether133/js/tether.min.js")

    // Bootstrap 4 alpha 6
    link(rel='stylesheet', href='http://xmetal.x10.mx/frameworks/bootstrap/css/bootstrap.min.css')

    script(src='http://xmetal.x10.mx/bootstrap/js/bootstrap.min.js' )

    // Universal CSS file
    link(href='/universalCSS/styling.css', rel='stylesheet', type='text/css', media='all')

  body

    <?php include 'modules/frontnav.php'; ?>

    .hero
        .hero-content
          p Please visit
          img.show-for-medium(src="/graphics/midfngr.jpg", alt="midfngr thumbnail")
          a.show-for-medium(href="https://www.youtube.com/user/midfingr/undefined", target="_blank")  Midfngr's Youtube Channel

    ul.bullets
        li.bullet
          .bullet-content
            p July 20, 2017 - Site under construction... I hope to make things look alot better on mobile devices .. this is part of the reason for the big change from alot of custom CSS Styles to "Bourbon.io" and Bootstrap (though Foundation looks like a good Bootstrap alternative)

        li.bullet
          .bullet-content
            h4 My Github Other Github project

            a(href="#" target="_blank") LinuxSetup
              | - Helps a user setup some things with a menu system on Ubuntu, Fedora, OpenSuse, and (minor things for this distro ... so far) Solus.   This includes adding well known third party repos, enabling coming setings not set by default, and adding common software in one shot

            br
            br

            a(href="#" target="_blank") LinuxThemeing
              |  This originally was going to be a part of the LinuxSetup scripts, though it grew too much and I decided to branch it out.

              | This installs themes and icon packs of well liked Linux Themes into your system.  I have alot of plans for this for version and distro detection.



  <?php include '/modules/frontFooter.tpl'; ?>
