//output:index.html 
|  <?php
      $title = 'Homepage';
      $sitePath = "/home/xmetalx1/public_html";
      include $sitePath . "/templates/linux/baseLinuxTemplate.tpl";
|  ?>

doctype html 
html(lang="en")
  head 
    title Xmetal's Homepage
    
    //-  Latest Bootstrap CSS file 
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")

    //- Optional theme
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css")

   //-
    link(rel="stylesheet", href="/stylesheets/layout.css", type="text/css", media="all")
    link(rel="stylesheet", href="/stylesheets/smallerLayout.css", type="text/css", media="(max-width: 700px)" )
   
body 
  nav.navbar.navbar-inverse
    div.container-fluid 
      //- Brand and toggle get grouped for better mobile display
      div.navbar-header 
      button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
        span.sr-only Toggle Navigation 
        span.icon-bar
        span.icon-bar 
        span.icon-bar 
        
        link.navbar-brand(href="http://xmetal.x10.mx")

      //- Collect the nav links, forms, and other content for toggling

     //- How do i do IDs and classes at the same time 
       div.collaspse.navbar-collapse#bs-example-navbar-collapse-1
        ul.nav.navbar-nav
          li.active a(href="/linuxHQ/index.php")Linux HQ
          li a(href="/techHQ.php")Tech HQ

  div.container
      div.row 
       div.col-lg-12
         div.panel.panel-default 
          div.panel-body 
            p img(src="/graphics/midfngr.jpg", alt="midfngr thumbnail")
            
            p R.I.P Midfinger - Please Visit a(href="https://www.youtube.com/user/midfingr/undefined", target="_blank") Midfngr's Youtube Channel

         div.panel.panel-warning
          div.panel-header ATTENTION! 
            div.panel-body
              p Most of the site is broken at the moment ... I have a big idea on my side of things how to redo a few items to make it easier to manage and fix a few things that have been annoying me ... bottom line is I KNOW ITS BROKEN 
              
      
         div.panel.panel-default
           div.panel-body
             p Feb 7 2017 Update - I have been working on the templates and converting stuff over so i can then just go into the individual pages and apply the new way I am doing things all at once.  Think of it like before I get all the furnature in and setup just right ... I have to get the framework of the house setup the way I want/need first.


        <?php include $sitePath . "/modules/socalMediaIcons.tpl"; ?>
  
    footer
      div#val Validation Gifs Here
      div#copyright Xmetal/Xmetalfanx 2014-*

    //- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
