.addonTable {
  background-color: transparent;
  border: 1px solid black;
  border-collapse: collapse;
  color: black;
  font-weight: bold;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  overflow: visible;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
  width: 98%;
}


#browser .title img.icon
{
	width: 32px;
	height: 32px;
}

#browser ul li
{
	border: 2px #000000 solid;
	margin-bottom: 20px;
	margin-top: 10px;
	list-style-type: none;
	padding-top: 3px;
	padding-left: 2px;
	padding-right: 4px;


	  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 4px 3px 5px black;
  -moz-box-shadow: 4px 3px 5px black;
  box-shadow: 4px 3px 5px black;

}

#browser img
{
	width: 32px;
	height: 32px;
}

#browser ul li  ul li, #browser ul
{

	border: 0px;
	list-style-type: circle;
  -webkit-box-shadow: 0px 0px 0px black;
-moz-box-shadow: 0px 0px 0px black;
box-shadow: 0px 0px 0px black;
}

#browser
{

}

#browser .title
{
		font-size: 15px;
		font-weight: bold;
		border-bottom: 1px #000000 solid;
		margin-bottom: 5px;
		padding-left: 10px;
		padding-right: 4px;
		width: 98%;
		padding-top: 2px;
		margin-top: 2px;
}

#browser .description
{
	/* border: 1px dotted #000000; */
	text-align: justify;
	margin-bottom: 10px;
	background-color: #FFFFCC;
	font-family:  "Segoe UI","Courier New",Courier,monospace;
	font-size: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
  line-height: 20px;
}

#browser .description ul, #browser .description li
{
		border-bottom: 0px ;

}
