#softwareSection #browsersprite li {
  display: block;
  list-style-type: none; }
#softwareSection #browsersprite .firefox {
  background: url("/techHQ/progIcons/browsers/browserSprite.png") no-repeat -90px 0;
  width: 59px;
  height: 32px; }
#softwareSection #browsersprite .gchrome {
  background: url("/techHQ/progIcons/browsers/browserSprite.png") no-repeat -54px 0;
  width: 32px;
  height: 34px; }
#softwareSection #mpSprite .aimp {
  background: url("/techHQ/progIcons/browsers/browserSprite.png") no-repeat -284px -4px;
  width: 32px;
  height: 32px; }
#softwareSection #mpSprite .foobar {
  background: url("/techHQ/progIcons/browsers/browserSprite.png") no-repeat -179px 0;
  width: 32px;
  height: 32px; }
#softwareSection #mpSprite .vlc {
  background: url("/techHQ/progIcons/browsers/browserSprite.png") no-repeat -337px -6px;
  width: 32px;
  height: 32px; }
#softwareSection #mpSprite .clem {
  background: url("/techHQ/progIcons/browsers/browserSprite.png") no-repeat -55px 0;
  width: 32px;
  height: 32px; }

/* Images */
/* Border variables */
/* Colors */
/* new Scheme test */
/* Fonts */
/* Images */
/* Start of CSS */
caption {
  font-size: 14px;
  font-weight: bold; }

form {
  margin-bottom: 2px;
  padding-bottom: 0px; }

li {
  padding-left: 10px;
  color: black;
  background-color: transparent;
  line-height: 18px;
  list-style-position: outside;
  list-style-type: disc; }
  li .code {
    color: red;
    background-color: inherit; }

.border,
div.border,
p.border,
span.border {
  border: 1px solid;
  border-top-color: #999999;
  border-right-color: white;
  border-bottom-color: white;
  border-left-color: white; }

code,
p.code,
span.code {
  color: red;
  background-color: transparent;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px; }

.italics,
p.italics {
  font-style: italic; }

table.fiftyBordSpace td {
  margin: 22px;
  padding: 10px;
  border: 1px solid black; }

table.fiftyTableBordSpace {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 1px solid black; }

table.nintyBorder {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: 1px; }

table.nintyBorder td {
  border: 1px; }

/* table with zero borders, but no other CSS adjustments */
table.zero {
  border: 0px; }

td a:hover,
td a:visited {
  text-decoration: none;
  font-size: 13px; }
td .rss,
td li {
  margin: 0px;
  padding: 0px; }
td .CenterMiddle {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  white-space: nowrap; }
td .eighty {
  width: 80%; }
td td.fourty {
  width: 40%; }
td td.nowrap {
  white-space: nowrap; }
td .paddingFive {
  padding: 5px; }
td .paddingTwo {
  padding: 2px; }
td .sixty {
  width: 60%; }
td .thirty {
  width: 30%;
  white-space: nowrap; }

th.nowrap {
  white-space: nowrap; }

th.eighty {
  width: 80%;
  text-align: center; }

.code,
tt {
  color: black;
  background-color: black;
  text-align: justify;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px; }

.absBotton {
  vertical-align: bottom; }

.bar {
  padding-bottom: 1px;
  color: #000099;
  background-color: #ffcc99;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 13px;
  font-weight: bold; }
  .bar a:link {
    color: black;
    background-color: #ffcc99;
    text-align: center;
    text-decoration: none;
    font-size: 13px; }
  .bar a:hover {
    display: block;
    color: #006666;
    background-image: none;
    background-color: white;
    text-align: center;
    text-decoration: none;
    cursor: crosshair; }

.blockIndent {
  padding-left: 50px; }

.blue {
  color: blue;
  background-color: transparent; }

.boldCenter {
  text-align: center;
  font-weight: bold; }

.boldCourier {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold; }

.boldItalics {
  font-style: italic;
  font-weight: bold; }

.boldText {
  font-weight: bold; }

.boldTitles {
  color: #990000;
  background-color: transparent;
  text-align: center;
  text-decoration: underline;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold; }

.boldTitles a:link {
  text-decoration: none; }

.boldUnderline a:link {
  color: red;
  background-color: transparent;
  text-decoration: underline; }

.boldUnderline,
.underlineBold {
  text-decoration: underline;
  font-weight: bold; }

.borderDotTop {
  padding-top: 10px;
  border-top-color: black;
  border-top-width: 2px;
  border-top-style: dotted; }

.bottomIcons {
  width: 36px;
  height: 14px;
  border: 2px black solid;
  vertical-align: baseline; }

.centerImage {
  margin-left: auto;
  margin-right: auto;
  clear: both; }

.CenterMiddle {
  color: black;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 13px; }

.checksum {
  margin-top: 25px;
  margin-left: 10px;
  font-family: "Courier New", Courier, monospace; }

.code2 {
  display: block;
  width: 100%;
  padding-left: 16px;
  color: black;
  background-color: #ffff99;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px; }

.codeC,
.codeC p {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px; }

.fifthyPercent {
  width: 49%; }

.ghacksGF {
  width: 133px;
  height: 43px;
  padding-bottom: 10px;
  overflow: hidden; }

.googleImage {
  margin-right: 7px;
  border: 0px; }

.horizontalImage {
  width: 172px;
  height: 130px;
  border: none; }

.horizontalLineBottom {
  width: 90%;
  float: left;
  margin-top: 0px;
  padding-top: 0px;
  border-bottom: 1px solid black; }

.imageDefault {
  width: 88px;
  height: 31px;
  vertical-align: middle; }

.imageDefault2 {
  width: 88px;
  height: 31px;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: middle; }

.imgCenterDropShadow {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 5px 2px 10px #000000;
  -moz-box-shadow: 5px 2px 10px #000000;
  box-shadow: 5px 2px 10px #000000;
  border-top: 1px solid black;
  border-left: 1px solid black;
  background-color: white; }

/* to make text float on both sides of an image (ex- smile) */
.imgfloat {
  float: left;
  clear: both;
  border: 0px;
  /* float: center; */ }

.imgLeftPad {
  float: left;
  clear: right;
  padding-top: 10px;
  padding-bottom: 20px; }

.interestsTitles {
  color: red;
  background-color: transparent;
  font-style: italic;
  font-weight: bold; }

#securityStuff,
.leftbarHeadlines a:link,
td.leftbarHeadlines a:link {
  border-bottom: 1px solid;
  font-family: "MS Serif", "New York", serif;
  font-size: 14px;
  font-weight: bold; }

.leftbarHeadlines a:visited {
  font-style: normal; }

.lightBGHeader {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin-left: 0px;
  padding-top: 0px;
  padding-left: 4px;
  color: #000099;
  border: 1px solid black;
  background-color: #ffff99;
  font-weight: bold; }

.line {
  float: left;
  padding-bottom: 10px;
  border-top: 1px solid black; }

.lTableHeaders {
  margin-bottom: 2px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  color: black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px ridge #000099;
  border-left: 1px solid black;
  background-image: url(../graphics/navbar_trials/tan/2tan3.png);
  background-color: #ffff66;
  background-repeat: repeat;
  text-align: left;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold; }

.mainPageHeaders {
  color: #990000;
  border-color: black;
  border-width: 1px;
  border-style: dotted;
  background-color: #ffffcc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold; }

.mainProgCat {
  clear: both;
  margin-bottom: 20px;
  padding-left: 2px;
  color: black;
  border: 1px solid gray;
  background-image: none;
  background-color: #ffffcc;
  text-align: center;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 16px; }

.mainProgDescript,
p.mainProgDescript {
  font-family: "MS Sans Serif", Geneva, sans-serif;
  font-size: 12px; }

.mainSiteImage {
  float: left;
  clear: both;
  margin-top: 5px;
  margin-right: 10px;
  padding-right: 8px;
  padding-bottom: 10px;
  padding-left: 8px; }

.mainSiteUpdates {
  -webkit-box-shadow: 3px 2px 2px #000000;
  -moz-box-shadow: 3px 2px 2px #000000;
  box-shadow: 3px 2px 2px #000000;
  margin-top: 0px;
  border-left: 1px solid black;
  font-family: Arial, Helvetica, san-serif;
  font-size: 11px;
  line-height: 20px; }
  .mainSiteUpdates a:link {
    color: #006666;
    background-color: transparent;
    text-decoration: none;
    font-size: 13px; }
  .mainSiteUpdates p {
    width: 95%; }

.mainTemplatespacers {
  margin-top: 2px;
  padding-top: 2px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px; }

.maroonText {
  color: #990000;
  background-color: transparent; }

.navyText {
  color: #000099;
  background-color: transparent; }

.progName,
.progName a:link {
  font-weight: bold;
  white-space: nowrap; }

.progNameHeader {
  width: 55px;
  font-weight: bold; }

.quoted {
  padding-right: 15px;
  padding-left: 20px;
  color: red;
  background-color: transparent;
  text-align: justify;
  font-family: "MS Serif", "New York", serif;
  font-size: 13px; }

.redBold {
  color: red;
  background-color: transparent;
  font-weight: bold; }

.redtext {
  color: red;
  background-color: transparent; }
  .redtext a:link {
    color: red;
    border-bottom-color: red;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    background-color: transparent; }

.right {
  text-align: right; }

.RSSDate {
  color: black;
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: bold; }

.RSSFeeds {
  color: black;
  background-color: white;
  font-size: 13px; }
  .RSSFeeds a:link {
    color: #000099;
    background-color: white;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px; }
  .RSSFeeds i {
    color: black;
    background-color: white;
    font-family: "MS Sans Serif", Geneva, sans-serif;
    font-size: 13px;
    font-style: normal; }

.shading {
  color: black;
  background-color: #cccccc; }

/* Side Navigation to Remove Tables */
.sideNav {
  margin-top: 0px;
  padding-top: 2px;
  padding-left: 2px;
  vertical-align: top;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 14px; }
  .sideNav a:visited {
    color: #990000;
    background-color: white;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 13px; }
  .sideNav a:hover {
    color: #ffff99;
    background-color: #000099; }
  .sideNav a:link,
  .sideNav a {
    margin-top: 2px;
    color: navy;
    background-color: transparent;
    text-decoration: none; }

li a:link {
  margin-top: 2px;
  color: navy;
  background-color: transparent;
  text-decoration: none; }

.smallerMainText,
td.smallerMainText {
  color: black;
  background-color: transparent;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px; }

.smallMainText {
  margin-bottom: 3px;
  padding-bottom: 3px;
  font-size: 12px; }

.smallNavy {
  color: #000099;
  background-color: transparent;
  font-size: 13px; }

.spacerTenPixel {
  padding-bottom: 10px; }

.superScript {
  position: relative;
  margin-top: 1px;
  vertical-align: super;
  font-size: 10px; }

.superScript a:link {
  position: relative;
  margin-top: 1px;
  vertical-align: super;
  font-size: 10px;
  font-style: italic; }

.tableBlackBorderZeroAll {
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  color: black;
  overflow: visible;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: transparent;
  text-align: left;
  font-weight: bold; }
  .tableBlackBorderZeroAll td,
  .tableBlackBorderZeroAll th {
    margin: 0px 0px;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    border: 1px solid black; }

.tableCenter93 {
  width: 93%;
  margin-right: 10px;
  margin-left: 50px; }

.textThrough {
  float: none;
  clear: both;
  margin-top: 1px;
  padding-right: 8px;
  padding-left: 8px; }

.tnHoriz {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 192px;
  height: 144px;
  border: 0px; }

.tnVert {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 144px;
  height: 192px;
  border: 0px; }

/* TOC Page */
.TOCSubSection {
  color: #990000;
  background-color: transparent;
  text-decoration: underline;
  font-weight: bold; }

.tvShow {
  margin-left: 15px;
  color: red;
  background-color: white;
  font-style: italic;
  font-weight: bold;
  line-height: 20px; }

.twenty {
  width: 20%; }

.ul {
  padding-left: 40px;
  color: black;
  background-color: transparent; }

.underline {
  text-decoration: underline; }

.value {
  color: black;
  background-color: white;
  font-size: 10px; }

.verticalImage {
  width: 130px;
  height: 172px;
  border: none; }

.wideTwoCol {
  width: 100%; }

.wideTwoColFirst {
  width: 50%;
  float: left; }

.wideTwoColSecond {
  width: 50%;
  float: left;
  clear: none; }

.ywhighlight {
  color: black;
  background-color: yellow;
  font-family: "Segoe UI", "Courier New", Courier, monospace;
  font-size: 13px; }

#books .BCovers {
  display: block;
  width: 123px;
  height: 187px;
  float: left;
  clear: none;
  margin-right: 10px;
  margin-bottom: 2px;
  list-style-position: outside;
  list-style-type: circle; }

#books li {
  margin-bottom: 175px;
  padding-top: 12px; }

#bottomcol1 {
  width: 50%;
  float: left;
  color: black;
  background-color: white;
  text-align: center;
  vertical-align: top; }

#center,
#center,
.center,
p.center {
  text-align: center; }

#gifheader {
  margin-top: 0px;
  padding-top: 0px;
  text-align: center;
  vertical-align: top; }

#globalNav2 {
  width: 99%;
  margin-bottom: 5px;
  margin-left: 11px;
  padding: 0px 0px 5px 2px;
  border-color: #000099;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px; }
  #globalNav2 a:link {
    color: #006666;
    background-color: white;
    text-align: left;
    text-decoration: none;
    font-size: 13px; }
  #globalNav2 a:hover {
    width: 98%;
    margin-left: 0px;
    padding-top: 1px;
    padding-right: 7px;
    padding-left: 0px;
    color: #000099;
    background-color: white;
    text-align: left; }

#header a:link {
  color: cyan;
  background-color: transparent; }

#leftColMain,
#leftColMain p {
  padding-left: 0px;
  color: black;
  border-bottom: 1px dotted black;
  background-color: transparent;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  font-weight: bold; }

#leftUpdateTable td {
  margin-right: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  padding: 1px;
  border: 1px solid black;
  text-align: justify;
  font-family: "Courier New", Courier, monospace;
  font-size: 11px;
  line-height: 15px; }

#leftUpdateTable th {
  border: 1px solid maroon; }

#mainSupportIcons img:hover {
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -moz-transform: scale(1.07, 1.5);
  -ms-transform: scale(1.07, 1.5);
  -webkit-transform: scale(1.07, 1.5);
  transform: scale(1.07, 1.5);
  margin-top: 3px;
  margin-bottom: 3px; }
#mainSupportIcons .leftIcon {
  width: 48%;
  float: left; }
#mainSupportIcons .rightIcon {
  width: 48%;
  float: left; }

#security {
  font-family: "MS Sans Serif", Geneva, sans-serif;
  font-size: 13px; }

#securityStuff li,
#securityStuff ul {
  padding-top: 0px;
  padding-bottom: 0px; }

#softwareHeader {
  padding-right: 4px;
  color: black;
  border-right: 1px solid black;
  background-image: none;
  background-color: transparent;
  text-decoration: underline;
  font-size: 14px;
  font-variant: small-caps; }

#StatusValues a:link,
pre {
  font-size: 22px; }

/**
 * for the new FAQ and Optimization Section Layout .. this is the menu below the
 * main nav Bar
 */
#subMenu {
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  width: 99%;
  color: #000099;
  border-bottom: 1px dotted black;
  border-left: 1px dotted black;
  background-color: white; }
  #subMenu td,
  #subMenu td a:link {
    font-size: 11px; }

#TOC td a:link,
#TOC td li {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px; }

#TOCItem1 {
  display: block;
  margin-left: 8px; }

#TOCItem2 {
  display: block;
  margin-left: 17px; }

#TOCItem3 {
  display: block;
  margin-left: 25px; }

.green {
  color: #006400;
  background-color: transparent; }

#softwareSection {
  width: 98%; }
  #softwareSection #twoSoftCol {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 400px;
    -webkit-column-gap: 400px;
    column-gap: 400px;
    display: block;
    margin-top: 18px;
    margin-bottom: 85px; }
  #softwareSection #threeSoftCol {
    display: block;
    margin-top: 18px;
    margin-bottom: 85px; }
    #softwareSection #threeSoftCol .softCol1 {
      width: 33%;
      float: left; }
    #softwareSection #threeSoftCol .softCol2 {
      width: 33%;
      float: left;
      clear: right; }
    #softwareSection #threeSoftCol .softCol3 {
      width: 33%;
      float: left;
      clear: right; }
  #softwareSection li {
    -webkit-box-shadow: 5px 2px 10px black;
    -moz-box-shadow: 5px 2px 10px black;
    box-shadow: 5px 2px 10px black;
    display: block;
    margin: 20px;
    padding-left: 0px;
    border: 1px solid black;
    list-style-type: none;
    /* background-color: #000055; */ }
  #softwareSection .progTitles {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
    background-color: navy;
    font-size: 16px;
    font-weight: bold; }
    #softwareSection .progTitles a:link,
    #softwareSection .progTitles a:visited {
      padding: 10px;
      color: #fffff0;
      background-color: inherit; }
    #softwareSection .progTitles img {
      width: 32px;
      height: 32px;
      float: left;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px; }
  #softwareSection .progDesc {
    margin-bottom: 0px;
    padding-right: 15px;
    padding-bottom: 2px;
    padding-left: 2px;
    background-color: white;
    font-family: Arial, Helvetica, san-serif; }
    #softwareSection .progDesc li,
    #softwareSection .progDesc ul {
      -moz-box-shadow: 0 0 0 0 transparent;
      -webkit-box-shadow: 0 0 0 0 transparent;
      box-shadow: 0 0 0 0 transparent;
      border: none;
      list-style-position: outside;
      list-style-type: disc; }

.leftCol {
  width: 45%;
  float: left; }

.rightCol {
  width: 40%;
  float: left;
  clear: right; }

.clear {
  clear: both;
  border-top: 5px; }

#navButton {
  width: 0px;
  height: 0px; }

/* Each section/Headline for the leftbar of the main page */
.section {
  display: block;
  padding-top: 6px;
  padding-right: 4px;
  padding-bottom: 6px;
  padding-left: 2px;
  color: black;
  outline: 1px solid black;
  background-color: transparent;
  text-align: justify;
  font-weight: bold;
  line-height: 20px; }
  .section a:link {
    font-size: inherit; }

#support {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black; }
  #support .KKing {
    -webkit-box-shadow: 5px 2px 10px #000000;
    -moz-box-shadow: 5px 2px 10px #000000;
    box-shadow: 5px 2px 10px #000000;
    height: 100%;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    outline: 1px solid black;
    background-color: white; }
    #support .KKing img {
      width: 400px;
      height: 100%; }
  #support .khanAcaImage {
    -webkit-box-shadow: 5px 2px 10px #000000;
    -moz-box-shadow: 5px 2px 10px #000000;
    box-shadow: 5px 2px 10px #000000;
    padding-right: 2%;
    padding-bottom: 2%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    background-color: white; }
  #support .linuxAcad {
    -webkit-box-shadow: 5px 2px 10px #000000;
    -moz-box-shadow: 5px 2px 10px #000000;
    box-shadow: 5px 2px 10px #000000;
    height: 100px; }

#col2 .adblockList,
#wideCol2 .adblockList {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 5px 2px 10px #000000;
  -moz-box-shadow: 5px 2px 10px #000000;
  box-shadow: 5px 2px 10px #000000;
  display: flex;
  border: 1px solid black;
  flex-direction: row;
  justify-content: space-between; }
  #col2 .adblockList a:link,
  #col2 .adblockList a:visited,
  #wideCol2 .adblockList a:link,
  #wideCol2 .adblockList a:visited {
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px; }
  #col2 .adblockList img,
  #wideCol2 .adblockList img {
    width: 32px;
    height: 32px;
    clear: both; }

.TwoColumns {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  display: block;
  margin-top: 15px;
  margin-top: 0px; }

.icon {
  width: 38px;
  height: 38px; }

.ThreeColumns {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  display: block;
  margin-top: 15px;
  margin-top: 0px; }
  .ThreeColumns .icon {
    width: 38px;
    height: 38px; }

.programSection {
  padding-left: 5px;
  overflow: auto;
  outline: 1px solid black;
  margin-bottom: 16px;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }
  .programSection div {
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 3px; }
  .programSection h2 {
    border: 0px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%; }
  .programSection h3 {
    color: black;
    background-color: transparent;
    font-size: 14px; }
  .programSection img {
    /*  width  : 38px;
     height : 38px; */
    float: left; }
  .programSection a:hover,
  .programSection a:link,
  .programSection a:visited {
    padding-left: 50px; }
  .programSection .TwoColumns {
    -moz-columns: 2;
    -webkit-columns: 2;
    columns: 2;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    margin-left: auto;
    margin-right: auto; }
    .programSection .TwoColumns div a:link {
      padding-left: 2%; }
  .programSection .ThreeColumns {
    -moz-columns: 3;
    -webkit-columns: 3;
    columns: 3;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    margin-left: auto;
    margin-right: auto; }
  .programSection div a:link {
    padding-left: 2%; }
