#softwareSection #browsersprite li {
  display: block;
  list-style-type: none; }
#softwareSection #browsersprite .firefox {
  background: url("/techHQ/progIcons/browsers/browserSprite.png") no-repeat -90px 0;
  width: 59px;
  height: 32px; }
#softwareSection #browsersprite .gchrome {
  background: url("/techHQ/progIcons/browsers/browserSprite.png") no-repeat -54px 0;
  width: 32px;
  height: 34px; }
#softwareSection #mpSprite .aimp {
  background: url("/techHQ/progIcons/browsers/browserSprite.png") no-repeat -284px -4px;
  width: 32px;
  height: 32px; }
#softwareSection #mpSprite .foobar {
  background: url("/techHQ/progIcons/browsers/browserSprite.png") no-repeat -179px 0;
  width: 32px;
  height: 32px; }
#softwareSection #mpSprite .vlc {
  background: url("/techHQ/progIcons/browsers/browserSprite.png") no-repeat -337px -6px;
  width: 32px;
  height: 32px; }
#softwareSection #mpSprite .clem {
  background: url("/techHQ/progIcons/browsers/browserSprite.png") no-repeat -55px 0;
  width: 32px;
  height: 32px; }

/* Images */
/* Border variables */
/* Colors */
/* new Scheme test */
/* Fonts */
/* Images */
/* Start of CSS */
caption {
  font-size: 14px;
  font-weight: bold; }

form {
  margin-bottom: 2px;
  padding-bottom: 0px; }

li {
  background-color: transparent;
  color: black;
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 10px;
  line-height: 18px; }
  li .code {
    background-color: inherit;
    color: red; }

p.border, span.border, .border, div.border {
  border: 1px solid;
  border-bottom-color: white;
  border-left-color: white;
  border-right-color: white;
  border-top-color: #999999; }

p.code, span.code, code {
  background-color: transparent;
  color: red;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px; }

p.italics, .italics {
  font-style: italic; }

table.fiftyBordSpace td {
  border: 1px solid black;
  margin: 22px;
  padding: 10px; }

table.fiftyTableBordSpace {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }

table.nintyBorder {
  border: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 90%; }

table.nintyBorder td {
  border: 1px; }

/* table with zero borders, but no other CSS adjustments */
table.zero {
  border: 0px; }

td a:hover, td a:visited {
  font-size: 13px;
  text-decoration: none; }
td li, td .rss {
  margin: 0px;
  padding: 0px; }
td .CenterMiddle {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  white-space: nowrap; }
td .eighty {
  width: 80%; }
td td.fourty {
  width: 40%; }
td td.nowrap {
  white-space: nowrap; }
td .paddingFive {
  padding: 5px; }
td .paddingTwo {
  padding: 2px; }
td .sixty {
  width: 60%; }
td .thirty {
  white-space: nowrap;
  width: 30%; }

th.nowrap {
  white-space: nowrap; }

th.eighty {
  text-align: center;
  width: 80%; }

tt, .code {
  background-color: black;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  text-align: justify; }

.absBotton {
  vertical-align: bottom; }

.bar {
  background-color: #ffcc99;
  color: #000099;
  font-family: "Times New Roman", Times, serif;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 1px;
  text-align: center; }
  .bar a:link {
    background-color: #ffcc99;
    color: black;
    font-size: 13px;
    text-align: center;
    text-decoration: none; }
  .bar a:hover {
    background-color: white;
    background-image: none;
    color: #006666;
    cursor: crosshair;
    display: block;
    text-align: center;
    text-decoration: none; }

.blockIndent {
  padding-left: 50px; }

.blue {
  background-color: transparent;
  color: blue; }

.boldCenter {
  font-weight: bold;
  text-align: center; }

.boldCourier {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold; }

.boldItalics {
  font-style: italic;
  font-weight: bold; }

.boldText {
  font-weight: bold; }

.boldTitles {
  background-color: transparent;
  color: #990000;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline; }

.boldTitles a:link {
  text-decoration: none; }

.boldUnderline a:link {
  background-color: transparent;
  color: red;
  text-decoration: underline; }

.boldUnderline, .underlineBold {
  font-weight: bold;
  text-decoration: underline; }

.borderDotTop {
  border-top-color: black;
  border-top-style: dotted;
  border-top-width: 2px;
  padding-top: 10px; }

.bottomIcons {
  border: 2px black solid;
  height: 14px;
  vertical-align: baseline;
  width: 36px; }

.centerImage {
  clear: both;
  margin-left: auto;
  margin-right: auto; }

.CenterMiddle {
  background-color: white;
  color: black;
  font-size: 13px;
  text-align: center;
  vertical-align: middle; }

.checksum {
  font-family: "Courier New", Courier, monospace;
  margin-left: 10px;
  margin-top: 25px; }

.code2 {
  background-color: #ffff99;
  color: black;
  display: block;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  padding-left: 16px;
  width: 100%; }

.codeC, .codeC p {
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  text-align: center; }

.fifthyPercent {
  width: 49%; }

.ghacksGF {
  height: 43px;
  overflow: hidden;
  padding-bottom: 10px;
  width: 133px; }

.googleImage {
  border: 0px;
  margin-right: 7px; }

.horizontalImage {
  border: none;
  height: 130px;
  width: 172px; }

.horizontalLineBottom {
  border-bottom: 1px solid black;
  float: left;
  margin-top: 0px;
  padding-top: 0px;
  width: 90%; }

.imageDefault {
  height: 31px;
  vertical-align: middle;
  width: 88px; }

.imageDefault2 {
  height: 31px;
  padding-bottom: 5px;
  padding-top: 5px;
  vertical-align: middle;
  width: 88px; }

.imgCenterDropShadow {
  background-color: white;
  border-left: 1px solid black;
  border-top: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 5px 2px 10px #000000;
  -moz-box-shadow: 5px 2px 10px #000000;
  box-shadow: 5px 2px 10px #000000; }

/* to make text float on both sides of an image (ex- smile) */
.imgfloat {
  border: 0px;
  /* float: center; */
  clear: both;
  float: left; }

.imgLeftPad {
  clear: right;
  float: left;
  padding-bottom: 20px;
  padding-top: 10px; }

.interestsTitles {
  background-color: transparent;
  color: red;
  font-style: italic;
  font-weight: bold; }

.leftbarHeadlines a:link, td.leftbarHeadlines a:link, #securityStuff {
  border-bottom: 1px solid;
  font-family: "MS Serif", "New York", serif;
  font-size: 14px;
  font-weight: bold; }

.leftbarHeadlines a:visited {
  font-style: normal; }

.lightBGHeader {
  background-color: #ffff99;
  border: 1px solid black;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  color: #000099;
  font-weight: bold;
  margin-left: 0px;
  padding-left: 4px;
  padding-top: 0px; }

.line {
  border-top: 1px solid black;
  float: left;
  padding-bottom: 10px; }

.lTableHeaders {
  background-color: #ffff66;
  background-image: url(../graphics/navbar_trials/tan/2tan3.png);
  background-repeat: repeat;
  border-bottom: 1px ridge #000099;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  color: black;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 2px;
  padding-bottom: 0px;
  padding-right: 2px;
  padding-top: 2px;
  text-align: left; }

.mainPageHeaders {
  background-color: #ffffcc;
  border-color: black;
  border-style: dotted;
  border-width: 1px;
  color: #990000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold; }

.mainProgCat {
  background-color: #ffffcc;
  background-image: none;
  border: 1px solid gray;
  clear: both;
  color: black;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 16px;
  margin-bottom: 20px;
  padding-left: 2px;
  text-align: center;
  text-transform: uppercase; }

.mainProgDescript, p.mainProgDescript {
  font-family: "MS Sans Serif", Geneva, sans-serif;
  font-size: 12px; }

.mainSiteImage {
  clear: both;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px; }

.mainSiteUpdates {
  -webkit-box-shadow: 3px 2px 2px #000000;
  -moz-box-shadow: 3px 2px 2px #000000;
  box-shadow: 3px 2px 2px #000000;
  border-left: 1px solid black;
  font-family: Arial, Helvetica, san-serif;
  font-size: 11px;
  line-height: 20px;
  margin-top: 0px; }
  .mainSiteUpdates a:link {
    background-color: transparent;
    color: #006666;
    font-size: 13px;
    text-decoration: none; }
  .mainSiteUpdates p {
    width: 95%; }

.mainTemplatespacers {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 2px;
  padding-top: 2px; }

.maroonText {
  background-color: transparent;
  color: #990000; }

.navyText {
  background-color: transparent;
  color: #000099; }

.progName, .progName a:link {
  font-weight: bold;
  white-space: nowrap; }

.progNameHeader {
  font-weight: bold;
  width: 55px; }

.quoted {
  background-color: transparent;
  color: red;
  font-family: "MS Serif", "New York", serif;
  font-size: 13px;
  padding-left: 20px;
  padding-right: 15px;
  text-align: justify; }

.redBold {
  background-color: transparent;
  color: red;
  font-weight: bold; }

.redtext {
  background-color: transparent;
  color: red; }
  .redtext a:link {
    background-color: transparent;
    border-bottom-color: red;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    color: red; }

.right {
  text-align: right; }

.RSSDate {
  background-color: white;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: bold; }

.RSSFeeds {
  background-color: white;
  color: black;
  font-size: 13px; }
  .RSSFeeds a:link {
    background-color: white;
    color: #000099;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    text-decoration: none; }
  .RSSFeeds i {
    background-color: white;
    color: black;
    font-family: "MS Sans Serif", Geneva, sans-serif;
    font-size: 13px;
    font-style: normal; }

.shading {
  background-color: #cccccc;
  color: black; }

/* Side Navigation to Remove Tables   */
.sideNav {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 0px;
  padding-left: 2px;
  padding-top: 2px;
  vertical-align: top; }
  .sideNav a:visited {
    background-color: white;
    color: #990000;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 13px; }
  .sideNav a:hover {
    background-color: #000099;
    color: #ffff99; }
  .sideNav a:link, .sideNav a {
    background-color: transparent;
    color: navy;
    margin-top: 2px;
    text-decoration: none; }

li a:link {
  background-color: transparent;
  color: navy;
  margin-top: 2px;
  text-decoration: none; }

.smallerMainText, td.smallerMainText {
  background-color: transparent;
  color: black;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px; }

.smallMainText {
  font-size: 12px;
  margin-bottom: 3px;
  padding-bottom: 3px; }

.smallNavy {
  background-color: transparent;
  color: #000099;
  font-size: 13px; }

.spacerTenPixel {
  padding-bottom: 10px; }

.superScript {
  font-size: 10px;
  margin-top: 1px;
  position: relative;
  vertical-align: super; }

.superScript a:link {
  font-size: 10px;
  font-style: italic;
  margin-top: 1px;
  position: relative;
  vertical-align: super; }

.tableBlackBorderZeroAll {
  background-color: transparent;
  border: 1px solid black;
  border-collapse: collapse;
  color: black;
  font-weight: bold;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  overflow: visible;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
  width: 98%; }
  .tableBlackBorderZeroAll td, .tableBlackBorderZeroAll th {
    border: 1px solid black;
    margin: 0px 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px; }

.tableCenter93 {
  margin-left: 50px;
  margin-right: 10px;
  width: 93%; }

.textThrough {
  clear: both;
  float: none;
  margin-top: 1px;
  padding-left: 8px;
  padding-right: 8px; }

.tnHoriz {
  border: 0px;
  display: block;
  height: 144px;
  margin-left: auto;
  margin-right: auto;
  width: 192px; }

.tnVert {
  border: 0px;
  display: block;
  height: 192px;
  margin-left: auto;
  margin-right: auto;
  width: 144px; }

/* TOC Page */
.TOCSubSection {
  background-color: transparent;
  color: #990000;
  font-weight: bold;
  text-decoration: underline; }

.tvShow {
  background-color: white;
  color: red;
  font-style: italic;
  font-weight: bold;
  line-height: 20px;
  margin-left: 15px; }

.twenty {
  width: 20%; }

.ul {
  background-color: transparent;
  color: black;
  padding-left: 40px; }

.underline {
  text-decoration: underline; }

.value {
  background-color: white;
  color: black;
  font-size: 10px; }

.verticalImage {
  border: none;
  height: 172px;
  width: 130px; }

.wideTwoCol {
  width: 100%; }

.wideTwoColFirst {
  float: left;
  width: 50%; }

.wideTwoColSecond {
  clear: none;
  float: left;
  width: 50%; }

.ywhighlight {
  background-color: yellow;
  color: black;
  font-family: "Segoe UI", "Courier New", Courier, monospace;
  font-size: 13px; }

#books .BCovers {
  clear: none;
  display: block;
  float: left;
  height: 187px;
  list-style-position: outside;
  list-style-type: circle;
  margin-bottom: 2px;
  margin-right: 10px;
  width: 123px; }

#books li {
  margin-bottom: 175px;
  padding-top: 12px; }

#bottomcol1 {
  background-color: white;
  color: black;
  float: left;
  text-align: center;
  vertical-align: top;
  width: 50%; }

#center, #center, p.center, .center {
  text-align: center; }

#gifheader {
  margin-top: 0px;
  padding-top: 0px;
  text-align: center;
  vertical-align: top; }

#globalNav2 {
  border-bottom-width: 1px;
  border-color: #000099;
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: solid;
  border-top-width: 0px;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 11px;
  padding: 0px 0px 5px 2px;
  width: 99%; }
  #globalNav2 a:link {
    background-color: white;
    color: #006666;
    font-size: 13px;
    text-align: left;
    text-decoration: none; }
  #globalNav2 a:hover {
    background-color: white;
    color: #000099;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 7px;
    padding-top: 1px;
    text-align: left;
    width: 98%; }

#header a:link {
  background-color: transparent;
  color: cyan; }

#leftColMain, #leftColMain p {
  background-color: transparent;
  border-bottom: 1px dotted black;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  font-weight: bold;
  padding-left: 0px;
  text-align: left; }

#leftUpdateTable td {
  border: 1px solid black;
  font-family: "Courier New", Courier, monospace;
  font-size: 11px;
  line-height: 15px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 1px;
  text-align: justify; }

#leftUpdateTable th {
  border: 1px solid maroon; }

#mainSupportIcons img:hover {
  margin-bottom: 3px;
  margin-top: 3px;
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -moz-transform: scale(1.07, 1.5);
  -ms-transform: scale(1.07, 1.5);
  -webkit-transform: scale(1.07, 1.5);
  transform: scale(1.07, 1.5); }
#mainSupportIcons .leftIcon {
  width: 48%;
  float: left; }
#mainSupportIcons .rightIcon {
  width: 48%;
  float: left; }

#security {
  font-family: "MS Sans Serif", Geneva, sans-serif;
  font-size: 13px; }

#securityStuff li, #securityStuff ul {
  padding-bottom: 0px;
  padding-top: 0px; }

#softwareHeader {
  background-color: transparent;
  background-image: none;
  border-right: 1px solid black;
  color: black;
  font-size: 14px;
  font-variant: small-caps;
  padding-right: 4px;
  text-decoration: underline; }

#StatusValues a:link, pre {
  font-size: 22px; }

/* for the new FAQ and Optimization Section Layout .. this is the menu below the main nav Bar */
#subMenu {
  background-color: white;
  border-bottom: 1px dotted black;
  border-left: 1px dotted black;
  color: #000099;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
  z-index: 2; }
  #subMenu td, #subMenu td a:link {
    font-size: 11px; }

#TOC td a:link, #TOC td li {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px; }

#TOCItem1 {
  display: block;
  margin-left: 8px; }

#TOCItem2 {
  display: block;
  margin-left: 17px; }

#TOCItem3 {
  display: block;
  margin-left: 25px; }

.green {
  background-color: transparent;
  color: #006400; }

#softwareSection {
  width: 98%; }
  #softwareSection #twoSoftCol {
    margin-top: 18px;
    margin-bottom: 85px;
    display: block;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 400px;
    -webkit-column-gap: 400px;
    column-gap: 400px; }
  #softwareSection #threeSoftCol {
    margin-top: 18px;
    margin-bottom: 85px;
    display: block; }
    #softwareSection #threeSoftCol .softCol1 {
      float: left;
      width: 33%; }
    #softwareSection #threeSoftCol .softCol2 {
      float: left;
      clear: right;
      width: 33%; }
    #softwareSection #threeSoftCol .softCol3 {
      float: left;
      clear: right;
      width: 33%; }
  #softwareSection li {
    list-style-type: none;
    margin: 20px;
    border: 1px solid black;
    -webkit-box-shadow: 5px 2px 10px black;
    -moz-box-shadow: 5px 2px 10px black;
    box-shadow: 5px 2px 10px black;
    display: block;
    padding-left: 0px;
    /* background-color: #000055; */ }
  #softwareSection .progTitles {
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 15px;
    padding-top: 10px;
    background-color: navy; }
    #softwareSection .progTitles a:link, #softwareSection .progTitles a:visited {
      color: #fffff0;
      background-color: inherit;
      padding: 10px; }
    #softwareSection .progTitles img {
      float: left;
      width: 32px;
      height: 32px;
      padding-right: 10px;
      padding-left: 10px;
      padding-bottom: 10px; }
  #softwareSection .progDesc {
    background-color: white;
    padding-left: 2px;
    padding-right: 15px;
    padding-bottom: 2px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, san-serif; }
    #softwareSection .progDesc ul, #softwareSection .progDesc li {
      -moz-box-shadow: 0 0 0 0 transparent;
      -webkit-box-shadow: 0 0 0 0 transparent;
      box-shadow: 0 0 0 0 transparent;
      border: none;
      list-style-position: outside;
      list-style-type: disc; }

.leftCol {
  float: left;
  width: 45%; }

.rightCol {
  float: left;
  clear: right;
  width: 40%; }

.clear {
  clear: both;
  border-top: 5px; }

#navButton {
  width: 0px;
  height: 0px; }

/* Each section/Headline for the leftbar of the main page */
.section {
  background-color: transparent;
  border-bottom: 1px solid black;
  color: black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  display: block;
  font-weight: bold;
  padding-bottom: 6px;
  padding-left: 2px;
  padding-right: 4px;
  padding-top: 6px;
  text-align: justify;
  line-height: 20px; }
  .section a:link {
    font-size: inherit; }

#support {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto; }
  #support .KKing {
    height: 100%;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    border: 1px solid black;
    -webkit-box-shadow: 5px 2px 10px #000000;
    -moz-box-shadow: 5px 2px 10px #000000;
    box-shadow: 5px 2px 10px #000000; }
    #support .KKing img {
      height: 100%;
      width: 400px; }
  #support .khanAcaImage {
    padding-bottom: 2%;
    padding-right: 2%;
    width: 167px;
    background-color: white;
    border-left: 1px solid black;
    border-top: 1px solid black;
    -webkit-box-shadow: 5px 2px 10px #000000;
    -moz-box-shadow: 5px 2px 10px #000000;
    box-shadow: 5px 2px 10px #000000; }
  #support .linuxAcad {
    height: 100px;
    -webkit-box-shadow: 5px 2px 10px #000000;
    -moz-box-shadow: 5px 2px 10px #000000;
    box-shadow: 5px 2px 10px #000000; }

#col2 .adblockList, #wideCol2 .adblockList {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 5px 2px 10px #000000;
  -moz-box-shadow: 5px 2px 10px #000000;
  box-shadow: 5px 2px 10px #000000; }
  #col2 .adblockList a:link, #col2 .adblockList a:visited, #wideCol2 .adblockList a:link, #wideCol2 .adblockList a:visited {
    padding-top: 10px;
    padding-bottom: 10px;
    clear: both; }
  #col2 .adblockList img, #wideCol2 .adblockList img {
    clear: both;
    width: 32px;
    height: 32px; }

.TwoColumns {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  margin-top: 15px;
  display: block;
  margin-top: 0px; }
  .TwoColumns .icon {
    width: 38px;
    height: 38px; }

.ThreeColumns {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  margin-top: 15px;
  display: block;
  margin-top: 0px; }
  .ThreeColumns .icon {
    width: 38px;
    height: 38px; }

.programSection {
  border: 1px solid black;
  padding-left: 5px;
  overflow: auto; }
  .programSection div {
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    padding-left: 3px;
    padding-top: 5px;
    margin-bottom: 5px; }
  .programSection h2 {
    background-color: transparent;
    font-weight: bold;
    color: black;
    border: 0px;
    font-size: 18px; }
  .programSection h3 {
    background-color: transparent;
    color: black;
    font-size: 14px; }
  .programSection img {
    width: 38px;
    height: 38px;
    float: left; }
  .programSection a:link, .programSection a:visited, .programSection a:hover {
    padding-left: 50px; }
  .programSection .TwoColumns {
    -moz-columns: 2;
    -webkit-columns: 2;
    columns: 2;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    margin-left: auto;
    margin-right: auto; }
    .programSection .TwoColumns div a:link {
      padding-left: 2%; }
  .programSection .ThreeColumns {
    -moz-columns: 3;
    -webkit-columns: 3;
    columns: 3;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    margin-left: auto;
    margin-right: auto; }
  .programSection div a:link {
    padding-left: 2%; }
