#softwareSection #browsersprite li {
  display: block;
  list-style-type: none; }
#softwareSection #browsersprite .firefox {
  background: url("/techHQ/progIcons/browsers/browserSprite.png") no-repeat -90px 0;
  width: 59px;
  height: 32px; }
#softwareSection #browsersprite .gchrome {
  background: url("/techHQ/progIcons/browsers/browserSprite.png") no-repeat -54px 0;
  width: 32px;
  height: 34px; }
#softwareSection #mpSprite .aimp {
  background: url("/techHQ/progIcons/browsers/browserSprite.png") no-repeat -284px -4px;
  width: 32px;
  height: 32px; }
#softwareSection #mpSprite .foobar {
  background: url("/techHQ/progIcons/browsers/browserSprite.png") no-repeat -179px 0;
  width: 32px;
  height: 32px; }
#softwareSection #mpSprite .vlc {
  background: url("/techHQ/progIcons/browsers/browserSprite.png") no-repeat -337px -6px;
  width: 32px;
  height: 32px; }
#softwareSection #mpSprite .clem {
  background: url("/techHQ/progIcons/browsers/browserSprite.png") no-repeat -55px 0;
  width: 32px;
  height: 32px; }

/* Images */
/* Border variables */
/* Colors */
/* new Scheme test */
/* Fonts */
/* Images */
a:link, a:visited {
  background-color: transparent;
  color: inherit; }

body {
  font-weight: bold; }

footer {
  margin-left: 18px;
  margin-top: 15px; }

img {
  border: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0; }

p {
  background-color: inherit;
  color: black;
  direction: ltr;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  text-align: justify; }
  p .center {
    margin-left: auto;
    margin-right: auto;
    width: 100%; }

/* UpdateSummary is intended to Give a short Update so the main page's Description does not Run Too long */
.UpdateSummary {
  margin-bottom: 1px; }

.virtSmallRTable a:link, .virtSmallLTable a:link {
  text-decoration: none; }

#bannerText {
  display: none; }

#bottomHeader {
  clear: both;
  color: white;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 95%; }

#bottomHeader img {
  clear: none; }

#mainBody #col1 {
  background-color: white;
  color: #660000;
  overflow: hidden;
  width: 98%;
  /* New way for the Software Section */ }
  #mainBody #col1 .header {
    margin-top: 0px; }
  #mainBody #col1 a:link {
    font-weight: bold; }
  #mainBody #col1 img {
    display: none; }
  #mainBody #col1 .leftIcon {
    display: none; }

#mainBody #col2 {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  width: 90%; }
  #mainBody #col2 a:link {
    background-color: transparent;
    border-bottom-color: black;
    /* border-bottom-style:dotted; */
    /* border-bottom-width:1px; */
    color: #990033; }
  #mainBody #col2 img {
    display: none; }

#mainBody #wideCol2 img {
  display: none; }

#copyrightFooter {
  clear: none;
  margin-bottom: 2px;
  margin-right: 0px;
  padding-top: 10px;
  position: static;
  float: right;
  clear: both;
  vertical-align: baseline; }

#GAOTD, .dropShadow, #StartPageStyle, .topBanner, #col3 {
  display: none; }

#HorzSubMenu {
  width: 99%; }

#LBottomIcons {
  clear: right;
  margin-bottom: 2px;
  margin-top: 20px;
  padding-bottom: 1px; }

#left, p.left, .left {
  text-align: left; }

#mainBody {
  margin-bottom: 0;
  padding-bottom: 0;
  /* padding-left: 7px; */
  padding-top: 5px;
  vertical-align: top;
  width: 99%; }
  #mainBody #bottomHeaders a:link {
    background-color: white;
    color: black; }

#mainBody a:link, #col1 .header a:link {
  background-color: transparent;
  color: #990000; }

#siteInfo {
  padding-bottom: 15px; }

nav {
  color: white;
  background-color: navy;
  transform: translateY(-100%); }
  nav li {
    list-style-type: none;
    clear: both; }
  nav a:link {
    background-color: transparent;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  nav .click {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999; }

#col1 img {
  display: none; }

#navButton {
  width: 50%;
  height: 35px;
  border: 1px solid black;
  background-color: navy; }
  #navButton .hide {
    transform: translateY(-100%); }
  #navButton div {
    width: 20px;
    height: 40%;
    background-color: black;
    margin: 3px 0px; }
