<!-- at this point the main row is closed -->

.row.d-none.d-md-block.ml-4
  a(href='/techHQ/index.php' aria-label="Link to TechHQ Frontpage") Home |
  // a(href='http://xmetalfanx.x10.mx/phpbb/' target='_blank' rel='noreferrer') Forums | 
  // a(href='#' aria-label="Link to Site Map") Site Map |
  a(href='#') Contact Me

.d-none.d-md-block
  <!-- Include search box -->
  <?php include $path . "/modules/startpage.tpl"; ?>


<?php include $path . "/modules/footer.tpl"; ?>
