.d-none.d-md-block.ml-4
  .row.p-2
    a.nav-link(href='/techHQ/index.php' aria-label="Link to TechHQ Frontpage") Home
    // a.nav-link(href='http://xmetalfanx.x10.mx/phpbb/' target='_blank' rel='noreferrer') Forums
    // a.nav-link(href='#' aria-label="Link to Site Map") Site Map
    a.nav-link(href='#') Contact Me

  <!-- Include search box -->
  <?php include $path . "/modules/startpage.tpl"; ?>



<?php include $path . "/modules/footer.tpl"; ?>
