<!-- at this point the main row is closed -->


//- #techHQFooter.d-none.d-md-flex
//-   a(href='#' aria-label="Link to Site Map") Site Map |


<!-- Include search box -->
<?php include $rootDir . "/modules/ddg.tpl"; ?>

<!-- Idea ending div -?? ends main section  -->
</div>

<?php require $rootDir ."/modules/footer.tpl"; ?>
