.d-none.d-md-block
    .row.p-2
    a.nav-link(href='/tecHQ/index.php') Home
    a.nav-link(href='/techHQ/personal/personalIndex.php') About Me
    a.nav-link(href='/techHQ/credit.php') Credits
    // a.nav-link(href='http://xmetalfanx.x10.mx/phpbb/' target='_blank' rel='noreferrer') Forums
    // a.nav-link(href='#') Site Map 
    a.nav-link(href='/links.php') Links 
    a.nav-link(href='#') Contact Me
    <!-- closes the block for the links -->

    <!-- Include search box -->
    <?php include $sitePath . "/modules/startpage.tpl"; ?>



<?php include $sitePath . "/modules/footer.tpl"; ?>
