<!-- at this point the main row is closed -->
#techHQFooter.d-none.d-md-flex
  a(href='/techHQ/index.php' aria-label="Link to TechHQ Frontpage") Home
  // a(href='http://xmetalfanx.x10.mx/phpbb/' target='_blank' rel='noreferrer') Forums |
  // a(href='#' aria-label="Link to Site Map") Site Map |
  a(href='#') Contact Me


<!-- Include search box -->
<?php include $rootDir . "/modules/ddg.tpl"; ?>

<!-- Idea ending div -?? ends main section  -->
</div>

<?php require $rootDir ."/modules/footer.tpl"; ?>
