header
  .nav-icon TechHQ 
  nav 
    a(href='/techHQ/software/softwareIndex.php') Software Home
    a(href='/techHQ/techcenter/techCenterIndex.php') Tech Center ( Tips/Tutorials )
    a(href='/techHQ/browsers/browserIndex.php') Web Browser
    a(href='/techHQ/security/securityIndex.php') Security

