header
  h2(href="/techHQ/index.php") TechHQ

  nav.topnav(id="topnav")
    a(href='/techHQ/software/softwareIndex.php') Software
    a(href='/techHQ/techcenter/techCenterIndex.php') Tech Center
    a(href='/techHQ/browsers/browserIndex.php') Web Browser
    a(href='/techHQ/security/securityIndex.php') Security

    a.icon(href="javascript:void(0);", onclick="navmenu()")
      i.fa.fa-bars(aria-hidden="true")
