//output:frontnav.php

header.navigation(role='banner')
  .navigation-wrapper
    a.logo(href='javascript:void(0)')
    |     
    a#js-mobile-menu.navigation-menu-button(href='javascript:void(0)') MENU
    |     
    nav(role='navigation')
      ul#js-navigation-menu.navigation-menu.show
        li.nav-link
          a(href='javascript:void(0)') Products
        |         
        li.nav-link
          a(href='javascript:void(0)') About Us
        |         
        li.nav-link
          a(href='javascript:void(0)') Contact
        |         
    
