//output:mainSection.html

.container 
  .card 
      span code for Icon/graphic for distro goes here
      span code for Distro Name goes here as well 

  .card 
    .card-header 
      h3 Basic Information
    div
      span.font-weight-bold Homepage: 
        
      br 
      span.font-weight-bold Downloads: 
      
      br   
      span.font-weight-bold Forums: 
      
      br   
      span.font-weight-bold Distrowatch Page: 
      
      br 
      span.font-weight-bold Desktop Options: 
        
  br       
  .card
    .card-header 
      h3 More Information
    div 
      span.font-weight-bold Target User
      
      br  
      span.font-weight-bold Distros that are similiar:

  br 
  .card 
    .card-header 
    h3 Youtube Playlists
    div (note: there may not be links for "every distro, here")
      br 
      span.font-weight-bold Youtube Reviews and Comments
      br 
      span.font-weight-bold Youtube Tweaks/Tips/...etc 
        
  br 
  br   
  ul.nav.nav-tabs
    li.nav-item
      a.nav-link.active(href='#') Screenshots
    |   
    li.nav-item
      a.nav-link(href='#') Youtube Reviews
    |   
    li.nav-item
      a.nav-link(href='#') USB Creation 
