#carouselExampleControls.carousel.slide(data-ride='carousel')
  .carousel-inner(role='listbox')
    .carousel-item.active
      img.d-block.img-fluid(src='...', alt='First slide')   
    .carousel-item
      img.d-block.img-fluid(src='...', alt='Second slide')
    .carousel-item
      img.d-block.img-fluid(src='...', alt='Third slide')
 
  a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
    span.carousel-control-prev-icon(aria-hidden='true')
    span.sr-only Previous

  a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
    span.carousel-control-next-icon(aria-hidden='true')
    span.sr-only Next
