//output:distrowatch.html


.xmetalRSS
  .xmetalRSSHeader DistroWatch News Feed

  // news
  script(src='//rss.bloople.net/?url=https%3A%2F%2Fdistrowatch.com%2Fnews%2Fdw.xml&detail=-1&limit=8&showtitle=false&type=js')

br 
br 

.xmetalRSS

  .xmetalRSSHeader Distrowatch Distro Feed
  // Distros
  script(src='//rss.bloople.net/?url=https%3A%2F%2Fdistrowatch.com%2Fnews%2Fdwd.xml&detail=-1&limit=10&showtitle=false&type=js')
