//output:distrowatch.html 

.card
  .card-block
    .card-text
      #distrowatch
        script(src='http://www.feedroll.com/rssviewer/feed2js.php?src=http%3A%2F%2Fdistrowatch.com%2Fnews%2Fdw.xml&chan=y&num=5&desc=1&utf=y&css=full', charset='UTF-8', type='text/javascript')
        |           
        noscript
          a(href='http://www.feedroll.com/rssviewer/feed2js.php?src=http%3A%2F%2Fdistrowatch.com%2Fnews%2Fdw.xml&chan=y&num=5&desc=1&utf=y&css=full&html=y')
            | View RSS feed
