//output:distrowatch.html 

#distrowatch
  script(type='text/javascript', language='javascript', src='https://www.rssdog.com/index.php?url=https%3A%2F%2Fdistrowatch.com%2Fnews%2Fdw.xml&mode=javascript&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&linktarget=_blank&textsize=inherit&bordercol=%23323232&headbgcol=%23323232&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0')
