//output:omgubuntu.html


.d-none.d-md-block.xmetalRSS(style="margin-top: 5%;width: 50%;margin-left: auto;margin-right: auto;")
  .xmetalRSSHeader OMGUbuntu Headlines 
    
  script(src='//rss.bloople.net/?url=http%3A%2F%2Ffeeds.feedburner.com%2Fd0od%3Fformat%3Dxml&detail=-1&limit=6&showtitle=false&type=js')
