//output: ytsection.html 

.row
  .col-lg-6      
    .card
      .card-block
        h3.card-title Youtube Video Section 
        .card-text
          h5 Xmetal's Youtube's Review Playlist:
          | <?php echo $YTPlaylist; ?>
        
  .col-lg-6
    .card-block
      h3.card-title Tweaks/Fixes/...etc Video:
      .card-text
        | <?php echo $TweakPL; ?>
