div Here is a general guide to protection yourself online.

ul 
    li DO NOT ... under-estimate common sense
    li Use a good Antivirus program
    li Consider having a second opinion scanner
    li Web Browser Addons
    li REMEMBER ... just because you are seeing something that you are not familiar with ... doesn't mean "someone is hacking you".
    ul 
        li I have seen users with that mindset and it's hard to say troubleshoot a tech issue when they are CONVINCED THEY are being hacked, when the real issue is say a missing driver or some setting getting misconfigured.   HAVING SAID THAT...it is better to be safe than sorry, but ... again we are back to "use common sense" here 


h3 Use a good Antivirus

.card.w-95.mx-auto.shadow.my-2
  .card-header Antivirus Scanners
  
  .card-body
    ul.list-group.list-group-flush
      li.list-group-item
        a(href="https://support.kaspersky.com/us/kscloud" target="_blank") 
          img.iconSM.mr-2(src="/techHQ/progIcons/security/AVs/kaspersky.png" alt="Kaspersky Security Cloud graphics")
          | Kaspersky Security Cloud 
      li.list-group-item
        a(href="https://www.bitdefender.com/solutions/free.html" target="_blank") 
          img.iconSM.mr-2(src="/techHQ/progIcons/security/AVs/bitDefender.png" alt="Bit Defender Free graphic")
          | Bit Defender Free



h3 Consider a good second opinion scanner

.card.w-95.mx-auto.shadow.my-2
  .card-header Malware and Rootkit Scanners
  
  .card-body
    div This does not count all the smaller, specialty scanners, by the way 
   
    ul.list-group 
      li.list-group-item
        a(href="", target="_blank") 
          img.iconSM.mr-2(src="/techHQ/progIcons/security/malware/emsisoft.png" alt="Emsisoft Anti-Malware graphic")
          | Emsisoft Anti-Malware
      li.list-group-item
        a(href="https://www.zemana.com/antimalware", target="_blank") 
          img.iconSM.mr-2(src="/techHQ/progIcons/security/malware/zenmana.png" alt="Zemana Anti-Malware graphic")
          | Zemana AntiMalware
      li.list-group-item
        a(href="https://www.hitmanpro.com/en-us/hmp.aspx" target="_blank") 
          img.iconSM.mr-2(src="/techHQ/progIcons/security/malware/hitman.png" alt="Hitman Pro graphic")
          | Hitman Pro
      li.list-group-item
        a(href="http://www.malwarebytes.org/", target="_blank") 
          img.iconSM.mr-2(src="/techHQ/progIcons/security/malware/malwarebytes.png" alt="Malwarebytes graphic")
          | MalwareBytes

h3 Web Browser addons

// Consider copying and pasting from the browser section
// remember the browser section uses JSON 
ul
    li Ublock Origin
    li Privacy Badger
    li HTTPS Everywhere
    li (for experienced users) Umatrix
