.card.w-90
  .card__header Here is a general guide to protection yourself online.
  .card__body

    ol
        li DO NOT ... under-estimate common sense
        li
          [Mainly for Windows users, and "not" Linux users] A(href="#goodAntivirus") Use a good Antivirus program and have a good second opinion scanner

        li Web Browser Addons
        li REMEMBER ... just because you are seeing something that you are not familiar with ... doesn't mean "someone is hacking you".
        ul
            li I have seen users with that mindset and it's hard to say troubleshoot a tech issue when they are CONVINCED THEY are being hacked, when the real issue is say a missing driver or some setting getting misconfigured. HAVING SAID THAT...it is better to be safe than sorry, but ... again we are back to "use common sense" here.

.card.w-90
  #goodAntivirus.card__header Use a good Antivirus and have a good Second Opinion Scanner
  .card__body
    a(href="/techHQ/security/infectionProtection.php") My Infection Protection page covering the subject
    br/
    br/
    | Second Opinion Scanners are good lines of defense, sometimes picking up or handling infections that some Anti-viruses may miss

.card.w-90
  .card__header Web Browser Addons
  .card__body
    .d-flex.w-90.mx-auto

      #httpsEverywhere.card.w-50.mx-auto
        .card__body
          .d-flex
            img.icon--size32(src='/techHQ/browsers/addons/graphics/HTTPSEverywhere.svg' alt='HTTPS Everywhere icon ')
            h4.pl-0 HTTPS Everywhere
          div description here

          .row.py-3.w-50
           .mx-auto
              .col
                a(href='https://chrome.google.com/webstore/detail/https-everywhere/gcbommkclmclpchllfjekcdonpmejbdp?utm_source=chrome-ntp-icon' target='_blank')
                  img.icon--size48(src='/techHQ/progIcons/internet/browsers/chrome.svg' alt='HTTPS Everywhere Chrome icon')
              .col
                a(href='https://addons.mozilla.org/en-GB/firefox/addon/https-everywhere/' target='_blank')
                  img.icon--size48(src='/techHQ/progIcons/internet/browsers/firefox.svg' alt='HTTPS Everywhere Firefox icon')

      #privacyBadger.card.w-50.mx-auto
        .card__body
          .d-flex
            img.icon--size32(src='/techHQ/browsers/addons/graphics/privacyBadger.svg' alt='Privacy Badger icon ')
            h4.col-auto.pl-0  Privacy Badger

          div description here, perhaps
          .row.py-3.w-50
           .mx-auto
              .col
                a(href='https://chrome.google.com/webstore/detail/privacy-badger/pkehgijcmpdhfbdbbnkijodmdjhbjlgp?hl=en-US' target='_blank')
                  img.icon--size48(src='/techHQ/progIcons/internet/browsers/chrome.svg' alt='Privacy Badger Chrome icon')
              .col
                a(href='https://addons.mozilla.org/en-US/firefox/addon/privacy-badger17/?src=search' target='_blank')
                  img.icon--size48(src='/techHQ/progIcons/internet/browsers/firefox.svg' alt='Privacy Badger Firefox icon')

      #ublockO.card.w-50.mx-auto
        .card__body
          .d-flex
            img.icon--size32(src='/techHQ/browsers/addons/graphics/ublockOrigin.svg' alt='Ublock Origin icon ')
            h4.pl-0  Ublock Origin

          div description here, perhaps
          .row.py-3.w-50
            .mx-auto
              .col
                a(href='https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm?utm_source=chrome-ntp-icon' target='_blank')
                  img.icon--size48(src='/techHQ/progIcons/internet/browsers/chrome.svg' alt='Ublock Origin Chrome icon')
              .col
                a(href='https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/?src=search' target='_blank')
                  img.icon--size48(src='/techHQ/progIcons/internet/browsers/firefox.svg' alt='Ublock Origin Firefox icon')

      #umatrix.card.w-50.mx-auto
        .card__body
          .d-flex
            img.icon--size32(src='/techHQ/browsers/addons/graphics/umatrix.png' alt='Umatrix icon')
            h4.col-auto.pl-0  Umatrix
          div description here, perhaps
          .row.py-3.w-50
            .mx-auto
              .col
                a(href='https://chrome.google.com/webstore/detail/umatrix/ogfcmafjalglgifnmanfmnieipoejdcf?utm_source=chrome-ntp-icon' target='_blank')
                  img.icon--size48(src='/techHQ/progIcons/internet/browsers/chrome.svg' alt='Umatrix Chrome icon')
              .col
                a(href='https://addons.mozilla.org/en-US/firefox/addon/umatrix/?src=search' target='_blank')
                  img.icon--size48(src='/techHQ/progIcons/internet/browsers/firefox.svg' alt='Umatrix Firefox icon')

