.card.w-90.mx-auto.shadow
  h2.card-header Here is a general guide to protection yourself online.
  .card-body

    ol
        li DO NOT ... under-estimate common sense
        li
          a(href="#goodAntivirus") Use a good Antivirus program and have a good second optnion scanner

        li Web Browser Addons
        li REMEMBER ... just because you are seeing something that you are not familiar with ... doesn't mean "someone is hacking you".
        ul
            li I have seen users with that mindset and it's hard to say troubleshoot a tech issue when they are CONVINCED THEY are being hacked, when the real issue is say a missing driver or some setting getting misconfigured.   HAVING SAID THAT...it is better to be safe than sorry, but ... again we are back to "use common sense" here.
hr/

.card.w-90.mx-auto.shadow
  #goodAntivirus.h3.card-header Use a good Antivirus and have a good Second Opinion Scanner
  .card-body
    a(href="/techHQ/security/infectionProtection.php") My Infection Protection page covering the subject
    br/
    br/
    | Second Opinion Scanners are good lines of defense, sometimes picking up or handling infections that some Anti-viruses may miss

hr/

.card
  h3.card-header Web Browser Addons
  .card-body
    ul
      li
        a(href="#httpsEverywhere") HTTPS Everywhere
      li
        a(href="#privacyBadger") Privacy Badger
      li
        a(href="#ublockO") Ublock Origin
      li
        a(href="#umatrix") (for experienced users) Umatrix

    .d-flex.flex-wrap.w-90.mx-auto
      #httpsEverywhere.card.w-50.mx-auto.border.border-dark.shadow
        .card-body.py-2
          .row
            .col-auto
              img.icon--size32(src='/techHQ/browsers/addons/graphics/HTTPSEverywhere.svg' alt='HTTPS Everywhere icon ')
            h4.col-auto.pl-0 HTTPS Everywhere
          div description here
          .row.py-3.mx-auto.w-50
            .col
              a(href='https://chrome.google.com/webstore/detail/https-everywhere/gcbommkclmclpchllfjekcdonpmejbdp?utm_source=chrome-ntp-icon' target='_blank')
                img.icon--size48(src='/techHQ/progIcons/internet/browsers/chrome.svg' alt='HTTPS Everywhere Chrome icon')
            .col
              a(href='https://addons.mozilla.org/en-GB/firefox/addon/https-everywhere/' target='_blank')
                img.icon--size48(src='/techHQ/progIcons/internet/browsers/firefox.svg' alt='HTTPS Everywhere Firefox icon')


      #privacyBadger.card.w-50.mx-auto.border.border-dark.shadow
        .card-body.py-2
          .row
            .col-auto
              img.icon--size32(src='/techHQ/browsers/addons/graphics/privacyBadger.svg' alt='Privacy Badger icon ')
            h4.col-auto.pl-0  Privacy Badger

          div description here, perhaps
          .row.py-3.mx-auto.w-50
            .col
              a(href='https://chrome.google.com/webstore/detail/privacy-badger/pkehgijcmpdhfbdbbnkijodmdjhbjlgp?hl=en-US' target='_blank')
                img.icon--size48(src='/techHQ/progIcons/internet/browsers/chrome.svg' alt='Privacy Badger Chrome icon')
            .col
              a(href='https://addons.mozilla.org/en-US/firefox/addon/privacy-badger17/?src=search' target='_blank')
                img.icon--size48(src='/techHQ/progIcons/internet/browsers/firefox.svg' alt='Privacy Badger Firefox icon')


      #ublockO.card.w-50.mx-auto.border.border-dark.shadow
        .card-body.py-2
          .row
            .col-auto
              img.icon--size32(src='/techHQ/browsers/addons/graphics/ublockOrigin.svg' alt='Ublock Origin icon ')
            h4.col-auto.pl-0  Ublock Origin

          div description here, perhaps
          .row.py-3.mx-auto.w-50
            .col
              a(href='https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm?utm_source=chrome-ntp-icon' target='_blank')
                img.icon--size48(src='/techHQ/progIcons/internet/browsers/chrome.svg' alt='Ublock Origin Chrome icon')
            .col
              a(href='https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/?src=search' target='_blank')
                img.icon--size48(src='/techHQ/progIcons/internet/browsers/firefox.svg' alt='Ublock Origin Firefox icon')

      #umatrix.card.w-50.mx-auto.border.border-dark.shadow
        .card-body
          .row
              .col-auto
                img.icon--size32(src='/techHQ/browsers/addons/graphics/umatrix.png' alt='Umatrix icon')
              h4.col-auto.pl-0  Umatrix
          div description here, perhaps
          .row.py-3.mx-auto.w-50
            .col
              a(href='https://chrome.google.com/webstore/detail/umatrix/ogfcmafjalglgifnmanfmnieipoejdcf?utm_source=chrome-ntp-icon' target='_blank')
                img.icon--size48(src='/techHQ/progIcons/internet/browsers/chrome.svg' alt='Umatrix Chrome icon')
            .col
              a(href='https://addons.mozilla.org/en-US/firefox/addon/umatrix/?src=search' target='_blank')
                img.icon--size48(src='/techHQ/progIcons/internet/browsers/firefox.svg' alt='Umatrix Firefox icon')

