h1 Security Related Items

p Remember - Just because your anti-virus or malware scanner says you:
ul
  li "Are infected" does not make it true, if it is a poor scanner
  li "Are not infected" does not mean you are not, again ... if its a poor scanner


h2 Overall Security Tips


.card.my-4.card-border.border-dark.shadow
  .card-header COMMON SENSE
  .card-body If you do not know who someone is, would you let them in your home?.. NO .. .... using the same logic, ... If you do not know an e-mail address, do not open the attachment.

.card.my-4.card-border.border-dark.shadow
  .card-header Use a Good Anti-Virus
  .card-body

.card.my-4.card-border.border-dark.shadow
l  .card-header Use a Good Malware Scanner
  .card-body Consider Eminsoft Emergency Toolkit