h1 Security Related Items

p Remember - Just because your anti-virus or malware scanner says you:
ul
  li "Are infected" does not make it true, if it is a poor scanner
  li "Are not infected" does not mean you are not, again ... if its a poor scanner


h2 Overall Security Tips


.card.my-4.card-border.border-dark.shadow
  .card-header COMMON SENSE
  .card-body If you do not know who someone is, would you let them in your home?.. NO .. .... using the same logic, ... If you do not know an e-mail address, do not open the attachment.

.card.my-4.card-border.border-dark.shadow
  .card-header Use a Good Anti-Virus
  .card-body

    ul.list-group.list-group-flush
        li.list-group-item
          a(href='https://support.kaspersky.com/us/kscloud' target='_blank')
            img.iconSM.mr-2(src='/techHQ/progIcons/security/AVs/kaspersky.png' alt='Kaspersky Security Cloud graphics')
            | Kaspersky Security Cloud
        li.list-group-item
          a(href='https://www.bitdefender.com/solutions/free.html' target='_blank')
            img.iconSM.mr-2(src='/techHQ/progIcons/security/AVs/bitDefender.png' alt='Bit Defender Free graphic')
            | Bit Defender Free

<?php 
    include $path . "/techHQ/security/sections/malwareScanners.php";
    include $path . "/techHQ/security/sections/specialityScanners.php";
?>