//output:securityIndex.html


h1 Security Related Items
p
  img(src='/TechHQ/smiles/spyware.gif', alt='spy-ware smile')
  |  Based on the list below, what programs (of those types) i use
  |     and recommend and which one I&apos;d avoid)
| 
p
  strong Late October 2010 Message:
  |  I have read alot of &quot;the internet is out to get you!&quot; type posts and
  |     articles in magazines.
|  
p
  | If you don not know what your doing, and do not take a few simple steps, you can really have a mess on your computer;
  | however, in a way... I think some of these things are blown out of proportion to be honest, You DO NEED to secure yourself
  | online; however, it seems alot of these articles are trying to push security programs, where if you pay attention closely, you
  | will see the companies that have the &quot;best ratings&quot; actually pay to have advertisements placed in that magazine
|     
p
  | I am NOT going to &quot;name names&quot; (Magazines OR Security products), but I will say ... read real life users reviews,
  | and go on what your experiences are


p Remember - Just because your anti-virus or malware scanner says you :
ul
  li &quot;Are infected&quot; does not make it true, if it is a poor scanner
  li &quot;Are not infected&quot; does not mean you are not, again ... if its a poor scanner

h2 Overall Security Tips

.card
  .card-header COMMON SENSE 
  .card-block
    .card-text
      | If you do not know who someone is, would you let them in your home?.. NO .. .... using the same logic, ... If you do not know an e-mail address, do not open the attachment.
      
.card
  .card-header Use a Good Anti-Virus
  .card-block


.card
  .card-header Use a Good Malware Scanner 
  .card-block
    .card-text
      p Consider Eminsoft Emergency Toolkit 
