@use "../01-abstracts/index" as *;

*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  // is this needed?
  // text-align: left;
}

html {
  width: 100%;
  color-scheme: light dark;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

body {
  background-color: var(--theme-color-l);
  color: var(--theme-color-d);
  display: grid;

  // grid-template: row / column
  grid-template: 1fr auto 1fr / 1fr;
  grid-template-areas:
    "header"
    "main-section"
    "footer";
  min-height: 100%;

  @media ($breakpoint-md) {
      grid-template: auto 1fr / 1fr;
      grid-template-areas:
        "main-section"
        "header";
  }
}


// i totally forgot what this is for
::selection {
  @include dark-bg;
}

.card {
  // min-width: 8rem;
 
  .card__header {
    @include align-items-justify-content(baseline, flex-start);
  }
}