*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

body {
  background-color: var(--themeColor1);
  color: var(--themeColor5);
  display: grid;
  font-family: var(--Roboto);
  font-size: var(--fs-normal);
  font-weight: 400;
  grid-template-areas:
    "header"
    "main-section"
    "footer";
  //grid-template-rows: 1fr auto 1fr;
  line-height: 1.6;
  min-height: 100%;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
}

h1,
.h1 {
  font-size: var(--h1);
}

h2,
.h2 {
  font-size: var(--h2);
}

h3,
.h3 {
  font-size: var(--h3);
}

h4,
.h4 {
  font-size: var(--h4);
}

h5,
.h5 {
  font-size: var(--h5);
}

.card {
  box-shadow: 0 0.5rem 1rem var(--dark_grey1);
  margin: 0 auto 1.2rem auto;
  min-width: 8rem;

  &--bordered {
    @extend .card;
    border: 1px solid var(--themeColor5);
  }

  .card__body,
  .card__text {
    padding: 1rem;
  }

  .card__header {
    align-items: center;
    border-color: var(--themeColor5);
    background-color: var(--themeColor5);
    color: var(--themeColor1);
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: var(--h4);
    justify-content: flex-start;
    padding: 1rem;

    // i for fork awesome graphics
    h1,
    h2,
    h3,
    h4,
    h5,
    i {
      color: var(--themeColor1);
    }

    a:link,
    a:visited {
      background-color: inherit;
      color: inherit;
      text-decoration: none;
      // maybe use outline here?
    }

    &--wide {
      @extend .card__header;
      justify-content: space-between;
    }
  }
}
