@use "../01-abstracts/index" as *;

// @use "../05-fromBS/index" as *;

header,
footer {
  display: flex;

  @include dark-bg;

  font-family: var(--ffamily-helvetica);
  font-weight: 900;

  /* Aligns horizontally .. the left item all the way to the left, and the right div item
  (in a two div layout inside) all the way to the right */

  justify-content: space-between;

  // aligns content top vs bottom on the Y axis
  align-items: center;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--theme-color-l);
  }

  a {
    color: var(--theme-color-l);
    background-color: var(--theme-color-main);

    :hover,
    :focus {
      color: var(--theme-color-accent-d);
      outline: 1px dotted var(--theme-color-accent-d);
    }
  }

  // for Fork Awesome code
  .fa {
    margin: auto 0.25rem;
  }
}

footer {
  padding: 1.5rem;
  grid-area: footer;

  img {
    display: inline;
    margin: 0.4rem;
    max-width: 32px;
    max-height: 32px;
    vertical-align: bottom;
  }

  .contacts,
  .site-made {
    width: 50%;
  }

  @media ($breakpoint-md) {
    display: none;
  }


  .contacts {
    text-align: right;

    a {
      margin: 0 2rem;
    }

    i {
      scale: 2;
    }

    @media ($breakpoint-lg) {
      text-align: center;
      width: 100%;
    }
  }

  // hides site-made on md-to-lg layouts but the site will still show contacts class
  @media ($breakpoint-lg) {
    .site-made {
      display: none;
    }
  }
    
}


header {
  box-shadow: 2px 2px 5px var(--theme-color-accent-l-a75);
  padding: 1.75rem;

  // text-shadow: 2px 5px var(--theme-color-accent-d-a75);
  grid-area: header;

  .section-header {
    font-size: 1.75rem;

    i {
        scale: 2.5;
    }
  }

  .fa {
    padding: 0.25rem;
  }

  // the menu bar to the top right
  .topnav {
    display: flex;
    flex-direction: row;
    justify-self: end;
    font-weight: 500;
    font-size: var(--h3);
    letter-spacing: 0.1rem;

    a {
      margin: 0 1.2rem;

      i 
      {
        display: none;

        @media ($breakpoint-lg) {
          display: block;
        }
      }
    }

    // for hamburger menu that should only display on mobile
    // this is on the link ("a" tag) that wraps around the fork awesome code
    .icon {
      @media ($breakpoint-lg) {
        float: right;
        display: block;
        padding: 0;
      }
    }
  }

  
  @media ($breakpoint-lg) {
    /* The "responsive" class is added to the topnav with JavaScript
    when the user clicks on the icon. This class makes the topnav
    look good on small screens (display the links vertically instead
    of horizontally) */
    .topnav.responsive {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 10;

      // left: 0;
      // top: 0;
      background: var(--theme-color-main);

      // display: grid;
      text-align: center;

      // justify-content: center;
      transition: 400ms;


      a {
        display: block;
        text-align: left;
        align-self: center;
      }

      .icon {
        align-self: end;
      }

      .content {
        display: none;
      }
    }

    .section-header {
      font-size: 1.40rem;

      // only hides graphic 
      i { 
        display: none;
      }
    }

  }

  @media ($breakpoint-md) {
    // hides both graphic and text 
    .section-header {
      display: none;
    }

    .topnav {
      a {
        .icon {
        position: absolute;
        right: 0;
        }
      }
    }



    .topnav.responsive {
      position: relative;
      z-index: 10;
      display: flex;
      flex-direction: column;
      translate: 0 -105%;

      a {
        line-height: 4rem;
        margin: 0 2rem;

        .icon {
          bottom: 0;
          display: inherit;
          outline: inherit;
          position: absolute;
        }
      }

    }

  }
}