@use "../01-abstracts/index" as *;
//@use "../05-fromBS/index" as *;

header,
footer {
  display: flex;

  @include darkBG;
  font-family: var(--Helvetica);
  font-weight: 900;

  // Aligns horizontally .. the left item all the way to the left, and the right div item
  // (in a two div layout inside) all the way to the right
  justify-content: space-between;

  // aligns content top vs bottom on the Y axis
  align-items: center;

  // This is a problem on mobile
  // max-height: 4.5rem;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--themeColor1);

    > a {
      outline: 1px solid var(--themeColor1);
    }
  }

  a {
    color: var(--themeColor1);
    
  }

  a:hover {
    outline: 1px dotted var(--themeColor1);
    
  }

  // for Fork Awesome code
  .fa {
    margin: auto 0.25rem;
  }
}

footer {
  padding: 1.5rem;
  grid-area: footer;

  // I could slap other classes on each img tag, or do this ... sort of redundant CSS but it removes the need for extra css tags in the html
  img {
    display: inline;
    margin: 0.4rem;
    max-width: 32px;
    max-height: 32px;
    vertical-align: bottom;
  }

  .contacts,
  .site-made {
    width: 50%;
  }

  .site-made {
    @media ($breakpoint-lg) {
      display: none;
    }
  }

  .contacts {
    text-align: right;

    @media ($breakpoint-lg) {
      width: 100% !important;
    }
  }
}

header {
  box-shadow: 2px 2px 5px var(--black);
  padding: 1rem;
  text-shadow: 2px 5px var(--themeColor5);
  grid-area: header;

  .fa {
    padding: .25rem;
  }

  > * {
    background-color: inherit;
    color: inherit;
  }

  // the menu bar to the top right
  .topnav {
    display: flex;
    flex-direction: row;
    justify-self: end;
    font-weight: 500;
    font-size: var(--h3);
    letter-spacing: 0.1rem;

    a {
      margin: 0 1.2rem;

      // just a test color
      :active,
      :hover {
        color: var(--turquoise40);
      }

      @media ($breakpoint-lg) {
        display: none;
      }
    }

    // for hamburger menu that should only display on mobile
    .icon {
      display: none;

      @media ($breakpoint-lg) {
        float: right;
        display: block;
        padding: 0;
      }
    }
  }

  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media ($breakpoint-lg) {
    .topnav.responsive {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
      left: 0;
      top: 0;
      background: var(--grey2);
      display: grid;
      text-align: center;
      justify-content: center;

      a {
        display: block;
        text-align: left;
        align-self: center;
      }

      .icon {
        position: absolute;
        right: 0;
        display: block;
        // idea: move menu icon over the menu in responsive mode
        z-index: 1;
        margin: 17px 35px 0 0;
        outline: inherit;
        align-self: start;
      }
    }
  }
}
