//output:internetRelated.html

ul.accordion-tabs-minimal
  li.tab-header-and-content
    a.tab-link.is-active(href='#') Offline Browsers 
    |     
    .tab-content
      a(href="http://www.metaproducts.com/mp/offline_explorer.htm") Offline Explorer

      p Licence: not freeware
      p Offline Explorer is the next generation of off-line browser. It combines flexibility, power and ease of ''use'' in a tightly-coded package with all the features needed in an off-line browser.
      p (from Offine Explorer Help File)

      a(href='http://www.tenmax.com/teleport/pro/home.htm') Teleport Pro
      p Part Swiss Army knife, part chainsaw, Teleport Pro is a fully automated, multithreaded, link-following, file-retrieving webspider. It will retrieve all the files you want — and only the files you want — from any part of the Internet. Teleport Pro can also completely download a website, enabling you to “offline browse” the site at much greater speeds than if you were to browse the site online.  Create an exact duplicate, or “mirror” of a website, complete with subdirectory structure and all required files.  Search a website for files of a certain type (and size).  Automatically download a list of files from the Internet.  Explore every website linked from a central website search a website for keywords. Make a list of all pages and files on a website.  No more waiting for slow pages to download. No more clicking on links for hours, only to find garbage at the end of your trail. Teleport can completely automate your website searching, mirroring, publishing, and downloading tasks.

      p (copied from Teleport Help File)

      p JULY 2011 NOTE: I have not used this in years..... I am not even sure if this is still available to be honest)

      a(href='http://www.webreaper.net/') **Web-Reaper **
      p	This is a program that will download websites to your computer to view offline.


      img(src='', alt='MozBackup Icon')
      a(href='http://mozbackup.jasnapaka.com/') MozBackup

      p This can backup/restore your Mozilla (Suite), Mozilla Firefox, and Mozilla Thunderbird settings, favorites and more.....
      ul
      li NOTE: Not all versions of MozBackup will work with all versions (especially with newer versions) of Firefox, or Thunderbird... Please check to see if the version of the program you are using is supported first

  |   
  li.tab-header-and-content
    a.tab-link(href='#') Download Managers
    |     
    .tab-content
      a(href='http://www.orbitdownloader.com/') Orbit
      p
        | These are all good choices, and free (no spyware or any of that)
        | Note: these are more to &quot;manage&quot; downloads and although these are good for &quot;resuming&quot;
        | downloads if you need it too ... These will not &quot;double your download speed&quot;

    
  |   
  li.tab-header-and-content
    a.tab-link(href='#') Email Related
    |     
    .tab-content
      img(src='/techHQ/progIcons/internet/thunderbird.png', alt='Mozilla Thunderbird Icon ')
      a(href='https://www.mozilla.org/en-US/thunderbird/', target='_blank') Mozilla Thunderbird

      p Email client by the makers of Firefox 
      
  |   
  li.tab-header-and-content
    a.tab-link(href='#') Misc Internet Programs
    |     
    .tab-content
      
      h2 Misc Internet Programs
      a(href='http://www.majorgeeks.com/files/details/active_ports.html') Active Ports
      p This is a sort of Graphical &quot;Netstat&quot; that shows what ports are open, local information (the local IP address and port information) as well as the remote port information and what process is using them
    

      a(href='http://robspangler.com/blog/encrypt-mailto-links-to-stop-email-spam/') MailTo-Encrypter
      p This will give you a replacement HTML code for your e-mail on your site. The e-mail will still be sent to your address, but this will allow you to protect yourself from slammers, who collect mass e-mail addresses from as my sites as it can (they are programs), and adds them to junk e-mail lists

      img(src='', alt='Ad Muncher Icon')
      a(href='https://www.admuncher.com/') Ad Muncher
      p System-Wide Ad Blocker 

      a(href='https://www.donationcoder.com/Software/Mouser/urlsnooper/')
      strong URL Snooper
      p This program is a solution for getting the URLs to those pesky media streams that hide the URL in a ton of code. This can allow you to download a stream to playback later (especially useful for those that do not have high-speed access)

<?php include $sitePath . "/modules/tech/baseTechFooter.tpl"; ?>
