h4 I am worried  about being confused by &ldquo;new&rdquo; software I am not familiar with.
p
  | First I want to say that other than an  unfamilar name for a program, the functioning of many programs (say  play, stop, &ldquo;next track&rdquo; ..etc in video or audio players) are no  different &mldr; its just the name of the program you&apos;d use that changes
p
  | Now, I have to say that many of the  (opinion here) best Windows program for a particular task, are cross  platform, so that means you can find &ldquo;familar faces&rdquo; in Linux  that you have used in Windows for years.
|     
ul
  li
    | Libre Office or Open Office
  li
    img(src='../progIcons/media_players/vlc_VLC_ICON.png', alt='', width='32', height='32')
    | VLC for media converting/playback
ul
  li
    | Audacity for audio file editing
  li
    | SMPlayer &ndash; another media player
  li
    img(src='../progIcons/browsers/firefox_1.png', width='36', height='36', alt='')
    |     Firefox
  li
    | Chromium
  li
    | Opera
  li
    | Avidemux &ndash; video player editor
  li
    img(src='../progIcons/graphics/91__gimp.png', alt='', width='32', height='32')
    | GIMP &ndash; FREE alternative to  &#x9;Photoshop


    p
      | are just a few programs that work  perfectly (and in some cases originated in Linux, then got tranformed  to work in Windows later)
p
  br
|       
p
  | Program like DEVEDE (video ~&gt; DVD  program), I never got working on Windows EVER.  In Linux, its my &ldquo;go  to&rdquo; program for that task
|       
p
  br
|       
p
  br
p Some common programs in Linux only
p Amarok or Audacious for audio playback
p K3b for many many things DVD/CD related  (burning/ripping/...etc) 
p

<?php include $sitePath . "/modules/tech/baseTechFooter.tpl"; ?>
