//output:softwareIndex.html

//- Top php include removed 

.card
  .card-block    
    .card-text
      .row 
        .col-lg-5 
          <?php echo $softpediaIcon; ?>
        .col-lg-5
          <?php echo $majorGeeksIcon; ?>s


h3 Cross Platform 
  .card
    .card-header  Graphics Applications
    .card-block  
      .card-text

        ul.bullets
          li.bullet      
            .bullet-content
              h2 <?php echo $kritaIcon . $kritaHome; ?>
              |       
              p Krita is a graphics editor is an open source graphics/illustrator program, which some users compare to Adobe Photoshop
          |   
          li.bullet
            .bullet-content
              h2 <?php echo $gimpIcon . $gimpHome; ?>
              |       
              p GIMP is a well known and widely used Graphics editor that some (not all though) compare to Photoshop


.card
  .card-header Internet Related Programs
  .card-block
    .card-text
      
      ul.bullets
        li.bullet      
          .bullet-content
            h2 <?php echo $pidginIcon . $pidginHome; ?>
            |       
            p
              | Instant Messaging Client
        |   
        li.bullet
          .bullet-content
            h2 <?php echo $thunderbirdIcon . $thunderbirdHome; ?> 
            |       
            p
              | Email Client
    
    
.card
  .card-header Multimedia Programs
  .card-block        
    .card-text

      h4 Audio Player
          <?php echo $clemIcon . $clemHome; ?>
          
          p Clementine is a music player and organizer that can not only play your music collection, organize your collection (including downloading artist and album information from the internet, and play media from various online sources)

      h4 Video Players
          
        ul.bullets
          li.bullet      
            .bullet-content
              | <?php echo $mpvIcon . $mpvHome; ?>
          |   
          li.bullet
            .bullet-content
              | <?php echo $smPlayerIcon . $smPlayerHome; ?> 
              
          li.bullet
            .bullet-content
              |  <?php echo $vlcIcon . $vlcHome; ?>            
               
.card
  .card-header Productivity/Office Programs
  .card-block
    p.card-text
      <?php echo $libreOIcon . $libreOHome; ?>

.card
  .card-header Security Programs 
  .card-block
    .card-text
      img(src="/techHQ/progIcons/security/cleaners/bleachbit_1.jpg", alt="Bleachbit Icon")
      a(href="http://bleachbit.sourceforge.net/") Bleachbit


h2 Specific Operating Systems


.card
  .card-header Graphics Programs 
  .card-block        
    .card-text

      h4 Linux
        ul.bullets
          li.bullet      
            .bullet-content
              a(href="https://www.kde.org/applications/graphics/gwenview/") Gwenview
          |   
          li.bullet
            .bullet-content
              a(href="http://docs.xfce.org/apps/ristretto/start") Ristretto
          |     
          li.bullet
            .bullet-content
              a(href="https://pinta-project.com/pintaproject/pinta/") Pinta 


      h3 Windows

        <?php echo $xnviewIcon . $xnviewHome;  ?>
        p My Favorite Image editor/so-called... Basic Image editor in Windows ... VERY powerful and well-done, program


.card
.card-header Productivity Programs 
.card-block        
  .card-text

    h3 Windows 

      p PDF Readers - Adobe Acrobat Reader alternatives
      
      ul.bullets
        li.bullet      
          .bullet-content
            | <?php echo $sumPDFIcon; echo $sumPDFHome;  ?>
        |   
        li.bullet
          .bullet-content
            |  <?php echo $pdfXIcon; echo $pdfXHome; ?>


.card
  .card-header Multimedia Programs
  .card-block        
    .card-text

      h3 Linux 

        ul.bullets
          li.bullet      
            .bullet-content
              a(href="http://audacious-media-player.org/") Audacious
          |   
          li.bullet
            .bullet-content
            |  DeadBeef


      h3 Windows
      
      ul.bullets
        li.bullet      
          .bullet-content
            <?php echo $aimpIcon; echo $aimpHome; ?>
        |   
        li.bullet
          .bullet-content
          | <?php echo $foobarIcon; echo $foobarHome; ?>

      
.card
  .card-header Security Programs 
  .card-block
    .card-text
      h3 Windows

        ul.bullets
          li.bullet      
            .bullet-content
              img(src="/techHQ/progIcons/security/AVs/1589__Avast!FreeAntivirus5_icon.png", alt="Avast Icon")
              a(href="http://www.avast.com/free-antivirus-download") Avast 
          |   
          li.bullet
            .bullet-content
              img(src="/techHQ/progIcons/security/malware/mbam_IDI_MAIN.png", alt="Malwarebytes Icon")
              a(href="http://www.malwarebytes.org/") Malwarebytes Anti-Malware  
                
          li.bullet
            .bullet-content
              a(href="https://www.emsisoft.com/en/software/eek/") Emsisoft Emergency Toolkit    
          
          
        
          a(href="https://www.emsisoft.com/en/software/eek/") Emsisoft Emergency Toolkit
          
      h2 Cache/Temp File Cleaner 
        .row
          .col-lg-5
            <?php echo $ccleanerIcon; echo $ccleanerHome;  ?>
          
          .col-lg-5
            <?php echo $CCEnhIcon; echo $CCEnhHome; ?>
            p A sort of &quot;database&quot; of what to clean for programs that support it  (To add more removable items then the programs default)

.card
  .card-header System Tools 
  .card-block
    h2.card-title Windows 
    .card-text
      a(href="https://www.partitionwizard.com/free-partition-manager.html") Minitools Partition Manager Freeware Edition

      h4 System Suite
        
      ul.bullets
        li.bullet
          .bullet-content
            | <?php echo $glaryIcon . $glaryHome; ?>
        |   
        li.bullet
          .bullet-content
            |   <?php echo  $wiseCareIcon . $wiseCareHome; ?>    
          
<?php include $sitePath . "/modules/tech/baseTechFooter.tpl"; ?>
