h3.font-weight-bold How to Install: 
    .font-weight-bold Arch Linux

    .font-weight-bold Fedora 

    .font-weight-bold OpenSUSE
        div Install on OpenSUSE

        div POSSIBLE Extra Repos (There may or may not be content below)
            div Use with Caution ... some of these may be so new they break parts of your DE when updating, but these can have newer versions of DEs then in default repos 

            div Leap 42.3

            div Leap 15.0 

            div Tumbleweed
        


    .font-weight-bold Ubuntu
        div Installing on Ubuntu

        div Installing on Linux Mint 
