.header Web Browser Addons

.cardContainer
  .card.w-40.border--dark#httpsEverywhere
    .card__header
        .row-cols-auto
            div
                img.icon--size40(src='/techHQ/browsers/addons/graphics/HTTPSEverywhere.svg' alt='HTTPS Everywhere icon ')
                div HTTPS Everywhere
            div
                a(href='https://chrome.google.com/webstore/detail/https-everywhere/gcbommkclmclpchllfjekcdonpmejbdp?utm_source=chrome-ntp-icon' target='_blank')
                img.icon--size40(src='/techHQ/progIcons/internet/browsers/chrome.svg' alt='HTTPS Everywhere Chrome icon')
                a(href='https://addons.mozilla.org/en-GB/firefox/addon/https-everywhere/' target='_blank')
                img.icon--size40(src='/techHQ/progIcons/internet/browsers/firefox.svg' alt='HTTPS Everywhere Firefox icon')
    .card__body
      div *(maybe depreciated with some https features coming to different browsers )
  .card.w-40.border--dark#privacyBadger
    .card__header 
        .row-cols-auto
            div
                img.icon--size40(src='/techHQ/browsers/addons/graphics/privacyBadger.svg' alt='Privacy Badger icon ')
                div Privacy Badger
            div
                a(href='https://chrome.google.com/webstore/detail/privacy-badger/pkehgijcmpdhfbdbbnkijodmdjhbjlgp?hl=en-US' target='_blank')
                img.icon--size40(src='/techHQ/progIcons/internet/browsers/chrome.svg' alt='Privacy Badger Chrome icon')
                a(href='https://addons.mozilla.org/en-US/firefox/addon/privacy-badger17/?src=search' target='_blank')
                img.icon--size40(src='/techHQ/progIcons/internet/browsers/firefox.svg' alt='Privacy Badger Firefox icon')
    .card__body      
      div description here, perhaps
  .card.w-40.border--dark#ublockO
    .card__header
            .row-cols-auto
                div
                    img.icon--size40(src='/techHQ/browsers/addons/graphics/ublockOrigin.svg' alt='Ublock Origin icon ')
                    div Ublock Origin
                div 
                    a(href='https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm?utm_source=chrome-ntp-icon' target='_blank')
                    img.icon--size40(src='/techHQ/progIcons/internet/browsers/chrome.svg' alt='Ublock Origin Chrome icon')
                    a(href='https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/?src=search' target='_blank')
                    img.icon--size40(src='/techHQ/progIcons/internet/browsers/firefox.svg' alt='Ublock Origin Firefox icon')
    .card__body
      div description here, perhaps
  .card.w-40.border--dark#umatrix
    .card__header 
        .row-cols-auto
            div
                img.icon--size40(src='/techHQ/browsers/addons/graphics/umatrix.png' alt='Umatrix icon')
                div Umatrix
            div
                a(href='https://chrome.google.com/webstore/detail/umatrix/ogfcmafjalglgifnmanfmnieipoejdcf?utm_source=chrome-ntp-icon' target='_blank')
                img.icon--size40(src='/techHQ/progIcons/internet/browsers/chrome.svg' alt='Umatrix Chrome icon')
                a(href='https://addons.mozilla.org/en-US/firefox/addon/umatrix/?src=search' target='_blank')
                img.icon--size40(src='/techHQ/progIcons/internet/browsers/firefox.svg' alt='Umatrix Firefox icon')
    .card__body
      div description here, perhaps
      .row.py-3.w-40