h5 &quot;What is a &quot;file manager&quot; and why do I care, Xmetal?&quot;


p
  | Good question: A File Manager controls how you interact with the folders and files on your computer. I (just my opinion) find Microsoft&apos;s Windows Explorer (some know this as the &quot;My Computer&quot; program they see when pressing the &quot;My Computer&quot; icon). Here you can see the hierarcEhancerhy of folders and files on your computer. Some people think that what comes with the Windows Operating System is the only choice. NOT TRUE.
p
  | All of these choice, have positives and negatives, and I advice you to look at each and after awhile, you can see which one works best for you. I think that the way (example) the way Windows Explorer is setup in a bit confusing for new users, in say Vista compared to XP. Some of these file managers I list, solve issues and make navigating your files much easier.
|     
div NOTE: more to be listed later, as I cleanup old code 

ul
  li
    a(href='http://www.xyplorer.com/', target='_blank') XYplorer
    |  and Free Commander (both have 100% free versions)
    |       
    ul
      li
        | I am not saying do not get the pro (paid) version of XYPlorer... I just think the Free version is jam packed with features as-is
      |           
      li
        | Both of these I have used regularly and they make my life alot easier than with the file/folder manager that comes with Windows
  |       
  li
    | Directory Opus
    ul
      li
        | (not free and to be honest, many of the freewares that lacked some Directory Opus &quot;features&quot; are gaining those features version by version (update)



<?php include $sitePath . "/modules/fsooter.tpl"; ?>
