
h3 Text Editors (more Basic)
.panel.panel-default
  .panel-header
    img(src='../progIcons/product/txtEditorIcons/AbiWord_10000.png', alt='AbiWord Icon')
    |     
    a(href='http://www.abisource.com/') AbiWord
  |   
  .panel-body
    | Good word processor that is a great option for someone who wants more than &quot;Notepad&quot; but may not want a full office suite. Definitely worth a look, if you ask me.

.panel.panel-default
  .panel-header
    img(src='../progIcons/product/txtEditorIcons/EditPad-Lite.gif', alt='Editpad Lite Icon')
    |     
    a(href='http://www.editpadlite.com/') Editpad Lite
  |   
  .panel-body
    | (see the basic description for 
    a(href='http://www.notetab.com/notetab-light.php') Notetab Light
    |  )

.panel.panel-default
  .panel-header
    a(href='http://www.notetab.com') Notetab Lite
  |   
  .panel-body
    p
      | This is an Old program that hasn&apos;t been updated much over the years, but like Notepad++, it adds tabs (useful for those that don&apos;t want 100&apos;s of Notepad windows open) and many other useful text tools, that definitely makes this program worth a look.
|       
.panel.panel-default
  .panel-header
    img(src='../progIcons/product/txtEditorIcons/notepad++_100.png', alt='Notepad_PlusPlus Icon')
    |     &#x9;&#x9;&#x9;
    a(href='http://notepad-plus.sourceforce.net') Notepad++
|       
.panel.panel-default
  .panel-header
    a(href='http://notepad-plus.sourceforce.net', target='_blank')
      img(src='../graphics/programs/notepad/npp.logo.80x15.png', alt='Notepad++', width='80', height='15')
  |         
  .panel-body
    |
    p This is a Notepad replacement that will color code MANY types of code for easier readability. Many programmers would appreciate this, as its not a bloated Notepad replacement, but it just adds enough features that makes it more useful.


h3 PDF Creators
ul
  li
    p.title
      img(src='../progIcons/product/pdf/bullzip_PDF.png', alt='Bullzip PDF Creator Icon')
      | &#x9;&#x9;  
      a(href='http://www.bullzip.com/products/pdf/info.php') Bullzip PDF Printer
    p
      | This one I found via 
      a(href='http://www.techsupportalert.com', target='_blank') TechSupport Alert&apos;s Site 
      | and it does have a number of options, ... I still like doPDF alot but this is very nice and I see why they (though I do not agree with them 100%, I find they have good suggestions and in many many cases(program category wise) I do agree with the order of the list.. .so when they mention a &quot;program&quot; like this one and say its better than the ones I know about and use, ... I think the programs are worth a look.
  |   
  li
    p.title
      img(src='http://www.dopdf.com', alt='doPDF Icon')
      |  
      a(href='../progIcons/product/pdf/dopdf_105.png') doPDF
    p
      | This one doesn&apos;t have a ton of options, though I find sometimes SIMPLE is better.  It is very fast on both of my laptops 
      span.maroonText
        | (2.2GHz Dual core win7 64bit with 4GB of RAM,AND a &quot;2002&quot; XP 1.7GHZ with 768MB of RAM)
      | Some of the others can take a few seconds (about 10 I would say) to load and though that doesn&apos;t seem like much (and isn&apos;t a reason NOT to try the other options I list) and when you have a number of files to convert .. those seconds add up.
    ul
      li
        img(src='../progIcons/product/pdf/PDFCreator.gif', alt='PDF Creator Icon')
        |  
        a(href='http://www.pdfforge.org/') PDF Creator
    p
      | This is a recent find (as in the past 12 hours) ... Its open source and so far I like this best. Its a printer driver (like many other free PDF Creators) HOWEVER, I had 
      span.redtext PDF955 Free PDF Printer driver
      |  which was &quot;OK&quot; but displayed a popup add for a few seconds every time you used it. Functional but annoying if you ask me ....
    | &#x9;&#x9;&#x9;
    p
      | This IS A HEFTY 16MB which I believe includes GhostScript ( Even I am not sure what this is) and is needed to run this program. I rather this be the case then to have a @ 2MB download and have to go hunt down GhostScript manually.


h2 PDF Viewers/readers
ul
  li
    p.title
      | ![Foxit Icon](../progIcons/product/pdf/Foxit Reader_128.png) 
      a(href='http://www.foxitsoftware.com/') FoxIT Reader
    | &#x9;&#x9;
    p
      | **
      a(href='http://www.foxitsoftware.com/', target='_blank')
        img.imgleft(src='../graphics/programs/foxit_logo.gif', alt='Foxit PDF Reader', width='141', height='45')
      | &#x9;&#x9;** This is a free PDF Reading Program that overall, I believe is about 2 MB as opposed to   Adobe Reader&apos;s 10-30 MB ..
    | &#x9;&#x9;
    p
      | This has many features a program like SumatraPDF does NOT HAVE, however, it seems to have gotten &quot;bloated&quot;

  
  li
    p.title
      img(src='../progIcons/product/pdf/PDFXCview_128.png', alt='PDF-XChange Viewer')
      |  
      |     
      a(href='http://www.pdfxviewer.com/') PDF-XChange Viewer
    | &#x9;&#x9;
    ul
      li This one I just started using and I am shocked by how useful it is. 
      | &#x9;&#x9;  
      li
        | Although you can save the original PDF (Over-write it) ... I choose to make a copy ... its simple to undo a highlight or other form of edit (just basically click the highlighted area... a box comes up and you can right click and hit &quot;delete&quot; ... but I don&apos;t want to mess with the original ... just in case &quot;something goes wrong&quot;
      | &#x9;&#x9;  
      li
        | THIS DOESN&apos;T ALLOW YOU TO TYPE A DOCUMENT AND SAFE THAT AS A PDF... Freeware Print drivers (document ~~&gt; PDF) are available as well as some functionality to save PDF files in Open Office





p.title
  img(src='../progIcons/product/pdf/SumatraPDF_1.png', alt='SumatraPDF Reader')
  |  
  a(href='http://blog.kowalczyk.info/software/sumatrapdf') SumatraPDF
  p
    | SumatraPDF is  even smaller than Foxit&apos;s Reader and one I have found myself using all the time. I do not think there is any reason to not have (or at least try) both Foxit Reader and SumatraPDF
  | &#x9;&#x9;&#x9;  
  p  I love this program
  | &#x9;&#x9;&#x9;  
  p
    | I just found out that it not only reads PDF files, but also MODI, and EPUB E-book format files too ... AND its just as light on resources as ever.


h3 Office Suites
.panel.panel-default
  .panel-header
    a(href='http://wps.com/wps-office-personal/') WPS Office
  .panel-body
    p
      | This is a recent (Oct 2012) find and a fine alternative to Microsoft Office. The Pro version has a Ribbon style interface, though the Free version does not.
    |       
    p Kingsoft Office (currently) is (Free edition) 39.x MB and it contains a:
    |     &#x9;
    ul
      li Word Processor
      |     &#x9;&#x9;
      li Spreadsheet
      |     &#x9;&#x9;
      li and Presentation 
    |     &#x9;
    p
      | I do notice it does seem to have trouble reading some supported formats (for now) and it DOES NOT read &quot;Open/Libre&quot; formats, though it seems to read all Microsoft Office formats (including MS Office 2007 and 2010)

.panel.panel-default
  .panel-header
    img(src='../progIcons/product/libreIcons/LibO_3_103.png', alt='Libre Office Icon')
    |     
    a(href='http://www.libreoffice.org/') Libre Office
  |   
  .panel-body
    p
      | Libre Office while not as well known as Open Office, was programmed by the same developers as the original Open Office (pre-Oracle .. 3.1 is the number, if I am not mistaking)  it seems to have had to do with Oracle buying Sun Microsystem who &quot;own the rights&quot; to Open Office and wanting (Oracle) more control of Open Office and wanting to do away with (I cant confirm this 100% at the time i am typing this) all future free versions to make it a commercial program.
    |   &#x9;&#x9;&#x9;
    p
      | The whole idea of Open Source is NOT to have one company in control of the project &#xFFFD; former Open Office developers branched out again using the code they made for the last &quot; pre-Oracle &quot; Open Office and made Libre Office, which is always being updated.
    |   &#x9;&#x9;&#x9;
    p
      strong
        em Notes on 3.60 and the latest, 3.61 (at the time this is being typed up)
      | : I am amazed at how fast this program seems to be getting. There are (read the official changelog/release notes for more information) a few added features (support to read/write .docx files, I believe is one) in newer versions, though THE MOST NOTICEABLE TO ME, 
      span.blue [same as new releases of &quot;The GIMP&quot; Graphics Program]
      |  is the speed. The first time (even if installing over an existing install of Libre Office) may take a few extra seconds to load, though, after that Libre Office developers have focused on PERFORMANCE.
    |   &#x9;&#x9;&#x9;
    p
      | The developers of Libre (and to be honest Apache developers of &quot;Open Office&quot;) have focused on adding needed features, and mainly from what I see, on performances and I am amazed at how fast Libre and Open Office have gotten in recent releases.
    |   &#x9;&#x9;&#x9;
    p
      | This (the fact these two office suites were &quot;too slow&quot; for some people) was one of the only criticism
    // For widths and Heights below, use CSS in the future and remove that code in this HTML
    p -------------------------------------------
    |   &#x9;&#x9;&#x9;
    p Free Office Suite, featuring: 
    |         
    .table-responsive
      table.table
        tr
          td
            img.iconsLeft(src='../progIcons/product/libreIcons/swriter_1.jpg', alt='Libre Writer Icon', width='42', height='42')
            |                 
            p Word Processor 
          |               
          td
            p
              img.iconsLeft(src='../progIcons/product/libreIcons/scalc_1.jpg', alt='Libre Calc Icon', width='42', height='42')
            |                 
            p Spreadsheet
          |               
          td
            p
              img.iconsLeft(src='../progIcons/product/libreIcons/sdraw_1.jpg', alt='Libre Draw Icon', width='42', height='42')
            |                 
            p &quot;Draw&quot; Program 
        |             
        tr
          td
            img.iconsLeft(src='../progIcons/product/libreIcons/sbase_1.jpg', alt='Libre Database Program Icon', width='42', height='42')
            |  Database Program
          |                 
          td
            img.iconsLeft(src='../progIcons/product/libreIcons/soffice_39.jpg', alt='Libre Office Math Program Icon', width='51', height='51')
            | &quot;Math&quot; Program
          |                 
          td
            img.iconsLeft(src='../progIcons/product/libreIcons/soffice_34.jpg', alt='Libre Presantation Program Icon', width='48', height='48')
            | Presentation Program
    |     
    p ***October 2012 Open Office/Libre Office Note: ***
    |     
    p
      | The speed of both programs and the functioning have GREATLY improved in recent releases (Example Libre Office 3.5x and above).
    |     
    p
      | I can not say how they open and look like IN Microsoft Office 2010 and above, though many of the new formats (DOCX for example) can now be read/written with the newest versions of Open/Libre Office and they seem to work fine, but I cant confirm.


h3 &quot;Misc&quot; Office/Productivity Programs

.panel.panel-default
  .panel-header
    img(src='../progIcons/product/calibre_1.png', alt='Calibre Ebook icon')
    |  
    a(href='http://www.calibre-ebook.com') Calibre E-Book &#x9;  Manager/Converter
  |     
  .panel-body
    p
      | E-book Manager and Converter Program for Multiple Operating System and a must have for anyone who has many e-books.


.panel.panel-default
  .panel-header
    img(src='../progIcons/product/docscrubber-48.png', alt='Doc Scrubber Icon')
    |     
    a(href='http://www.javacoolsoftware.com/index.html') Doc Scrubber
  .panel-body
    p
      | &quot;Have you ever wondered what hidden information might be lurking inside your Word documents? Have you ever wondered how to access that information, and if it is possible to remove it?
    | &#x9;&#x9;
    p Well now there&apos;s a solution - Doc Scrubber.
    | &#x9;&#x9;
    p
      | Doc Scrubber can quickly and easily discover hidden data inside Word documents and can allow the painless removal of such information, sometimes referred to as &quot;metadata&quot;.  &quot; 
      span.mainSiteUpdates (Doc scrubber help file)
    | &#x9;&#x9;
    p.center
      a(href='../screenshots/System/doc_scrubber.jpg', target='_blank') Click here for a Screenshot

.panel.panel-default
  .panel-header
    img(src='../progIcons/media/EMDB_128.png', alt='EMDB ICon')
    |     
    a(href='http://www.emdbonlinehelp.tk') EMDB
  |   
  .panel-body
    p Movie Database program that is 100% free

.panel.panel-default
  .panel-header
    img(src='../progIcons/product/TextCrawler_32512.png', alt='Text Crawler Icon')
    |             
    a(href='http://www.digitalvolcano.co.uk/') Text Crawler
  |           
  .panel-body
    p
      | GREAT tool to search and perform various functions on large amounts of text files. Here are just some of the things you can do with Text Crawler
    |             
    ul
      li
        | Finding and Replacing text in even as much as a directory (or certain files in a directory)
      |               
      li
        | Searching an entire subdirectory for a set pattern (including regular expressions)

.panel.panel-default
  .panel-header
    a(href='http://atorg.net.ru/universal_viewer/') Universal Viewer
  |           
  .panel-body
    p
      | This program is a context menu (right click on an icon) option that allows you to view many application&apos;s files without having to have that program be installed ... I DON&apos;T THINK this would work on many audio/video formats (an alternative to codecs) ... but it may work for graphics formats.

.panel.panel-default
  .panel-header
    a(href='http://www.yankee-clipper.net/') Yankee Clipper


	p **Xmetal's Personal Comments: ** ... alot more useful then it may sound like ... trust me

<?php include $sitePath . "/modules/tech/baseTechFooter.tpl"; ?>
