
.row.d-none.d-lg-block.mr-auto.ml-auto
  // ?? - 3 columns? ... shouldn't it be 6, each .. 12 /2 that is 
  // Maybe the 3 col with helps center ??? 
  .col-lg-3
    | Softpedia Graphic Here
  |   
  .col-lg-3
    | MajorGeeks Graphic Here




h3 Cross Platform 
ul.accordion-tabs-minimal
  li.tab-header-and-content
    a.tab-link.is-active(href='#') Graphics Programs
    |     
    .tab-content
      .row
        .card(style='width: 45%;margin-right: 20px;')
          a(href='..')
            img.card-img-top.d-none.d-lg-block(src='..', alt='GIMP Screenshot')
          |           
          .card-body
            h4.card-title
              a(href='#')
                | GIMP
            |           
            p.card-text
              | GIMP is a well known and widely used Graphics editor that some (not all though) compare to Photoshop
        // Ends GIMP
        .card(style='width: 45%;margin-right: 20px;')
          a(href='..')
            img.card-img-top.d-none.d-lg-block(src='/techHQ/screenshots/graphics/krita_default_interface.png', alt='Krita Screenshot')
          |         
          .card-body
            h4.card-title
              a(href='https://krita.org/en/', target='_blank')
                | Krita
            |           
            p.card-text
              | Krita is a graphics editor is an open source graphics/illustrator program, which some users compare to Adobe Photoshop
        // Ends Krita
      // Ends Row
  li.tab-header-and-content
    a.tab-link(href='#') Internet Programs
    |   
    .tab-content
      .row
        .col-lg-5
          h2 Pidgin 
          |         
          p Instant Messaging Client
        |       
        .col-lg-5
          h2 Mozilla Thunderbird 
          |         
          p Email Client
  li.tab-header-and-content
    a.tab-link(href='#') Multimedia Programs
    |   
    .tab-content
      h2 Audio Player 
      |     
      .row
        .card(style='width: 95%;margin-right: 20px;')
          a(href='..')
            img.card-img-top.d-none.d-lg-block(src='/techHQ/screenshots/multimedia/clementine1.png', alt='Clementine Screenshot')
          |         
          .card-body
            h4.card-title
              a(href='#')
                | Clementine Homepage
            |           
            p.card-text
              | Clementine is a music player and organizer that can not only play your music collection, organize your collection (including downloading artist and album information from the internet, and play media from various online sources)
        // Ends First Item
      // Ends Row
      br
      |     
      h4 Video Players
      |     
      .row
        .card(style='width: 30%;margin-right: 20px;')
          a(href='..')
            img.card-img-top.d-none.d-lg-block(src='..', alt='SMPlayer Screenshot')
          |         
          .card-body
            h4.card-title
              a(href='#')
                | SMPlayer Homepage
            |           
            p.card-text
        // Ends SMPlayer
        .card(style='width: 30%;margin-right: 20px;')
          a(href='..')
            img.card-img-top.d-none.d-lg-block(src='..', alt='MPV Screenshot')
          |         
          |         
          .card-body
            h4.card-title
              a(href='#')
                | MPV Homepage
            |           
            p.card-text
        // Ends Second Item
        .card(style='width: 30%;margin-right: 20px;')
          a(href='..')
            img.card-img-top.d-none.d-lg-block(src='..', alt='VLC Screenshot')
          |         
          .card-body
            h4.card-title
              a(href='#')
                | VLC
            |           
            p.card-text
        // Ends Third Item
      // Ends Row for Video Players
  |   
  li.tab-header-and-content
    a.tab-link(href='#') Productivity Programs
    |     
    .tab-content
      .card(style='width: 30%;margin-right: 20px;')
        a(href='..')
          img.card-img-top.d-none.d-lg-block(src='..', alt='Libre Office Screenshot')
        |         
        .card-body
          h4.card-title
            a(href='#')
              | Libre Office
          |           
          p.card-text
            | Fork of the Old OpenOffice and a VERY WELL DONE Microsoft Office alternative
  |   
  li.tab-header-and-content
    a.tab-link(href='#') Security Programs
    |    
    .tab-content
      .tab-content
        .card(style='width: 30%;margin-right: 20px;')
          a(href='..')
            img.card-img-top.d-none.d-lg-block(src='..', alt='Bleachbit Screenshot')
          |         
          .card-body
            h4.card-title
              a(href='http://bleachbit.sourceforge.net/')
                | Bleachbit
            |           
            p.card-text
hr
br
br
h3 Linux 
ul.accordion-tabs-minimal
  li.tab-header-and-content
    a.tab-link.is-active(href='#') Graphics Programs
    |    
    .tab-content
      .row
        .card(style='width: 30%;margin-right: 20px;')
          a(href='..')
            img.card-img-top.d-none.d-lg-block(src='..', alt='Pinta Screenshot')
          |         
          .card-body
            h4.card-title
              a(href='https://pinta-project.com/pintaproject/pinta/')
                | Pinta
            |           
            p.card-text
        // Ends First Item
        .card(style='width: 30%;margin-right: 20px;')
          a(href='..')
            img.card-img-top.d-none.d-lg-block(src='..', alt='Ristretto Screenshot')
          |         
          .card-body
            h4.card-title
              a(href='http://docs.xfce.org/apps/ristretto/start')
                | Ristretto Homepage
            |           
            p.card-text
        // Ends Second Item
        .card(style='width: 30%;margin-right: 20px;')
          a(href='..')
            img.card-img-top.d-none.d-lg-block(src='..', alt='Gwenview Screenshot')
          |         
          .card-body
            h4.card-title
              a(href='https://www.kde.org/applications/graphics/gwenview/')
                | Gwenview Homepage
            |           
            p.card-text
              | Usually instaled with KDE/Plasma 5 flavors of Linux
        // Ends Third Item
      // Ends Row
      .row
        .col-lg-5
          a(href='https://pinta-project.com/pintaproject/pinta/') Pinta 
    // What is this closing
  |   
  li.tab-header-and-content
    a.tab-link.is-active(href='#') Multimedia Programs
    |     
    .tab-content
      .row
        .card(style='width: 30%;margin-right: 20px;')
          a(href='..')
            img.card-img-top.d-none.d-lg-block(src='..', alt='Deadbeef Screenshot')
          |           
          .card-body
            h4.card-title
              a(href='http://deadbeef.sourceforge.net')
                | Deadbeef Homepage
            |             
            p.card-text
        // Ends Second Item
        .card(style='width: 30%;margin-right: 20px;')
          a(href='..')
            img.card-img-top.d-none.d-lg-block(src='..', alt='Audacious Screenshot')
          |           
          .card-body
            h4.card-title
              a(href='http://audacious-media-player.org/')
                | Audacious
            |             
            p.card-text
        // Ends Third Item
      // Ends Row
hr
br
br
h3 Windows 
ul.accordion-tabs-minimal
  li.tab-header-and-content
    a.tab-link.is-active(href='#') Graphics Programs
    |     
    .tab-content
      .card(style='width: 44%;margin-right: 20px;')
        a(href='/techHQ/screenshots/graphics/xnview1.png')
          img.card-img-top.d-none.d-lg-block(src='/techHQ/screenshots/graphics/xnview1.png', alt='Xnview Screenshot')
        |       
        .card-body
          h4.card-title
            a(href='https://www.xnview.com/en/xnview/', target='_blank')
              | Xnview
          |         
          |         
          p.card-text
            | My Favorite Image editor/so-called... Basic Image editor in Windows ... VERY powerful and well-done program
      // Ends Third Item
  li.tab-header-and-content
    a.tab-link.is-active(href='#') Multimedia Programs
    |   
    .tab-content
      .row
        .card(style='width: 44%;margin-right: 20px;')
          a(href='/techHQ/screenshots/multimedia/aimp4.jpg')
            img.card-img-top.d-none.d-lg-block(src='/techHQ/screenshots/multimedia/aimp4.jpg', alt='AIMP Screenshot')
          |         
          .card-body
            h4.card-title
              a(href='http://www.aimp.ru', target='_blank')
                | AIMP
            |          
            p.card-text
        // EndsItem
        .card(style='width: 44%;margin-right: 20px;')
          a(href='..')
            img.card-img-top.d-none.d-lg-block(src='..', alt='Foobar 2000 Screenshot')
          |       
          .card-body
            h4.card-title
              a(href='http://www.foobar2000.org', target='_blank')
                | Foobar 2000
            |        
            p.card-text
        // Ends Item
      // Ends Row
  li.tab-header-and-content
    a.tab-link(href='#') Productivity Programs
    |   
    .tab-content
      p PDF Readers - Adobe Acrobat Reader alternatives
      |     
      .row
        .card(style='width: 44%;margin-right: 20px;')
          a(href='..')
            img.card-img-top.d-none.d-lg-block(src='..', alt='Sumatra PDF Screenshot')
          |         
          .card-body
            h4.card-title
              a(href='https://www.sumatrapdfreader.org/free-pdf-reader.html', target='_blank')
                | Sumatra PDF
            |           
            |           
            p.card-text
        // Ends First Item
        .card(style='width: 44%;margin-right: 20px;')
          a(href='..', target='_blank')
            img.card-img-top.d-none.d-lg-block(src='..', alt='PDF-XChange Viewer Screenshot')
          |         
          .card-body
            h4.card-title
              a(href='https://www.tracker-software.com/product/pdf-xchange-viewer')
                | PDF-XChange Viewer
            |           
            p.card-text
        // Ends Second Item
  li.tab-header-and-content
    a.tab-link(href='#') Security Programs
    |   
    .tab-content
      .row
        .card(style='width: 32%;margin-right: 20px;')
          a(href='..')
            img.card-img-top.d-none.d-lg-block(src='..', alt='Avast Screenshot')
          |         
          .card-body
            h4.card-title Avast
            |           
            p.card-text
            |           
            a.btn.btn-primary(href='http://www.avast.com/free-antivirus-download')
              | Avast Homepage
        // Ends Avast Item
        .card(style='width: 32%;margin-right: 20px;')
          a(href='..')
            img.card-img-top.d-none.d-lg-block(src='..', alt='Malwarebytes Anti-Malware Screenshot')
          |       
          .card-body
            h4.card-title
              a(href='http://www.malwarebytes.org/')
                | Malwarebytes Anti-Malware
            |         
            |         
            p.card-text
        // Ends Malwarebytes Item
        .card(style='width: 32%;margin-right: 20px;')
          a(href='..')
            img.card-img-top.d-none.d-lg-block(src='..', alt='Emsisoft Emergency Toolkit Screenshot')
          |     
          .card-body
            h4.card-title
              a(href='https://www.emsisoft.com/en/software/eek/')
                | Emsisoft Emergency Toolkit
            |       
            |       
            p.card-text
        // Ends Emsisoft Emergency Toolkit Item
      //
        Ends Row -- >
        <h2>Cache/Temp File Cleaner</h2>
        <div class="row">
        <div class="card" style="width: 44%;margin-right: 20px;">
        <a href="..">
        <img class="card-img-top hidden-md-down" src=".." alt="CCEhancer Screenshot" />
        </a>
        <div class="card-body">
        <h4 class="card-title">
        <a href="..">
        CCEhancer (for Cleaner)
        </a>
        </h4>
        <p class="card-text">
        A sort of &quot;database&quot; of what to clean for programs that support it  (To add more removable items then the programs default)
        </p>
        </div>
        </div> <!-- Ends Glary Utilities Item
      .card(style='width: 44%;margin-right: 20px;')
        a(href='..')
          img.card-img-top.d-none.d-lg-block(src='..', alt='CCleaner Screenshot')
        |           
        .card-body
          h4.card-title
            a(href='..')
              | CCleaner
          |            
          p.card-text
      // Ends WiseCare360 Item
    // Ends Row
  li.tab-header-and-content
    a.tab-link(href='#') System Tools 
    |   
    .tab-content
      a(href='https://www.partitionwizard.com/free-partition-manager.html') Minitools Partition Manager Freeware Edition
      |       
      h4 System Suite
      |       
      .row
        .card(style='width: 44%;margin-right: 20px;')
          a(href='..')
            img.card-img-top.d-none.d-lg-block(src='..', alt='Glary Utilities Screenshot')
          |           
          .card-body
            h4.card-title
              a(href='..')
                | Glary Utilities
            |             
            p.card-text
        // Ends Glary Utilities Item
        .card(style='width: 44%;margin-right: 20px;')
          a(href='..')
            img.card-img-top.d-none.d-lg-block(src='..', alt='WiseCare360 Screenshot')
          |           
          .card-body
            h4.card-title
              a(href='..')
                | WiseCare360
            |            
            p.card-text
        // Ends WiseCare360 Item
      // Ends Row
