//output:linuxTICCol1.html

.card 
  .card-header.bg-primary.text-white Mass Theme PPAs

  a(href='/linuxHQ/tic/themes/ambiance.php') Ambiance
  br
  a(href='/linuxHQ/tic/themes/arc.php') Arc
  br
  a(href='#') Numix
  br
  a(href='/linuxHQ/tic/themes/paper.php') Paper
  br
  a(href='#') Radience
  br
  a(href='/linuxHQ/tic/themes/yosembiance.php') Yosembiance
  br

.card 
  .card-header.bg-primary.text-white Icons

  a(href='#') Evolvere
  br
  a(href='#') Faience
  br
  a(href='#') Faenza-Cupertino
  br
  a(href='#') Vibrancy Colors
  br
  a(href='#') Vivacious 
  br
          

.card
  .card-header.bg-primary.text-white Cursors
