/* Images */
$tanImage1: url(/techHQ/graphics/navbar_trials/tan/tan1.jpg);
$tanImage3: url(/techHQ/graphics/navbar_trials/tan/tan3.jpg);
$tanImage2: url(../graphics/navbar/tan/2tan3.png);

$christmasBG1: url(/linuxHQ/graphics/bg/01451_majesty_1920x1200.jpg);
$christmasBG2: url(/linuxHQ/graphics/bg/Christmas-Wallpaper-Hd-14.jpg);
$christmasBG3: url(/linuxHQ/graphics/bg/Christmas-Wallpaper-Hd-05.jpg);
$christmasGreen: url(/linuxHQ/graphics/navbar/christmas/darkgreen3.gif);

$bg1: url(/graphics/bg/BeachHotel1.jpg);
$bg2: url(/graphics/bg/bixbybridgehazydusk.jpg);

$beachBG1: url(/graphics/bg/beach/Palau_Pacific_Resort.jpg);
$beachBG2: url(/graphics/bg/beach/Carp_Island_Resort.jpg);
$beachBG3: url(/graphics/bg/beach/The_Rock_Islands.jpg);
$beachBG4: url(/graphics/bg/beach/Palau_Pacific_Resort2.jpg);


$blackNav:	url(/techHQ/graphics/navbar/black.jpg);


$ArcBlackImage: url(/graphics/bg/darkGrey.png);
