// Can remove
@mixin borderRad($radius: 8px) {

  border-radius         : $radius;
}

// #####################################################################

// Going to try to change the Compass mixins to Bourbon Synatax
@mixin autoMargin($margin-left: auto, $margin-right: auto) {

  @include margin(0 $margin-right 0 $margin-left);

}

@mixin NoMargin() {
  @include margin(0 0 0 0);

}


@mixin single-box-shadow($horz: 4px, $vert: 3px, $depth: 5px, $color: $black) {
  box-shadow         : $horz $vert $depth $color;
}

@mixin leftIcon($width: 48px, $height: 48px) {
  width         : $width;
  height        : $height;
  float         : left;
  padding-right : 10px;
}

@mixin softwareCols($colCount: 2, $colWidth: 40%, $colGap: 10px) {
  @include        inline-block();
  @include        column-gap($colGap);
  @include        column-width($colWidth);
  @include        column-count($colCount);
  @include        boxShadow();
  float         : left;
  clear         : both;
  margin-top    : 20px;
  margin-bottom : 20px;
  border-top    : $solidBorder;
  border-left   : $solidBorder;
  a:hover,
  a:link,
  a:visited {
    text-decoration : none;
  }
}


@mixin arcBlack {
  background-color: $arcBlack;
  background-image: $ArcBlackImage;
}
