@import "03-variables/_mixins";

.terminal {
  display          : block;
  margin-right     : 5px;
  margin-left      : 5px;
  padding-left     : 1px;
  color            : $black;
  background-color : $black;
}

.terms {
  color            : rgb(0, 0, 255);
  background-color : transparent;
  font-style       : italic;
  font-weight      : bold;
}

.distReview {
  @include margin(null auto null auto);
  width         : 99%;
  clear         : none;
  margin-top    : 2px;

  @include padding(2px 2px null 5px);

  color         : $black;

  border       : 1px solid #000000;
  text-align    : left;
  font-family   : $Courier;
  line-height   : 25px;
}

.distRevTitle {
  clear       : both;

  @include padding(1px 1px 1px 1px);

  border      : $solidBorder;
  font-size   : 20px;
  font-weight : bold;

}

.distroHeader {
  clear            : right;
  color            : #FFFFCC;
  border           : $solidBorder;
  background-color : $black;
  font-weight      : bold;
}

.distroSshot {
  @include margin(null auto null auto);

  width          : 98%;
  margin-top     : 30px;
  margin-bottom  : 2px;

  @include padding(3px null 3px null);
  border         : $solidBorder;
  text-align     : center;
}


#distroTables {
    /*border: $solidBorder;*/
  display          : inline-block;
  width            : 97%;
  clear            : both;
  margin-top       : 5px;
  margin-bottom    : 5px;

  @include padding(5px 1% null 1%);

  background-color : $white;
  a:link {
    margin         : 2px;
    @include padding(3px null 3px null);

    overflow       : auto;
    font-family    : $Arial;
  }
}

#distrowatch {
  height           : 200px;
  padding-right    : 1%;
  @include margin(null auto null auto);

  padding-left     : 1%;
  overflow         : auto;
  border           : $black 2px solid;
  background-color : $white;
  font-family      : $TNR;
  /*margin-left: 50px;*/

  rss-item-full {
    color : rgb(255, 0, 0);
  }
  a:link {
    color            : $red;
    background-color : transparent;
  }
}

#linuxAboutMe {
  @include   margin(null auto null auto);

  width         : 90%;
  @include padding(null 10px null 25px);
  border        : 2px solid #000000;
}

#personalExp {
  @include   margin(null auto null auto);

  width            : 100%;
  margin-top       : 15px;
  padding-bottom   : 10px;
  color            : $black;
  border           : $solidBorder;
  background-color : $white;
  blockquote {

    @include margin(0 0 0 0 );
    font-family   : $MSSans;
    font-weight   : bold;
  }
}


#Software {
  font-size : 15px;
  .code {
    display          : block;
    margin-bottom    : 0px;
    padding-bottom   : 0px;
    color            : $black;
    background-color : transparent;
    font-family      : $Courier;
    font-size        : 14px;
    font-weight      : normal;
  }
  .code ul {
    margin-left  : 0px;
    padding-left : 0px;
  }
  .CodeHeader {
    @include padding(0 0 0 0);
    color          : navy;
    font-size      : 12px;
  }
  .commandTask {
    @include padding(0 0 0 0);
    font-size      : 13px;
    font-weight    : bold;
  }
  .distroName {
    @include padding(0 0 0 0);
    border-bottom  : 1px dotted $black;
    font-size      : 14px;
    font-weight    : bold;
  }
  .mainTitles {
    border-bottom : $solidBorder;
    font-size     : 14px;
    font-weight   : bold;
  }
}


#distroShots {
  padding  : 5px;
  overflow : auto;
  border   : 2px dotted $black;

  .left img,
  img {
    width         : 400px;
    height        : 250px;
    @include margin(7px 0 7px 0);
    padding       : 3px;
    border        : $solidBorder;
  }
  .left {
    width : 50%;
    float : left;
  }
}

#DE {
  .title {
    text-align  : center;
    font-size   : 20px;
    font-weight : bold;
  }
  .SShotCol img {
    @include size(70%, 90%);
    margin-top    : 7px;
    margin-bottom : 5px;
    border        : $solidBorder;
  }
  .headers {

    box-shadow: 1px 2px 3px;
    clear            : right;
    @include margin(20px 0 10px 0);
    border           : $solidBorder;
    background-image : url(../graphics/navbar/tan/2tan3.png);
    background-color : #ffff99;
    font-weight      : bold;
  }
  #SShotCol {
    width : 30%;
    float : left;
  }
  .code {
    clear            : both;
    margin-top       : 5px;
    margin-bottom    : 5px;
    padding-left     : 10px;
    color            : $white;
    border           : $solidBorder;
    background-color : $black;
    font-size        : 16px;
    font-weight      : bold;
  }
  .code a:link,
  a:hover,
  a:visited {
    color            : #FFFF00;
    background-color : inherit;
  }
  #infoCol {
    width : 70%;
    float : right;
  }
  #infoCol .row {
    clear      : both;
    margin-top : 10px;
  }
  #SShotCol img
  {
    @include size(70%, 90%);
    float         : left;
    @include margin(7px 0 5px 0);
  }

  #SShotCol a:link {
    clear : both;
  }
}


#YTReviewer {
  clear          : both;

  @include padding(0 0 10px 10px);
  overflow       : auto;
  border         : $solidBorder;
  line-height    : 20px;
  .left {
    width : 40%;
    float : left;
  }
  .right {
    width : 40%;
  }
}

.distroMainSection {
  margin-bottom : 20px;
  @include padding(7px);
  border        : $solidBorder;
  overflow	  	: auto;

  .distroName {
    padding-left : 10px;
    font-size    : 20px;
    font-weight  : bold;
    margin-bottom : 20px;
  }
  .distroSS img {
    @include size(700px, 558px);
    @include margin(5px 0 5px 0);
  }
  .distroHome {
    border    : $solidBorder;
    @include margin( 20px 20px 20px 20px);
    @include padding(10px 10px 10px 10px);

    width     : 35%;
    font-family: $TNR;
    float: left;
    @include     single-box-shadow();
    border-radius: 8px, 8px;
  }
  .dwHome {
    border    :$solidBorder;
    @include margin(10px 10px 10px 10px);
    @include padding(10px 10px 10px 10px);

    @include    single-box-shadow();
    width     :35%;
    font-family: $TNR;
    border-radius: 8px, 8px;
    float     : right;
  }
  .specs
  {
		clear: both;
  }
}


#AppSection
{
	h1, h2, h3, h4, h5
	{
		@include margin(0 0 0 0 );
	}

	h1
	{
		margin-bottom: 20px;
		text-decoration: underline;
		padding-top: 20px;
	}

	h2
	{
		margin-bottom: 20px;
		font-size: 20px;
	}

	h3
	{
    @include margin(null null 15px 15px);
	}

	h4
	{
    @include margin(null null 0 15px);
	}

	h5
	{
		padding: 10px;
		margin-left: 50px;
	}

}


#TIC
{
   .TICName
  {
		font-size: 30px;
		margin-bottom: 10px;
		font-weight: bold;
	}

     .TICHomepage, .TICUsage, .TICSShot, .TICInstructs
    	{
    		clear			        : both;
    		border     		    : $solidBorder;
    		padding			      : 10px;
    		margin-bottom		  : 20px;
    		width			        : 85%;
     	  @include        	single-box-shadow();
        border-radius: 8px, 8px;
        @include   margin(null auto null auto);

     		overflow: hidden;

     		img
     		{
          @include size(65%, 65%);
     		}
     }
}

#usb {
  display        : flex;
  margin-top     : 15px;
  padding-bottom : 10px;
  .linux,
  .windows {
    display         : flex;
    width           : 80%;

    @include margin(10px 0 10px 0);
    border          : $solidBorder;

  }
}



#distroList li {
  font-size   : 13pt;
  line-height : 16px;
}


.code {
  margin-left      : 2%;
  color            : $white;
  background-color : $black;
  text-align       : left;
  font-family      : $Courier;
  line-height      : 25px;
  font-weight	   : bold;
}
