@import "includes";
@import "_sassHeader";

.distroTitle{
	font-size: 24px;
}

#distroTables
{
		.distroHeader
		{
			border: $solidBorder;
			font-weight: bold;

			clear: right;
			padding: 2px;

			@include margin(3px null 3px null);
		}

		.distRevTitle
		{
			text-decoration: underline;
			font-weight: bold;
			background-image: url(../graphics/navbar/tan/2tan3.png);
			font-size: 16px;
			border: $solidBorder;
			clear:both;
			margin-bottom: 4px;
		}


		.wide
		{
			/* border-bottom: 1px solid rgb(0, 0, 0); */
			border-top: $dottedBorder;
			clear: both;
			width: 99%;
			margin-top: 5px;
			padding-top: 5px;

		}

		 a:link
		{
			font-family: $Arial;
		}


		.distReview {

			clear: none;
			color: rgb(0, 0, 0);
			font-family: $SegoeUI;
			text-align: left;
			@include autoMargin();;
			border: $dottedBorder;
			word-wrap: break-word;
			font-size: 15px;
		}

		#descript
		{
			margin-top: 10px;
			clear: both;
			border: $solidBorder;
			text-align: justify;
			line-height: 25px;
			font-family: $font-stack-verdana;


			font-size: 14px;
			@include padding(2% 10px 2px 2px);

		}

		.distroSshot
		{
			@include autoMargin();
			margin-top: 30px;
			text-align: center;
			width: 98%;
			padding-top: 3px;
			padding-bottom: 3px;
			margin-bottom: 2px;
			border: $solidBorder;
		}

}

.justified {
	text-align: justify;
}


#distros
{
	overflow: auto;
	clear: both;


		 .distroHeader
		{
			border: $solidBorder;

			font-weight: bold;
			background-image: url(/techHQ/graphics/navbar/tan/2tan3.png);
			clear: right;
		}

}



.bottomBorderDotted

{
	border-bottom: $dottedBorder;
}

#distroTables
{

		#personalExp
		{
			width: 96%;
			@include autoMargin();
			margin-top: 15px;
			background-color: $white;
			color: $black;
			border: $dottedBorder;
			padding-bottom: 10px;

			padding-left: 5px;
			text-align: justify;
		}

		#personalExp blockquote
		{
			@include margin(0 null 0 null);
			font-family: $MSSans;
		}

}

// Use Bootstrap to do this in the future
#distrowatch, #distroShots, #linuxAboutMe, #DE #SShotCol img, #SShotCol, header, .DEs img, .distroSS
{
	display: none;
}


#socialIcons
{
	float: right;
	clear: left;

}

#DESection
{
			.DEs
			{
				font-size: 14px;
			}
}

#DE #infoCol
{
		width: auto;

}






#top
{

	position: relative;
	padding: 0px;
	transform: none;
}

#distroMainSection
{

		.distroName
		{
				margin-bottom: 0px;

				img
				{
					@include size(40px, 40px);
				}

			}
}
