@import "02-modules/modules-dir";
@import "04-custom/custom-dir";

#distroTables
{

		#descript
		{
			margin-top: 10px;
			clear: both;
			border: $solidBorder;
			text-align: justify;
			line-height: 25px;
			@include padding(2% 10px 2px 2px);

		}
}



#personalExp
{
	width: 96%;
	font-size: 14px;


	margin-top: 15px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	border: $dottedBorder;
	padding-bottom: 10px;

	padding-left: 5px;
	text-align: justify;


}

// Use Bootstrap to do this in the future
#distrowatch, #SShotCol
{
	display: none;
}
