@import "includes";
@import "_sassHeader";
@import "distro";

// Customized Bootstrap
@import "bstrap";


.dePanel
  {
    border           : $solidBorder;
    padding          : 10px;
    @include        	single-box-shadow();
    border-radius    : 8px 8px;

    @include   margin(null auto null auto);

    clear             : both;
    padding-bottom    : 20px;
}

.navigation
{
  max-height: 80px;
}

header ul
{
  position: absolute;
  right: 0;
}
