@import
  "01-modules/modules-dir",
  "02-variables/variables-dir";

kbd {
  display : block;
}

#distroTables {
  display  : inline-block;
  clear    : both;

  width    : 97%;
  /* border: $solidBorder; */

  @include   margin(5px, null, 5px, null);
  @include   padding(5px, 1%, null, 1%);
}

#TIC {
  .TICHomepage,
  .TICUsage {
    border : $solidBorder;

    img {
      @include size(65%, 65%);
    }
  }
}

// Where do I have this
#distroList {
  .card-title {
    @include   margin(0, 0, 0, 0);
    @include   padding(0, 0, 0, 0);
  }
}

//////////////////////////////////////////////////////////////////////////////


.icons {
  position : relative;
  @include   margin(null, 20px, null, 20px);
}

// This is for the Icon and name section of say the Distro Section

.name {
  // Info is a guess for now
  text-decoration : underline;

  font-size       : 28px;
  font-weight     : bold;
  // put the name class at the start of the line and this is for the icon
  // both icon and name will be on the same line

  img {
    @include size(40px, 40px);
  }
}

#screenshots {
  padding : 10px;

  border  : 1px #000000 dotted;

  img[src=''] {
    display : none;
  }

  a[href=''] {
    display : none;
  }

  img {
    box-shadow : 1px 1px 10px rgb(0, 0, 0);

    @include     margin(null, 10px, 100px, null);
    @include     size(500px, 350px);
  }
}

// / This appears to be the box around item in different sections on the main subpages

.linuxContainer {
  border     : 1px solid rgb(0, 0, 0);
  box-shadow : 2px 2px 2px rgb(0, 0, 0);

  @include     padding(10px, 10px, 10px, 10px);
  @include     margin(null, 2px, 20px, 2px);
}


#linuxRSSFeeds
{
  float: right;
  overflow: auto;
  width: 40%;

  @include margin( 10px, 10px, 10px, 10px);
  @include padding( 0, 1%, 0, 1%);

  table.rssdog
  {
    // border      : rgb(0, 0, 0) 2px solid;
  }
}

////////////////////////////////////////////////////////////////////////////
// Make this where its no SO SPECIFIC but can help multple sections

#usb {
  position : relative;
  left     : 20px;
}

.card-img-top {
  box-shadow : 2px 2px 2px #000000;

  @include     margin(10px, 10px, 10px, 10px);
}
