@import
  "02-modules/modules-dir",
  "03-variables/variables-dir";


kbd {
  display : block;
}


#distroTables {
  /* border: $solidBorder; */
  @include   margin(5px null 5px null);
  @include   padding(5px 1% null 1%);
  display  : inline-block;
  width    : 97%;
  clear    : both;
}

#TIC {
  .TICHomepage,
  .TICUsage {
    border : $solidBorder;

    img {
      @include size(65%, 65%);
    }
  }
}

#distroList {
  .card-title {
    @include   margin(0 0 0 0);
    @include   padding(0 0 0 0);
  }
}

// #####################################################################

.icons {
  @include   margin(null 20px null 20px);
  position : relative;
}

// This is for the Icon and name section of say the Diustro Section

.name {
  // Info is a guess for now
  text-decoration : underline;
  font-size       : 28px;
  font-weight     : bold;
  // put the name class at the start of the line and this is for the icon
  // both icon and name will be on the same line

  img {
    @include size(40px);
  }
}

#screenshots {
  padding : 10px;
  border  : 1px #000000 dotted;

  img[src=''] {
    display : none;
  }

  a[href=''] {
    display : none;
  }

  img {
    @include     margin(null 10px 100px null);
    @include     size(500px, 350px);
    box-shadow : 1px 1px 10px rgb(0, 0, 0);
  }
}

// / This appears to be the box around item in different sections on the main subpages

.linuxContainer {
  @include     padding(10px 10px 10px 10px);
  @include     margin(null 2px 20px 2px);
  border     : 1px solid rgb(0, 0, 0);
  box-shadow : 2px 2px 2px rgb(0, 0, 0);
}

#distrowatch {
  @include      padding(2% 2% 1% 25px);
  height      : 200px;
  overflow    : auto;
  border      : rgb(0, 0, 0) 2px solid;
  font-family : $TNR;

  rss-item-full {
    color : rgb(255, 0, 0);
  }

  a:link {
    color            : rgb(255, 0, 0);
    background-color : transparent;
  }
}

// Make this where its no SO SPECIFIC but can help multple sections

#usb {
  position : relative;
  left     : 20px;
}

.card-img-top {
  @include     margin(10px 10px 10px 10px);
  box-shadow : 2px 2px 2px #000000;
}
