@import "02-modules/modules-dir";
@import "03-variables/variables-dir";

ul
  {
    margin-left: 10px;

    li
    {
      list-style-type: disc;
    }
  }

kbd
{
  display:block;
}

// ##########################################################################

.distReview {
  @include margin(null auto null auto);
  width         : 99%;
  clear         : none;
  margin-top    : 2px;

  @include padding(2px 2px null 5px);

  color         : rgb(0, 0, 0);
  border       : 1px solid rgb(0, 0, 0);
  text-align    : left;
  font-family   : $Courier;
  line-height   : 25px;
}



.distRevTitle {
  clear       : both;

  @include padding(1px 1px 1px 1px);

  border      : $solidBorder;
  font-size   : 20px;
  font-weight : bold;

}


#distroTables {
    /*border: $solidBorder;*/
  display          : inline-block;
  width            : 97%;
  clear            : both;
  @include margin(5px null 5px null);
  @include padding(5px 1% null 1%);

  background-color : rgb(255, 255, 255);
  a:link {
    margin         : 2px;
    @include padding(3px null 3px null);

    overflow       : auto;
    font-family    : $Arial;
  }
}


#TIC
{
   .TICHomepage, .TICUsage
  	{
  		border: $solidBorder;

   		img
   		{
			@include size(65%, 65%);
   		}
   }
}
// #####################################################################

.icons
{
    @include margin(null 10px null null);
}

.name
{
    // Info is a guess for now
    font-size: 28px;
    font-weight: bold;
    text-decoration: underline;

    // put the name class at the start of the line and this is for the icon
    // both icon and name will be on the same line
      img
      {
        @include size(40px);
      }

}


// This is still needed
.screenshots
{

  img
    // Values are a guess for now
    {
    width: 500px;
    height: 400px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    @include margin(null 10px 10px null);
    }


}

#screenshots
{

  border: 1px #000000 dotted;
  padding: 10px;


  img[src='']
      {
        display: none;
      }

  a[href='']
      {
        display: none;
      }

}




 /// This appears to be the box around item in different sections on the main subpages
.linuxContainer
{
  border: 1px solid rgb(0, 0, 0);
  @include padding(10px 10px 10px 10px);
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  @include margin(null 2px 20px 2px);

}



#distrowatch {
  height           : 200px;
  @include padding(2% 2% 1% 25px);

  overflow         : auto;
  border           : rgb(0, 0, 0) 2px solid;
  font-family      : $TNR;
  /*margin-left: 50px;*/

  rss-item-full {
    color : rgb(255, 0, 0);
  }
  a:link {
    color            : rgb(255, 0, 0);
    background-color : transparent;
  }
}


#usb
{
  position: relative;
  left: 20px;

}
