 div I will try to indicate if there is a difference between "current version" and "this branch of this distro was released with this version"

 div THE GOAL is to have CURRENT versions listed 


 // the idea is that this chart will be in the same tabbed section as YT REviewers and Screenshots (I think for .. SSs anyway )... USB creation results
 

// 
    Idea: should i make a seperate table or two .. one for say rolling releases? or should it all be one big table? 

.table 
    .caption Version Comparison Chart 

.tr
    // for column down the left side 
    .th Distro/Version
    
    .th Budgie
    .th Cinnamon
    .th Mate
    .th Plasma 5
    .th XFCE


.tr 
    .td Arch 
    
    .td
    .td
    .td
    .td
    .td

    .tr 
        .td Fedora 27

        .td
        .td
        .td
        .td
        .td

    .tr 
        .td Fedora 28
        
        .td
        .td
        .td
        .td
        .td

    .tr 
        .td Fedora 29
        
        .td
        .td
        .td
        .td
        .td

    .tr 
        .td Fedora Rawhide
        
        .td
        .td
        .td
        .td
        .td

    .tr 
        .td OpenSuse Leap 42.3 
        
        .td
        .td
        .td
        .td
        .td


    .tr 
        .td OpenSuse Leap 15
        
        .td
        .td
        .td
        .td
        .td


    .tr 
        .td OpenSuse Tumbleweed 
        
        .td
        .td
        .td
        .td
        .td

    .tr 
        .td Solus 3.x
        
        .td
        .td
        .td
        .td
        .td





    .tr 
        .td Ubuntu 14.04 LTS
        
        .td
        .td
        .td
        .td
        .td
    .tr 
        .td Ubuntu 16.04 LTS 
        
        .td
        .td
        .td
        .td
        .td
    .tr 
        .td Ubuntu 18.04 LTS 
        
        .td
        .td
        .td
        .td
        .td
    .tr 
        .td Ubuntu 18.10 
        
        .td
        .td
        .td
        .td
        .td


    .tr 
        .td Linux Mint 17 (Ubuntu 14.04 based)
        
        .td
        .td
        .td
        .td
        .td

    .tr 
        .td Linux Mint 18 (Ubuntu 16.04 based)
        
        .td
        .td
        .td
        .td
        .td

    .tr 
        .td Linux Mint 19 (Ubuntu 18.04 based)
        
        .td
        .td
        .td
        .td
        .td
