.card
    .card-title.m-0.p-2.bg-primary.text-white
        .row.pl-3
            img(src="${distroGraphics}${currentDistroIcon}" alt="${currentDistroTitle} icon" style="width: 48px;height: 48px;" ) 
            h2.font-weight-bold.pl-3 ${currentDistroTitle}
    
    .card-text.p-2

        .col.d-none.d-md-inline
            img.img-fluid.p-2(src="https://picsum.photos/400/400/?random")
    
    