 div 
    span.font-weight-bold Target Audience: 
    | ${currentDistroTargetAudience}
    br/
    
    span.font-weight-bold Featured Desktops: 
    | ${currentDistroFeaturesDesktops}
    br/

    span.font-weight-bold Similar Distros: 
    | ${currentDistroSimilarDistros}
    br/

    span.font-weight-bold Software Type: 
    | ${currentDistroSoftwareType}
    br/
        