h4.font-weight-bold Youtube Playlists
.row.d-none.d-lg-inline
    .col.d-inline
        iframe.YTPlaylists(src='${currentDistroYTReviewPLEmbedded}', target="_blank", allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    .col.d-inline
        iframe.YTPlaylists(class="YTPlaylists", src='${currentDistroYTTipsPLEmbedded}', target="_blank", allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
.row.d-lg-none.d-xs-block
    .col
        a(href="${currentDistroYTReviewPL}", target="_blank") Youtube Review/Walkthrough/Comments Playlist 
    .col
        a(href="${currentDistroYTTipsPL}", target="_blank") Youtube Tips/Tricks/Tutorial Playlist
