/* Colors */
.greenText {
  color: #009900;
  background-color: inherit;
}

.redText {
  background-color: inherit;
  color: red;
}

.darkGreyText {
  color: #333333;
}

/* Fonts */
/* Images */
/* Border variables */
.w-33 {
  width: 33%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

h3.feed-title {
  color: white;
  background-color: #3E3F3A;
  padding: 1% 0 1% 1%;
}

.feed-iten-desc {
  padding: 1% 1% 1% 1%;
}

.feed-item-title {
  padding: 1% 1% 0 5px;
}

.feed-item-title a:link,
.feed-item-title a:hover,
.feed-item-title a:visited {
  color: #3E3F3A;
  background-color: inherit;
  font-size: 15px;
}

.darkBG, .card-header, code, footer {
  color: white;
  background-color: #333333;
}

.darkBG a:link, .card-header a:link, code a:link, footer a:link, .darkBG a:visited, .card-header a:visited, code a:visited, footer a:visited {
  background-color: inherit;
  color: inherit;
}

.darkBG a:hover, .card-header a:hover, code a:hover, footer a:hover {
  background-color: inherit;
  color: lightgrey;
}

nav {
  text-shadow: 2px 5px #333333;
  text-shadow: 2px 5px 0 #333333;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

nav .navbar-brand {
  font-size: 36px;
  font-weight: bold;
  padding: 0 0 0 10px;
}

nav .navbar-nav a:link {
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

nav .nav-tabs {
  background-color: white;
}

nav button.navbar-toggler {
  border: 1px solid white;
  color: white;
}

html,
body {
  font-size: 12pt;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  width: 100%;
  height: 100%;
}

.text-justify {
  text-align: justify;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

.flexContainer .mainSection {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
  margin: 0 auto 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

i.fa,
i.fab,
i.fas {
  color: white;
  background-color: transparent;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 0 0 10px;
}

i.fa a:link,
i.fab a:link,
i.fas a:link {
  text-decoration: none;
  color: white;
}

a:link,
a:visited {
  background-color: inherit;
  color: navy;
}

.card-header {
  font-weight: bold;
  font-size: 20px;
}

.card-header a:link,
.card-header a:visited {
  background-color: transparent;
  color: white;
}

code {
  display: inline-block;
}

footer {
  max-height: 75px;
  margin: 0 0 0 0;
}

footer a:link {
  color: inherit;
  background-color: inherit;
}

.coverImage {
  background-position: top;
  background-size: cover;
  background-image: url("/graphics/louvre.jpg");
  min-height: 500px;
}

.iconSM {
  width: 32px;
  height: 32px;
}

.iconLG {
  width: 48px;
  height: 48px;
}

.icon {
  position: relative;
  margin: 20px 20px;
}

.SPHeightIconInput {
  height: 35px;
}

.SPSearchIcon {
  height: 33px;
  vertical-align: middle;
}

.YTPlaylists {
  width: 560px;
  height: 315px;
}

.thumbnails {
  max-width: 450px;
  max-height: 450px;
}

.carousel {
  height: 90%;
  width: 90%;
  min-height: 325px;
}

.carousel nav {
  text-shadow: 2px 5px #333333;
  text-shadow: 2px 5px 0 #333333;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.carousel nav .navbar-brand {
  font-size: 36px;
  font-weight: bold;
  padding: 0 0 0 10px;
}

.carousel nav .navbar-nav a:link {
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.carousel nav .nav-tabs {
  background-color: white;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  width: 60%;
}

.carousel .carousel-item img {
  max-width: 500px;
  max-height: 500px;
}

.list-group-item {
  border: 0;
}
/*# sourceMappingURL=styling.css.map */