:root {
  /******************* Colors ********************/
  --black: rgb(0, 0, 0);
  --white: rgba(255, 255, 255, 1);
  --white50: rgba(255, 255, 255, 0.5);
  --white75: rgba(255, 255, 255, 0.75);
  --darkGrey1: rgb(51, 51, 51);
  --darkGrey2: rgb(62, 63, 58);
  --forrestGreen: rgb(0, 100, 0);
  --green: rgb(0, 153, 0);
  --red: rgb(255, 0, 0);
  --navy: rgb(0, 0, 128);
  --midnightBlue: rgb(25, 25, 112);
  --maroon: rgb(102, 0, 0);
  --tanL: rgb(255, 250, 205);
  --tanD: rgb(238, 233, 191);
  --lightMaroon: rgb(153, 0, 0);
  --darkturquoise: rgb(30, 80, 87);
  --themeBGColorMain: var(--darkGrey1);
  --themeBGColorAccent: var(--darkturquoise);
  --Verdana: Verdana, Geneva, Arial, Helvetica, sans-serif;
  --TNR: "Times New Roman", Times, serif;
  --Courier: "Courier New", Courier, monospace;
  --Helvetica: "Helvetica Neue", Helvetica, sans-serif;
  --MSSans: "MS Sans Serif", Geneva, sans-serif;
  --SegoeUI: "Segoe UI", Arial, Helvetica, sans-serif;
  --Tahoma: Tahoma, Verdana, Segoe, sans-serif;
  --Arial: Arial, Helvetica, san-serif;
  --Roboto: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
:root .themeColorAccent {
  color: var(--themeBGColorAccent);
}

.greenText {
  color: var(--green);
}

.redText {
  color: var(--red);
}

/******************* Width ********************/
.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

/******************* Icon ********************/
.icon {
  display: inline-block;
  margin-right: 1.1rem;
}
.icon a {
  fill: var(--white);
  color: var(--white);
}
.icon--size32,
.icon .iconSM {
  height: 32px;
  width: 32px;
}
.icon--size40 {
  height: 40px;
  width: 40px;
}
.icon--size48,
.icon .iconLG {
  height: 48px;
  width: 48px;
}

/******************* Custom Vars ********************/
header {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: var(--white75);
  display: grid;
  font-size: 30px;
  font-weight: 800;
  grid-area: header;
  grid-template-areas: "nav-icon navigation";
  grid-template-rows: 1fr;
  height: 75px;
  padding: 1rem 1rem;
  text-shadow: 2px 5px var(--themeBGColorMain);
}
header a {
  color: var(--white);
}
header nav {
  grid-area: navigation;
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-size: 22px;
  font-weight: 500;
}
header nav a {
  padding: 0 1rem;
}
header .nav-icon {
  grid-area: nav-icon;
  text-align: left;
}
header .frontpage-title {
  text-align: center;
  grid-column: span 2;
}
header .topnav .icon {
  display: none;
}

/************** Responsive CSS *******/
/* When the screen is less than 600 pixels wide, hide all links. Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 794px) {
  header .topnav a {
    display: none;
  }
  header .topnav .icon {
    float: right;
    display: block;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 794px) {
  header .topnav.responsive {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    left: 0;
    top: 0;
    background: #333;
    display: grid;
    text-align: center;
    justify-content: center;
  }
  header .topnav.responsive a {
    display: block;
    text-align: left;
    align-self: center;
  }
  header .topnav.responsive .icon {
    position: absolute;
    right: 0;
    display: block;
    z-index: 1;
    margin: 17px 35px 0 0;
    outline: inherit;
    align-self: start;
  }
}
/********** Global *****************/
*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1.05rem;
  width: 100%;
}

body {
  font-size: 16px;
  min-height: 100%;
  display: grid;
  grid-template-areas: "header" "main-section" "footer";
  grid-template-columns: 1fr;
  height: 100vh;
}
body h1,
body h2,
body h3,
body h4,
body h5 {
  color: var(--themeBGColorAccent);
  font-weight: 800;
}

header,
footer {
  background-color: var(--themeBGColorMain);
}
header a:hover,
footer a:hover {
  outline: 1px dotted var(--white);
}

footer {
  color: var(--white);
  display: flex;
  grid-area: footer;
  margin: 0;
  max-height: 75px;
  padding: 1.5rem;
}
footer a {
  background-color: inherit;
  color: var(--white);
  text-decoration: none;
}
footer img {
  max-width: 32px;
  max-height: 32px;
  margin: 0.4rem;
}

/*********** Main Section in middle of page  *****/
.main-section {
  grid-area: main-section;
  padding: 0.5rem 0;
  display: grid;
}
.main-section a {
  color: var(--midnightBlue);
}
.main-section .card__header {
  color: var(--themeBGColorAccent);
  padding: 1rem;
}
.main-section--left-wide {
  grid-template-columns: auto 20%;
  grid-template-areas: "sidebar pContent";
}
.main-section--right-wide {
  grid-template-columns: 20% auto;
  grid-template-areas: "pContent sidebar";
}
.main-section--wide {
  grid-template-columns: 1fr;
  grid-template-areas: "pContent";
}
.main-section .primaryContent {
  grid-area: pContent;
  margin: 0 2rem;
  width: 90%;
}

/************** Cards *************/
.card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin: 0 auto 1.2rem auto;
}
.card--bordered {
  border-color: var(--themeBGColorMain);
}
.card .card-body,
.card .card-text {
  padding: 1rem;
}
.card .card__header {
  border-color: var(--themeBGColorMain);
  font-weight: bold;
  font-size: 1.1rem;
}
.card .card__header--dark-bg {
  background-color: var(--themeBGColorMain);
  color: var(--white);
}
.card .card__header a:link,
.card .card__header a:visited {
  background-color: inherit;
  color: var(--white);
  text-decoration: none;
}

/***************** Random ****************/
code {
  background-color: var(--themeBGColorMain);
  color: var(--white);
  display: inline-block;
}

.hiddenAccessLinkText {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.text-justify {
  text-align: justify;
}

/************** Carousel BS way  *************/
/*
.carousel {
  min-height: 350px;
  margin: 0 auto;

  .carousel-control-prev,
  .carousel-control-next {
    width: 60%;
  }

  .carousel-item img {
    display: block;
    margin: 0 auto;
    height: 450px;
    width: 725px;
  }
}
*/
.carousel {
  margin: 0 auto;
  width: 80%;
  position: relative;
}
.carousel .carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel .carousel__button--left, .carousel .carousel__button--right {
  position: absolute;
}
.carousel .carousel__button--left {
  left: 0;
}
.carousel .carousel__button--right {
  right: 0;
}
.carousel .carousel__button img {
  height: 20px;
  width: 20px;
}
.carousel .carousel__image {
  max-width: 100%;
  height: auto;
  max-height: 400px;
}
.carousel .carousel__nav {
  display: flex;
  justify-content: center;
}
.carousel .carousel__nav .carousel__indicator {
  border: 0;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: var(--themeBGColorAccent);
  margin: 0 10px;
}
.carousel .carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100;
}
.carousel .carousel__track {
  list-style: none;
  margin: 0;
  padding: 0;
}
.carousel .carousel__track-container {
  background-color: lightblue;
  padding: 10px;
  height: 100%;
}

.frontpage-section {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas: "site-section   site-section" "site-section   site-section" "git-section    git-section" "git-section    git-section";
  grid-template-columns: repeat(auto-fit, minmax(400px, 48%));
  grid-template-rows: repeat(2, 1fr);
  margin: 20px 0;
}
.frontpage-section .git-section {
  grid-area: git-section;
}
.frontpage-section .git-section .card {
  margin: 0 auto;
  width: 80%;
}
.frontpage-section .git-section .card .card__header {
  text-align: center;
}
.frontpage-section .git-section .git-icons {
  color: var(--themeBGColorAccent);
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}
.frontpage-section .git-section .git-icons a {
  color: inherit;
}
.frontpage-section .git-section,
.frontpage-section .site-section {
  display: inline-grid;
  grid-template-columns: inherit;
  padding: 0 1rem;
}
.frontpage-section .git-section a:hover,
.frontpage-section .site-section a:hover {
  border-bottom: 1px solid brown;
  margin-bottom: 0;
  transition: 3s;
}
.frontpage-section .git-section .card,
.frontpage-section .site-section .card {
  box-shadow: none;
  max-height: 500px;
  width: 100%;
}
.frontpage-section .git-section .card .card__header,
.frontpage-section .site-section .card .card__header {
  background-color: inherit;
  color: var(--themeBGColorAccent);
  font-size: 26px;
  font-weight: 800;
  padding: 0.5rem 1rem;
}
.frontpage-section .git-section .card .card__header a,
.frontpage-section .site-section .card .card__header a {
  background-color: inherit;
  color: inherit;
}
.frontpage-section .git-section .card .card__body,
.frontpage-section .site-section .card .card__body {
  font-weight: 500;
  padding: 1rem;
}
.frontpage-section .git-section .card .card__body .img-fluid,
.frontpage-section .site-section .card .card__body .img-fluid {
  height: auto;
  max-width: 80%;
}
.frontpage-section .git-section .frontpage-title,
.frontpage-section .site-section .frontpage-title {
  color: var(--themeBGColorAccent);
  font-size: 3rem;
  font-weight: 900;
  grid-column: span 2;
  text-align: center;
}
.frontpage-section .site-section {
  grid-area: site-section;
  grid-gap: inherit;
}
.frontpage-section .site-section img {
  margin: 0 auto;
  max-width: 80%;
}
.frontpage-section .site-section .card {
  margin: 0 auto;
  width: 100%;
}
.frontpage-section .site-section .card .card__body p {
  margin: 10px 0;
}

ol,
ul,
dl {
  margin-bottom: 1rem;
  margin-top: 0;
}
ol li,
ul li,
dl li {
  margin-left: 1.4rem;
}

@media (max-width: 874px) {
  .frontpage-section {
    grid-template-columns: 1fr;
  }
  .frontpage-section .site-section,
.frontpage-section .git-section {
    grid-gap: 0;
    grid-template-columns: inherit;
  }
  .frontpage-section .site-section .frontpage-title,
.frontpage-section .git-section .frontpage-title {
    grid-column: auto;
    font-size: 2rem;
  }
}
.thumbnails {
  max-width: 450px;
  max-height: 450px;
}

.list-group-item {
  border: 0;
}

.YTPlaylists {
  width: 560px;
  height: 315px;
}

/****** STARTPAGE Box related ******************/
#SPSearch {
  margin: 10px auto;
}
#SPSearch .SPHeightIconInput {
  height: 35px;
}
#SPSearch .SPSearchIcon {
  height: 33px;
  vertical-align: middle;
}

/************** RSS Feed *************/
.feed-item-title a {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4rem;
}

#outputSection a {
  color: var(--ThemeBGColorAccent);
}

#techHQFooter {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}
#techHQFooter a {
  color: inherit;
  margin: 0 1rem;
  font-weight: 500;
}
#techHQFooter a:hover {
  outline: 1px dotted black;
  text-decoration: none;
}

#EducationalSites {
  justify-content: space-around;
  margin-bottom: 0 auto 25px auto;
  text-align: center;
  width: 75%;
}
#EducationalSites .card__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#EducationalSites .card__body a img {
  margin: 0 auto;
  padding: 10px 1.5rem;
}
#EducationalSites .card__body .card__header {
  font-size: 24px;
  font-weight: 700;
}

.darkBG {
  color: var(--white);
  background-color: var(--themeBGColorMain);
}
.darkBG a:hover {
  background-color: inherit;
  color: var(--lightgrey);
}

/* All of the following is from GAOTD's site, .. with some updates for compliance checkers I ran   */
#GAOTD {
  width: 50%;
  padding-top: 3px;
  margin: 0 auto;
}

#ga_block {
  width: 60%;
  background-color: #ffffff;
  color: #000000;
}
#ga_block img {
  display: block;
  border: none;
}
#ga_block #ga_text {
  font: normal 11px Arial, sans-serif;
  border: none;
  margin: 4px 0 0 0;
  width: 60%;
  overflow: auto;
  text-align: justify;
}
#ga_block #ga_text a {
  text-decoration: none;
  color: #000000;
  font-size: 13px;
  background-color: transparent;
}
#ga_block #ga_text img {
  display: block;
  position: relative;
  float: left;
  border: none;
  margin: 0 1em 1em 0;
}
#ga_block #ga_text p {
  margin: 4px 0;
}

#ga_block #ga_title {
  font: normal 11px Verdana, sans-serif;
  border: none;
  margin: 4px 0 0 0;
}
#ga_block #ga_title a {
  text-decoration: none;
  color: #0099ff;
  background-color: transparent;
}

/*# sourceMappingURL=styling.css.map */
