h4.font-weight-bold How to Install: 
br/
br/
.font-weight-bold How to install ${currentTICThemeName} on Arch

.font-weight-bold How to install ${currentTICThemeName} on Fedora

.font-weight-bold How to install ${currentTICThemeName} on OpenSUSE

.font-weight-bold How to install ${currentTICThemeName} on Ubuntu 