.card 
    .card-header.bg-primary.text-white.font-weight-bold ${currentTICThemeTitle}

    .card-text 
        .font-weight-bold Theme has support for: 
            | ${currentTICSupportInfo}
            br/
            br/

            | ${themeLinks} 

            | ${howToInstall}