.card 
    .card-header.bg-primary.text-white.font-weight-bold ${currentTICThemeTitle}

    .card-text.p-3
        .row
            .col-auto
                .font-weight-bold Theme has support for: 
                    | ${currentTICSupportInfo}
                    br/
                    br/
                    | ${themeLinks} 


            .col-auto
                p Screenshot will go here 

            <br />
            | ${howToInstall}