
h3 &ldquo;What on earth is this &ldquo;Desktop Environment&rdquo;?..  I had a hard enough time with &ldquo;Distros-vs-versions...etc etc &rdquo; &quot;

div There is a reason that I left this "for later"....not to overload new users with too many terms all at once.

h4 Desktop Environment 
div These may be refered to as &quot;D.E.&quot; 's for short, include things such as the Menus, context (right-click on the mouse) menu and much more in Windows &hellip; it controls HOW you interact with the Operating System/your computer. 


<?php require $siteRoot ."/modules/footer.tpl"; ?>