
p Programs to put ISOs on USB sticks

h3 Creating ISOs to USBs 

ul
  li
    a.is-active(href='#') Cross-Platform 
  
      ul
        li 
          a(href="http://etcher.io" target="_blank") Etcher.io

        li 
          a(href="http://sourceforge.net/projects/unetbootin/" target="_blank") Unetbootin 
          | - I have had nothing but problems with USBS MADE correctly ... not booting correctly when, using Unetbootin ... this seems to happen over and over again 

  |   
  li
    a(href='#') Windows Specific    
    ul
      li 
        a(href="http://www.osforensics.com/tools/write-usb-images.html" target="_blank") ImageUSB
      li 
        a(href="#" target="_blank") Rufus
      li 
        a(href="http://www.pendrivelinux.com/yumi-multiboot-usb-creator/" target="_blank") YUMI

  |   
  li
    a(href='#') Linux Specific 
    ul 
      li Linux Mint Image Writer
      li 
        a(href="https://www.ventoy.net/Ventoy" target="_blank") Ventoy
      li
        a(href="http://www.pendrivelinux.com/multiboot-create-a-multiboot-usb-from-linux/" target="_blank") Multisystem - August 2023 message: not sure the last time this was updated


<?php require $siteRoot ."/modules/footer.tpl"; ?>
