@import "bourbon/bourbon";
@import "_sassHeader";

$powderBlue: rgb(51, 113, 216);

#StartPageStyle {
	background-color: #ffffff;
	color: #000000;
	padding-bottom: 1px;

    @include  margin(null auto null auto);
    margin-top: 10px;
    clear: both;
		width:  95%;

}

input.searchBox {
	background-color: #ffffff;
	color: #660000;
	font-family: $Arial;
	font-size: 14px;
	outline: none;
	padding: 0px 6px;
	padding-bottom: 1px !important;
	padding-top: 1px !important;
	@include size(260px, 23px);
}

input.SPSearchBoxWIDE {
	border: $powderBlue 1px solid;

	@include padding(6px 6px 0 0);
	margin-right: 10px;
	width: 45%;
	min-width: 45%;
	font-family: $verdana;
	font-size: 14px;
	letter-spacing: 1px;
  clear: none;
  box-shadow: 2px 2px 3px $black;
	vertical-align: middle;
	}

.SPSubmitButton {
	@include border-color($powderBlue $powderBlue $powderBlue $powderBlue);
	@include border-style(solid solid solid solid);
	@include border-width(1px 1px 1px 0px);

  padding-top: 0px;
  margin-left: 3px;

}
td.SPGraphic {
	@include padding(0 0 0 0);
}
.SPSearchButton {
	max-height: 28px;
	margin-right: 1px ;
	border: 0px;

	@include padding(0 2px 0 10px);

  clear: right;
  vertical-align: middle;
}


#wrapper
{
	clear: both;
	background: #ffffff;
	color: #000000;
	@include padding(10px 10px 10px 10px);
}

form.SPForm
{
  width: 60%;
  clear: both;

	@include   autoMargin();

  padding-left: 5%;
}
