//output:commonTerms.html

h3 &quot;Versions,  Distributions, Code-names, ' oh my' &quot;
	p.font-italics I have decided to leave  &ldquo;Desktop environments until later... I don't want to overload people and confuse them here... just so you know, I will cover this later... I am trying to  do these guides as simple as possible, WHILE trying to have as much information as I can in them)


	p A common place for new users to get tripped up is with all of these terms.

h3 Summary

	p Microsoft is the only company that makes &ldquo;Windows&rdquo;, while many companies/individual developers and coders, make their own &ldquo;flavored&rdquo;  versions of Linux
	
	p OK NOW...  
	  
	h3 Distibution
		p A Distribution is a difference between Windows and Linux.  There is not one company that makes this so called Linux thing.  There are different options.  The differerent options are the distributions and you can think of that as the "different 'companies' " in a sense.  
		
		p A Distrobution may be refered to by some as a "Distro" for short
		
	h3 Versions
		p These are tied on SOME cases to what are called code names which I will get to later; however, these are easy to grasp from one distro's perspective.  All you have to do if your say, coming from Windows, is to think of Windows XP vs Windows 7 vs Windows 10 ... Still WINDOWS but different versions.
		
	h3 Codenames
		p Not all distros have code names though these I suppose are like nicknames in a way.
		
	h3 Metaphor (w / example) 
		p Person metaphor - Jane Doe
			ul
				li Sirname - Doe - Would be the DISTRO
				li First Name - Jane - Would be the VERSION 
				li Codename - ?? "Shorty" for example - Would be the CODENAME.  
				
				p If anything the Codename is the least important if you ask me 
			
		p	Linux Metaphor - Linux Mint 17.x 
			ul 
				li 
					div.text-primary Distro 
					| = Linux Mint
				li 
					div.text-primary Version
					|  = 17.x 
				li 
					div.text-primary Codename
					|  = Sarah
					
	  
<?php include $sitePath . "/modules/footer.tpl"; ?>
