h3 &ldquo;What  on earth is this &ldquo;Desktop Environment&rdquo;?..  I had a hard enough time with &ldquo;Distros-vs-versions...etc etc &rdquo; &quot;
  
  
  p There is a reason that I left this "for later"....not to overload new users with too many terms all at once.

  h4 Desktop Environment 
  p These may be refered to as &quot;D.E.&quot; 's for short, include things such as the Menus, context (right-click on the mouse)  menu and much more in Windows &hellip; it controls HOW you interact with the Operating System. 


  h4 Windows comparison 

  p This is just a metaphor and it may not be 100% accurate but let me explain ... think of Windows 8.x specifically ... there is the "tile" interface and the regular desktop that Windows users know ... .THESE ARE NOT like DE's in Linux as those two "interfaces" in Windows 8 are running at the same time in a way.  

  p What I am getting at is the DIFFERENCE in the looks of those two interfaces .... you can in a sense THINK of them as two difference DEs.  In Linux there are a few that can look similar to each other, so there is no "shock" if you think its going to be a major change.  There are menus somewhere on the screen and in most cases they are organized into say program types (Multimedia, System Tools, Programming..etc) where those submenus have the shortcuts to programs, you'd find in the Windows Start Menu.    
