

h3 You have to be a &quot;programmer&quot; or &quot;computer expert&quot; to use and understand Linux.

p FALSE

p There ARE A FEW THINGS that you need to know in order to really install and use Linux. If you are an experienced Windows user, then it is nothing you can't pick up, and even if your not use to using Windows, then you not caught in habits that are only done in Microsoft


h3 You have to install Linux to see whats its all about

p FALSE

p Not counting Video reviews and writen articles about a distribution, you can in many cases download a &quot;Live Distro&quot;..A livedistribution allows you to run a distribution off of a CD/DVD/ or Flash drive and interact with it and see how you like it and if it works with your hardware, WITHOUT installing a thing.

  p IF YOU WANT to install the distribution  at that point, there is usually a &quot;Install &lt;distribution name here&gt;&quot; icon right on the desktop to get the install started.
