<?php

  $title = 'Xmetalfanx Maintenance Section - Restore Point Cleaning'
]

p
  | Along with the number of run-away system log entries, I have noticed on a few machines a ton of restore points that are no longer needed. I am not going into my      view of restore points and how people mess up while using them (like getting a virus, then restoring thier computer ... to an earlier point ... when they were STILL  INFECTED&quot;.... 

img(src='/techHQ/smiles/mad/ranting.gif', width='28', height='24', alt='Mad Smile')

p.header
  | HERE IS A SIMPLE WAY TO CLEAN OUT SOME UN-NEED ENTRIES.
   
p
  | All you need is one program that I have already mentioned many times on my site
  
p
  a(href='http://www.ccleaner.com', target='_blank')
    img.(src='/techHQ/progIcons/security/cleaners/959__CCv2.gif', alt='CCleaner Icon')
    | CCleaner 

ol
  li
    | Open CCleaner and go to the &quot;Tools&quot; Panel (look on the left, under &quot;Cleaner&quot; and &quot;Registry&quot; 
  li from here Click &quot;Restore points&quot;  
  li
    | From here what and how many you remove is up to you. Especially on computers that are not mine, I ususally leave a few of them, but I have seen over 10 to 15 entries.        After I clear them out I have noticed a difference of 15 GB (yes GB ) after clearing some of the older entries out.       
    img(src='../../smiles/dance/dance (1).gif', alt='Talking Smile')
    |  REMEMBER ... RESULTS MAY VERY ...        there may only be one entry in the list and not the many I am saying. ALSO, I am 99% sure that CCleaner does NOT TOUCH the most recent restore point, so even if you want        Ccleaner to remove it
