//output: bottomMenu.html

nav.nav
  a.nav-link(href='/tecHQ/index.php') Home
  a.nav-link(href='/techHQ/personal/personalIndex.php') About Me
  a.nav-link(href='/techHQ/credit.php') Credits
  a.nav-link(href='http://xmetalfanx.x10.mx/phpbb/', target="_blank") Forums
  a.nav-link(href='/techHQ/references.php') References
  a.nav-link(href='#') Site Map 
  a.nav-link(href='/links.php') Links 
  a.nav-link(href='#') Contact Me
