
// ?php include($path . '/modules/tech/techHQNavMenus.tpl'; ?
.flexContainer
  .row.mainSection.w-100.mx-auto
    .col-xs-12.col-md-3.col-xl-2
        // ?php include($path . '/techHQ/modules/techSoftwareCol1.tpl'; ?
      #softwareSection.col-xs-12.col-md-9.col-xl-10


//  include baseTechFooter 
// ?php include($path . '/modules/tech/baseTechFooter.tpl'; ?

script(src='/techHQ/scripts/software.js')
script(src='/scripts/lazysizes.min.js')