@import '../01-variables/vars';

/************** RSS Feed *************/

.feed-item-title {
  a:link,
  a:hover,
  a:visited {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

/************** Icons *************/

.icon {
  // margin on right side only
  margin-right: 1.1rem;

  a:link,
  a:hover,
  a:visited {
    fill: var(--white);
    color: var(--white);
  }
  &__iconSM {
    width: 32px;
    height: 32px;
  }

  &__iconLG {
    width: 48px;
    height: 48px;
  }
}


/************** Cards *************/
.card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  .card-body,
  .card-text {
    padding: 1rem;
  }

  .card__header {
    border-color: var(--themeBGColorMain);

    font-weight: bold;
    font-size: 1.1rem;

    a:link,
    a:visited {
      background-color: inherit;
      color: var(--white);
      text-decoration: none;
    }

    // For sidebar menus
    @--sidebar {
      .card-body {
        padding: .5rem;
      }
    }
  }

  // why the margin s
  @__bordered {
    border-color: var(--themeBGColorMain);
    margin: 0 auto 1.2rem auto;
  }
}


/************** Carousel BS way  *************/
/*
.carousel {
  min-height: 350px;
  margin: 0 auto;

  .carousel-control-prev,
  .carousel-control-next {
    width: 60%;
  }

  .carousel-item img {
    display: block;
    margin: 0 auto;
    height: 450px;
    width: 725px;
  }
}
*/

.carousel {
  margin: 0 auto;
  width: 80%;
  position: relative;

  .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--left,
    &--right {
      position: absolute;
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

    img {
      height: 20px;
      width: 20px;
    }
  }

  // Note: this is my own and not in the tutorial video
  .carousel__image {
    max-width: 100%;
    height: auto;

    max-height: 400px;
  }

  .carousel__nav {
    display: flex;
    justify-content: center;

    .carousel__indicator {
    border: 0;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: var(--themeBGColorAccent);
    margin: 0 10px;
  }
  }
  .carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100;
  }

  .carousel__track {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .carousel__track-container {
    background-color: lightblue;
    padding: 10px;
    height: 100%;

  }


}

/***************** Random ****************/
code {
  background-color: var(--themeBGColorMain);
  color: var(--white);
  display: inline-block;
}

// New idea for screen readers
.hiddenAccessLinkText {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
