
p {
  color: var(--theme-color-d);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-weight: 800;
}

h1,
.h1 {
  font-size: var(--h1);
}

h2,
.h2 {
  font-size: var(--h2);
}

h3,
.h3 {
  font-size: var(--h3);
}

h4,
.h4 {
  font-size: var(--h4);
}

h5,
.h5 {
  font-size: var(--h5);
}

// this is a link color ON a whiteBG
a {
  color: var(--link-color-lightBG);
  background-color: transparent;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--theme-color-accent-l-a75);
  }
}

code {
  background-color: var(--theme-color-main);
  color: var(--theme-color-l);
  display: inline-block;
}
