@use "../01-abstracts/index" as *;

// p {
//   color: var(--clr-theme-d);
// }

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-weight: 800;
  color: var(--clr-theme-accent-l);
}

h1,
.h1 {
  font-size: var(--h1);
}

h2,
.h2 {
  font-size: var(--h2);
}

h3,
.h3 {
  font-size: var(--h3);
}

h4,
.h4 {
  font-size: var(--h4);
}

h5,
.h5 {
  font-size: var(--h5);
}

// this is a link color ON a whiteBG or (at least mainsection)
a {
  background-color: transparent;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--clr-theme-accent-l);
  }
}

code {
  display: inline-block;

  @include clr-bg-and-fg;
}
