@import "1-modules/modules-dir";
@import "2-variables/variables-dir";

.container
{
  width: 96%;
}

.card
{

  .card-warning
  {
    background-color: rgb(255, 255, 255);
  }

}

light
.accordion-tabs-minimal
{
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 2px;
  @include margin( null null 15px null);
}

header
{
  @include margin(null null 15px null);
}

#bottomLinks
{
  display: flex;
  flex-direction: row;
}


.card-text
{
  @include padding( 10px 20px null 10px);
  font-size: 17px;
  text-align: justify;

}

.card-block
{
  padding-top: 0px;
  margin-top: 10px;


}
