
.card 
  .card-header.bg-primary.text-white Mass Theme PPAs

  a(href='/linuxHQ/tic/themes/adapta.php') Adapta 
  a(href='/linuxHQ/tic/themes/arc.php') Arc
  a(href='/linuxHQ/tic/themes/minty.php') (Linux) Mint-Y
  a(href='/linuxHQ/tic/themes/numix.php') Numix
  a(href='/linuxHQ/tic/themes/yosembiance.php') Yosembiance

.card 
  .card-header.bg-primary.text-white Icons

  a(href='#') Evolvere
  a(href='#') Faience
  a(href='#') Faenza-Cupertino
  a(href='#') Vibrancy Colors
  a(href='#') Vivacious 
          
.card
  .card-header.bg-primary.text-white Cursors

.card
  .card-header.bg-primary.text-white External Links
  
  a(href="https://www.deviantart.com/" target="_blank" aria-label="Deviant Art Site Link") DevianArt
    i.fa.fa-4x.fa-deviantart.text-dark.m-2(aria-hidden='true') 