// Can remove
@mixin borderRad($radius: 8px) {
  border-radius         : $radius;
}

// #####################################################################
@mixin size ($width, $height)
{
  width: $width;
  height: $height;
}


@mixin single-box-shadow($horz: 4px, $vert: 3px, $depth: 5px, $color: $black) {
  box-shadow         : $horz $vert $depth $color;
}


@mixin softwareCols($colCount: 2, $colWidth: 40%, $colGap: 10px) {
  float         : left;
  clear         : both;/* Border variables */

  margin-top    : 20px;
  margin-bottom : 20px;

  border-top    : $solidBorder;
  border-left   : $solidBorder;

  @include        inline-block();
  @include        column-gap($colGap);
  @include        column-width($colWidth);
  @include        column-count($colCount);
  @include        boxShadow();
$solidBorder: 1px solid rgba(0, 0, 0, 1);
$dottedBorder: 1px dotted rgba(0, 0, 0, 1);
  a:hover,
  a:link,
  a:visited {
    text-decoration : none;
  }
}

@mixin padding( $top, $right, $bottom, $left)
 {
   padding: $top $right $bottom $left;

 }

@mixin margin( $top, $right, $bottom, $left)
{
	margin: $top $right $bottom $left;

}

/* Border variables */
$solidBorder: 1px solid rgba(0, 0, 0, 1);
$dottedBorder: 1px dotted rgba(0, 0, 0, 1);
