<?php

  $title = 'TechHQ - Browser Section - Prevent Browser Crashes and Hangups';
  $sitePath = "/home/xmetalx1/public_html";
  include $sitePath . "/templates/tech/baseTechBrowserTemp.tpl";

?>


h1#browsers Browsers

ul
  li Firefox - Alot of people love Firefox, alot of people hate it.. I am one of those who love it despite even I have had it freeze on me, recently.
  li
    p
      | Flock - This is based on Firefox 2.x (for now &mldr; it has been said that when Firefox 3.x comes out in it&rsquo;s final version, Flock will make the Firefox 3.x
      | improvements
      br
      | to the code in Flock as well)



h2#keys-to-firefox  Keys to firefox
  ul
    li
      | use a minimum amount of add-ons .. .. its tempting to add a ton of them, but eventually it will slow down firefox to the speed of &mldr; well &mldr; IE
    h4#firefox-add-ons-i-do-recommend-to-help-improve-user-experiences-across-the-web

  		 Firefox add-ons I do recommend to help improve user experiences across the web</h4><ul>
      	li
          p
            a(href='http://noscript.net/') Noscript 
          |   &#x9;&#x9;
          p
            | Blocks Javascript (with a whitelist for those that you want to allow), and some other malicious code that can auto &quot;run&quot; when you visit a website

  	li
  p
    a(href='http://flashblock.mozdev.org/') Flashblock
    br
    |   &#x9; Like NoScript, it blocks Flash from auto playing &mldr; may not make a difference for high speed internet users, but especially dialup users can benefits from
    |   &#x9;  this add-on.
    br
    | This of course also has a whitelist that can allow sites you know are ok and want to see the flash for.
|   &#x9;
li
  p
    a(href='http://forum.softwareblaze.com/') CookieSafe
    br
    | Can manage cookies and block cookies coming from certain domains

  	li
      p
        a(href='https://github.com/chrisaljoudi/uBlock') Ublock
      |   &#x9;
      p   A very customizable and cross-browser ad and malware URL blocker 

	</ul>

<?php include $sitePath . "/modules/tech/baseTechFooter.tpl"; ?>
