
<?php $title = 'Xmetalfanx Maintenance Section - File and Folder Cleaners' ?>

p Cleanup Related (System/Cache/Cookies/...etc) 

.card
  .card-header
    a(href='http://bleachbit.sourceforge.net', target='_blank')
      img(src='../../progIcons/security/cleaners/bleachbit_1.jpg', alt='Bleachbit Icon')
      | Bleachbit

  .card-body
      | Supposedly gets some of the LSO persistent Cookies in various locations that some other programs (at the time I am typing this) can not.  Bleachbit is a  good option and I recommend it completely


.card
  .card-header 
    a(href='http://www.heidi.ie/eraser/', target='_blank')
      img(src='../../progIcons/security/cleaners/Eraser6.png', alt='Eraser Icon')
      | Eraser

  .card-body
      p
        | This Program is a highly configurable and FREE file wiper. This can do both simple for new users, and complicated wipes, that experts can customize  to their liking. ..
        span.redtext One of my Must Haves  
      |         
      p.center
        a(href='../../screenshots/Security/eraser.gif', target='_blank') Eraser screenshot 
      |         
      p.center
        | NOTE: I have had alot of issues with the new &quot;upgrade&quot; 6.x branch and do not care for it...
        | My liking is for the old 5.x branch by the ORIGINAL developer. I am not trashing the new group working on Eraser...
        | just stating that it really needs work.. Doing basic tasks I have done for years crashes, Eraser 6 (folder wiping, filing wiping ...etc)
        | right &quot;ot of the gate&quot;
        

p
  | This is the sort of program that you should run alot if you ask me (if you dont use the computer for a few days, than you dont need to run in then)...
  | I run CCleaner everytime i get off the internet, as it should only take aboue 15 seconds (at MOST) ...and Cleanup from time to time.
