
h3 Here are some things you can do to &quot;optimize windows&quot;  
 
a(href='#services') Disabling Services (2K/XP)

a(href='#update') Windows Update

ol    
  li Get Startup Program such as Startup Cop or Startup Control Panel and remove un-needed startup items. Going to the run box and typing in MSCONFIG will allow you to edit the startup items as well.   
  
  li Do a Windows Update (All Versions of Windows) 
  
  li Do not use Harmful Programs that contain Spyware and ads. 99% of the time there are free (truly free) programs that do the same and a better job then the spyware programs.
   