//output:linuxAppCol1.html

.card 
  .card-header.bg-primary.text-white PPA Related

  a(href='/linuxHQ/apps/favoritePPAs.php') My Favorite PPAs
  br
  a(href='AddPPA_to_Ubuntu.php')
  | Adding PPAs/What is a PPA/
  br
  | List of common PPAs

.card 
  .card-header.bg-primary.text-white Misc Apps.

  a(href='#') Google Chrome
  br
  a(href='#') Libre Office
