// Idea: mixins are better when output changes based on variables passed to the mixin

// because i am always forget the default values i use
@mixin box-shadow($xaxis: 0, $yaxis: 0.5rem, $blur: 1rem, $color: var(--clr-theme-main)) {
  box-shadow: $xaxis $yaxis $blur $color;
}

@mixin drop-shadow($xaxis: 0, $yaxis: 0.5rem, $blur: 1rem, $color: var(--clr-theme-d)) {
  filter: drop-shadow($xaxis $yaxis $blur $color);
}

@mixin span2 {
  grid-column: span 2;
}

@mixin flex($flex-direction: row, $flex-wrap: nowrap, $jc: normal) {
  display: flex;
  flex-flow: $flex-direction $flex-wrap;
  justify-content: $jc;
}

@mixin align-items-justify-content($align-items, $justify-content) {
  align-items: $align-items;
  justify-content: $justify-content;
}

// shorthand for
// align-content:  (aligns top to bottom on a "y" axis) and
// justify-content which aligns along the "x-axis" 
@mixin place-content($ac: normal, $jc: normal) {
  place-content: $ac $jc;
}

@mixin border($border-size: 1px, $border-style: solid, $border-color: var(--clr-theme-main)) {
  border: $border-size $border-style $border-color;
}

@mixin border-radius-single($border-radius: 20%) {
  border-radius: $border-radius;
}

// tl: top left, tr: top right,  br: bottom right, bl: bottom left,
@mixin border-radius($tl: 20%, $tr: 20%, $bl: 20%, $br: 20%) {
  border-radius: $tl $tr $br $bl;
}


// Color mixins
@mixin clr-bg-and-fg($bg: var(--clr-theme-main), $fg:var(--clr-theme-l) ) {
  background-color:$bg;
  color: $fg;
}

// idea only: 
@mixin section-title {
  font-size: 24px;
  font-weight: 700;
  margin: 1rem auto;
}