// Idea: mixins are better when output changes based on variables passed to the mixin

// is this better as (? a function)
@mixin dark-bg {
  color: var(--theme-color-l);
  background-color: var(--theme-color-main);
}

// because i am always forget the default values i use
@mixin boxshadow {
  box-shadow: 0 0.5rem 1rem var(--theme-color-accent-d-a50);
}

@mixin span2 {
  grid-column: span 2;
}
