@use "_mixins" as *;
@use "_functions" as *;

// breakpoints
$breakpoint-sm: "width <= 576px";
$breakpoint-md: "width <= 768px";
$breakpoint-lg: "width <= 992px";
$breakpoint-xl: "width <= 1200px";

/////////////////////////////////////////////////////////////////////////////////////////
// Colors
$main-colors: (
  "black": "0deg 0% 0%",
  "white": "0deg 0% 100%",
);

// the idea are colors that I do not need shades of
$sub-colors: (
  "red": "0deg 100% 50%",
  "burnt-orange": "17deg 100% 40%",
  "green": "120deg 44% 34%",
  "richdarkblue": "206deg 55% 11%",
  "midnightgreen": "196deg 45% 22%",
  "forest-green": "120deg 100% 20%",
  "maroon": "0deg 100% 20%",
);

// grey-l20 IS #333333 in HSL form 
$colors-grey: (
  "grey-l13": "0deg 0% 13%",
  "grey-l15": "0deg 0% 15%",
  "grey-l20": "0deg 0% 20%",
  "grey-l24": "0deg 0% 24%",
  "grey-l32": "0deg 0% 32%"
);
$nov-theme-colors: (
  // hsl(35, 60%, 96%)
  "theme-color-l": "35deg 60% 96%",
  // hsl(43, 100%, 45%)
  "theme-color-accent-l": "43deg 100% 45%",
  // hsl(20, 86%, 30%)
  "theme-color-main": "20deg 86% 25%",
  // hsl(16, 80%, 25%)
  "theme-color-accent-d": "16deg 80% 20%",
  // hsl(0, 0%, 20%)
  "theme-color-d": "0deg 0% 20%"
);
$dec-theme-colors: (
  // hsl(35, 60%, 96%)
  "theme-color-l": "35deg 60% 96%",
  // hsl(120, 60%, 24%)
  "theme-color-accent-l": "120deg 60% 24%",
  // hsl(0, 150%, 24%)
  "theme-color-accent-d": "0deg 150% 24%",
  // hsl(120, 60%, 15%)
  "theme-color-main": "120deg 60%, 15%",
  // hsl(0, 0%, 15%)
  "theme-color-d": "0deg 0% 15%"
);
$colortheme1: (
  // hsl(35, 60%, 96%)
  "theme-color-l":  "35deg 60% 96%",
  // hsl(0, 0%, 20%)
  "theme-color-d": "0deg 0% 20%",
  // hsl(25, 69%, 40%)
  "theme-color-accent-l": "25deg 69% 40%",
  // HSL(0, 0%, 20%)
  // "theme-color-accent-d": "0deg, 0% 20",
  // hsl(217, 100%, 9%)
  "theme-color-main": "217deg 100% 9%",
  // random colors i may want to use again
  // hsl(215, 48%, 18%)
  // hsl(181, 100%, 20%)
  // hsl(25, 89%, 25%)
);

:root {
  // for the middle of the page with a lighter BG Color
  --link-color-lightBG: var(--theme-color-accent-d);

  // for regular colors
  @each $key, $value in $main-colors {
    // could i use a mixin for this?
    --#{$key}: hsl(#{$value});
    --#{$key}-a75: hsl(#{$value} / 75%);
    --#{$key}-a50: hsl(#{$value} / 50%);
    --#{$key}-a25: hsl(#{$value} / 25%);
  }

  @each $key, $value in $sub-colors {
    --#{$key}: hsl(#{$value});
  }

  @each $key, $value in $colors-grey {
    --#{$key}: hsl(#{$value});
  }

  /////////////////////////////////////////
  // Theme loop
  @each $key, $value in $colortheme1 {
    // could i use a mixin for this?
    --#{$key}: hsl(#{$value});
    --#{$key}-a75: hsl(#{$value} / 75%);
    --#{$key}-a50: hsl(#{$value} / 50%);
    --#{$key}-a25: hsl(#{$value} / 25%);
  }

  // End Colors
  ///////////////////////////////////

  ///////////////////////////////////
  // Fonts
  // --ffamily-verdana: verdana, geneva, arial, helvetica, sans-serif;
  // --ffamily-times: "Times New Roman", times, serif;
  // --ffamily-courier: "Courier New", courier, monospace;
  --ffamily-helvetica: "Helvetica Neue", helvetica, sans-serif;

  // --ffamily-ms-sansa: "MS Sans Serif", geneva, sans-serif;
  // --ffamily-segoeUI: "Segoe UI", arial, helvetica, sans-serif;
  // --ffamily-tahoma: tahoma, verdana, segoe, sans-serif;
  // --ffamily-arial: arial, helvetica, san-serif;
  --ffamily-roboto: "Roboto", -apple-system, blinkmacsystemfont, "Segoe UI",
    roboto, "Helvetica Neue", arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";

  // --ffamily-ubuntu: "Ubuntu", -apple-system, "Segoe UI", "Roboto", "Oxygen",
  //  "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --ffamily-fork-awesome: forkawesome, serif;

  // --ffamily-sfmono-regular:"SFMono-Regular", menlo, monaco, consolas,
  //  "Liberation Mono", "Courier New", monospace;

  // this should be named better
  // this was snagged from OMGUbuntu"s sit e
  --test: -apple-system, blinkmacsystemfont, "Segoe UI", helvetica, arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";

  ///////////////////////////////////////////////////////////////////////////////////
  // font sizes
  // i think the idea here (wait until webhost is back online to test this) is
  // to consolidate font sizes instead of having CSS for all different sections that are
  // slightly different sizes .. i may still have font-size: HOWEVER they will be one of these vars
  // since i cant test this right now ... I am not sure what to use where though
  --fs-small: 0.75rem;
  --fs-normal: 1.05rem;
  --fs-large: 1.15rem;

  //////////////////////////////////////
  // header font sizes
  --h1: 3rem;
  --h2: 2.25rem;
  --h3: 1.5rem;
  --h4: 1.25rem;

  // guess
  --h5: 1.1rem;

  // fork awesome
  --fa-arrow-right: "\f105";
  --fa-arrow-down: "\f107";
}
