// breakpoints
$breakpoint-sm: "max-width: 576px";
$breakpoint-md: "max-width: 768px";
$breakpoint-lg: "max-width: 992px";
$breakpoint-xl: "max-width: 1200px";

// not sure if black50 makes sense yet ... i mean is the black less intense? ... isn't there a grey for that instead?

$colors: (
  "black": hsl(0, 0%, 0%),
  "black50": rgba(0, 0, 0, 0.5),
  "tan_l": hsl(54, 100%, 90%),
  "tan_d": hsl(54, 50%, 75%),
  "white": hsl(0, 0%, 100%),
  "white75": hsla(0, 0%, 100%, 0.75),
  "white50": hsla(0, 0%, 100%, 0.5),
  "light_grey": hsla(0, 0%, 83%, 0.75),
  "grey1": hsl(0, 0%, 15%),
  "grey2": hsl(0, 0%, 20%),
  "grey3": hsl(0, 0%, 24%),
  "grey4": hsl(0, 0%, 32%),
  "navy": hsl(240, 100%, 25%),
  "blue": hsl(240, 100%, 50%),
  "midnight_blue": hsl(240, 64%, 27%),
  "maroon": hsl(0, 100%, 20%),
  "dark_red": hsl(0, 100%, 30%),
  "red": hsl(0, 100%, 50%),
  "green": hsl(120, 44%, 34%),
  "forrest_green": hsl(120, 100%, 20%),
  "dark_green": hsl(120, 100%, 12%),
  "turquoise25": hsl(174, 55%, 20%),
  "turquoise30": hsl(174, 72%, 30%),
  "turquoise40": hsl(174, 72%, 40%),
  "turquoise60": hsl(174, 72%, 60%),
  "oldThemeColor3": hsl(174, 80%, 27%),
);

:root {
  @each $key, $value in $colors {
    --#{$key}: #{$value};
  }

  // color pallette
  // consider: swapping 4 and 5 here
  // themeColor 3 is darker than 2
  --themeColor1: var(--white);
  --themeColor2: var(--turquoise30);
  --themeColor3: var(--turquoise25);
  --themeColor4: var(--grey4);
  --themeColor5: var(--grey2);
  --themeColorMain: var(--themeColor5);
  --themeColorAccent: var(--themeColor2);

  // not sure about this var name @ this var name
  --themeColorLight: var(--themeColor1);

  // End Colors
  ///////////////////////////////////

  ///////////////////////////////////
  // Fonts
  --Verdana: verdana, geneva, arial, helvetica, sans-serif;
  --TNR: "Times New Roman", times, serif;
  --Courier: "Courier New", courier, monospace;
  --Helvetica: "Helvetica Neue", helvetica, sans-serif;
  --MSSans: "MS Sans Serif", geneva, sans-serif;
  --SegoeUI: "Segoe UI", arial, helvetica, sans-serif;
  --Tahoma: tahoma, verdana, segoe, sans-serif;
  --Arial: arial, helvetica, san-serif;
  --Roboto:
    "Roboto",
    -apple-system,
    blinkmacsystemfont,
    "Segoe UI",
    roboto,
    "Helvetica Neue",
    arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  --Ubuntu:
    "Ubuntu",
    -apple-system,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  --ForkAwesome: forkawesome, serif;
  --SFMono-Regular: "SFMono-Regular", menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;
  // this should be named better
  // this was snagged from OMGUbuntu's sit e
  --test: -apple-system, blinkmacsystemfont, "Segoe UI", helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  ///////////////////////////////////////////////////////////////////////////////////
  // font sizes
  // i think the idea here (wait until webhost is back online to test this) is
  // to consolidate font sizes instead of having CSS for all different sections that are
  // slightly different sizes .. i may still have font-size: HOWEVER they will be one of these vars
  // since i cant test this right now ... I am not sure what to use where though
  --fs-small: 0.75rem;
  --fs-normal: 1.05rem;
  --fs-large: 1.15rem;
  //////////////////////////////////////
  // header font sizes
  --h1: 3rem;
  --h2: 2.25rem;
  --h3: 1.5rem;
  --h4: 1.25rem;
  // guess
  --h5: 1.1rem;

  // fork awesome
  --fa-arrow-right: "\f105";
  --fa-arrow-down: "\f107";
}
