h3
  | Common Programs needed to remove these infections
p
  | (If you don&apos;t beleive me, go to the BleepingComputer&apos;s page that I link to below and you will see they generally all recommend the same programs/apps. Unless noted, all of these programs/tools are 100% free.
| 


    
h3 
  | Malware (legit of course) Scanners

		.card
		  .card-block
		    h4.card-title 
					| a(href='http://www.malwarebytes.org/', target='_blank') MalwareBytes
		    p.card-text
		      | - I am sure I have not seen a tutorial yet that DOESN&apos;T include Malwarebytes.





 
|   
p.boldText
  | Misc Tools (not always needed, but I for instance have updated copies of all of these &quot;just in case&quot;). These can be used to help clean, badly infected computers:
  br

ul
  li
    a(href='http://www.bleepingcomputer.com/combofix/how-to-use-combofix') ComboFix
    |  - I have seen ComboFix, first-hand help computers that were badly infected; new users, should only use this if reformatting SEEMS like the only hope, after MalwareBytes &quot;failed&apos;. Note: At that time I had no idea about RKill (listed below) so instead of running Combofix, running RKill THEN Malwarebytes, may have worked as well
  |       
  |     
  li
    a(href='http://preview.tinyurl.com/2dnzgjf') RKill
    |  - Listed on many tutorials as what to use before Malwarebytes on pesky infections that contain rootkits that try to disable Malwarebytes from cleaning your computer
  |       
  |     
  li
    a(href='http://www.bleepingcomputer.com/virus-removal/how-to-use-smitfraudfix') SmitfraudFix
    |  - Created to remove rouge scanners and malware
  |       
  |     
  li
    a(href='http://www.bleepingcomputer.com/virus-removal/remove-tdss-tdl3-alureon-rootkit-using-tdsskiller') TDSSKiller
    |  - 
    br
|     
|   
p.boldText
  | Anti-viruses
|     
|   
p
  | Both of these top two scanners have similar (Great) detection rates and are &quot;neck and neck&quot; as the best Free anti-virus if you ask me. Some sites say Avira is difficult to use, but I disagree.
|     
|   
ul
  li
    a(href='http://www.avast.com/free-antivirus-download', target='_blank') Avast
    |  - FREE
  |         
  li
    a(href='http://www.avira.com/en/avira-free-antivirus') Avira
    |  - FREE
    br
|     
blockquote
  p
    | (extra comments) 
    br
    |         
    |       
    span.boldItalics
      | Avira Pros
    | : NO system lag on any of my computers that I have EVER run it on;
  |       
  p
    span.boldItalics
      | Avast Cons
    | : My laptop from 2002, has SLIGHT lag running Avast. (compared to Avira).. .new computers run Avast without any system resource lag of any kind (its up to a &quot;computer-by-Computer&quot; basis
|     
|   
p
  | Those are Free, but if you feel the need to want to pay for one (for whatever reason), try (3) Eset NOD32 , which provides great protection and no system lag
|     
 
p.header
  | &quot;Wait! ... Some people claim that Free Antivirus dont remove the actual infections, and I have to buy an expensive scanner to actually remove anything&quot;
|     
p
  | 100% FALSE !!
|     
p
  | PLEASE do not let people talk you into &quot;you get what you pay for&quot; .. with the few exceptions, most of my favorite and security site &quot;best programs&quot; are free.
|     
p.boldText
  | Things Pro (paid) versions of programs tend to have, the free programs do not:
|   
ul
  li
    | Better tech support from company when you actualy purchase the software&apos;s Pro version         
    ul
      li
        | This fact I even question, since at one point,  I had questions for Comodo AND Avast, and (via forum) both responded promptly, and answered my question(s) completely)
  |       
  li
    | The detection rate of freewares (like Avast and Avira) are 100% the same.  THERE IS NO DIFFERENCE.
  |       
  li
    | Paid Programs tend to bundle AV&apos;s + Parental Control Software + Firewalls + &quot;Spam blockers&quot; together .          
    ul
      li
        | I find that using a different program for certain tasks tend to provde better security and allows me to choose what programs I use for what task.
        br
