//output:distroTable.html

.card 
  .card-block 
  .card-text 
    .row
      .col-lg-6
        div Homepage:
        |  <?php echo $homepage; ?> <br />

        div Distro &quot;Family&quot;:
        |  <?php echo $family; ?>
        div Forums:
        |  <?php echo $forum; ?>
        div Destop Options:
        |  <?php echo $DE; ?>
        div Software Based:
        |  <?php echo $software; ?>
      
      .col-lg-6
        div Lastest Version:
        |  <?php echo $version; ?>
        
        div Download:
        | <?php echo $download; ?>
        
        div Distrowatch Link:
        |  <?php echo $distroWatch; ?>
        div Targeted User:
        |  <?php echo $target; ?>
        div  Similar Distros:
        |  <?php echo $similar; ?>
