//output:distroTable.html

.card 
  .card-block 
    .card-text 
      .row
        .col-lg-6
          .font-weight-bold Homepage:
          |  <?php echo $homepage; ?> <br />

          .font-weight-bold Distro &quot;Family&quot;:
          |  <?php echo $family; ?>
          .font-weight-bold Forums:
          |  <?php echo $forum; ?>
          .font-weight-bold Destop Options:
          |  <?php echo $DE; ?>
          .font-weight-bold Software Based:
          |  <?php echo $software; ?>
        
        .col-lg-6
          .font-weight-bold Lastest Version:
          |  <?php echo $version; ?>
          
          .font-weight-bold Download:
          | <?php echo $download; ?>
          
          .font-weight-bold Distrowatch Link:
          |  <?php echo $distroWatch; ?>
          .font-weight-bold Targeted User:
          |  <?php echo $target; ?>
          .font-weight-bold  Similar Distros:
          |  <?php echo $similar; ?>
