<?php

	$the_title ='Xmetalfanx\'s Homepage - Tech Center - Audio Enhancing';

?>

p Optimizing Audio is something that some people don't even think about. They just download music from the internet and assume that,  that is the best it could be. Like Graphics taken from digital cameras, when recording audio, you want it to sound the best it can and then do  editing. If the Camera is really bad (or in this case the audio) connection is &quot;bad&quot;, audio editing can only help so much. It can help the audio you recorded... not perform miracles 
      
   ![Mp3 Trim Icon](../progIcons/media/mpTrim PRO_MAINICON.png) **Mp3 Trim Pro**     

p A good program I have found for mp3s is [Mp3 Trim Pro](http://www.logiccell.com/%7Emp3trim/).  Many times I have found when making an Mp3 CD, that the volume varies so that I have to turn the volume way up on one song, and then next song is way too loud when playing. Mp3Trip Pro can
      
p 
 	| a(href="../faq/Record/gettingStarted.php" target="_blank") Normalize 
	| (many freeware programs can do this, as such as audio editors, such as the one contained in  Nero&#39;s cd-burning software). This can bring volumes of tracks with low volumes up to a certain level, and lower volumes of tracks with high volume audio down to the same level.
       
p Mp3 Trim Pro can also eliminate long bits of silence before or after audio in the mp3. This usually happens when recording audio where you press the record button before the play, creating  extra space in the track before the audio begins and ends.


       
