<?php

	$the_title = 'Xmetalfanx\'s Homepage - TechCenter  - Id3 Tags';
	$the_content = <<<EOD

      <p class="justify">ID3 Tags are tags that are built into Mp3s that let media players know facts about the Mp3, that can help the player (this all depends on the program that you are using) organize your music collection.  Some of the most common mp3 tags are Artist, Album, Title, Year, and Genre. These tags are also used by many <a href="../Templates/securityNTemplate.dwt.php">file sharing programs</a> when you search their networks. Unfortunately, ....many people have the wrong tags, and now the RIAA is flooding the networks with false (bad) tracks, this can be a pain. I will try to explain how easy it can be to fix or even complete mp3 tags.</p>
      
      <p class="header">Organizing </p>
      
      <p class="justify">If you organize your mp3s into folders, it is much easier to find and handle them. Say you have all your mp3s that you got in March (all genres that is), it may be hard to find what you want to play. I
        personally organize them by <strong>Genre</strong>, then <strong>Artist/Band</strong>, then <strong>album</strong> (title that is). I also have a Misc. folder for anything left over... not to get too picky.  This can also help you if you have a large collection and you have not really used ID3 tags before. I will use my personal favorite band for this example</p>

      <p class="header">Software</p>
      <p align="justify">What software should You use?... Well Like always that
        is a matter of a opinion, however, I have always liked a program called
				<a href="../screenshots/ImgBurn.jpg">Tagscanner</a>, which is freeware.</p>

			<p align="justify" class="header">August 2008 Update:</p>

			<p align="justify"> &quot;'Media Monkey&quot; and &quot;Tag Scanner&quot; now have a level of &quot;Online Lookup&quot; for Id3 tags that when i previously wrote this, was only found in Musicmatch. Also, Winamp 5.54 also supports ID3 Tag lookup (although all these programs tend to use different services....) ... All three of these options are FREE </p>
      
      <p align="justify">
			<span class="boldUnderline">WORD OF CAUTION</span>:
			DOUBLE CHECK YOUR NEWLY CHANGE ID3 TAGS BEFORE YOU APPLY THEM... some programs return results that ...
			ARE NOT EVEN CLOSE TO WHAT THEY SHOULD BE .. .especially for &quot;rare&quot; music or &quot;unknown artists&quot;
			(like some you may find on Myspace) ... </p>

    </div>

?>
