@import "includes";
@import "_sassHeader";
@import "GAOTD";
@import "startpage";

.container
{
  width: 96%;
}

.card-warning
{
  background-color: rgb(255, 255, 255);

}

.navigation
{
  max-height: 80px;
}

header ul
{
  position: absolute;
  right: 0;

}
.footer-2
{
  background-color: rgb(51, 51, 51);


}
