@import "includes";
@import "_sassHeader";


.container
{
  width: 96%;
}

.card-warning
{
  background-color: $white;

}

.navigation
{
  max-height: 80px;
}

header ul
{
  position: absolute;
  right: 0;

}
