@import "_sassHeader";


.mainProgCat
{
  background-color: #660000;
  color: $white;
  clear: both;
  }


.noBottomBorder
{
  border-bottom: 0px;
  margin-bottom: 0px;
}


/* Each section/Headline for the leftbar of the main page */
.section {
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  line-height: 20px;
  overflow-x:	auto;

	a:link
   {
  		margin-top: 100px;
  		margin-bottom: 20px;
		}

}

.shading {
  background-color: #cccccc;
  color: $black; }

td.paddingTwo
 {
  padding: 2px;
  }

td.paddingFive
{
  padding: 5px;
  }


#leftUpdateTable td {
  font-family: $Arial;

}

.ul {
  background-color: transparent;
  color: $black;
  padding-left: 40px;
}

li {
  background-color: transparent;
  color: $black;
  padding-left: 10px;
  list-style-position: outside;
  list-style-type: disc;
}



  #wideCol2
{
  .programSection
  {
    border: $solidBorder;


  .TwoColumns
  {
      column-count: 2;
      column-gap: 10px;

     img
      {
        display: none;
      }
  }


  .ThreeColumns
  {
      column-count: 3;
      column-gap: 10px;
         img
          {
            display: none;
          }

         li
         {
            list-style-type: none;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        h1
        {
          font-size: 18px;
        }

        h2
        {
          font-size: 16px;
        }


   }
 }
}
