@import "sassHeader";

/* Start of CSS */

#footer
{
	margin-left: 18px;
}

p.center {
	@include autoMargin();
	width: 100%;
}

table
{
		.leftSmallTable {
			border: $solidBorder;
			clear: right;
			display: block;
			float: left;
			@include autoMargin();
			padding: 5px;
			text-align: justify;
		}

		.leftTable td, .rightTable td {
			border-spacing: 20px;
		}

		.leftTable
		{
			border: $solidBorder;
			clear: right;
			display: block;
			float: left;
			font-weight: bold;
			margin-left: 50px;
			margin-right: auto;
			padding: 2px;
		}

		.rightSmallTable {
			border: $solidBorder;
			clear: none;
			display: block;
			float: right;
			margin-left: auto;
			margin-right: 50px;
			padding: 5px;
			text-align: justify;
		}

		.rightTable
		{
			border: $solidBorder;
			clear: none;
			display: block;
			float: right;
			font-weight: bold;
			margin-left: auto;
			padding: 2px;
		}

		.tableNoBorderCenteredFiftyPercent{
			border: none;
			margin-left: auto;
			margin-right: auto;
			width: 50%;
		}

		.virtSmallLTable
		{
					border: $solidBorder;
					clear: right;
					display: block;
					float: left;
					@include autoMargin();
					padding: 5px;
					text-align: justify;
				}
		.virtRTable
		{
					border: $solidBorder;
					clear: none;
					display: block;
					float: right;
					font-weight: bold;
					margin-left: auto;
					padding: 2px;
				}

		.virtLTable
		{
					border: $solidBorder;
					clear: right;
					display: block;
					float: left;
					font-weight: bold;
					margin-left: 50px;
					margin-right: auto;
					padding: 2px;
		}

		.virtSmallRTable
		 {
					border: $solidBorder;
					clear: none;
					display: block;
					float: right;
					margin-left: auto;
					margin-right: 50px;
					padding: 5px;
					text-align: justify;
		}

}

td
{
	background-color: $white;
	color: $black;
	font-family: "Segoe UI",Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight: normal;
	text-align: left;
	vertical-align: top;


			.progDecription
			{
				width: 75%;
			}

			a:link
			{
			background-color: transparent;
			color: rgb(0, 153, 0);
			text-decoration: none;
			vertical-align: top;
			}

  }

td.fiftyPercent,th.fiftyPercent
{
	width: 50%;
}

th,th a:link
{
	background-color: $white;
	background-image: url(../graphics/navbar_trials/christmas/darkgreen1.png);
	color: rgb(0, 0, 0);
	font-size: 9pt;
	font-weight: bold;
}

/* Test for CSS relplacements for tables in software Section */
.centerTables{
	clear: none;
	display: block;
	font-weight: bold;
	margin-bottom: 100px;
	@include autoMargin();
	width: 60%;
}
.col1Indent{
	margin-bottom: 0px;
	padding-left: 25px;
	padding-top: 0px;
}
.fiftyPX{
	padding-bottom: 50px;
}
.generalTxt{
	font-family: "Segoe UI","Courier New",Courier,monospace;
	font-size: 11pt;
}


.header

{
	background-color: rgb(255, 255, 102);
	background-image: url(../graphics/navbar_trials/tan/tan3.jpg);
	border-bottom: 1px ridge rgb(0, 0, 153);
	border-left: $solidBorder;
	border-right: $solidBorder;
	border-top: $solidBorder;
	color: $maroon;
	font-family: $Verdana;
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 2px;
	overflow: visible;
	padding-bottom: 0px;
	padding-right: 2px;
	padding-top: 2px;
	text-align: left;
	width: 98%;

		a:link
		{
			background-color: transparent;
			color: $maroon;
			text-decoration: none;
		}
		a:hover
		{
			background-color: $maroon;
			color: rgb(255, 204, 153);
		}

}

#col1 .header, a:link .header
{
	background-color: rgb(255, 255, 102);
	background-image: $tanImage3;
	border-bottom: 1px ridge rgb(0, 0, 153);
	border-left: $solidBorder;
	border-right: $solidBorder;
	border-top: $solidBorder;
	color: rgb(102, 0, 0);
	font-family: $Verdana;
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 2px;
	overflow: visible;
	padding-bottom: 0px;
	padding-right: 2px;
	padding-top: 2px;
	text-align: left;
	width: 98%;
}



.progTableDesc {
	padding-left: 8%;
	padding-right: 6%;
}


.progTables {
	clear: both;
	color: $white;
	display: block;
	float: left;
	margin-bottom: 20px;
}

.progTablesName {
	background-color: rgb(255, 255, 102);
	font-size: 16px;
	font-weight: bolder;



	 a:link
	{
		vertical-align: middle;
		font-weight: bolder;
	}
}

/* same as the original (sort of) ... for Items that do not have a decription under it */
.progTablesName2 {
	width: 60%;
}

nav {

	@include borderRad( 6px );
	margin-bottom: 1px;
	padding-left: 1%;

	padding-bottom: 2%;
	padding-right: 1%;
	text-align: center;

	background-image: none;
	@include display-flex;
	@include flex-direction(row);

	a:link, a:visited {
		font-size: 15px;
		text-align: center;
		padding-right: 2%;
		padding-left: 2%;
		clear: both;
		border-right: solid 1px $white;
		height: auto;
		color: $white;


		text-decoration: none;
		display: block;
	}


}


#siteInfo
{
	padding-bottom: 20px;

		a:link
		{
		clear: both;
		color: $maroon;
		padding-bottom: 10px;
		}
}

#valRight{

	float: left;
	margin-right: 10%;
	width: 50%;
}


.TDRight{
	border: $solidBorder;
	clear: none;
	float: right;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
}



.topBanner{
	display: none;
	padding-bottom: 20px;

}

.updateDate{

	color: $maroon;
	font-size: 11px;
	line-height: 20px;
}


/* UpdateSummary is intended to Give a short Update so the main page's Description does not Run Too long */
.UpdateSummary{

	color: $maroon;
	margin-bottom: 1px;
}

#bottomHeader{
;
	overflow: hidden;
	padding-left: 0;
	width: 100%;
	border-top: $solidBorder;
	font-size: 15px;

}

#col1
{
    color: $maroon;
	font-size: 14px;

		.header
		{
			margin-top: 0px;
		}

		a:link
		{

			color: inherit;
			font-weight: bold;
			line-height: 20px;
			margin-bottom: 200px;
		}

		a:hover
		{
			background-color: #ffffcc;
			color: #660000;
		}

		li
		{
			margin-left: 1px;
			padding-left: 20px;
			text-align: left;
		}

		img
		{ display: none; }

}

#col2
{

	color: $lightMaroon;
	margin-right: 10px;
	/* font-family:"MS Sans Serif",Geneva,sans-serif; */
	padding-left: 3%;
	padding-right: 3%;
	overflow-x: auto;

		li
		{
			margin-left: 1px;
			padding-left: 20px;
			text-align: left;
		}
}

#col3 img {
	display: none;

}

#mainBody
{
	color: rgb(153, 0, 0);
	margin-bottom: 0px;
	padding-bottom: 0;
	/* padding-left: 7px; */
	padding-top: 5px;
	vertical-align: top;
	z-index: 99;

     /* New way for the Software Section */
		.leftIcon
		{
			float: left;
			width: 32px;
			height: 32px;
			padding-right: 10px;
		}

}

#copyrightFooter
{
	background-color: #ffffcc;
	clear: none;
	color: rgb(0, 0, 153);
	float: right;
	font-size: 11px;
	margin-bottom: 2px;
	padding-right: 5px;
	padding-top: 3px;
	/* position: static; */
	text-align: right;
	vertical-align: baseline;
	background-image: $tanImage3;
	background-repeat: repeat-x;
	background-position: top;
}


#googleImage, #mainSupportIcons, #bannerText {
	display: none;

}

#HorzSubMenu
{
	background-color: rgb(255, 255, 153);
	background-image: $tanImage1;
	border: 1px dashed $maroon;
	color: $maroon;
	display: block;
	font-size: 12px;
	font-weight: bold;
	@include autoMargin();
	margin-top: 0;
	padding-left: 5px;
	padding-top: 5px;
	vertical-align: bottom;
	width: 93%;

		a:link, a:visited
		{
			background-color: transparent;
			color: rgb(0, 0, 0);
			font-family: $TNR;
			font-size: 12px;
			font-variant: small-caps;
			font-weight: bold;
		}

		 .header a:link{
			background-color: transparent;
			border-bottom-color: rgb(0, 255, 255);
			color: rgb(255, 255, 153);
		}
}




#justify,p.justify,.justify{
	text-align: justify;
}
#LBottomIcons, form.StartPageStyle, #StartPageStyle, #mainPageSupportIMG img, #GAOTD, .StartPageStyle, #col2 img, #col3, #support {
	display: none;
}
#left,p.left,.left{
	text-align: left;

#mainBody
{

		.iconCenter,center,img.center,
		{
			display: block;
			@include autoMargin();

		}

		.progTablesName a:link
		{
			vertical-align: middle;
			font-weight: bolder;
		}

		/* New way for the Software Section */
		.leftIcon
		{
				float: left;
				width: 32px;
				height: 32px;
				padding-right: 10px;
		}

		.twoCols
		{
			clear:	both;
			@include column-count(2);
			@include column-width(400px);
			@include column-gap(10px);
			margin-bottom: 20px;
			display: block;

			ul, li
			{
				list-style-type: none;
			}

			 a:link, a:visited, a:hover
			 {
				text-decoration:none;
			 }

		}

		.threeCols
		{
		  @include column-count(3);
		  @include column-width(250px);
		  margin-bottom: 20px;

			 a:link, a:visited, a:hover
			 {
				text-decoration:none;
			 }

		}
}

}


img.center,table.center, center{
	display: block;
	@include autoMargin();


#mainBody a:link,#col1 .header a:link{
	background-color: transparent;
	color: rgb(0, 0, 153);
}


#mainNavTable
{

		a:hover
		{
			background-color: transparent;
			color: rgb(255, 255, 153);
			cursor: crosshair;
			text-shadow: 2px 1px 2px rgb(102, 0, 0);
		}

		ul li
		{
			list-style: none;
			display: inline-block;
			padding-right: 1%;
			border-right: 1px solid rgba(0, 0, 0, .65);

		}
}



/* New way for the Software Section */
.leftIcon
{
	float: left;
	width: 32px;
	height: 32px;
	padding-right: 10px;
}


}
#wideCol2
{
	overflow-x: auto;
}


#navButton
{
   display: none;
	width: 55px;
	height: 55px;
	border: 1px solid $black;
	background-color: navy;
	left: 0;
	top: 0;
	position: fixed;

	align-items: center;
	color: $white;


    div
    {

		padding-top: 5%;
		@include autoMargin();
		width: 50%;
		height: 7%;
		background: $white;

    }
}

form.StartPageStyle, #StartPageStyle {
    display: none;

}


	nav
		{
			border-radius: 0;
			display: block;


			a:link
			{
					border-right: 0px;
					margin-bottom: 20px;
					font-size: 16px;

			}

		}
