@import "_sassHeader";


.addonTable {
  background-color: transparent;
  border: $solidBorder;
  border-collapse: collapse;
  color: black;
  font-weight: bold;
  margin-bottom: 0px;
  @include   autoMargin();
  margin-top: 0px;
  overflow: visible;
  @include padding(0 0 0 0);

  text-align: left;
  width: 98%;
}


#programs
{

     .title img
    {
    	width: 32px;
    	height: 32px;
    	padding-bottom: 10px;
    }

     ul li
    {
    	border: 2px #000000 solid;
    	margin-bottom: 20px;
    	margin-top: 10px;
    	list-style-type: none;

      @include padding(3px 4px null 2px);

		  border-radius: 8px;
      box-shadow: 4px, 3px, 5px, $black;

    }

     img
      {
      	width: 32px;
      	height: 32px;
      	float: left;
      	padding-right: 15px;
      }


       .description
      {
      	/* border: 1px dotted #000000; */
      	text-align: justify;
      	margin-bottom: 10px;
      	background-color: #FFFFCC;
      	font-weight: normal;
      	font-family: Roboto,arial,sans-serif;
      	font-size: 13px;

        @include margin(null 0 0 0);
      	padding-top: 2px;
      	padding-bottom: 2px;
      }

     .description ul, .description li
      {
      		border-bottom: 0px ;

      }

     .title,  p.title
      {
      		font-size: 15px;
      		font-weight: bold;
      		border-bottom: 1px #000000 solid;
      		margin-bottom: 5px;

          @include padding(2px 4px null 10px);

      		margin-top: 0px;
      		clear: both;
      		padding-bottom: 20px;

          @include size(98%, 25px);
      }

}

#programs ul li  ul li, #browser ul
{

	border: 0px;
	list-style-type: circle;

  box-shadow: 0px, 0px, 0px $black;

}
