@import
  "3-custom/1-modules/modules-dir",
  "3-custom/2-variables/variables-dir";


#bottomLinks {
  display        : flex;
  flex-direction : row;
}

// Col1 menus
// I already forgot what I thought I needed to do this for ...
#col1Menus
{
  .btn
  {
    display: block;

    color: $white;
    background-color: $charcoalGrey;

    @include margin(10px, 0, 10px, 5px);
  }

}