@import "3-custom/1-modules/modules-dir";
@import "3-custom/2-variables/variables-dir";

.container
{
  width: 96%;
}

.card
{
  padding: 10px;

  a:link img, a:visitied img, a:hover img
  {
    height: 400px;
    width: 600px;
  }


    .card-header
    {

      @include margin(null auto null auto);
      width: 100%;

        a:link, a:visited, a:hover
          {
            color: lightgrey;
          }

    }



  .card-block
  {
    padding: 0px;

    .card-text
    {
      @include padding( 0 0 0 0);
      @include margin ( 0 0 0 0);
      width: 99%;

      font-size: 17px;
      text-align: justify;

      a:link
      {
        color: navy;
        background-color: transparent;
      }
    }
  }

}

.card-warning
{
  background-color: rgb(255, 255, 255);
}


.accordion-tabs-minimal
{
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 2px;
  @include margin( null null 15px null);
}

#bottomLinks
{
  display: flex;
  flex-direction: row;
}
