@import "_colors";
@import "_fonts";
@import "_images";
@import "_mixins";

// Based on Boostrap naming

.w-95
{
    width: 95%;
}
.w-90
{
    width: 90%;
}

.w-80
{
    width: 80%;
}

.w-60
{
    width: 60%;
}