.panel.panel-default
  .panel-heading
    h3.panel-title Introduction
  |   
  .panel-body
    p
      | This section will contain PPA information and other linux program information not suitable for the
      | TechHQ Software section which contains main cross platform


.panel.panel-default
  .panel-heading
    h3.panel-title Internet Programs
  |   
  .panel-body


.panel.panel-default
  .panel-heading
    h3.panel-title Multimedia Programs
  |   
  .panel-body
    h3 Audio Programs
    | &#x9;&#x9;&#x9;
    ul
      li
        a(href='http://audacious-media-player.org/') Audacious
        |  - Audio Media Player
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      li
        a(href='https://www.clementine-player.org/') Clementine
        | - Audio Media Player and Organizer
    | &#x9;&#x9;
    h3 ID3 Tag Editor
    | &#x9;&#x9;&#x9;
    ul
      li
        a(href='https://wiki.gnome.org/Apps/EasyTAG') EasyTag
    | &#x9;&#x9;
    h3 Video Programs
    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
    ul
      li
        a(href='https://mpv.io/') MPV
        |  - Video Player that is cross platform and Open Source
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      li
        a(href='http://smplayer.sourceforge.net/') SMPlayer
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      li VLC
.panel.panel-default
  .panel-heading
    h3.panel-title Productivity Programs
  |   
  .panel-body
    ul
      li
        a(href='https://atom.io/') Atom
        |  - A Haxable Text Editor
      | &#x9;&#x9;&#x9;
      li
        a(href='https://www.geany.org/') Geany
    | &#x9;
    h3 Office Suites
    | &#x9;&#x9;
    ul
      li
        a(href='https://www.libreoffice.org/') Libre Office
      | &#x9;&#x9;&#x9;
      li
        a(href='http://wps.com/') WPS Office
.panel.panel-default
  .panel-heading
    h3.panel-title System Tools Programs
  |   
  .panel-body
    ul
      li
        a(href='http://www.teejeetech.in/') Aptik
        |  - Backup and Restorer Program for Ubuntu-based distros
      | &#x9;&#x9;&#x9;
      li
        a(href='https://www.bleachbit.org/') Bleachbit
        |  -  Cache, and Temp file Cleaner
      | 
      li Synapse -  Keyboard App Launcher
      | &#x9;&#x9;&#x9;
      li
        a(href='http://peterlevi.com/variety/how-to-install/') Variety
      | &#x9;&#x9;&#x9;
      li
        a(href='https://veracrypt.codeplex.com/') Veracrypt
    | &#x9;
    h3 Docks
    | &#x9;
    ul
      li
        a(href='http://wiki.go-docky.com/index.php?title=Welcome_to_the_Docky_wiki') Docky
      | &#x9;
      li Plank

<?php include $sitePath . "/modules/linux/linuxBaseFooter.tpl"; ?>
