//output:favoritePPAs.html

h1 MASS PPA
ul
  li Ambient Noise
  | 
  li Grub Customizer
  | 
  li Lollypop Music Player
  | 
  li MakeMKV PPA
  | 
  li Media Elch Media renamer/Meta info downloader
  | 
  li Libre Office PPA
  | 
  li Noobslab Conky PPA
  | 
  li Altyo - Drop Down Alternative
  | 
  li Vocal PPA
| 


ul.accordion-tabs-minimal
li.tab-header-and-content
  a.tab-link.is-active(href='#') MASS PPAs all at once 
		.tab-content
		h4 With per-PPA Confirmation
			code
			| sudo add-apt-repository ppa:costales/anoise &amp;&amp; sudo add-apt-repository
			| ppa:danielrichter2007/grub-customizer &amp;&amp; sudo add-apt-repository ppa:gnumdk/lollypop &amp;&amp; sudo add-apt-repository ppa:heyarje/makemkv-beta &amp;&amp; sudo add-apt-repository ppa:kvibes/mediaelch &amp;&amp; sudo add-apt-repository ppa:libreoffice/ppa &amp;&amp; sudo add-apt-repository ppa:linvinus/altyo &amp;&amp; sudo add-apt-repository ppa:nathandyer/vocal-daily &amp;&amp; sudo add-apt-repository ppa:noobslab/noobslab-conky
			
			h4 Without per-PPA Confirmation
			code
			| sudo add-apt-repository -y ppa:costales/anoise &amp;&amp; sudo add-apt-repository -y
			| ppa:danielrichter2007/grub-customizer &amp;&amp; sudo add-apt-repository -y ppa:gnumdk/lollypop &amp;&amp; sudo add-apt-repository -y ppa:heyarje/makemkv-beta &amp;&amp; sudo add-apt-repository -y ppa:kvibes/mediaelch &amp;&amp; sudo add-apt-repository -y ppa:libreoffice/ppa &amp;&amp; sudo add-apt-repository -y ppa:linvinus/altyo &amp;&amp; sudo add-apt-repository -y ppa:nathandyer/vocal-daily &amp;&amp; sudo add-apt-repository -y ppa:noobslab/noobslab-conky


li.tab-header-and-content
  a.tab-link(href='#') 
  |     
  .tab-content
    .card
      .card-block
        h4.card-title Individual PPA List 
      .card-text
				h3 Ambient Noise
				p
				  code sudo add-apt-repository ppa:costales/anoise
				| 
				h3 Grub Customizer PPA for customizing the Grub Boot Loader
				p
				  code sudo add-apt-repository ppa:danielrichter2007/grub-customizer
				|
				h3 Krita Editor
				p
				  code sudo add-apt-repository ppa:dimula73/krita
				| 
				h3 Lollypop Music Player
				| 
				p
				  code sudo add-apt-repository ppa:gnumdk/lollypop
				| 
				h3 MakeMKV
				p
				  code sudo add-apt-repository ppa:heyarje/makemkv-beta
				| 
				h3 Kubuntu Plasma 5, backports
				p
				  code sudo add-apt-repository ppa:kubuntu-ppa/backports
				| 
				h3 for assisting naming files for Kodi
				p
				  code sudo add-apt-repository ppa:kvibes/mediaelch
				| 
				h3 PPA for the LATEST Libre Office version
				p
				  code sudo add-apt-repository ppa:libreoffice/ppa
				| 
				h3 ?? guake drop down terminal alternative?
				p
				  code sudo add-apt-repository ppa:linvinus/altyo
				| 
				h3 Vocal Daily PPA
				p
				  code sudo add-apt-repository ppa:nathandyer/vocal-daily
				| 
				h3 Noobslab Conky PPA
				p
				  code sudo add-apt-repository ppa:noobslab/noobslab-conky
				| 
				h3 for &ldquo;Variety WP changer&rdquo;
				| 
				p
				  code sudo add-apt-repository ppa:noobslab/noobslab-conkypeterlevi/ppa
				| 
				h3 Conky-manager, aptik, timeshift
				p
				  code sudo add-apt-repository ppa:teejee2008/ppa
				| 
				h3 Veracrypt
				p
				  code sudo add-apt-repository ppa:unit193/encryption
				| 
				h3 Atom and/or Brackets Editors PPA
				| 
				p
				  code
				    | sudo add-apt-repository ppa:webupd8team/atom &amp;&amp; sudo add-apt-repository ppa:webupd8team/brackets

<?php include $sitePath . "/modules/linux/linuxBaseFooter.tpl"; ?>
