//output:footer.html

// WHY HAVE this here? ... this is just going to muttle things up where i am closing <div> tags in different locations 
// Troubleshooting will be a pain, in my opinion 
</div> 


// ? Shouldn't the closing of "col2" be before this?
footer.m-0.p-3
  .col-lg-4
    | Site made with:
    
    // HTML 5
    a(href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank")
      i.fab.fa-html5.fa-2x

    // CSS 3 
    a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3" target="_blank")    
      i.fab.fa-css3.fa-2x
    
    // Sass/Scss styling 
    a(href="https://sass-lang.com/" target="_blank")  
      i.fab.fa-sass.fa-2x
    
    // In Linux 
    i.fab.fa-linux.fa-2x
  
  // The second of the two MAIN columns 

  .col-lg-8(style="float:right;text-align: right;")
    i.far.fa-copyright.mr-3
      span Xmetal/Xmetalfanx 2013-*
  
      a(href="https://gitlab.com/Xmetal", target="_blanks")
        i.fab.fa-gitlab
        
      a(href='https://github.com/Xmetalfanx', target='_blank')
        i.fab.fa-github.fa-2x
      |       
      a(href='https://twitter.com/Xmetalfanx', target='_blank')
        i.fab.fa-twitter.fa-2x
      |       
      a(href='https://www.youtube.com/user/Xmetalfanx', target='_blank')
        i.fab.fa-youtube.fa-2x
      |       
      a(href='https://plus.google.com/+Xmetalfanx2014/about', target='_blank')
        i.fab.fa-google-plus.fa-2x
