//output:footer.html

footer.row.clearfix
  .col-lg-6
    div Validation graphics go here, later
    
  .col-lg-6
      span Xmetal/Xmetalfanx 2013-*
      
      .footer-social
        a(href='https://twitter.com/Xmetalfanx', target='_blank')
          img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png', alt='Twitter')       

          a(href='#')
            img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png', alt='YouTube')

          a(href="https://plus.google.com/+Xmetalfanx2014/about" target="_blank")
            img(src="http://xmetal.x10.mx/graphics/gplusfooter.png" alt="Google Plus")
