//output:frontFooter.html

footer.footer-2(role='contentinfo')
  ul
    li
      span Validation Gif Here
    |           

  |     
  .footer-secondary-links
    ul
      li
        a(href='javascript:void(0)') Xmetal/Xmetalfanx 2013-*

    |       
    ul.footer-social
      li
        a(href='https://twitter.com/Xmetalfanx', target='_blank')
          img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png', alt='Twitter')
      |         
      li
        a(href='javascript:void(0)')
          img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png', alt='YouTube')



  .container-fluid.fixed-bottom
    .row.bg-inverse(role="footer")
      .col-lg-6
        
      .col-lg-6
        span 
