//output:frontnav.html

header.navigation
  .navigation-wrapper
    a.logo.hidden-md-down(href='http://xmetal.x10.mx') Xmetal's Homepage
    |     
    a#js-mobile-menu.navigation-menu-button(href='http://xmetal.x10.mx') Xmetal's Homepage
    |     
    nav
      ul#js-navigation-menu.navigation-menu.show
        li.nav-link
          a(href='/linuxHQ/index.php') Linux HQ
        |         
        li.nav-link
          a(href='/techHQ/index.php') Tech HQ
        |         
