//output:frontpageNav.tpl

nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  |   
  a.navbar-brand(href='#') Navbar
  |   
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='http://xmetal.x10.mx')
          | Home 
          span.sr-only (current)
      |       
      li.nav-item
        a.nav-link(href='/linuxHQ/index.php') Linux HQ
      |       
      li.nav-item
        a.nav-link(href='/techHQ/index.php') Tech HQ
      |       
