//output:frontnav.html

nav.navbar.navbar-expand-lg.navbar-dark
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerMain', aria-controls='navbarTogglerMain', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  
  #navbarTogglerMain.collapse.navbar-collapse
    a.navbar-brand.hidden-sm-down(href='http://xmetal.x10.mx') Xmetal's Homepage
    ul.navbar-nav.ml-auto
      li.nav-item.active
        a.nav-link(href='/linuxHQ/index.php') Linux HQ
      li.nav-item
        a.nav-link(href='/techHQ/index.php') Tech HQ
