//output:tabRefills.html

ul.accordion-tabs-minimal
  li.tab-header-and-content
    a.tab-link.is-active(href='#') Tab Item
    |     
    .tab-content
      p Lorem ipsum dolor sit amet, .
  |   
  li.tab-header-and-content
    a.tab-link(href='#') Another Tab
    |     
    .tab-content
      p Ut laoreet sem mi.
  |   
  li.tab-header-and-content
    a.tab-link(href='#') Third
    |     
    .tab-content
      p  imperdiet dolor justo congue turpis.
  |   
  li.tab-header-and-content
    a.tab-link(href='#') Last Item
    |     
    .tab-content
      p Sociis natoque penatibus et magnis 
