<?php	$the_title ='Xmetalfanx\'s Homepage - Tech Center - Audio Enhancing'; ?>
	
p.boldTitles Audio Enhancers Plugins for Media Players
p.header
img.imgleft(src='../progIcons/media/mpTrim PRO_MAINICON.png', alt='Mp3 Trim Pro')
| Mp3 Trim Pro - Features

ul 
	li
	  | &quot;Cleanup Mp3&quot; will get rid of any un-recognizable 
	  | information in the header of the mp3. (similar to what Jpg Cleaner, 
	  | cleans in Jpgs)
	  br
	li
	  | Remove the last frame of any mp3 that 
	  | have corrupt headers.
	  br
  li Fixes missing/corrupt CRC information.              
  	ul
	    li
	      span.justify
	        | Software Players such as Winamp are good in over-looking
	        | this problem; however, hardware players (Rio Volts, &quot;Hard Drive
	        | Players&quot;). Audio Editing Programs such as Cool Edit (and
	        | CE Pro) have problems reading Mp3s with CRC errors.
	      br
  li
    em Auto Trim
    ul
      li
        | Trims of Excess Silence of Mp3s before  the start of the track, and after the end.
        br
      li
        span.justify
          | The ability to add fades to Auto-Trim that will fade in (to
          | what the user selects). This will prevent any harsh ends to short
          | tracks, the music will fade out or fade in accordingly.
        br
      li.justify
        | Volume Controls that will increase of decrease a track in decibels. 
        | DON&apos;T WORRY that it will get too loud (if you click &quot;auto&quot; 
        | that is). it detects how much it should increase. I have found 
        | this to be the fix to many problems i had with my RIO Volt (actually 
        | its the mp3s, and not the Rio Volt&apos;s Problem). One Mp3 is loud, 
        | while the next is soft, I would put the volume up louder, then 
        | the next track, is super loud.
        br
        p
        | This feature I would use on any recorded (from say a Cassette)
        | track. It can be VERY useful
