h2 Cross Browser Addons 


// Ublock Origins 


// Umatrix 





.card
  .card-header
      img(src='', alt='HTTP_E Icon')
      a(href='')  HTTPS Everywhere

  .card-block
    .card-text
		Without going into boring details … HTTP links are regular links and HTTPS (are Secure (notice the “S”) used on many sites … sometimes sites have HTTPS available but people (typing HTTP, out of force of habit) don’t take advantage of HTTPS… HTTPS makes browsing somewhat more secure andthis plug in will contain a “database” of known sites and even if you type in HTTP (with the add-on ACTIVE) .. Firefox will change the URL to HTTPS.

  	p
    | This will NOT block your ISP from knowing what sites you visit, more will it prevent viruses and malware.. It will make your browsing slightly more secure
    br
    |  and with other add-ons like CookieSafe, Request Policy, and NoScript, you will have a much more secure browsing experience

  		
.card
  .card-header
  img(src='/techHQ/graphics/ffox/LastPass.jpg', alt='Lastpass Icon')
a(href='http://lastpass.com/')  LastPass

  .card-block
    .card-text
		Great alternative that stores your password collection on-line … I sometimes use this when AIRoboForm’s does not work with new
			 builds … even when it does …  it’s still a good alternative to Roboform….      
  
