

h2 Process Managers/Task Manager Alternatives

      img(src='../../progIcons/system_tools/process/procexp_101.png', alt='Process Explorer Icon')
      |           
      a(href='http://www.sysinternals.com/') Process Explorer
      p
        | SysInternal&apos;s Process Explorer is the one I have used for years and
        | install on most systems I work on.

      img(src='../../progIcons/system_tools/process/ProcessHacker_101.png', alt='Process Hacker 2')
      |         
      a(href='http://sourceforge.net/projects/processhacker') Process Hacker 2 Icon
    |       
      p Task Manager Replacement that I install on most systems I work on.

      img(src='../../progIcons/system_tools/process/SystemExplorer_MAINICON.png', alt='System Explorer Icon')
      |         
      a(href='http://systemexplorer.net/') System Explorer
