

h2 Download Related Addons
	h4 Firefox
					
.card
  .card-header
		img(src='', alt='Ant Video Downloader Icon')
		a(href='http://www.ant.com/video-downloader/') Ant Video Downloader

  .card-block
    .card-text
    
			(NOT TO SAY I DISLIKE "DownloadHelper") This has become my website video downloader of Choice… it does have info being sent back to  the developer, though simply unselecting that "option" in the Addon’s Option screen, stops that problem.
								
.card
  .card-header
    img(src='/techHQ/graphics/ffox/download/DownloadHelper.png', alt='Download Helper Icon')
		a(href='http://www.downloadhelper.net')  Download Helper 

  .card-block
    .card-text
    p  Videos and images download assistant for many site such as Youtube
		
		p
		  | SOMETIMES Youtube changes the code to make DownloadHelper not be able to download anymore &mldr; 99% of the time I&rsquo;d say update DownloadHelper to it&rsquo;s newest version and that will solve that problem


.card
  .card-header
      a(href='http://dmextension.mozdev.org/') DownloadManagerTweak

  .card-block
    .card-text
     "A  modification of the Firefox download manager that changes its  appearance and allows it to be opened in a separate window, a new tab,  or the sidebar.
						

.card
  .card-header
    img(src='/techHQ/graphics/ffox/download/DownThemAll.png', alt='DownloadThemAll')
		a(href='http://www.downthemall.net/')  DownloadThemAll

  .card-block
    .card-text
      | Mass downloader plugin … I find it VERY useful
						 
.card
  .card-header
    a(href='http://www.flashvideodownloader.org/') Flash Video Downloader

  .card-block
    .card-text
    One of the best (not counting DownloadHelper) Youtube to Mp4 or FLV downloader I have found for Firefox
						
.card
  .card-header
      a(href='http://flashgot.net/')  FlashGot

  .card-block
    .card-text
    Integrates a good download manager, Flashget, into Firefox
						
.card
  .card-header
    a(href='http://www.pdfdownload.org') PDF Download 

  .card-block
    .card-text
    Allow you to Download, or view (the default action, I beleive) PDFs in Firefox.

	If you know you will want to see the PDF again later, this can really come in handy… you CAN DOWNLOAD pdf’s without this addon, though this	addon makes it alot easier.


<?php include $sitePath . "/modules/tech/baseTechFooter.tpl"; ?>
