//interfaceAddons.html

h3 Interface Tweaking Addons

.card
  .card-header
    img(src='techHQ/graphics/ffox/gui.png', alt='GUI:CONFI ICON')
    a(href='https://addons.mozilla.org/en-us/firefox/addon/guiconfig/') GUI::Config

  .card-block
    .card-text
      p Access a GUI that helps you control advanced features of Firefox
      p
        | Many of these (with alot of searching) tweaks can be adjusted via about:config; though this add-on makes it easier to not only tweak them but tweak a number of settings at the same time

.card
  .card-header
       a(href='http://firefox.maltekraus.de/extensions/organize-search-engines') Organize Search Engines

  .card-block
    .card-text
      | Allows you to organize the Search bar in Firefox, including adding folders and sorting existing entries in a variety of ways

.card
  .card-header
    img(src='/techHQ/graphics/ffox/xpinstallItemGeneric.png', alt='Slim Addon Manager Icon')
    a(href='https://addons.mozilla.org/en-US/firefox/addon/slim-add-ons-manager') Slim Add-ons Manager

  .card-block
    .card-text
      | Slims down the add-on manager text/box in Firefox 4 and above.

.card
  .card-header
    img(src='/techHQ/graphics/ffox/themeChanger.png', alt='Theme Changer Icon')
    a(href='http://barisderin.com/?p=286') Theme Font &amp; Size Changer

  .card-block
    .card-text
      | Instantly changes the font family and size of all windows, menus, toolbars, etc within Firefox			 


h3 Toolbar/Toolbar Related Addons and Menu Related Items

.card
  .card-header
    img(src='/techHQ/graphics/ffox/hideCaptionTitlebar_Plus_Icon.png', alt='HiCTitlebar Plus Icon')
    a(href='https://addons.mozilla.org/firefox/addon/13505/') Hide Caption Titlebar Plus

  .card-block
    .card-text
      p  Allows for customizations of the Firefox 4 Menu Bar with a ton of options 
      p
        | The main purpose of this is that you can keep the &quot;Firefox 4&quot; menus and when you hover over that menu &quot;button, the regular menu bar expands to the right, so you can have &quot;the best of both&quot; types of menus.
      |       
      p
        | (FOR THE RECORD, Simply removing (on disabling this addon) and going to View ~~&gt; toolbar and checking &quot;Menu Bar&quot; will bring back the normal  Toolbar that was there in 3.x and below)

            
.card
  .card-header
      a(href='http://menueditor.mozdev.org/') Menu Editor

  .card-block
    .card-text
      p
        | Allows you to fully customize the menus (even context &mldr; aka right click) menus of Firefox.
      p
        | I highly recommend using this when add-ons add too many menu items everywhere, and it seems like the interface is getting &quot;out of control&quot;


.card
  .card-header
      a(href='http://www.xuldev.org/verticaltoolbar/') Vertical Toolbar

  .card-block
    .card-text
       Adds a vertical (on right or left side, you choose) Vertical toolbar to Firefox.  This looks like what I have seen in MANY OTHER browsers by default.
			

h3 Tab Related

.card
  .card-header
    a(href='http://addons.mozilla.org/addon/59961')
    img(src='/techHQ/graphics/ffox/TabUtilities.png', alt='Tab Utilities Icon') Tab Utilities

  .card-block
    .card-text
      li
        p  Customize PRETTY MUCH EVERYTHING AND ANYTHING related to tab 
        p  Some things you can do with Tab Utilities is 
      |     
      li
        p
          | Protect (from being accidently closed)
          br
          | Duplicate (to a new tab) the current tab
      li
      
        p set font data for tabs:
    
      li 
    	p
      | such as colors and background colors, bold, italics, underlining and more &mldr; for various types of tabs(current, unread, &mldr; etc)
      p
        | I for some reason tried this years ago and after the 4.x upgrade where i had to reinstall everything (ALL my add-ons &mldr; do to a new Firefox Profile) I never did reinstall this until 2 days ago &mldr; I just wonder how I forgot about this one &mldr; very very useful add-on

.card
  .card-header
    img(src='/techHQ/graphics/ffox/tabmixPlus.png', alt='tab mix plus icon')
    a(href='http://tmp.garyr.net') Tab Mix Plus

  .card-block
    .card-text
      p This and &quot;Tab Utilities&quot; are very similar. 
      p
        | Adds the functionality to Add text color and background color (as well as Bold, Italics &mldr; etc) to tabs to make them more distinguishable, as well as the &quot;menu&quot; that displays when you right-click a tab &mldr;
      p There are MANY MORE features in this add-on, that I did not list here 
      p
        | NOTE: using both of these tab add-ons can cause functions in either to not work 100% properly. &mldr; At least that has been by experience.

.card
  .card-header
    a(href='http://mikelward.com/software/firefox') Tabs Menu

  .card-block
    .card-text
      | Adds a Menu, that shows the tabs that are open that you can select from. This is similar to "Windows" in many other Windows applications that show currently open documents (say Libre Office, for example)
       
<?php include $sitePath . "/modules/footer.tpl"; ?>
