h2 Content &quot;Manager&quot; Addons
p
  | This does not include a few of my &quot;Must have addons&quot; in the first table on the page

.card.card-warning 
  .card-header
      img(src='/techHQ/graphics/ffox/GreaseFire.png', alt='GreaseFire Icon')
      a(href='#') Greasefire2
    
  .card-block
    .card-text
      | Looks up scripts that are avaible for the current page you are on, for GreaseMonkey
      | (note: these scripts it returns seem years out of date though ..)

.card
  .card-header
      img.icon(src='/techHQ/graphics/ffox/greasemonkey.png', alt='GreaseMonkey Icon')
      a(href='http://www.greasespot.net/') Greasemonkey
  
  .card-block
    .card-text
      p  A User Script Manager for Firefox
      p
        | User scripts add many features and even remove ads on some pages automatically ..

        h3 Web Mastering Related

.card
  .card-header
    a(href='http://chrispederick.com/work/web-developer/', target='_blank') Web Developer

  .card-block
    .card-text
    Adds web development tools via the toolbar and Menus



.card
  .card-header
      a(href='http://spaghetticoder.org/cssusage/', target='_blank') CSSUsage

  .card-block
    .card-text
      | Firebug extension to view which CSS rules are really used on your site.
