//output:linuxNavMenu.html

nav.navbar.navbar-expand-lg.navbar-dark
  button.navbar-toggler(type="button" data-toggle="collaspe" data-target="#linuxHQNav" aria-controls="linuxHQNav" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  
  #linuxHQNav.collaspe.navbar-collaspe
    a.navbar-brand.hidden-md-down(href='/linuxHQ/index.php') Linux HQ
    
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href='/linuxHQ/distros/distroHome.php') Distributions
      li.nav-item
        a.nav-link(href='/linuxHQ/desktops/desktopsIndex.php') Desktops
      li.nav-item
        a.nav-link(href='/linuxHQ/tutorials/tutorialIndex.php') Tutorial
      li.nav-item
        a.nav-link(href='/linuxHQ/apps/appIndex.php') Linux Apps
      li.nav-item
        a.nav-link(href='/linuxHQ/tic/TICHome.php') Theme/Icons/Cursors
