//output:linuxNavMenu.html

nav.navbar.navbar-expand-lg.navbar-dark
  a.navbar-brand.hidden-md-down(href='/linuxHQ/index.php') Linux HQ
  button.navbar-toggler(type="button" data-toggle="collaspe" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  .collaspe.navbar-collaspe#navbarNav
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/linuxHQ/distros/distroHome.php')  Distributions
      li.nav-item
        a.nav-link(href='/linuxHQ/desktops/desktopsIndex.php') Desktops
      li.nav-item
        a.nav-link(href='/linuxHQ/tutorials/tutorialIndex.php') Tutorial
      li.nav-item
        a.nav-link(href='/linuxHQ/apps/appIndex.php') Linux Apps
      li.nav-item
        a.nav-link(href='/linuxHQ/tic/TICHome.php') Theme/Icons/Cursors
