.card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  .card-header {
    border-color: $themeBGColor1;

    font-weight: bold;
    font-size: 1.1rem;

    a:link,
    a:visited {
      background-color: transparent;
      color: var(--white);
      text-decoration: none;
    }

    // For sidebar menus
    @--sidebar {
      .card-body {
        @extend .card;
        padding: 0.5rem;
      }
    }
  }

  .card-text,
  .card-body {
    padding: 1rem;
  }

  // why the margin s
  @__bordered {

    border-color: $themeBGColor1;
    margin: 0 auto 1.2rem auto;
  }
}
