
.carousel {
    min-height: 350px;
    margin: 0 auto;
  
    .carousel-control-prev,
    .carousel-control-next {
      width: 60%;
    }
  
    .carousel-item img {
      display: block;
      margin: 0 auto;
      height: 450px;
      width: 725px;
    }
  }