
// Idea

// For basic stuff only
.icon {
    // margin on right side only
    margin-right: 1.1rem;
  
    a:link,
    a:hover,
    a:visited {
      fill: white;
      color: white;
    }
    &__iconSM {
      @extend .icon;
      width: 32px;
      height: 32px;
    }
  
    &__iconLG {
      @extend .icon;
      width: 48px;
      height: 48px;
    }
  }