//output:tickMainSection.html

#TIC
.TICName 
|   echo $TICName;
.TICSShot
|   <?php echo $TICSShot; ?>
.linuxContainer
  div
    | DeviantArt Page:  <?php echo $DAHome; ?>
  div
    | Github Page: <?php echo $GHHome; ?>
  div
    | Gnome-look.org Page: <?php echo 
  div
    | Noobslab Page: <?php echo $NSHome; ?>

.TICUsage Usable in: <?php echo $TICUsage; ?>


.TICInstructs Instructions for Ubuntu based distros: <?php echo 

.TICInstructs Instructions for Arch-based distros: <?php echo 
