// For Image "Thumbnailing" in various sections
// Example - Screenshots on Linux Distro and Desktop homepages
.thumbnails {
  max-width: 450px;
  max-height: 450px;
}

// ?? what is this for?
.list-group-item {
  border: 0;
}

// May not be needed if things are responsive via Bootstrap
.YTPlaylists {
  width: 560px;
  height: 315px;
}

/****** STARTPAGE Box related ******************/

#SPSearch {
  margin: 10px auto;

  // For the SP icon and input box
  .SPHeightIconInput {
    height: 35px;
  }

  .SPSearchIcon {
    height: 33px;
    vertical-align: middle;
  }
}

.iconSM {
  width: 32px;
  height: 32px;
}

.iconLG {
  width: 48px;
  height: 48px;
}

/************** RSS Feed *************/

.feed-item-title {
  a:link,
  a:hover,
  a:visited {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

#outputSection a {
  color: var(--ThemeBGColorAccent);
}

// Footer specically (for now?) in the TechHQ side of the site
#techHQFooter {
  display: flex;
  flex-direction: row;
  padding-left: 20px;

  ul,
  li {
    list-style: none;
  }

  a {
    color: inherit;
  }
}
