// For Image "Thumbnailing" in various sections
// Example - Screenshots on Linux Distro and Desktop homepages

// ?? are "Thumbnails" in bootstrap?
.thumbnails {
  margin: 1rem;
  padding: 1rem;

  &--lg {
    max-height: 450px;
  }

  &--sm {
    max-height: 350px;
  }
}

// ?? what is this for?
.list-group-item {
  border: 0;
}

// May not be needed if things are responsive via Bootstrap
.YTPlaylists {
  width: 560px;
  height: 315px;
}

/****** STARTPAGE Box related ******************/

#SPSearch {
  margin: 10px auto;

  // For the SP icon and input box
  .SPHeightIconInput {
    height: 35px;
  }

  .SPSearchIcon {
    height: 33px;
    vertical-align: middle;
  }
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}


/************** RSS Feed *************/
// For GAOTD too
.feed-item-title {
  a {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4rem;
    display: inline-block;
    margin: 0 auto;
  }
}

.feed-item-desc {
  img {
    display: block;
    max-width: 100px;
    height: auto;
    margin: 1rem auto;
  }
}

/*********** End RSS CSS **********/

#outputSection a {
  color: var(--ThemeBGColorAccent);
}

// Footer specially (for now?) in the TechHQ side of the site
#techHQFooter {
  display: flex;
  flex-direction: row;
  padding-left: 20px;

  a {
    color: inherit;
    margin: 0 1rem;
    font-weight: 500;
  }

  a:hover {
    outline: 1px dotted black;
    text-decoration: none;
  }
}

// Place in the "card" div
.softwareCard {
  .card__header {
    align-items: center;
    display: grid;
    grid-template-areas: 'program-title platform';
    justify-content: space-around;

    img {
      max-height: 48px;
      padding: 10px;
    }

    .program-title {
      grid-area: program-title;
    }

    .platform {
      grid-area: platform;
    }
  }
}

// not sure i like how hyper specific this is but it does let me clean up bs css class calls in the html
// location: techHQ frontpage
#EducationalSites {
  justify-content: space-around;
  margin-bottom: 0 auto 25px auto;
  text-align: center;
  width: 75%;

  .card__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    a {
      align-content: center;

      img {
        margin: 0 auto;
        padding: 10px 1.5rem;
      }
    }

    .card__header {
      font-size: 24px;
      font-weight: 700;
    }
  }
}


