// here so when i remove bootstrap or at least have that option
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix
{
  clear: both;
}

.mx-auto {
  margin: 0 auto;
}

// not sure i need this but ... i will code it 
.my-auto {
  margin: auto 0;
}