// Tweaking this to match the bootswatch theme i am using
// I did this because i need this to be a variable in other places, then just the background color

// Is this still needed? ... really?  since i am using css vars in the _base.scss file 

.darkBG {
  @include header;
  
  a:hover {
    background-color: inherit;
    color: var(--lightgrey);
  }
}
