@forward "_vars";

@mixin darkBG {
  color: var(--white);
  // #333333 if i remember correctly
  background-color: var(--themeBGColorMain);
}

@mixin thumbnail--lg {
  max-height: 450px;
  padding: 2rem;
  max-width: 100%;
  height: auto;
}

@mixin thumbnail--sm {
  max-height: 350px;
  padding: 2rem;
  max-width: 100%;
  height: auto;
}
