//output:bStrapNav.html
          
header.navigation
  .navigation-wrapper
    a.logo.hidden-md-down(href='http://xmetal.x10.mx/techHQ/index.php') Tech HQ
    |     
    a#js-mobile-menu.navigation-menu-button(href='http://xmetal.x10.mx/techHQ/index.php') Tech HQ
    |     
    nav
      ul#js-navigation-menu.navigation-menu.show
        li.nav-link
          a.nav-link(href='/techHQ/software/softwareIndex.php', accesskey='1') Software
        li.nav-link
          a.nav-link(href='/techHQ/techcenter/techCenterIndex.php', accesskey='2') Tech Center ( Tips/Tutorials )
        li.nav-link
          a.nav-link(href='/techHQ/browsers/browserIndex.php', accesskey='3') Web Browser 
        li.nav-link
          a.nav-link(href='/techHQ/security/securityIndex.php', accesskey='4') Security
