//output:bStrapNav.html

nav.navbar.navbar-static-top.bg-inverse
    .navbar-header.hidden-md-down
      .col-lg-6
        a.navbar-brand(href='#') Xmetal&apos;s Homepage 
      .col-lg-6
        nav.nav.hidden-md-down.justify-content-end
          a.nav-link(href='/techHQ/software/softwareIndex.php', accesskey='1') Software
          a.nav-link(href='/techHQ/techcenter/techCenterIndex.php', accesskey='2') Tech Center ( Tips/Tutorials )
          a.nav-link(href='/techHQ/browsers/browserIndex.php', accesskey='3') Web Browser 
          a.nav-link(href='/techHQ/security/securityIndex.php', accesskey='4') Security 
        .dropdown-divider.hidden-md-up 
        .dropdown-menu.hidden-md-up Bleh 
          a.dropdown-item(href="/techHQ/software/softwareIndex.php") Software
          a.dropdown-item(href="/techHQ/techcenter/techCenterIndex.php") Tech Center ( Tips/Tutorials )
          a.dropdown-item(href="/techHQ/browsers/browserIndex.php") Web Browser
          a.dropdown-item(href="/techHQ/security/securityIndex.php") Security
      
