
<?php
include $path . '/modules/linux/linuxBaseHeader.tpl';
?>

body(onload="getDesktopData()" )
  .flexContainer
      <?php include 'linuxNavMenu.tpl'; ?>
      .row.mainSection
        .col-xm-12.col-md-2
          <?php include $path . '/linuxHQ/modules/section/linuxNDesktopEnvCol1.tpl'; ?>

        .col-xm-12.col-md-10
          div desktopSection
