<?php include $path . '/modules/linux/linuxBaseHeader.tpl'; ?>

body 

  <?php include 'linuxNavMenu.tpl'; ?>

  #mainBody.row
    .col-xs-12.col-md-2
      <?php include $path . '/linuxHQ/modules/sections/linuxNAppCol1.tpl'; ?>

    .col-xs-12.col-md-10
