
body
  .flexContainer
    <?php include 'linuxNavMenu.tpl'; ?>

    .row.mainSection

      .col-lg-3
        <?php include $rootDir . '/linuxHQ/modules/linuxNTemplate_Tutorials_Col1.php'; ?>

      .col-xm-9
