<?php include $rootDir . '/modules/linux/linuxBaseHeader.tpl'; ?>

body 

  <?php include 'linuxNavMenu.tpl'; ?>

  .row.mainSection
    .col-xs-12.col-md-2
      <?php include $rootDir . '/linuxHQ/modules/sections/linuxNAppCol1.tpl'; ?>

    .col-xs-12.col-md-10
