/* Colors */
$forestGreen: rgb(0, 100, 0);
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$lightMaroon: rgb(153, 0, 0);
$maroon: rgb(102, 0, 0);
$green: rgb( 0, 153, 0);
$red: rgb( 255, 0, 0);
$tanL: rgb( 255, 250, 205);
$tanD: rgb( 238, 233, 191);
$navy: rgb( 0, 0, 128);
$midnightBlue: rgb( 25, 25, 112);

$charcoalGrey: rgb(51, 51, 51);
