.card
  .card__header.card__header--dark-bg  Multimedia Related

  .card__body
    a(href='/techHQ/techcenter/multimedia/id3TagLookup.php') ID3 Tag-lookup

.card
  .card__header.card__header--dark-bg  System Tools Related

  .card__body

    a(href='#')
    | Making Windows 7 look like Windows 10
    br
    a(href='#') Routine Maintenance
    br
    a(href='/techHQ/techcenter/system/bad_uninstalls.php') Bad Uninstalls
    br
