.accordion
  // the input ID and for, have to be equal
  input#browsers(type="checkbox")
  label(for="browsers") Browser
  .content
    a(href="/techHQ/browsers/browserList.php") Browser List

  // the input ID and for, have to be equal
  input#adblocking(type="checkbox")
  label(for="adblocking") Ad/Content Blocking
  .content
    h5 Basics
    a(href='/techHQ/browsers/adblocking/UblockTutorial.php') Ublock Tutorial
    br/

    h5 More Advanced Topics

    a(href='/techHQ/browsers/adblocking/ublockDynFilterLevels.php') Dynamic Filter in Ublock
    br/
    a(href='/techHQ/browsers/adblocking/noopExplained.php') Noop Filtering Explained
    br/
    a(href='/techHQ/browsers/adblocking/exampleCases.php') Example Cases
