.accordion
  // the input ID and for="" have to be equal
  input#multimediaRelated(type="checkbox")
  label(for="multimediaRelated") Multimedia Related
  .content
    a(href='/techHQ/techcenter/multimedia/id3TagLookup.php') ID3 Tag-lookup

  // the input ID and for="" have to be equal
  input#systemRelated(type="checkbox")
  label(for="systemRelated") System Tools Related
  .content
    a(href='#')
    | Making Windows 7 look like Windows 10
    a(href='#') Routine Maintenance
    a(href='/techHQ/techcenter/system/bad_uninstalls.php') Bad Uninstalls
