.accordion

  .card
    .card__header
      a(href='/techHQ/software/softwareIndex.php') Software Home:

  // the input ID and for="" have to be equal
  input#graphicsApps(type="checkbox")
  label(for="graphicsApps") Graphics
  .content
    a(href='/techHQ/software/graphics/editors.php') Editors
    a(href='/techHQ/software/graphics/optimizers.php') Optimizers
    a(href='/techHQ/software/graphics/viewers.php') Viewers

  // the input ID and for="" have to be equal
  input#multimediaApps(type="checkbox")
  label(for="multimediaApps") Multimedia
  .content
    a(href='/techHQ/software/multimedia/media_players_audio.php')
      | Media Players -
      em Audio
    a(href='/techHQ/software/multimedia/media_players_video.php')
      | Media Players -
      em Video
    a(href='/techHQ/software/multimedia/multimediaVarious.php') Various Apps
    a(href='/techHQ/software/multimedia/videoEditing.php') Video Editing

  // the input ID and for="" have to be equal
  input#officeApps(type="checkbox")
  label(for="officeApps") Office/Productivity
  .content
    a(href="/techHQ/software/product/coding.php") Coding
    a(href="/techHQ/software/product/office.php") Office Suites
    a(href="/techHQ/software/product/pdfRelated.php") PDF Related
    a(href="/techHQ/software/product/txteditor.php") Text Editors
    a(href="/techHQ/software/product/various.php") Various

  // the input ID and for="" have to be equal
  input#securityApps(type="checkbox")
  label(for="securityApps") Security
  .content
    a(href='/techHQ/software/security/virusANDMalwareScanners.php') Antivirus and Antimalware
    a(href='/techHQ/software/security/cleaners.php') System Cleaners
    a(href='/techHQ/software/security/firewalls.php') Firewalls

  // the input ID and for="" have to be equal
  input#systemApps(type="checkbox")
  label(for="systemApps") System Tools
  .content
    a(href='/techHQ/software/sTools/archivers.php') Archivers
    a(href='/techHQ/software/sTools/backupSoftware.php') Backup Software
    a(href='/techHQ/software/sTools/burners.php') CD/DVD/Blue Ray Burners
    a(href='/techHQ/software/sTools/defrag.php') Defragmenters
    br
    | [File Managers]
    br
    // a(href='/techHQ/software/sTools/startupManangers.php') Startup Managers
    a(href='/techHQ/software/sTools/systemSuites.php') System Suites
    a(href='/techHQ/software/sTools/taskManagers.php') Task Manager

.card.shadow.d-none.d-md-block
  .card__header.card__header--dark-bg External Links
  .card__body 
    a(href='http://www.majorgeeks.com', target='_blank', rel="noreferrer")
      img(src='/techHQ/graphics/portals/mg_logo_trns.gif', alt='MajorGeek.com graphic/link')
    a(href='http://www.snapfiles.com', target='_blank', rel="noreferrer" )
      img(src='/techHQ/graphics/portals/snapfiles_freedlani.gif', alt='Snapfiles graphic/link')
    a(href='http://www.softpedia.com', target='_blank', rel="noreferrer")
      img(src='/techHQ/graphics/portals/softpedia_logo.gif', alt='SoftPedia graphic/link', style='width: 175px; height: 32px;')
    br/

    a(href='http://www.neowin.net/') NeoWin
