.card
  .card__header.card__header--dark-bg Browser
  .card__body
      a(href="/techHQ/browsers/browserList.php") Browser List

.card
  .card__header.card__header--dark-bg Browser Addons
  .card__body
    a(href='/techHQ/browsers/addons/browserAddons.php') Some Addons

.card
  .card__header.card__header--dark-bg Ad/Content Blocking
  .card__body
    h5.bg-primary.text-white Basics
    a(href='/techHQ/browsers/adblocking/UblockTutorial.php') Ublock Tutorial
    br/-2.shadow
    h5.bg-primary.text-white More Advanced Topics

    a(href='/techHQ/browsers/adblocking/ublockDynFilterLevels.php') Dynamic Filter in Ublock
    br/
    a(href='/techHQ/browsers/adblocking/noopExplained.php') Noop Filtering Explained
    br/
    a(href='/techHQ/browsers/adblocking/exampleCases.php') Example Cases
