.accordion
  input#multimediaRelated(type="checkbox")
  label(for="multimediaRelated") Multimedia Related
  .accordion-content
    a(href='/techHQ/techcenter/multimedia/id3tags.php') ID3 Tag-lookup

.accordion
  input#systemRelated(type="checkbox")
  label(for="systemRelated") System Tools Related
  .accordion-content
    a(href='#') Routine Maintenance
    a(href='/techHQ/techcenter/system/bad_uninstalls.php') Bad Uninstalls
