h1 Introduction

div ID3 Tags are tags that are built into Mp3s that let media players know facts about the Mp3, that can help the player (this all depends on the program that you are using) organize your music collection. 

div Some of the most common mp3 tags are:
  ul
    li Artist
    li Album
    li Title
    li Year
    li Genre


h1 Organizing

div If you organize your mp3s into folders, it is much easier to find and handle them. Say you have all your mp3s that you got in March (all genres that is), it may be hard to find what you want to play. I personally organize my music files in the following way.

ol
  li Genre
  li Artist/Band
  li Albums Title
 

div I also have a Misc. folder for anything left over... not to get too picky. This can also help you if you have a large collection and you have not really used ID3 tags before.


h1 Software

h2 
  a(href="https://www.strawberrymusicplayer.org/" target="_blank") Strawberry Music Player (MusicBrainz)
| The regularly updated fork of 
a(href="https://www.clementine-player.org/" target="_blank") link the Clemintine Music Player

h2 
  a(href="https://picard.musicbrainz.org/" target="_blank") MusicBrainz Picard
| A Cross Platform option, written in Python 