
h5 Graphical (GUI) Software Centers
  ul
    li Gnome Software Center
    li Ubuntu/Mint Software Center
    li Muon Discover

  h5  Graphical (GUI) Package Managers
  ul
    li muon
    li Synaptic Package Manager
    li Apper


.card
  .card-block
    .card-title CLI Package Managers

    .card-text

      ul
        li
          | Arch based
          ul
            li
              | pacman

              ul
                li Searching
                  kbd sudo  pacman -Ss packageName
                li  Installing
                  kbd sudo pacman -S packageName

            li
              p  Updating
              ul
                li
                  p.P4  &ldquo;Regular&rdquo;  Updates
                  ul
                    kbd sudo pacman -Syyu
        li
      p yaourt
      ul
        li
          p Searching / Installing


          ul
            li
              kbd yaourt packageName

        li
          p(style='margin-left:0cm;')
            | (Installing)
            span.T1 type number of
            span.T2 package,
            span.T3 after doing the search


  li
    p Debian / Ubuntu  Based
    |
    ul
      li
        | apt-get
        ul
          li
            | Searching
            ul
              kbd sudo apt-get search packageName
          |
          li
            p  Installing
            |
            ul
              kbd sudo apt-get install packageName
          li
            | Updating (Repo/ &apos;Software List&apos;)
            ul
              kbd sudo apt-get update
          li
            p
              | Updating   the software (typically done after updating the repo list)
              | - &nbsp;This is what &ldquo;updater&rdquo; applets do

            ul
              li
                p.code sudo apt-get upgrade
      li
        p aptitude
        |
        ul
          li Searching
          kbd sudo aptitude search packageName

          li Installing
          kbd sudo aptitude install packageName

  li
    p.distroName OpenSuse
    ul
      li
        p zypper
      li  Searching

      li Installing

  li
    | Fedora
    ul
      li
        p dnf

      li  Searching
      kbd dnf search packageName

      li  Installing
      kbd dnf install packageName

      li   Updating
      kbd dnf update packageName

<?php include $path . "/modules/footer.tpl"; ?>
