p Introduction
p I am not going to go into any kind of details explaining things about Debian, though I will mention some points I want to clear up
ul
  li There are four Debian branches (listed below) ...Packages or even just Package Versions filter down from the most "bleeding edge, but maybe unstable branch" to the "stable" branch ...
    ul
      li IF THERE IS ONE DISTRO team of developers that really test thing and make sure its ROCK-SOLID/STABLE for the users, before a package goes into the "Stable" branch, its the Debian developers.
  li Now ... the branch names ... NOT TO BE CONFUSED WITH "CODENAMES" .... WHICH I WILL LIST BELOW

    ul
      li
        span.terms Experiemental
        |  - The MOST BLEEDING EDGE.. I am not saying dont poke around this one ... I choose not to though this is the branch that would be most likely to break your system
      li.terms Unstable
      li
        span.terms Testing
        |  - A bit more testing on it then the packages in "Unstable", though not tested enough to be considered "Stable"

        ul
          li I have seen (and agree) some long time Debian users say that the "Debian Testing" branch is more stable then some other distro's (say Ubuntu's) "Stable" (just the regular sources Ubuntu users) branch.... so do not be put off by this.
      li.terms Stable
ul
  li "Wheezy", "Jessie", "sid" (just three examples thar are used at the time I am typing this are (Based on Toy Story characters) just what branch is currently in the
ul
  li
    | METAPHOR .. PLEASE IGNORE THIS IF YOU ALREADY UNDERSTAND WHAT i AM SAYING.

    ul
      li The ACTUAL BRANCHES are like chairs with labels on them ... the chairs with the four labels are ALWAYS there and in the same place...
      li
        | The "Codenames" as I call them are like people in those chairs .... (You make thank me for this metaphor in a second)

        ul
          li
            | When you decide to change up to another branch .... you have two choices (Say upgrading the from the STABLE BRANCH)

            ul
              li You can then upgrade/"choose to follow" the TESTING BRANCH OR
              li You can follow (current testing branch at the time I am typing this, (codename Jessie)
        br
        br
        ul
          li.bold I REALLY HOPE I DO NOT LOOSE ANYONE HERE ...
          li
            | WHEN "EVERYTHING" ON DEBIAN'S SIDE PEOPLE GET UP FROM THE CHAIRS, AND MOVE ONE DOWN ... The person/code name that was "Unstable" becomes "testing" ... "testing" become "Stable and so forth ... think of it like musical chairs in a way

            ul
              li
                | If you follow 
                span.terms TESTING
                |  ... you are following "the chair" (my people-vs- chairs they are sitting in metaphor) ... ... no matter (metaphor) who sits in that chair ... your paying attention to the chair
              li
                | IF you follow 
                span.terms "Jessie"
                |  
                span.italics (currently the testing branch)
                |  your following the "person" ... so when Jessie becomes stable (gets up and moves down to the "Stable Chair"), you will still be following WHAT WAS the testing branch ... NOW the current "Stable branch"

p CONFUSED YET?
p " What should I do?"... HONESTLY it doesn't matter either way ... its a piece of cake to change, as you will find out further in this section