

h4 What is Linux?

// Note to self: This is wrong .... how do i explain what Linux is vs say what a distro a newbie would see is, WITHOUT getting all picky about it and boring 

p Linux is an Operating System (the  &ldquo;Master Software&rdquo; that runs all the other software on your machine), which I responsible mainly for the way the user interacts with the computer's hardware ... so as far as the computer user and the hardware of the computer go, the Operating System is the &quot;middle-man&quot; thats in between the two.