//output:linuxBaseFooter.html
.row
  .bottomLinks
    a(href='/linuxHQ/index.php') Home
    a(href='/linuxHQ/credit.php') Credits
    a(href='/linuxHQ/thankyou.php') Thank Yous
    a(href='/linuxHQ/resources.php') Resources

<?php include $sitePath . "/modules/footer.tpl"; ?>
