//output:linuxBottomMenu.html 

nav.nav 
    a.nav-link(href='/linuxHQ/index.php') Home
    a.nav-link(href='/linuxHQ/credit.php') Credits
    a.nav-link(href='/linuxHQ/thankyou.php') Thank Yous
    a.nav-link(href='/linuxHQ/resources.php') Resources
