//output:linuxNavMenu.html

nav.navbar.navbar-expand-lg.navbar-dark
// For Font Awesome graphic
i.fab.fa-linux.fa-3x  
// End Code for Font Awesome

  a.navbar-brand.d-none.d-lg-block(href='/linuxHQ/index.php') Linux HQ
  button.navbar-toggler(type="button" data-toggle="collaspe" data-target="#linuxHQNav" aria-controls="linuxHQNav" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon

  #linuxHQNav.collaspe.navbar-collaspe.ml-auto
    .navbar-nav.ml-auto
      a.nav-item.nav-link(href='/linuxHQ/distros/distroHome.php') Distributions
      a.nav-item.nav-link(href='/linuxHQ/desktops/desktopsIndex.php') Desktops
      a.nav-item.nav-link(href='/linuxHQ/tutorials/tutorialIndex.php') Tutorial
      a.nav-item.nav-link(href='/linuxHQ/apps/appIndex.php') Linux Apps
      a.nav-item.nav-link(href='/linuxHQ/tic/TICHome.php') Theme/Icons/Cursors
