<?php 
  $path = getenv('DOCUMENT_ROOT'); 
  include $path . '/modules/tech/baseTechHead.tpl'; 
?>

.row.col-12

  .col-lg-2.col-xl-2.hidden-md-down
    <?php include $path . '/techHQ/modules/techMainCol1.tpl'; ?>

  .col-xs-12.col-md-9.col-xl-10
