//output:linuxMenu.html 

header.navigation
  .navigation-wrapper
  a.logo.hidden-md-down(href='http://xmetal.x10.mx/linuxHQ/index.php') Linux HQ
  |     
  a#js-mobile-menu.navigation-menu-button(href='http://xmetal.x10.mx/linuxHQ/index.php') Linux HQ
  |     
  nav
  ul#js-navigation-menu.navigation-menu.show
    li.nav-link
      a.nav-link(href='/linuxHQ/distros/distroHome.php')  Distributions
    li.nav-link
      a.nav-link(href='/linuxHQ/desktops/desktopsIndex.php') Desktops
    li.nav-link
      a.nav-link(href='/linuxHQ/tutorials/tutorialIndex.php') Tutorial
    li.nav-link
      a.nav-link(href='/linuxHQ/apps/appIndex.php') Linux Apps
    li.nav-link
      a.nav-link(href='/linuxHQ/tic/TICHome.php') Theme/Icons/Cursors
