.card
	.card-body
			.card-header
				.row
					.col-lg-3
						div icon here
					.card-lg-6
						div Addon Name here 
			.card-text
				.row
					.col-lg-6
						div Addon Type/General Description
				.row 
					.col-lg-6
						div Chrome Link 
					.col-lg-6
						div Firefox Link: 
						div "For Firefox 57+?"
						div "Legacy Addon?"

