//output:GAOTD.HTML

#GAOTD.d-none.d-lg-block.xmetalRSS
  .xmetalRSSHeader GiveAwayOftheDay
  
  script(src='//rss.bloople.net/?url=http%3A%2F%2Ffeeds.feedburner.com%2Fgiveawayoftheday%2Ffeed%3Fformat%3Dxml&detail=50&limit=1&showtitle=false&showicon=true&type=js')
