.card
	.card-header.row 
		.col-lg-1 hidden-sm-down
			div Program Icon here 
		.col-lg-8 
			div Program Name here with URL to homepage... "Homepage: " is not going to be a seperate catagory
		.col-lg-3
			div Verison Number Here 


	.row
		.col-lg-6
			div Main Catagory: 

		.col-lg-6
			div Sub Catagory: 
	
	.row
		div Platform: 
		div Display a Windows, Linux (or Both) graphic here 
	
	.row
		div Description: 
