//output: tabSoftware.html

.nav.nav-tabs
.nav-item
  .nav-link.active
    a(hrer="") Graphics Programms
.nav-item
  .nav-link
    a(href='#') Internet Programs
.nav-item
  .nav-link
    a(href='#') Productivity Programs
.nav-item
  .nav-link
    a(href='#') Security Programs  
.nav-item
  .nav-link
      a(href='#') System Tools 
