.card.shadow
  .card-header
  .card-text
    a(href='/techHQ/software/softwareIndex.php') Software Home:

.card.shadow
  .card-header Graphics

  .card-text
    a(href='/techHQ/software/graphics/editors.php') Editors
    br/
    a(href='/techHQ/software/graphics/optimizers.php') Optimizers
    br/
    a(href='/techHQ/software/graphics/viewers.php') Viewers


.card.shadow
  .card-header Internet-Related

  .card-text
    a(href='/techHQ/software/internet/browsers.php')  Web Browser

.card.shadow
  .card-header Multimedia

  .card-text
    a(href='/techHQ/software/multimedia/media_players_audio.php')
      | Media Players
      em Audio
    br/
    a(href='/techHQ/software/multimedia/media_players_video.php')
      | Media Players
      em Video
    br/
    a(href='/techHQ/software/multimedia/multimediaVarious.php') Various Apps
    br/
    a(href='/techHQ/software/multimedia/videoEditing.php') Video Editing


.card.shadow
  .card-header Office/Productivity

  .card-text
    a(href="/techHQ/software/product/coding.php") Coding
    br/
    a(href="/techHQ/software/product/office.php") Office Suites
    br/
    a(href="/techHQ/software/product/pdfRelated.php") PDF Related
    br/
    a(href="/techHQ/software/product/txteditor.php") Text Editors
    br/
    a(href="/techHQ/software/product/various.php") Various

.card.shadow
  .card-header Security Related

  .card-text
    a(href='/techHQ/software/security/virusANDMalwareScanners.php') Antivirus and Antimalware
    br/
    a(href='/techHQ/software/security/cleaners.php') System Cleaners
    br/
    a(href='/techHQ/software/security/firewalls.php') Firewalls

.card.shadow
  .card-header System Tools

  .card-text
    a(href='/techHQ/software/sTools/archivers.php') Archivers
    br/
    a(href='/techHQ/software/sTools/backupSoftware.php') Backup Software
    br/
    a(href='/techHQ/software/sTools/burners.php') CD/DVD/Blue Ray Burners
    br/
    a(href='/techHQ/software/sTools/defrag.php') Defragmenters
    br
    | [File Managers]
    br
    // a(href='/techHQ/software/sTools/startupManangers.php') Startup Managers
    a(href='/techHQ/software/sTools/systemSuites.php') System Suites
    br/
    a(href='/techHQ/software/sTools/taskManagers.php') Task Manager


.card.shadow.d-none.d-md-block
  .card-header External Links
  br
  a(href='http://www.majorgeeks.com', target='_blank', rel="noreferrer")
    img.lazyload(src='/techHQ/graphics/portals/mg_logo_trns.gif', alt='MajorGeek.com graphic/link')
  br/
  a(href='http://www.snapfiles.com', target='_blank', rel="noreferrer" )
    img.my-2.lazyload(src='/techHQ/graphics/portals/snapfiles_freedlani.gif', alt='Snapfiles graphic/link')
  br/
  a(href='http://www.softpedia.com', target='_blank', rel="noreferrer")
    img.my-2.lazyload(src='/techHQ/graphics/portals/softpedia_logo.gif', alt='SoftPedia graphic/link', style='width: 175px; height: 32px;')
  br/

  a(href='http://www.neowin.net/') NeoWin
  br/
  a(href='http://www.nonags.com/') NoNags
