.card
  .card-header Browser
  .card-body.p-2
      a(href="/techHQ/browsers/browserList.php") Browser List

.card
  .card-header Browser Addons
  .card-body.p-2
    a(href='/techHQ/browsers/addons/browserAddons.php') Some Addons

.card
  .card-header Ad/Content Blocking
  .card-body.p-2
    h5.bg-primary.text-white Basics
    a(href='/techHQ/browsers/adblocking/UblockTutorial.php') Ublock Tutorial
    br/-2.shadow
    h5.bg-primary.text-white More Advanced Topics

    a(href='/techHQ/browsers/adblocking/ublockDynFilterLevels.php') Dynamic Filter in Ublock
    br/
    a(href='/techHQ/browsers/adblocking/noopExplained.php') Noop Filtering Explained
    br/
    a(href='/techHQ/browsers/adblocking/exampleCases.php') Example Cases
