.card.my-3.shadow
  .card-header Security
  .card-body
    a(href='/techHQ/security/internet/InternetThreats.php') Internet Tracking/Threats
    br/
    a(href='/techHQ/security/infection/infectionProtection.php') Malware and Virus Protection

.card.my-3.shadow
  .card-header Security Sites
  .card-body 
    a(href="https://www.privacytools.io" target="_blank") PrivacyTools.io
    br/
    a(href='https://grc.com/x/ne.dll?bh0bkyd2' target='_blank') Shields UP!
