.card.border-primary
  .card-header Test
  .card-text
      a(href="/techHQ/browsers/browserList.php") Browser List

.card.border-primary
  h5.card-header.bg-primary.text-white Browser Addons

  .card-text
    a(href='/techHQ/browsers/addons/firefox/myTopAddons.php') My Top Addons
    br/
    a(href='/techHQ/browsers/#') Backing up Browser Data
    br/
    a(href='/techHQ/browsers/tinyurl.php') URL Shortening


.card.border-primary
  h3.card-header.bg-primary.text-white Ad/Content Blocking

  .card-text
    h5.bg-primary.text-white Basics
    a(href='/techHQ/browsers/adblocking/UblockTutorial.php') Ublock Tutorial
    br/
    a(href='/techHQ/browsers/adblocking/ublockDynamicFiltering.php') Static Filtering -vs- Dynamic Filtering

    h5.bg-primary.text-white More Advanced Topics
   
    
    a(href='/techHQ/browsers/adblocking/ublockDynFilterLevels.php') Dynamic Filter in Ublock
    br/
    a(href='/techHQ/browsers/adblocking/noopExplained.php') Noop Filtering Explained
    br/
    a(href='/techHQ/browsers/adblocking/exampleCases.php') Example Cases 
