.card.my-3.shadow
  .card-header Security
  .card-body
    a(href='/techHQ/security/internetProtection.php') Internet Protection
    br/
    a(href='/techHQ/security/infectionProtection.php') Malware and Virus Protection

.card.my-3.shadow
  .card-header Security Sites
  .card-body 
    a(href="https://www.privacytools.io" target="_blank") PrivacyTools.io
    br/
    a(href='https://grc.com/x/ne.dll?bh0bkyd2' target='_blank') Shields UP!

.card.my-3.shadow
  .card-header System-Wide Tracking, Ad, Malious Site Blocking
  .card-body 
    a(href="https://quidsup.net/notrack/" target="_blank") Quidsup's Notrack
    br/
    a(href="https://pi-hole.net/" target="_blank") Pi Hole

.card.my-3.shadow
  .card-header DNS related
  .card-body
    a(href="https://www.quad9.net/" target="_blank") Quad9 DNS 
    br/
    a(href="https://www.opendns.com/" target="_blank") OpenDNS 
    br/
    a(href="https://www.cloudflare.com/dns/" target="_blank") CloudFlare DNS 
