.card.shadow.my-3
  .card-header.bg-primary.text-white  Multimedia Related

  .card-body
    a(href='/techHQ/techcenter/multimedia/id3TagLookup.php') ID3 Tag-lookup

.card.shadow.my-3
  .card-header.bg-primary.text-white  System Tools Related

  .card-body

    a(href='#')
    | Making Windows 7 look like Windows 10
    br
    a(href='#') Routine Maintenance
    br
    a(href='/techHQ/techcenter/windowsUpdates.php') Windows Updates
    br
    a(href='/techHQ/techcenter/system/bad_uninstalls.php') Bad Uninstalls
    br
    a(href='/techHQ/techcenter/system/restorePointsPrune.php') Restore Point Pruning
    br
    a(href='/techHQ/techcenter/system/systemLog.php') System Logs
    br