@import "01-plugins/plugins-dir";
@import "03-variables/variables-dir";

.distReview {
  @include margin(null auto null auto);
  width         : 99%;
  clear         : none;
  margin-top    : 2px;

  @include padding(2px 2px null 5px);

  color         : rgb(0, 0, 0);
  border       : 1px solid rgb(0, 0, 0);
  text-align    : left;
  font-family   : $Courier;
  line-height   : 25px;
}



.distRevTitle {
  clear       : both;

  @include padding(1px 1px 1px 1px);

  border      : $solidBorder;
  font-size   : 20px;
  font-weight : bold;

}


#distroTables {
    /*border: $solidBorder;*/
  display          : inline-block;
  width            : 97%;
  clear            : both;
  margin-top       : 5px;
  margin-bottom    : 5px;

  @include padding(5px 1% null 1%);

  background-color : rgb(255, 255, 255);
  a:link {
    margin         : 2px;
    @include padding(3px null 3px null);

    overflow       : auto;
    font-family    : $Arial;
  }
}



#personalExp {
  @include   margin(null auto null auto);

  width            : 100%;
  margin-top       : 15px;
  padding-bottom   : 10px;
  color            : rgb(0, 0, 0);
  border           : $solidBorder;
  background-color : rgb(255, 255, 255);
  blockquote {

    @include margin(0 0 0 0 );
    font-family   : $MSSans;
    font-weight   : bold;
  }
}

#YTReviewer {
  clear          : both;

  @include padding(0 0 10px 10px);
  overflow       : auto;
  border         : $solidBorder;
  line-height    : 20px;
  .left {
    width : 40%;
    float : left;
  }
  .right {
    width : 40%;
  }
}


#TIC
{
     .TICHomepage, .TICUsage
    	{
    		border     		    : $solidBorder;

     		img
     		{
				@include size(65%, 65%);
     		}
     }
}
