@import "01-plugins/plugins-dir";
@import "03-variables/variables-dir";

// REALLY not sure if this container-type ID is needed
#linuxSection
{
    @include margin(null auto null auto);

    // Whether DE, Distro, TIC or whatnot ... this is the title
    .name
    {
        // Info is a guess for now
        font-size: 24px;
        font-weight: bold;
        text-decoration: underline;

        // put the name class at the start of the line and this is for the icon
        // both icon and name will be on the same line
          img
          {
            @include size(40px);

          }

    }

}

.screenshots
{

  img
    // Values are a guess for now
    {
    width: 500px;
    }

}

.linuxContainer
{
  border: 1px solid #000000;
  @include padding(2px 2px 2px 5px);
  box-shadow: 2px 2px 2px #000000;
  @include margin(null 2px 20px 2px);

}



#distrowatch {
  height           : 200px;
  @include padding(2% 2% 1% 1%);
  @include margin(null auto null auto);

  overflow         : auto;
  border           : rgb(0, 0, 0) 2px solid;
  background-color : rgb(255, 255, 255);
  font-family      : $TNR;
  /*margin-left: 50px;*/

  rss-item-full {
    color : rgb(255, 0, 0);
  }
  a:link {
    color            : rgb(255, 0, 0);
    background-color : transparent;
  }
}
