

  ul
    li
      .progTitles
        img(src=' ', alt='BurnAware Icon')
        a(href='http://www.burnaware.com') BurnAware 
      .progDesc
        p
          | (There are Pro versions availble, though my comments and review are on the free version)
        p
          | It has the same bullet points I list in CDBurneXP and InfraRecorder, and it is simple. Not &quot;dumbed down&quot; but
          | &quot;Burning a disc is not &quot;that complicated, so why make it so?&quot; simple. It seems pretty fast (reaction time
          | and burning) too. As I said I like programs that are lite, do what they are suppose to do and do it well.
        p
          | In my list of recommended burning software, I will include BurnAware 100% from now on.
        p
          | FOR &quot;NEW&quot; USERS, I am not saying CDBurnerXP OR InfraRecoreder are &quot;complicated&quot; or difficult to use,
          | by any means, though I have to say if you are a new (computer) user, then BurnAware Free would by my first recommendation.
          | It has a &quot;lite&quot; GUI-&quot;Wizard&quot; (advanced users, please do not get scared off by this), though (in my
          | opinion) its enough of an Interface to help some users, WITHOUT getting in the way of some more advanced users

    li
      .progTitles
        img(src='/techHQ/progIcons/system_tools/Burner/984__CDburnerXP2.gif', alt='CDBurnerXP')
        a(href='http://www.cdburnerxp.se/') CDBurnerXP
      .progDesc
        p CDBurnerXP, is a simple but powerful image burning program that can handle.
        ul
          li Data Discs (CDs/DVDs)
          li ISOs/Disc Image Creation and Burning of exisiting images
          li VIDEO DVDS
        |           
        p
          | This does not have all the &quot;bells and whistle&quot; that may be contained in Nero or Roxio&apos;s software, and to be
          | honest, that is what makes this program great. It does what it is suppose to do and does it well, without being bloated and
          | hard on system resources
    li
      .progTitles
        img(src='/techHQ/progIcons/system_tools/Burner/ImgBurn_MAINICON.png', alt='Img Burn')
        |         
        a(href='http://www.imgburn.com/') ImgBurn
      |         
      .progDesc
        p
          | This is an advanced burninng program, that has many advanced options ( I never need to change them anyway), but if you
          | need or want to, they ARE there to change.
        |         
        p This program may turn off some new users, though attract some advanced users.
        |         
        p
          | I have just (even after years of use) the &quot;Disc Layout&quot; view of this program and honestly feel goofy that it
          | took me this long to find it. (This is where you can add folders by &quot;Drag and drop&quot;, with an interface similiar
          | to CDBurnerXP for example). I have never (minus a dying burner) had this program fail me.
        |         
        p
          | In fact If you want to make a (example) VIDEO DVD disc and settings are not correct, when you add the AUDIO_TS and
          | VIDEO_TS to the &quot;disc project&quot;, it will say &quot;hey ... This looks like this is going to be a VIDEO DVD .. you
          | want me (IMG Burn) to change a few settings on this particular disc&apos;s project settings to match VIDEO DVD
          | standards?&quot; (so you do not burn a DVD but are unable to watch it in any DVD player because one setting was off)
    li
      .progTitles
        img(src='/techHQ/progIcons/system_tools/Burner/1276__infrarecorder_icon.png', alt='Infra Recorder Icon')
        a(href='http://infrarecorder.org/') InfraRecorder
      .progDesc
        p
          | Portable version, is available as well as seperate versions for 32 or 64bit computers.
        p
          a(href='http://infrarecorder.org/', target='_blank') InfraRecorder
          |  is a simple but powerful image burning program that
          |         can handle
        ul
          li Data Discs (CDs/DVDs)
          li ISOs/Disc Image Creation and Burning of exisiting images
          li VIDEO DVDS
        p
          | This does not have all the &quot;bells and whistle&quot; that may be contained in Nero or Roxio&apos;s software, and to
          | be honest, that is what makes this program great. It does what it is suppose to do and does it well, without being bloated
          | and hard on system resources
  hr
  |   
  p
    | None of the functions of these programs are effected by not installing any toolbars (if presented with a toolbar prompt
    | during install), either.
