:root {
  /******************* Colors ********************/
  --black: rgb(0, 0, 0);
  --white: rgba(255, 255, 255, 1);
  --white50: rgba(255, 255, 255, 0.5);
  --white75: rgba(255, 255, 255, 0.75);
  --darkGrey1: rgb(51, 51, 51);
  --darkGrey2: rgb(62, 63, 58);
  --forrestGreen: rgb(0, 100, 0);
  --green: rgb(0, 153, 0);
  --red: rgb(255, 0, 0);
  --navy: rgb(0, 0, 128);
  --midnightBlue: rgb(25, 25, 112);
  --maroon: rgb(102, 0, 0);
  --tanL: rgb(255, 250, 205);
  --tanD: rgb(238, 233, 191);
  --lightMaroon: rgb(153, 0, 0);
  --darkturquoise: rgb(30, 80, 87);

  // This is #333333
  --themeBGColorMain: var(--darkGrey1);
  --themeBGColorAccent: var(--darkturquoise);

  .themeColorAccent
  {
    color: var(--themeBGColorAccent);
  }


  // --themeBGColor2: var(--darkGrey2);


  --Verdana: Verdana, Geneva, Arial, Helvetica, sans-serif;
  --TNR: "Times New Roman", Times, serif;
  --Courier: "Courier New", Courier, monospace;
  --Helvetica: "Helvetica Neue", Helvetica, sans-serif;
  --MSSans: "MS Sans Serif", Geneva, sans-serif;
  --SegoeUI: "Segoe UI", Arial, Helvetica, sans-serif;
  --Tahoma: Tahoma, Verdana, Segoe, sans-serif;
  --Arial: Arial, Helvetica, san-serif;
  --Roboto: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

}

// I THINK the only real point to this below is the Ublock O. browser addon pages ... I need to figure out a btter way to do this
// The IDEA was to use spans and class names below ... this seems silly or un-needed ... un-needed classes or something
.greenText {
  color: var(--green);
}

.redText {
  color: var(--red);
}

/******************* Width ********************/
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-33 {
  width: 33%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-95 {
  width: 95%;
}

/******************* Icon ********************/

// Should i put this in "components" instead?
.icon {
  display: inline-block;

  // margin on right side only
  margin-right: 1.1rem;

   a {
    fill: var(--white);
    color: var(--white);
  }

  &--size32,
  .iconSM {
    height: 32px;
    width: 32px;
  }

  &--size40 {
    height: 40px;
    width: 40px;
  }

  &--size48,
  .iconLG {
    height: 48px;
    width: 48px;
  }

}

/******************* Custom Vars ********************/

$footerheight: 75px;
