

div.row
  div.col-lg-6
    div.distroHeader Homepage:
      <?php echo $homepage; ?> <br />
    br
    div.distroHeader Distro &quot;Family&quot;:
        <?php echo $family; ?>
    div.distroHeader Forums:
      <?php echo $forum; ?>
    div.distroHeader Destop Options: 
      <?php echo $DE; ?>
    div.distroHeader Software Based:
      <?php echo $software; ?>



  <div class="col-lg-6">
    <div class="distroHeader"> Lastest Version: </div>
            <?php echo $version; ?><br />

    <div class="distroHeader">Download:</div>
             <?php echo $download; ?> <br />

    <div class="distroHeader">Distrowatch Link: </div>
          <?php echo $distroWatch; ?>

    <div class="distroHeader">Targeted User:</div>
    <?php echo $target; ?>

    <div class="distroHeader"> Similar Distros </div>
      <?php echo $similar; ?>

  </div>
</div>
