//output:distroRec.html
.card
  .card-block
    h4.card-title
    | Would I recommend this distro to a new user (to Linux)  (Yes/No) ?    
    .card-text
      <?php echo $newbRecommend; ?>
      br
      br 
      blockquote
        <?php echo $recComments; ?>
