//output:distroTable.tpl

.row
  .col-lg-6
    .distroHeader Homepage:
    |  <?php echo $homepage; ?> <br />

    .distroHeader Distro &quot;Family&quot;:
    |  <?php echo $family; ?>
    .distroHeader Forums:
    |  <?php echo $forum; ?>
    .distroHeader Destop Options:
    |  <?php echo $DE; ?>
    .distroHeader Software Based:
    |  <?php echo $software; ?>
.col-lg-6
  .distroHeader Lastest Version:
  |  <?php echo $version; ?>
  br
  .distroHeader Download:
  | <?php echo $download; ?>
  br
  .distroHeader Distrowatch Link:
  |  <?php echo $distroWatch; ?>
  .distroHeader Targeted User:
  |  <?php echo $target; ?>
  .distroHeader  Similar Distros:
  |  <?php echo $similar; ?>
