.container
	.row
		.col-lg-3
			.icon 
				<?php echo $icon; ?>
		.col-lg-6
			.distroTitle
				<?php echo $name; ?>
			


<?php include $_SERVER['DOCUMENT_ROOT'].('/linuxHQ/modules/distroTable.php'); ?>
<?php include $_SERVER['DOCUMENT_ROOT'].('/linuxHQ/modules/ytsection.php'); ?>

.card
  .card-block
    h4.card-title
    | Description
    .card-text
      <?php echo $description; ?>


.card
  .card-block
    h4.card-title
    | Screenshots    
    .card-text
      <?php echo $distroSshot; ?> 

.card
  .card-block
    h4.card-title
    | Reviews    
    .card-text
      <?php include $_SERVER['DOCUMENT_ROOT'] . ('/linuxHQ/modules/linuxDistroReviewer.php'); ?>


.card
  .card-block
    h4.card-title
    | My Experience:   
    p.card-text
      <?php echo $EXP; ?> 
      br 		
      <?php echo $experience; ?> 
      br
      br


		p Any other comments I have about this distro:
			<?php echo $otherComments; ?><br />
			<?php include $_SERVER['DOCUMENT_ROOT'].('/linuxHQ/modules/distroRec.php'); ?>

  </div>
</div>


.card
  .card-block
    h4.card-title
    |  USB Drive Creation Experience   
    .card-text
    	p
      	a(href='/linuxHQ/info.php', target='_blank') Explaination of what this section is
			
			#usb 
				<?php include $_SERVER['DOCUMENT_ROOT'].('/linuxHQ/modules/usb.php'); ?>
		
