//output: adblockBasics.html 

<?php include "/techHQ/browsers/adblocking/variables.php"; ?> 

h1 Ad/Tracker Blocking Basics
hr

.card
  .card-block
    h4.card-title
    | Steps to Setting up basic Blocking        
    p.card-text
      ol
        li Pick the browser you want use
        li Pick the addon you want to try
        li
          | Install it and most of them are ready to go &ldquo;out of the gate&rdquo;&mldr; sure you can add lists to block more items, but if
          | you do not want to, you do not need to
          .card



h3. Adblockers I like Filtered by Browser 

.card-block
  h3.card-title $firefoxIcon
  p.card-text
    .row
      p.col-lg-3
        $ublockIcon 
        $uBlockOFirefox
      
      p.col-lg-3
        $adguardIcon
        $adGuardFirefox
        
      p.col-lg-3
        p
          $ABEFirefox Discontinued/No Long Developed
        p
          | Note: The Dev of Adblock Edge notes that &ldquo;Ublock is better&rdquo; and is cross-browser, so you &ldquo;may want to use that&rdquo;
          | (My quotes, 
          br
          | not his)
    .row
      $EHFirefox
      

.card
  .card-block
    h4.card-title img.iconsLeft(src='/graphics/progIcons/browsers/chrome.png') Chromium/Google Chrome
    p.card-text
      .row
        .col-lg-3
          $ublockIcon 
          $UBlockOriginChrome
        
        .col-lg-3  
          $adguardIcon
          $AdguardChrome
        
.card
  .card-block
    h4.card-title Opera 
    p.card-text
      .row
        .col-lg-3
          $ublockIcon 
          $uBlockOriginOpera
          
        .col-lg-3
          $adguardIcon
          $adGuardOpera



br
h3 Palmoon
ul
  li
    a(href='https://addons.palemoon.org/extensions/privacy-and-security/adblock-latitude/') Adblock Latitude


hr
h3 Knowing if Ublock is Enabled/Disabled

ul
  li
    h4 Adblock Edge
    br
    $adblockEdgeIcon
    br
    br
    img(src='/techHQ/browsers/adblocking/screenshots/abe/abeOn.jpg', alt='AdBlock Edge Enabled')
    br
    | AdBlock Edge Enabled
    br
    br
    img(src='/techHQ/browsers/adblocking/screenshots/abe/abeOff.jpg', alt='AdBlock Edge Disabled Completely')
    br
    | AdBlock Edge Disabled Completely
    br
    br
    img(src='/techHQ/browsers/adblocking/screenshots/abe/abeDisableSpecific.jpg', alt='AdBlock Edge Disabled Per-site')
    br
    | AdBlock Edge Disabled Per-site
    br
    br
    img(src='/techHQ/browsers/adblocking/screenshots/abe/abeDisablePageOnly.jpg', alt='AdBlock Edge Disabled Per-site 2')
    br
    | AdBlock Edge Disabled Per-site 2
    br
      
  br
  hr
    
.row
  p $adguardIcon
  .col-lg-3 
    | img(src='/techHQ/browsers/adblocking/screenshots/adguard/adguardOn.jpg', alt='Adguard Enabled', width='700px', height='400px') Adguard Enabled
  .col-lg-3
    | img(src='/techHQ/browsers/adblocking/screenshots/adguard/adguardSiteOff.jpg', alt='Adguard Disabled Per-site', width='700px', height='400px') Adguard Disabled

  .col-lg-3
    |  img(src='/techHQ/browsers/adblocking/screenshots/adguard/adguardTotallyOFF.jpg', alt='Adguard Disabled Completely', width='700px', height='400px') Adguard Disabled Completely
    br
    

    
.card
  .card-block
    h4.card-title $ublockIcon Ublock Enable vs Disabled 
    |         
    p.card-text
      img(src='/techHQ/browsers/adblocking/screenshots/ublock/ublockEnabled.jpg', alt='Ublock Enabled', width='60%', height='60%')
      br
      | Ublock Enabled - Notice Blue &quot;circle&quot;
      br
      li(style='list-style: none')
        img(src='/techHQ/browsers/adblocking/screenshots/ublock/ublockDisabled.jpg', alt='Ublock Disabled', width='800px', height='350px')
        br
        | Ublock Disabled - Greyed out &quot;circile&quot;


<?php include $sitePath . "/modules/tech/baseTechFooter.tpl"; ?>
