//output:favoritePPAs.html

h1 MASS PPA


ul Supports Bionic (18.04), Xenial (16.04), and Trusty (14.04 - End of Life in April 2019)
  li 
    a(href="sudo add-apt-repository ppa:costales/anoise") Ambient Noise
  li 
    a(href="sudo add-apt-repository ppa:danielrichter2007/grub-customizer") Grub Customizer
  li 
    a(href="sudo add-apt-repository ppa:heyarje/makemkv-beta") MakeMKV

ul
  
  
  li Lollypop Music Player
  li Media Elch Media renamer/Meta info downloader - PPA removed ... (todo: add link to Tiny Media Manager here )
  li Libre Office PPA
  li Vocal PPA
| 

ul Supports Trusty (14.04) ONLY 
  li 
    a(href="sudo add-apt-repository ppa:noobslab/noobslab-conky") Noobslab Conky PPA 



h4 With per-PPA Confirmation - note the list below is NOT SORTED YET for versions 

code
  | sudo add-apt-repository ppa:costales/anoise &amp;&amp; sudo add-apt-repository ppa:danielrichter2007/grub-customizer &amp;&amp; sudo add-apt-repository ppa:gnumdk/lollypop &amp;&amp; sudo add-apt-repository ppa:heyarje/makemkv-beta &amp;&amp; &amp;&amp; sudo add-apt-repository ppa:libreoffice/ppa &amp;&amp; sudo add-apt-repository ppa:nathandyer/vocal-daily &amp;&amp; sudo add-apt-repository ppa:noobslab/noobslab-conky

h4 Without per-PPA Confirmation

code
  | sudo add-apt-repository -y ppa:costales/anoise &amp;&amp; sudo add-apt-repository -y ppa:danielrichter2007/grub-customizer &amp;&amp; sudo add-apt-repository -y ppa:gnumdk/lollypop &amp;&amp; sudo add-apt-repository -y ppa:heyarje/makemkv-beta &amp;&amp; sudo add-apt-repository -y ppa:kvibes/mediaelch &amp;&amp; sudo add-apt-repository -y ppa:libreoffice/ppa &amp;&amp; sudo add-apt-repository -y ppa:nathandyer/vocal-daily &amp;&amp; sudo add-apt-repository -y ppa:noobslab/noobslab-conky

ul.accordion-tabs-minimal
  li.tab-header-and-content
    a.tab-link(href='#') 
    |     
    .tab-content
      .card
        .card-block
          h4.card-title Individual PPA List - Multimedia Apps
        .card-text
        | Ambient Noise
            code sudo add-apt-repository ppa:costales/anoise
          | Krita Editor
            code sudo add-apt-repository ppa:dimula73/krita
          | Lollypop Music Player
            code sudo add-apt-repository ppa:gnumdk/lollypop
          | MakeMKV
            code sudo add-apt-repository ppa:heyarje/makemkv-beta
          | MediaElch, for assisting naming files for Kodi
            code sudo add-apt-repository ppa:kvibes/mediaelch
          | Vocal Daily PPA
            code sudo add-apt-repository ppa:nathandyer/vocal-daily
          | for &ldquo;Variety WP changer&rdquo;
            code sudo add-apt-repository ppa:noobslab/noobslab-conkypeterlevi/ppa


  li.tab-header-and-content
    a.tab-link(href='#') 
    |     
    .tab-content
      .card
        .card-block
          h4.card-title Individual PPA List - Other Apps 
        .card-text
          | Grub Customizer PPA for customizing the Grub Boot Loader
            code sudo add-apt-repository ppa:danielrichter2007/grub-customizer
          | Kubuntu Plasma 5, backports
            code sudo add-apt-repository ppa:kubuntu-ppa/backports
          | PPA for the LATEST Libre Office version
            code sudo add-apt-repository ppa:libreoffice/ppa
          | ?? guake drop down terminal alternative?
            code sudo add-apt-repository ppa:linvinus/altyo
          | Noobslab Conky PPA
            code sudo add-apt-repository ppa:noobslab/noobslab-conky
          | for &ldquo;Variety WP changer&rdquo;
            code sudo add-apt-repository ppa:noobslab/noobslab-conkypeterlevi/ppa
          | Conky-manager, aptik, timeshift
            code sudo add-apt-repository ppa:teejee2008/ppa
          | Veracrypt
            code sudo add-apt-repository ppa:unit193/encryption
          | Atom and/or Brackets Editors PPA
            code sudo add-apt-repository ppa:webupd8team/atom &amp;&amp; sudo add-apt-repository ppa:webupd8team/brackets

<?php include $sitePath . "/modules/footer.tpl"; ?>
