
<?php $sitePath = "/home/xmetalx1/public_html"; ?>
<?php include $sitePath . "/templates/linux/massLinuxIncludes.tpl"; ?>
<?php include $sitePath . '/modules/linux/linuxBaseHeader.tpl'; ?>
<div id="mainBody" class="row">
  <div class="col-xm-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"><?php include $sitePath . '/linuxHQ/modules/section/linuxNDesktopEnvCol1.tpl'; ?></div>
  <div class="col-xm-12 col-sm-12 col-md-10 col-lg-10 col-xl-10"><?php include $sitePath . '/linuxHQ/modules/sections/linuxNDEContent.tpl'; ?></div>
</div>