//output:baseLinuxApp.html

<?php   $sitePath = "/home/xmetalx1/public_html"; ?>
<?php   include $sitePath . "/templates/linux/massLinuxIncludes.tpl"; ?>
<?php   include $sitePath . '/modules/linux/linuxBaseHeader.tpl'; ?>

#mainBody.row.col-12
  .col-xs-12.col-md-2
    <?php include $sitePath . '/linuxHQ/modules/sections/linuxNAppCol1.tpl'; ?>

  .col-xs-12.col-md-10
