//output:baseLinuxTutorials.html 

body 

  <?php include 'linuxNavMenu.tpl'; ?>


  #mainBody.row
    
    .col-lg-3
      <?php include $sitePath . '/linuxHQ/modules/linuxNTemplate_Tutorials_Col1.php'; ?>

    .col-xm-9
      
