//output:baseLinuxDE.html

<?php $sitePath = "/home/xmetalx1/public_html"; ?>
<?php include $sitePath . "/templates/linux/massLinuxIncludes.tpl"; ?>
<?php include $sitePath . '/modules/linux/linuxBaseHeader.tpl'; ?>

.row 
  .col-lg-4
    <?php include $sitePath . '/linuxHQ/modules/section/linuxNDesktopEnvCol1.tpl'; ?>

  .col-lg-4
    <?php include $sitePath . '/linuxHQ/modules/sections/linuxNDEContent.tpl'; ?>
