//output:baseTechHeader.html

doctype html
// the closing HTML tag has to be removed too 
html(lang="en")

head
  meta(charset='UTF-8')
  
  title <?php echo $completeTitle; ?>

  meta(name='Description', content="Xmetafanx's Homepage is a site that can help you with Computer Problem, File Sharing News, Computer FAQ's, Security Information, Antivirus and Spyware Removal, and much much more..")

  // Various Meta Tags
  meta(name='robots', content='index,follow,noodp')
  meta(name='googlebot', content='index,follow')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  base(href='http://xmetal.x10.mx')

  // link(rel='alternate', href='xml/site_updates.xml', type='application/rss+xml', title='Xmetalfanx Site Updates and Information')
  // link(rel='alternate', href='security/securityIndex.php', type='application/rss+xml', title='Xmetalfanx Must Have Programs') 
  // link(rel='alternate', href='xml/program_updates.xml', type='application/rss+xml', title='Xmetalfanx Recently Added Programs')

  link(rel='index', href='/index.php')
  link(rel='home', href='/index.php')
  
  // JQuery
  script(src='http://xmetal.x10.mx/scripts/jquery-3.2.0.min.js')

  // Tether
  script(src="http://xmetal.x10.mx/tether133/tether.min.js")

  // Bootstrap 4 alpha 6 
  link(rel='stylesheet', href='http://xmetal.x10.mx/bootstrap/css/bootstrap.min.css')
  script(src='http://xmetal.x10.mx/bootstrap/js/bootstrap.min.js' )

  // For Navigation Menu from Bourbon.io and it's Refills section   
  script(src="http://xmetal.x10.mx/scripts/nav.js", type="text/javascript")

  // Link to My External Style Sheet
  link(rel='stylesheet', href='http://xmetal.x10.mx/techHQ/stylesheets/customcss.css')
 
  link(href='/techHQ/stylesheets/startpage.css', rel='stylesheet', type='text/css')
  link(href="/techHQ/stylesheets/GAOTD.css" rel="stylesheet" type="text/css")


  // script type="text/javascript" src="/scripts/snow.js"></script>

body 

  <?php include $sitePath . "/modules/tech/menus/techNavMenu.tpl"; ?> 
