//output:lowerFooter.html

.row 
  .col-lg-6
    a(href='xml/rss_feeds.php')
      img(src='/techHQ/graphics/xmlgraphics/rss.gif', alt='RSS Graphic')
      img(src='/techHQ/graphics/xmlgraphics/xml.gif', alt='Feed 2 J - RSS Feed to Javascript')

  .col-lg-6
    | 2002- Present - Xmetalfanx@yahoo.com
    a(href='#') Website Validation Information
