//output: techHQNavMenus.html 
  
  
nav.navbar.navbar-expand-lg.navbar-dark
  a.navbar-brand.hidden-md-down(href='/techHQ/index.php') Tech HQ
  button.navbar-toggler(type="button" data-toggle="collaspe" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  .collaspe.navbar-collaspe#navbarNav
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/techHQ/software/softwareIndex.php') Software
      li.nav-item
        a.nav-link(href='/techHQ/techcenter/techCenterIndex.php') Tech Center ( Tips/Tutorials )
      li.nav-item
        a.nav-link(href='/techHQ/browsers/browserIndex.php') Web Browser
      li.nav-item
        a.nav-link(href='/techHQ/security/securityIndex.php') Security
