@import '../02-components/components';

/********** Global *****************/

*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1.05rem;
  width: 100%;
}

body {
  font-size: 16px;
  min-height: 100%;

  display: grid;
  grid-template-areas:
    'header'
    'main-section'
    'footer';
  grid-template-columns: 1fr;
  height: 100vh;

  a:link,
  a:hover,
  a:visited {
    color: var(--midnightBlue);
  }


  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--themeBGColorAccent);
    font-weight: 800;
  }

}

// problem is this extend is from something later on in theming
footer {
  background-color: var(--themeBGColorMain);
  color: var(--white);
  display: flex;
  grid-area: footer;
  margin: 0;
  max-height: $footerheight;
  padding: 1.5rem;

  a:link,
  a:hover,
  a:visited {
    background-color: inherit;
    color: var(--white);
    text-decoration: none;
  }

  i {
    margin: 0 0.5rem;
  }
}

header {
  background-color: var(--themeBGColorMain);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: var(--white75);
  font-size: 30px;
  font-weight: 800;
  grid-area: header;
  text-align: center;
}

// no longer in bootstrap 5
.text-justify {
  text-align: justify;
}

// the main section between the nav top bar and the footer
.mainSection {
  grid-area: main-section;
  padding: 0.5rem 0;

  &--left-wide,
  &--right-wide {
    display: grid;
  }

  &--left-wide {
    grid-template-columns: auto 20%;
    grid-template-areas: 'sidebar main';
  }

  &--right-wide {
    grid-template-columns: 20% auto;
    grid-template-areas: 'main sidebar';
  }
}
