<?php

	$the_title ='Xmetalfanx\'s Homepage - Tech Center - Drive Imaging Software';
?>

p
  | a long overdue segment on Drive imaging ...that I planned on added over a year ago, but never got around to. This will (in general ..what I don&apos;t cover, I will link to sites that do) cover

h3 My Favorites - (All FREE)
ul
  li
    a(href='http://www.macrium.com/reflectfree.asp')
      img(src='/techHQ/progIcons/system_tools/backup/1579__DriveImage_XML.png', alt='Drive Image XML')
    |   
    a.progName(href='http://www.runtime.org/dixml.htm') DriveImage XML
    br
    br


li
  a(href='http://www.paragon-software.com/home/db-express/', target='_blank')
    img(src='../../progIcons/system_tools/backup/paragonBackup.png', alt='ParagonBackup Icon')
    span.
      | Paragon Backup and Recovery (Advanced) Free Edition



ul
  li
    a(href='http://www.paragon-software.com/home/db-express/', target='_blank')
      img(src='/techHQ/progIcons/system_tools/backup/reflect_128.gif', alt='Macrium Reflect Icon')

	li 
    a(href='http://www.macrium.com/reflectfree.asp', target='_blank') Macrium Reflect 
    | - One I heard about from friends and have re-tried ... seems better than it did before, but maybe I didn&apos;t 
    |  try it long enough before
		p
		  | I have not had to restore with any of these yet, but I AM grateful for that ... I am not knocking any of these ... I am just listing a few to give you options and to see &quot;which one works best for me&quot;. I am impressed by all of these, though for newbies I will say DriveImage XML&apos;s Interface can be a turnoff, although anyone who reads the manual will find how easy that program is to use too

li
  span.redtext partImage
  |  (a linux based drive imager that you can use for Ubuntu partitions
li
  span.redtext PartImage-ng
  |  (I currently remember reading about this one, but I have no clue what the differences are between this and partImage are)
|   
li
  span.redtext DeviceImage
  |  (APPARENTLY the new &quot;maintained&quot; so called &quot;version&quot; of partImage)
|   
li
  | shareware imagers like 
  a(href='http://www.acronis.com/homecomputing/products/trueimage/', target='_blank') TrueImage
  |  for example, I plan to link to sites on, but do not plan on going into much details here since the others I listed above
  |  are freewares/ open source, and these ones are NOT)


h4 Others
ul
  li
    a(href='http://clonezilla.org/', target='_blank') Clonezilla
    |  (which I just heard of recently, and HONESTLY never tried before,

li
  | ** WHAT SOFTWARE TO USE TO BURN THE IMAGES to external media** (Not counting the fact you can use an external hard drive, and/or a USB &quot;Thumb&quot; drive)
    
		 ul
		  li.code2
		    | Remember ... even if your computer is covered under some warranty .. in any sense if your Hard drive fails and has to be replaced ...a drive image can help get you back to EXACTLY how your computer was (at the time you took the image of the 
		    | drive of course).. This may be a few hours ...depending on your computer .. but if this means &quot;Hours ... not days or weeks ... AND not losing your personal data&quot; ... that&apos;s even better ... at least if you ask me.

    
	li
	  | ** What are the Boot CD/DVD (and there are bootable USB drives but I need to research that more) options you have to ACCESS the backed up images.
	  span.italics (What good are the backups of you have to &quot;restore everything&quot; to get to them?) 


<?php include $sitePath . "/modules/footer.tpl"; ?>
