.card.d-none.d-md-block
  .card__header Educational Sites
  .card__body
    .row.mx-auto.text-center
      .col-lg-3.col-md
        a(href='https://www.khanacademy.org/' target='_blank' rel='noreferrer' aria-label='Link to Khan Academy')
          img.mx-auto.d-none.d-lg-block.img-fluid(data-src='/techHQ/graphics/khan-logo.png' alt='Khan Academy website graphic')
          | Khan Academy

      .col-lg-3.col-md
        a(href='https://linuxacademy.com/' target='_blank' rel='noreferrer' aria-label='Link to Linux Academy')
          img.mx-auto.d-none.d-lg-block.img-fluid(data-src='/graphics/linuxAcademy.png' alt='Linux Academy website graphic')
          | Linux Academy

      .col-lg-3.col-md
        a(href='https://www.digitalocean.com/community/' target='_blank' rel='noreferrer' aria-label='Link to Digital Ocean')
          img.mx-auto.d-none.d-lg-block(data-src='/techHQ/graphics/digital-ocean.png' alt='Digital Ocean website graphic')
          | Digital Ocean

      .col-lg-3.col-md
        a(href='http://www.kristakingmath.com/' target='_blank' rel='noreferrer' aria-label='Link to Krista King\'s Math related site')
          img.mx-auto.d-none.d-lg-block.img-fluid(data-src='/graphics/kking_logo.png' alt='Krista King Math Site website graphic')
          | Krista King Math Tutor

    .px-3.mt-4
      a(href='http://www.scienceandmath.com/' target='_blank' rel='noreferrer' aria-label='Link to ScienceandMath.com')
        img.d-none.d-lg-block.img-fluid(data-src='/graphics/mathandscience.jpg' alt='Science and Math.com website graphic')
        |
Science and Math.com



<?php include $rootDir . "/techHQ/modules/GAOTD.tpl"; ?>

<!-- include baseTechFooter -->
<?php include $rootDir . '/modules/tech/baseTechFooter.tpl'; ?>
