.card.d-none.d-md-block.mb-5.border-secondary
  .card-header.bg-primary.text-white.pb-1.mb-4.font-weight-bold Educational Sites
  .card-text.px-3
    .row.text-center
      .col-lg-3.col-md
        a(href='https://www.khanacademy.org/' target='_blank' aria-label="Link to Khan Academy")
          img.mx-auto.d-none.d-md-block.lazyload(data-src='/techHQ/graphics/khan-logo.png' alt='Khan Academy Graphic')
          | Khan Academy
      .col-lg-3.col-md
        a(href='https://linuxacademy.com/' target='_blank' rel="noreferrer" aria-label="Link to Linux Academy")
          img.mx-auto.d-none.d-md-block.lazyload(data-src='/graphics/linuxAcademy.png' alt='Linux Academy Graphic')
          | Linux Academy
      .col-lg-3.col-md
        a(href='https://www.digitalocean.com/community/' target='_blank' rel="noreferrer" aria-label="Link to Digital Ocean")
          img.mx-auto.d-none.d-md-block.lazyload(data-src='/techHQ/graphics/digital-ocean.png' alt='Digital Ocean Graphic')
          | Digital Ocean
      .col-lg-3.col-md
        a(href='http://www.kristakingmath.com/' target='_blank' rel="noreferrer" aria-label="Link to Krista King's Math related site")
          img.mx-auto.d-none.d-md-block.lazyload(data-src='/graphics/kking_logo.png' alt='Krista King Math Site graphics')
          | Krista King Math Tutor
        a(href='https://www.youtube.com/channel/UCUDlvPp1MlnegYXOXzj7DEQ' rel="noreferrer" aria-label="Link to Krista King's Math Youtube page") (or Her Channel on Youtube)

    .row.col-12.px-3.mt-4
      a(href='http://www.scienceandmath.com/' target='_blank' rel="noreferrer" aria-label="Link to ScienceandMath.com") Science and Math.com
        img.d-none.d-1g-block.lazyload(data-src='/graphics/mathandscience.jpg' alt='Science and Math.com graphics')


<?php include $path . "/techHQ/modules/GAOTD.tpl"; ?>

<!-- include baseTechFooter -->
<?php include $path . '/modules/tech/baseTechFooter.tpl'; ?>