//output:link.html

div 
  a(href='#support') Support |
  a(href='link.php#portals', target='_self') Portals |  
  a(href='#search')  Search Engines |   
  a(href='#dvd') DVD-Related |   
  a(href='#webmasters') Website (coding) | 
  a(href='#p2p')  File Sharing Links | 
  a(href='#security') Security Sites | 

p
  a(href='http://www.ricksteves.com/', target='_blank')
    img(src='graphics/logo1.gif', alt='Rick Steves Link', width='250', height='70')
  |  Depsite being able to checkout Mr. Steves&apos; programs anytime I want on DVD from the local library, I still stop and watch them on PBS, anytime I see they are on. I could go on and on about all the things I like about these programs and the way Mr. Steves&apos; hosts them, though I will not waste anyones time.. just check them out for yourself and you&apos;ll see what I mean.
|  
p
  a(href='http://www.mathtutordvd.com', target='_blank')
    img(src='graphics/portals/mathportallogo.jpg', alt='Math Portal Logo', width='658', height='82')
|  
p
  | I have recently found Mr. Jason Gibson&apos;s &quot;DVD Classes&quot; and I must say how interesting I find them. Some of the items he covers are these programs are things I had trouble with back in high school (or at least I didn&apos;t &quot;completely and clearly&quot; understand them). Watching these programs, I think &quot;Oh ... is that what they were trying to explain?... that&apos;s EASY&quot;. To me (and the way I like learning) this is perfect. It&apos;s just the right &quot;speed&quot; while not &quot;dumbing&quot; anything down. He not only shows one way, but multiple different ways of getting to a solution AND how to get there.
|   
p
  | Many of the subjects I had &quot;trouble with&quot; (and still do in my studys) are related to &quot;i know the &apos;question&apos; and &apos;solution&apos;... its the &apos; How the heck do I get there?&apos; &quot; that was the problem. HIGHLY RECOMMEND these
|   
p

p
  a(href='http://www.InternetTrafficReport.com/', target='_blank')
    img(src='http://www.InternetTrafficReport.com/itr-clean.gif', alt='The Internet Traffic Report Graphic', width='147', height='110')


p.header Books and Authors I enjoy
|         
ul
  li
    a(href='http://www.jamesrollins.com/', target='_blank') James Rolins
    |  (My Favorite Author )

p.header
  | Programming and other Portals
  a#portals

p
  img(src='graphics/portals/nirsoft.png', alt='Nirsoft Graphics', width='176', height='44')
  |      - Great site with some useful freewares
  
.center       
  p
    a(href='http://www.snapfiles.com', target='_blank')
      img(src='graphics/portals/snapfiles_freedlani.gif', alt='Snapfiles', width='88', height='32')
  |       
  p
    a(href='http://www.majorgeek.com') Majorgeek
  |           
  p.center
    img(src='graphics/portals/softpedia_logo.gif', alt='SoftPedia', width='200', height='36')
  |           
  p.center
    a(href='http://www.sixfiles.com', target='_blank')
      img(src='graphics/portals/sixfiles.jpg', alt='SixFiles.com', width='170', height='41')
  |           
  p.center
    a(href='http://neowin.net/')
      img(src='graphics/portals/neowin.jpg', alt='Neowin.net', width='88', height='31')
  |           
  p.center
    img(src='graphics/portals/SOSTopGray2_edit.jpg', alt='Son of Spyware', width='355', height='79')
  |           
  p
    a(href='http://freewarearena.com/html/index.php?name=Forums&file=viewtopic&t=3', target='_blank')
      img.center(src='graphics/support/freeware_rev_logo.gif', alt='Freeware Revolution Site', width='170', height='57')

   
  p.header  Misc Links 
  p.center
    a(href='http://nickyguides.digital-digest.com/', target='_blank')
      img(src='graphics/portals/DigSolutions.gif', alt="Nicky Pages'Digital Solutions", width='300', height='98')
  |           
  ul
    li
      a(href='http://nickyguides.digital-digest.com/', target='_blank') (Video help, tutorials, and much more)
    |             
    li
      a(href='http://www.doom9.org', target='_blank') Doom9.org
    |             
    li
      a(href='http://neuron2.net/')
        | Filters for Avisynth and VirtualDub

// End Three Columns
