
doctype html
html(lang="en")
    head
    body    
        div Fast/Dirty page for contact info
        br
        div Social Media
        ul
            li 
                a(href="https://diasp.org/people/4b26d930adc40136164e047d7b62795e" target="_blank" aria-label="Xmetalfanx on Diaspora" rel="noopener")
                    i.fa.fa-diaspora.fa-2x Diaspora
            li 
                a(href="https://mastodon.social/@xmetal" aria-label="Xmetalfanx on Mastedon" target="_blank" rel="noopener")
                    i.fa.fa-mastodon.fa-2x Mastodon
            li 
            
            li 

    
    
