doctype html
html(lang="en")

  head

    title Xmetal&apos;s Homepage

    <?php include 'modules/headerInclude.tpl'; ?>

  body
   .flexContainer
    section.masthead(role='img' aria-label='City Picture from Unsplash')
      .siteTitle.h2 Xmetal's Homepage
      form.frontpageButtons(action='/linuxHQ/index.php' method='get' target='_self')
        button Linux HQ Section
      form.frontpageButtons(action='/techHQ/index.php' method='get' target='_self')
        button TechHQ Section

      .row.py-5
        .col-xs-12.col-md-6
          .card.card--bordered
            .card-header.font-weight-normal Linux Setup
            .card-body.frontpageCardBody.text-justify.p-4
              a(href='https://github.com/Xmetalfanx/linuxSetup' target='_blank' rel='noopener')
                img.icon--size48(src="/graphics/simpleIcons/github.svg", alt="GitHub SVG")
              a(href='https://gitlab.com/Xmetal/linuxSetup' target='_blank' rel='noopener')
                img.icon--size48(src="/graphics/simpleIcons/gitlab.svg", alt="GitLab SVG")
              br/
              | Helps a user setup some things with a menu system on Ubuntu, Fedora, OpenSuse, and (minor things for this distro ... so far) Solus. This includes adding well known third party repos, enabling coming settings not set by default, and adding common software in one shot.

        .col-xs-12.col-md-6
          .card.card--bordered
            .card-header.font-weight-normal Linux Theming
            .card-body.frontpageCardBody.text-justify.p-4
              a(href='https://github.com/Xmetalfanx/linuxThemes' target='_blank' rel='noopener')
                 img.icon--size48(src="/graphics/simpleIcons/github.svg", alt="GitHub SVG")
              a(href='https://gitlab.com/Xmetal/linuxThemes' target='_blank' rel='noopener')
                 img.icon--size48(src="/graphics/simpleIcons/gitlab.svg", alt="GitLab SVG")
              br/
              | This originally was going to be a part of the LinuxSetup scripts, though it grew too much and I decided to branch it out. This installs themes and icon packs of well liked Linux Themes into your system. I have alot of plans for this for version and distro detection.

    <?php include 'modules/footer.tpl'; ?>
