//output:index.html

doctype html
html(lang="en")

	head
		
		title  Xmetal&apos;s Homepage

		<?php include 'modules/headerInclude.tpl'; ?>

		// Universal CSS file
		link(href='/universalCSS/styling.css', rel='stylesheet', type='text/css', media='all')

	body 
		// Header "navigation"
		<?php include 'modules/frontnav.tpl'; ?>
		
		.coverImage.d-none.d-lg-block
				
		#mainBody.row
				.col-6
					div.font-weight-bold October 28th 2018 Update
					div Removed Icon/reference to my old Google+ account which I removed for good earlier tonight ... most people I know on Google+ were going to other platforms anyway, and Google+ is closing for good, soon, so I closed my account down ahead of time 
					

				.col-6
					a(href='https://github.com/Xmetalfanx', target='_blank')
						i.fab.fa-github.fa-2x.fa-inverse

					div.font-weight-bold My Github Other Github project

					a(href="https://github.com/Xmetalfanx/linuxSetup" target="_blank") LinuxSetup
					| - Helps a user setup some things with a menu system on Ubuntu, Fedora, OpenSuse, and (minor things for this distro ... so far) Solus.   This includes adding well known third party repos, enabling coming setings not set by default, and adding common software in one shot
					br
					br

					a(href="https://github.com/Xmetalfanx/linuxThemes" target="_blank") LinuxThemeing
					|  This originally was going to be a part of the LinuxSetup scripts, though it grew too much and I decided to branch it out.

					| This installs themes and icon packs of well liked Linux Themes into your system.  I have alot of plans for this for version and distro detection.

		<?php include 'modules/footer.tpl'; ?>
