doctype html
html(lang="en")

	head

		title Xmetal&apos;s Homepage

		<?php include 'modules/headerInclude.tpl'; ?>

	body 
		.flexContainer
			// Header "navigation"
			<?php include 'modules/frontnav.tpl'; ?>

			.d-none.d-lg-block.coverImage
				.mx-auto.w-50.py-3
					<?php include 'modules/siteUpdate.php'; ?>

			.row.py-5
				.col-md-6
					.card.shadow.mx-auto.w-75
						.card-header Linux Setup 

						.card-body.text-justify
							.px-2
								a(href="https://github.com/Xmetalfanx/linuxSetup" target="_blank", rel="noopener")
									i.fa.fa-github.fa-2x.text-dark.pr-3(aria-hidden="true")
								a(href="https://gitlab.com/Xmetal/linuxSetup" target="_blank" rel="noopener")
									i.fa.fa-gitlab.fa-2x.text-dark(aria-hidden="true")
							| Helps a user setup some things with a menu system on Ubuntu, Fedora, OpenSuse, and (minor things for this distro ... so far) Solus. This includes adding well known third party repos, enabling coming settings not set by default, and adding common software in one shot

				.col-md-6 
					.card.shadow.mx-auto.w-75
						.card-header Linux Theming
						.card-body.text-justify
							.px-2
								a(href="https://github.com/Xmetalfanx/linuxThemes" target="_blank", rel="noopener")
									i.fa.fa-github.fa-2x.text-dark.pr-3(aria-hidden="true")
								a(href="https://gitlab.com/Xmetal/linuxThemes" target="_blank", rel="noopener")
									i.fa.fa-gitlab.fa-2x.text-dark(aria-hidden="true")
							| This originally was going to be a part of the LinuxSetup scripts, though it grew too much and I decided to branch it out.

							| This installs themes and icon packs of well liked Linux Themes into your system.  I have alot of plans for this for version and distro detection.

			<?php include 'modules/footer.tpl'; ?>
