//output:GAOTD.HTML

#GAOTD.hidden-md-down
    p.header Give Away Of the Day 
    script(type="text/javascript") var gaotd_SiteName = "Give Away of The Day"; 
      noscript 
        a(href="http://www.giveawayoftheday.com", target="_blank") Giveaway of the Day - Site that gives away free licenses to participating software on a daily basis
    script(type="text/javascript", src="http://www.giveawayoftheday.com/ticker/" )
      noscript
        a(href="http://www.giveawayoftheday.com", target="_blank") Giveaway of the Day - Site that gives away free licenses to participating software on a daily basis
