//output:techBrowserCol1.html
h3 Ad/Content Blocking 
br 

.card
  .card-header 
    h4 Basics
  .card-block
    p.card-text
    nav.nav-flex-column  
        a.nav-link(href='/techHQ/browsers/adblocking/adblocker.php') List of Ad/Content Blockers, I recommend 
        a.nav-link(href='/techHQ/browsers/adblocking/adblockBasics.php') Basic Ad/Content blocking on various blockers
        a.nav-link(href='/techHQ/browsers/adblocking/') Static -vs- Dynamic Filtering
        a.nav-link(href='/techHQ/browsers/adblocking/UblockConfusion.php') Ublock Origin -vs - Ublock Confusion
        a.nav-link(href='/techHQ/browsers/adblocking/ublockDynFilterLevels.php') Static Filtering -vs- Dynamic Filtering
        a.nav-link(href='/techHQ/browsers/adblocking/') Element Hiders
        a.nav-link(href='/techHQ/browsers/adblocking/') List of Common Filter lists (strong Static Filters)

br 
.card
  .card-header More Advanced Topics
  .card-block
    p.card-text
      nav.nav.flex-column
        a.nav-link(href='/techHQ/browsers/adblocking/UblockTutorial.php') Ublock Tutorial 
        a.nav-link(href='/techHQ/browsers/adblocking/ublockDynFilterLevels.php') Dynamic Filter in Ublock
        ul
          li 
            a.nav-link(href='/techHQ/browsers/adblocking/noopExplained.php') What on earth is a &quot;noop filter&apos;?
          li
            a.nav-link(href='/techHQ/browsers/adblocking/') How to &quot;use&quot; Noop Rules
br 

.card
  .card-header Umatrix Specific
  .card-block
    p.card-text
      nav.nav.flex-column
        a.nav-link(href='/techHQ/browsers/adblocking/umatrix_legend.php') Umatrix Legend
        a.nav-link(href='/techHQ/browsers/adblocking/umatrix_mainLayout.php') Umatrix Main Layout  
br           
          
.card
  .card-header More Ublock Tasks 
  .card-block
    p.card-text
      nav.nav.flex-column
        a.nav-link(href='/techHQ/browsers/adblocking/') Cookie Managing
        a.nav-link(href='/techHQ/browsers/adblocking/') Script Managing

.card
  .card-header Browser Addons 
  .card-block
    p.card-text
      nav.nav.flex-column
        a.nav-link(href='/techHQ/browsers/addons/topAddonsNonSecurity.php') Top Overall Addons
        a.nav-link(href='/techHQ/browsers/addons/topSecurityAddons.php') Top Security Addons
        a.nav-link(href='/techHQ/browsers/addons/contentManagerAddons.php') Content Management
        a.nav-link(href='/techHQ/browsers/addons/downloadRelatedAddons.php') Download Related
        a.nav-link(href='/techHQ/browsers/addons/generalAddons.php') General Addons
        a.nav-link(href='/techHQ/browsers/addons/interfaceAddons.php') Interface Related
        a.nav-link(href='/techHQ/browsers/addons/passwordAddon.php') Password Related
        a.nav-link(href='/techHQ/browsers/addons/webMasterAddons.php') Webmaster Related
        a.nav-link(href='/techHQ/browsers/#') Backing up Browser Data
        a.nav-link(href='/techHQ/browsers/prevent_crashing_browsers') Prevent Browser Crashes/Hang-ups
        a.nav-link(href='/techHQ/browsers/tinyurl.php') URL Shortening
