
h4  How to protect yourself from companies knowing where you visit

p What you need (again I plan to add Chrome add-ons for this, but now will focus on my favorite browser, Firefox)

p
  a(href='http://www.getfirefox.com', target='_blank')
    img(src='../graphics/joke/firefox.gif', alt='Firefox Hug Graphic', width='53', height='39') Firefox

ul
  li.boldItalics
    | TOP &quot;Anti-tracker&quot; Addons

<?php include $sitePath . "/modules/footer.tpl"; ?>
