div Here is a general guide to protection yourself online.



ul 
    li DO NOT ... underestimate Common sense
    li Use a good Antivirus program
    li Consider having a second opinion scanner
    li Web Browser Addons


h3 Use a good Antivirus


h3 Consider a good second opinion scanner



h3 Web Browser addons

// Consider copying and pasting from the browser section
// remember the browser section uses JSON 
ul
    li Ublock Origin
    li Privacy Badger
    li HTTPS Everywhere
    li (for experienced users) Umatrix
