/* Images */
/* Border variables */
/* Colors */
/* Fonts */
/* Images */
/* line 3, ../sass/layout.scss */
body {
  font-size: 16px;
  margin: 0;
  background-image: url(/graphics/bg/beach/Carp_Island_Resort.jpg);
  background-repeat: no-repeat;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
}

/* line 15, ../sass/layout.scss */
a:link {
  text-decoration: none;
}

/* line 21, ../sass/layout.scss */
.dropShadow {
  -webkit-box-shadow: 4px 3px 5px black;
  -moz-box-shadow: 4px 3px 5px black;
  box-shadow: 4px 3px 5px black;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

/* line 27, ../sass/layout.scss */
.btn-link {
  color: white;
  background-color: blue;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: white;
  outline: 1px solid black;
  text-shadow: 1px 1px 5px black;
}

/* line 48, ../sass/layout.scss */
nav {
  order: 2;
}
/* line 53, ../sass/layout.scss */
nav a:link,
nav a:visited {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: #323232;
}
/* line 67, ../sass/layout.scss */
nav a:hover {
  color: #ffff33;
}

/* line 74, ../sass/layout.scss */
footer {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: white;
  background-color: #323232;
}
/* line 91, ../sass/layout.scss */
footer #val {
  float: left;
}
/* line 96, ../sass/layout.scss */
footer #copyright {
  font-size: 14px;
  float: right;
  padding-right: 30px;
}

/* line 106, ../sass/layout.scss */
#socialIcons {
  float: right;
  margin-right: 3px;
  padding-right: 3px;
  padding-bottom: 10px;
  order: 7;
}
/* line 116, ../sass/layout.scss */
#socialIcons img {
  width: 32px;
  height: 32px;
}

/* line 123, ../sass/layout.scss */
#backgroundImage {
  background-image: url(/graphics/bg/beach/Carp_Island_Resort.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 130, ../sass/layout.scss */
.card-block {
  padding: 0;
}
