/* Images */
/* Border variables */
/* Colors */
/* Fonts */
/* Images */
/* line 3, ../sass/layout.scss */
body {
  color: white;
  background-image: url(/graphics/bg/beach/Carp_Island_Resort.jpg);
  background-repeat: no-repeat;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-color: navy;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

/* line 21, ../sass/layout.scss */
a:link {
  text-decoration: none;
}

/* line 25, ../sass/layout.scss */
#MainHeader {
  width: 40%;
  margin-bottom: 10px;
  color: white;
  text-shadow: 1px 1px 5px black;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: bold;
  order: 1;
  float: left;
  padding-left: 20px;
}

/* line 40, ../sass/layout.scss */
.dropShadow {
  -webkit-box-shadow: 4px 3px 5px black;
  -moz-box-shadow: 4px 3px 5px black;
  box-shadow: 4px 3px 5px black;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

/* line 45, ../sass/layout.scss */
#message {
  -webkit-box-shadow: 4px 3px 5px black;
  -moz-box-shadow: 4px 3px 5px black;
  box-shadow: 4px 3px 5px black;
  opacity: 0.90;
  padding-right: 2%;
  padding-left: 1%;
  color: black;
  background-color: white;
  text-align: justify;
  overflow: auto;
  font-size: 15px;
  width: 70%;
  position: fixed;
  bottom: 20px;
  margin-bottom: 1%;
}
/* line 62, ../sass/layout.scss */
#message h1 {
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
/* line 67, ../sass/layout.scss */
#message p {
  margin-top: 10px;
}

/* line 72, ../sass/layout.scss */
nav {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0 auto;
  color: white;
  order: 2;
}
/* line 79, ../sass/layout.scss */
nav a:link,
nav a:visited {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: white;
  background-color: #323232;
  border: 1px solid black;
  text-align: center;
  text-shadow: 1px 1px 5px black;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: bold;
}
/* line 95, ../sass/layout.scss */
nav a:hover {
  color: #ffff33;
}

/* line 100, ../sass/layout.scss */
img.center {
  margin-left: auto;
  margin-right: auto;
}

/* line 105, ../sass/layout.scss */
.bold {
  font-weight: bold;
}

/* line 112, ../sass/layout.scss */
.header1 {
  text-decoration: underline;
  font-size: 16px;
  font-weight: bold;
}

/* line 119, ../sass/layout.scss */
#top {
  background-color: #323232;
  color: white;
  padding-bottom: 10px;
  -webkit-box-shadow: 4px 3px 5px black;
  -moz-box-shadow: 4px 3px 5px black;
  box-shadow: 4px 3px 5px black;
}

/* line 128, ../sass/layout.scss */
footer {
  background-color: #323232;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  height: 25px;
  padding-top: 10px;
}
/* line 142, ../sass/layout.scss */
footer #val {
  float: left;
}
/* line 148, ../sass/layout.scss */
footer #copyright {
  float: right;
  padding-right: 30px;
  font-size: 14px;
}

/* line 157, ../sass/layout.scss */
#socialIcons {
  float: right;
  margin-right: 3px;
  padding-right: 3px;
  padding-bottom: 10px;
  order: 7;
}
/* line 164, ../sass/layout.scss */
#socialIcons img {
  width: 32px;
  height: 32px;
}

/* line 173, ../sass/layout.scss */
#backgroundImage {
  background-image: url(/graphics/bg/beach/Carp_Island_Resort.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 185, ../sass/layout.scss */
#AppSection h1 {
  border-top: 1px solid black;
}
/* line 195, ../sass/layout.scss */
#AppSection h3 {
  margin-left: 20px;
}
