//output:securityIndex.html


h1 Security Related Items
p
  img(src='/TechHQ/smiles/spyware.gif', alt='spy-ware smile')
  |  Based on the list below, what programs (of those types) i use
  |     and recommend and which one I&apos;d avoid)
| 
p
  strong Late October 2010 Message:
  |  I have read alot of &quot;the internet is out to get you!&quot; type posts and
  |     articles in magazines.
|  
p
  | If you don not know what your doing, and do not take a few simple steps, you can really have a mess on your computer;
  | however, in a way... I think some of these things are blown out of proportion to be honest, You DO NEED to secure yourself
  | online; however, it seems alot of these articles are trying to push security programs, where if you pay attention closely, you
  | will see the companies that have the &quot;best ratings&quot; actually pay to have advertisements placed in that magazine
|     
p
  | I am NOT going to &quot;name names&quot; (Magazines OR Security products), but I will say ... read real life users reviews,
  | and go on what your experiences are


p Remember - Just because your anti-virus or malware scanner says you :
ul
  li &quot;Are infected&quot; does not make it true, if it is a poor scanner
  li &quot;Are not infected&quot; does not mean you are not, again ... if its a poor scanner

h2 Overall Security Tips

.card
  .card-header COMMON SENSE 
  .card-block
    p.card-text
      | If you do not know who someone is, would you let them in your home?.. NO .. .... using the same logic, ... If you do not
      | know an e-mail address, do not open the attachment.
      
      
.card
  .card-header Use a Good Anti-Virus
  .card-block
    p.card-text
      p
        img(src='/techHQ/bork/swedish_chef1.jpg', alt='Swedish Chef from the Muppets')
        |  I have heard some techs tell new users not to use any anti-virus and to reformat when things get slightly &quot;borked (Muppet Swedish Chef joke) ...         
      p
        | Anyways, DO NOT LISTEN TO THEM ... Simply using a FREE anti-virus like Avira or Avast, which both get great reviews even compared to paid anti-viruses, and use common sense and you will be just fine. IT IS TO BE NOTED that not all free scanners are good scanners. AVG and Microsoft Security Essentials fall into this category... while one is better than the other, .... Both fall short in comparison to Avast and Avira.
      p
        | Two non-free Anti-viruses I recommend as well are Kaspersky and Eset&apos;s NOD32. They have been getting high marks and have been getting them consistently. I do have to note two more &quot;honorable mentions&quot; with Bit Defender and GData (which I have never really heard of until reading a few articles). They seem to get really high marks too
      p *Resources : *
      |         
      ul
        li
          | Good sources of (just some of them) Anti-virus reviews:
          ul
            li http://www.av-test.org/en/tests/home-user/windows-7/novdec-2012/
            |             
            li http://chart.av-comparatives.org/chart2.php
            |           
            li
              | Site saying how MS Security Essentials is not very good and one of the worst free scanners out there:
          ul
            li
              | http://www.theregister.co.uk/2012/11/30/microsoft
              em security
              | essentials
              |             
              em loses
              | avtestcertification/

.card
  .card-header Use a Good Malware Scanner 
  .card-block
    p.card-text
      p Consider Malwarebytes (Free or Pro versions available )
      p Eminsoft Emergency Toolkit is another good choice 
