//output:pcTroubles.html

p
  | Things to check when, your system seems to be acting strange. (In order ... somewhat... but not necessarily)
ol
  li
    u
      | Check for Viruses/Trojans/Worms
    |       
    ul
      li
        | The 
        span.interestsTitles Two best Scanners
        |  (as mentioned many places on my site here) are
        |         
        a(href='http://www.kaspersky.com') Kaspersky Antivirus 
        | or
        |         
        a(href='http://www.bitdefender.com', target='_blank') Bit Defender
      |         
      li
        | The rest (not necessarily all of them though, tend to be &quot;patchy&quot; in how good their detection actually
        | is
      |         
      li Mcafee and Norton in my option are the two worst
      |         
      li
        | Some people swear by their anti-trojan scanners too (
        a(href='http://www.moosoft.com', target='_blank')
          | The Cleaner
        | , for instance), but any virus scanner worth anything if you ask me, will detect
        | &#x9;&#x9; most trojans or worms too, if fully updated
      |         
      li
        | AVAST and AVG (two freeware scanners ... although there may be more ..)
        span.boldItalics ARE IN FACT
        |  better options for background scanning and detection overall ... then Mcafee or Norton.
  |     
  li
    u
      | Check for 
      a(href='../graphics/programs/browsers/getFirefox.gif') Spyware
      | .
    |       
    ol
      li Like Antiviruses, not all spyware scanners are the same ... 
      |         
      li
        | Microsoft Bought out &quot;Giant Antispyware&quot;  and it was great at the start, but now (now called &quot;Microsoft LiveOne&quot;... i think) it is not that good
      |         
      li The only non-free spyware scanner I like is Spy Sweeper from Webroots.com
      |         
      li
        | The rest are Spyware Blaster, Spybot, Hijackthis, CWShredder, and/or Adaware (free edition)


<?php include $sitePath . "/modules/tech/baseTechFooter.tpl"; ?>
