/* Images */
/* Colors */
/* new Scheme test */
/* Images */
/* Colors */
/* new Scheme test */
/* Border variables */
/* Fonts */
body {
  color: white;
  font-size: 13px;
  letter-spacing: 0px;
  margin-top: 0px;
  min-height: 100%;
  width: 99%; }

footer {
  font-size: 15px; }

nav {
  list-style-type: none;
  order: 1; }
  nav a:link, nav a:visited {
    font-size: 15px;
    text-align: center;
    padding-bottom: 2%;
    text-decoration: none;
    display: block; }

.distroTitle {
  font-size: 24px; }

.icon img {
  float: left;
  clear: both; }

#distroTables .distroHeader {
  border: 1px solid black;
  font-weight: bold;
  clear: right;
  padding: 2px;
  margin-top: 3px;
  margin-bottom: 3px; }
#distroTables .infoLeft {
  word-wrap: break-word; }
#distroTables .infoRight {
  word-wrap: break-word;
  margin-top: 5px;
  margin-bottom: 5px; }
#distroTables .distRevTitle {
  text-decoration: underline;
  font-weight: bold;
  background-image: url(../graphics/navbar/tan/2tan3.png);
  font-size: 16px;
  border: 1px solid black;
  clear: both;
  margin-bottom: 4px; }
#distroTables .wide {
  /* border-bottom: 1px solid rgb(0, 0, 0); */
  border-top: 1px dotted black;
  clear: both;
  width: 99%;
  margin-top: 5px;
  padding-top: 5px; }
#distroTables a:link {
  font-family: Arial, Helvetica, san-serif; }
#distroTables .distReview {
  clear: none;
  color: black;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 0 auto;
  border: 1px dotted black;
  word-wrap: break-word;
  font-size: 15px; }
#distroTables #descript {
  margin-top: 10px;
  clear: both;
  border: 1px solid black;
  text-align: justify;
  line-height: 25px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 2% 10px 2px 2px; }
#distroTables .distroSshot {
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  width: 98%;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 2px;
  border: 1px solid black; }

.justified {
  text-align: justify; }

#distros {
  overflow: auto;
  clear: both; }
  #distros .distroHeader {
    border: 1px solid black;
    font-weight: bold;
    background-image: url(/techHQ/graphics/navbar/tan/2tan3.png);
    clear: right; }
  #distros .infoLeft {
    padding-right: 5px;
    clear: right;
    width: 50%;
    max-width: 50%;
    float: left; }
  #distros .infoRight {
    padding-right: 10px;
    width: 50%;
    margin-top: 10px;
    float: right; }

#mainBody, #mainBodyw {
  font-size: 18px;
  padding-right: 15px;
  padding-left: 15px; }

#mainBody .ExpTitle {
  color: red;
  font-weight: bold;
  margin-right: 25px; }

.terms {
  color: blue;
  background-color: transparent;
  font-weight: bold;
  font-style: italic; }

.bottomBorderDotted {
  border-bottom: 1px dotted black; }

#mainBody .content {
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 0px;
  margin-bottom: 0px; }

#distroTables #personalExp {
  width: 96%;
  margin: 0 auto;
  margin-top: 15px;
  background-color: white;
  color: black;
  border: 1px dotted black;
  padding-bottom: 10px;
  padding-left: 5px;
  text-align: justify; }
#distroTables #personalExp blockquote {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "MS Sans Serif", Geneva, sans-serif; }

#distrowatch, #valIcons, #distroShots, #linuxAboutMe, #DE #SShotCol img, #SShotCol, header, .DEs img {
  display: none; }

#socialIcons {
  float: right;
  clear: left; }

#DESection .DEs {
  font-size: 14px; }

#DE #infoCol {
  width: auto; }

.distroSS {
  display: none; }

#top {
  position: relative;
  padding: 0px;
  transform: none; }

#distroMainSection .distroName {
  margin-bottom: 0px; }
  #distroMainSection .distroName img {
    height: 40px;
    width: 40px; }

/*# sourceMappingURL=layoutMed.css.map */
