@forward "_vars";

@mixin darkBG {
  color: var(--themeColor1);
  background-color: var(--themeColor5);
}

@mixin thumbnail--lg {
  max-height: 450px;
  padding: 2rem;
  max-width: 100%;
  height: auto;
}

@mixin thumbnail--sm {
  max-height: 350px;
  padding: 2rem;
  max-width: 100%;
  height: auto;
}

// because i am always forget the default values i use
@mixin boxshadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

@mixin span2 {
  grid-column: span 2;
}
