:root {
  /******************* Colors ********************/
  --black: rgb(0, 0, 0);
  --white: rgba(255, 255, 255, 1);
  --white50: rgba(255, 255, 255, .5);
  --white75: rgba(255, 255, 255, .75);
  --darkGrey1: rgb(51, 51, 51);
  --darkGrey2: rgb(62, 63, 58);
  --forrestGreen: rgb(0, 100, 0);
  --green: rgb(0, 153, 0);
  --red: rgb(255, 0, 0);
  --navy: rgb(0, 0, 128);
  --midnightBlue: rgb(25, 25, 112);
  --maroon: rgb(102, 0, 0);
  --tanL: rgb(255, 250, 205);
  --tanD: rgb(238, 233, 191);
  --lightMaroon: rgb(153, 0, 0);
  --darkturquoise: rgb(30, 80, 87);

  // This is #333333
  --themeBGColorMain: var(--darkGrey1);
  --themeBGColorAccent: var(--darkturquoise);

  .themeColorAccent {
    color: var(--themeBGColorAccent);
  }

  --Verdana: verdana, geneva, arial, helvetica, sans-serif;
  --TNR: "Times New Roman", times, serif;
  --Courier: "Courier New", courier, monospace;
  --Helvetica: "Helvetica Neue", helvetica, sans-serif;
  --MSSans: "MS Sans Serif", geneva, sans-serif;
  --SegoeUI: "Segoe UI", arial, helvetica, sans-serif;
  --Tahoma: tahoma, verdana, segoe, sans-serif;
  --Arial: arial, helvetica, san-serif;
  --Roboto:
    "Roboto",
    -apple-system,
    blinkmacsystemfont,
    "Segoe UI",
    roboto,
    "Helvetica Neue",
    arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  --h1: 3rem;
  --h2: 2.25rem;
  --h3: 1.5rem;
  --h4: 1.25rem;

  // guess
  --h5: 1.1rem;

  // breakpoints
  // still have no clue how to do the "thi size and above" stuff
  --size-xs: 576px;
  --size--sm: 762px;
  --size-md: 992px;
  --size-lg: 120px;
  --size-xl: 1440px;
}
