:root {
  /******************* Colors ********************/
  --black: hsl(0, 0%, 0%);

  // tans
  --tanL: hsl(54, 100%, 90%);
  --tanD: hsl(54, 50%, 75%);

  // whites
  --white: hsl(0, 0%, 100%);
  --white50: hsla(0, 0%, 100%, 0.5);
  --white75: hsla(0, 0%, 100%, 0.75);

  // Greys - not including black itself
  --darkGrey1: hsl(0, 0%, 20%);
  --darkGrey2: hsl(72, 0%, 24%);

  // Blues
  --navy: hsl(240, 100%, 25%);
  --midnightBlue: hsl(240, 64%, 27%);

  // reds
  --red: hsl(0, 100%, 50%);
  --maroon: hsl(0, 100%, 20%);
  --lightMaroon: hsl(0, 100%, 30%);

  // Greens
  --green: hsl(120, 100%, 30%);
  --forrestGreen: hsl(120, 100%, 20%);

  // turquoises
  --darkturquoise: hsl(187, 49%, 25%);
  --turquoise30: hsl(174, 72%, 30%);
  --turquoise60: hsl(174, 72%, 60%);

  // End Colors
  ///////////////////////////////////

  // This is #333333
  --themeBGColorMain: var(--darkGrey1);
  --themeBGColorAccent: var(--darkturquoise);

  .themeColorAccent {
    color: var(--themeBGColorAccent);
  }

  --Verdana: verdana, geneva, arial, helvetica, sans-serif;
  --TNR: "Times New Roman", times, serif;
  --Courier: "Courier New", courier, monospace;
  --Helvetica: "Helvetica Neue", helvetica, sans-serif;
  --MSSans: "MS Sans Serif", geneva, sans-serif;
  --SegoeUI: "Segoe UI", arial, helvetica, sans-serif;
  --Tahoma: tahoma, verdana, segoe, sans-serif;
  --Arial: arial, helvetica, san-serif;
  --Roboto:
    "Roboto",
    -apple-system,
    blinkmacsystemfont,
    "Segoe UI",
    roboto,
    "Helvetica Neue",
    arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  --Ubuntu:
    "Ubuntu",
    -apple-system,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;

  // headers
  --h1: 3rem;
  --h2: 2.25rem;
  --h3: 1.5rem;
  --h4: 1.25rem;

  // guess
  --h5: 1.1rem;

  // breakpoints
  // sizes are max-width
  --size-sm: 576px;
  --size-md: 768px;
  --size-lg: 992px;
  --size-xl: 1200px;
  --small-text: 0.9rem;
}
