:root {
  /******************* Colors ********************/
  --black: hsl(0, 0%, 0%);

  // tans
  --tanL: hsl(54, 100%, 90%);
  --tanD: hsl(54, 50%, 75%);

  // whites
  --white: hsl(0, 0%, 100%);
  --white75: hsla(0, 0%, 100%, 0.75);
  --white50: hsla(0, 0%, 100%, 0.5);

  // Greys - not including black itself
  // consider flipping these for consistancy (ligher = lower number, darker = higher number )
  --darkGrey1: hsl(0, 0%, 20%);
  --darkGrey2: hsl(72, 0%, 24%);
  --darkGrey3: hsl(0, 0%, 32%);

  // Blues
  --blue: hsl(240, 100%, 50%);
  --navy: hsl(240, 100%, 25%);
  --midnightBlue: hsl(240, 64%, 27%);

  // reds
  --red: hsl(0, 100%, 50%);
  --maroon: hsl(0, 100%, 20%);
  --lightMaroon: hsl(0, 100%, 30%);

  // Greens
  --green: hsl(120, 100%, 30%);
  --forrestGreen: hsl(120, 100%, 20%);
  --darkGreen: hsl(120, 100%, 12%);

  // turquoises
  --darkturquoise: hsl(187, 49%, 25%);
  --turquoise30: hsl(174, 72%, 30%);
  --turquoise40: hsl(174, 72%, 40%);
  --turquoise60: hsl(174, 72%, 60%);

  // changed this color (think in accordian menus to darkTurq30
  // this var is not really needed
  test: hsl(160, 27%, 42%);

  // color pallette
  --themeColor1: hsl(0, 0%, 96%);
  --themeColor2: var(--turquoise30);
  --themeColor3: hsl(174, 80%, 27%);
  --themeColor4: var(--darkGrey3);
  --themeColor5: var(--darkGrey1);

  // leave names for now
  --themeBGColorMain: var(--themeColor4);
  --themeBGColorAccent: var(--darkturquoise);

  // End Colors
  ///////////////////////////////////

  ///////////////////////////////////
  // Fonts
  --Verdana: verdana, geneva, arial, helvetica, sans-serif;
  --TNR: "Times New Roman", times, serif;
  --Courier: "Courier New", courier, monospace;
  --Helvetica: "Helvetica Neue", helvetica, sans-serif;
  --MSSans: "MS Sans Serif", geneva, sans-serif;
  --SegoeUI: "Segoe UI", arial, helvetica, sans-serif;
  --Tahoma: tahoma, verdana, segoe, sans-serif;
  --Arial: arial, helvetica, san-serif;
  --Roboto:
    "Roboto",
    -apple-system,
    blinkmacsystemfont,
    "Segoe UI",
    roboto,
    "Helvetica Neue",
    arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  --Ubuntu:
    "Ubuntu",
    -apple-system,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;

  // headers
  --h1: 3rem;
  --h2: 2.25rem;
  --h3: 1.5rem;
  --h4: 1.25rem;
  // guess
  --h5: 1.1rem;

  // font sizes
  --fs-small: 0.75rem;
  --fs-normal: 1.05rem;
  --fs-large: 1.15rem;

  // breakpoints
  // sizes are max-width
  --size-sm: 576px;
  --size-md: 768px;
  --size-lg: 992px;
  --size-xl: 1200px;
}
