//output:educational.html

ul.accordion-tabs-minimal
	li.tab-header-and-content
		a.tab-link(href='#') Ebook Related
		.tab-content 
			a(href='http://www.calibre-ebook.com')
			img(src='../../progIcons/product/edu/MathApp_32512.png', alt='MS Math Icon', width='48', height='48')

	li.tab-header-and-content
  	a.tab-link(href='#') Math Apps
    .tab-content
			div
				a(href='http://www.geogebra.org', target='_blank')
				img(src='../../progIcons/product/edu/geogebra_1.png', alt='GeoGebra Icon', width='48', height='48')
				  | GeoGebra
			  .progTableDesc
			    | Very Good Geometry related Program to make various shapes and graphs, as well as measure angles

  li.tab-header-and-content
    a.tab-link.is-active(href='#') Office Suites
    .tab-content
			p TODO: Add Content here 
