@use "../01-abstracts/index" as *;

// Things specific to the landing page of the site

.frontpage-header-title {
  margin: 0.5rem auto;
  font-weight: 900;
  font-size: var(--h2);
}

.frontpage-section {
  // for the divider in the middle of the page (for now)
  .frontpage-title {
    font-size: var(--h3);
    font-weight: 600;
    margin: 1rem .5rem;
  }


  // why is this here?
  ol,
  ul,
  dl {
    margin-bottom: 1rem;
    margin-top: 0;

    li {
      margin-left: 1.4rem;
    }
  }


}

.git-section,
.site-section {
  @include flex(row, wrap);

  justify-content: space-around;
  gap: 2rem;

  @media ($breakpoint-md) {
    @include flex(column);
  }

  p {
    max-width: 75ch;
  }

  .card--bordered {
    box-shadow: none;

    .card__header {
      justify-content: center;
    }

    .card__body {
      font-weight: 500;

      // in case i remove Bootstrap
      .img-fluid {
        height: auto;
        max-width: 80%;
      }
    }

    // @media ($breakpoint-lg) {
    //   .card--bordered {
    //     width: 80%;
    //     margin: 0 auto;
    //   }
    // }
  }
}

.git-section {
  .card {
    margin: 0 2rem;
  }

  .git-icons {
    color: var(--theme-color-d);
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5rem;

    a {
      margin: auto 1rem;
    }
  }
}

// this is above the git section on the main page ... 
// site section and then git section under it is a part of "frontpage section" 
.site-section {
  > * {
    flex: 1 1 33%;
    max-width: 72ch;

    // min-width: 350px;
  }

  @media ($breakpoint-lg) {
    > div {
      margin: 0 0.75rem;
    }
  }

  // why is this here? ... why change the font-size ? why not use the h3 font size var?
  // note that var is NOT 1.7rem


  section {
    .section-title {
      display: block;
      margin: 1rem 0;
      
        a {
          color: var(--theme-color-d);
          font-size: var(--h3);
          font-weight: 600;
        }

        a:hover,
        a:focus {
          color: var(--theme-color-accent-l);
        }
    }

    .section-body {
      > * {
        margin: 1rem 0;
      }
    }

    figure {
      display: inline-block;

      @media ($breakpoint-md) {
        display: none;
      }
  
      > * {
        display: flex;
        place-items: center;
      }
  
      > img {
        padding-bottom: 0.1rem;
      }
  
      > figcaption {
        font-size: var(--fs-small);
        padding-left: 2rem;
      }
    }
 

  }

  img {
    margin: 0 auto;
    width: 600px;
    padding: 2rem;

    @media ($breakpoint-md) {
      max-width: 80%;
    }
  }

  // for bigger images to the side
  .card--bordered {
    // zero top and bottom and auto left and right
    margin: 0 auto;
    width: 100%;

    .card__body {
      p {
        margin: 10px 0;
      }
    }
  }
}

