@use "../01-abstracts/index" as *;

/* All of the following is from gaotd's site, .. with some updates for compliance checkers I ran   */
#gaotd {
  width: 45%;
  margin: 1.5rem auto;

  @media ($breakpoint-md) {
    width: 90%;
  }
}
