/****** STARTPAGE Box related ******************/

#startpage-search {
  margin: 10px auto;

  @include span2;

  // For the SP icon and input box
  .SPHeightIconInput {
    height: 35px;
  }

  .startpage-searchIcon {
    height: 33px;
    vertical-align: middle;
  }
}
