.row
	.col-9

		.d-none.d-lg-block
			<?php include $path . '/linuxHQ/modules/mainCarousel.tpl' ?>

		h4 Introduction

      div Hello, I'd like to give a little background about my experience with Linux, before you start browsing my site, to get a sense for where I am coming from. For a number of years now, I have been using Linux to some degree, and have been using it more and more, while using Windows less and less.

      img.thumbnails.thumbnails--sm.float-right(src='/linuxHQ/screenshots/ubuntu/kubuntu.png' alt='Kubuntu 18.04 slide')

      img.thumbnails.thumbnails--sm.float-left(src='/linuxHQ/screenshots/ubuntu/cinnamonMint.png' alt='Linux Mint slide')
      |
      .card
        .card__header My Goal
        .card__body Tutorials, My reviews (as well as others), and sites that have helped me over	the years, is TRUE goal I have with this section. The Linux related ideas I came up with to add to the main site started to get way out of hand to put in a "small section" so that's when I decided to do the split into TechHQ (former WIndows Section ... and still has some cross-platform stuff) and LinuxHQ.

      img.thumbnails.thumbnails--sm.float-right(src='/linuxHQ/screenshots/solus/thumbnails/solusbudgie_tn.png' alt='Solus Budgie slide')
      |
    This section has info on:
      br
      ul
        li Linux Desktop options including screenshots, system requirments, and info on what version is in what Linux Distrobution
        li Linux Distrobution information including currently supported release and desktop options and screenshots
        li Theming: Information on Linux Themes, Icon and Cursor packs to custom the look of your Linux desktop

		// OMGUbuntu RSS feed/news
		<?php require($path . "/linuxHQ/modules/omgubuntu.tpl"); ?>

	.d-none.d-md-block.col-3
		// Distrowatch RSS Feed
		<?php require($path . "/linuxHQ/modules/distrowatch.tpl"); ?>
