body {
    margin: 0;
    padding: 0;
    background-color: #0000FF;
}


.main-header {
  border-style: solid;
    width:100%;
    background-color: orange;
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.imglinkcontainer {
  float:right;
}

.header-icon {
  width: 50px;
}
