//output:techCenterMobileCol1.html


h5 Tech Center 

#accordion(role='tablist', aria-multiselectable='true')
  .card
    #headingOne.card-header(role='tab')
      h5.mb-0
        a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
          | Multimedia Related
    |         
    #collapseOne.collapse(role='tabpanel', aria-labelledby='headingOne')
      .card-block
        li.nav-link
          a.nav-link(href="/techHQ/techcenter/multimedia/id3TagLookup.php") ID3 Tag-lookup
        li.nav-link
          a.nav-link(href="/techHQ/techcenter/multimedia/audioEnhance.php") Media Player Enhancer

#accordion(role='tablist', aria-multiselectable='true')
  .card
    #headingTwo.card-header(role='tab')
      h5.mb-0
        a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='true', aria-controls='collapseOne')
          | System Tool Related
    |         
    #collapseTwo.collapse(role='tabpanel', aria-labelledby='headingOne')
      .card-block
        li.nav-link
          a.nav-link(href="") Making Windows 7 look like Windows 10
        li.nav-link
          a.nav-link(href="") Routine Maintance
        li.nav-link
          a.nav-link(href="/techHQ/techcenter/windowsUpdates.php") Windows Updates
        li.nav-link
          a.nav-link(href="/techHQ/techcenter/system/bad_uninstalls.php") Bad Uninstalls
        li.nav-link
          a.nav-link(href="/techHQ/techcenter/system/fileConverting.php") File Converting
        li.nav-link
          a.nav-link(href="/techHQ/techcenter/system/restorePointsPrune.php") Restore Point Pruning
        li.nav-link
          a.nav-link(href="/techHQ/techcenter/system/fileConverting") File Converting
        li.nav-link
          a.nav-link(href="/techHQ/techcenter/system/systemLog.php") System Logs

#accordion(role='tablist', aria-multiselectable='true')
  .card
    #headingThree.card-header(role='tab')
      h5.mb-0
        a(data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='true', aria-controls='collapseOne')
          | Registry Related
    |         
    #collapseThree.collapse(role='tabpanel', aria-labelledby='headingOne')
      .card-block
        li.nav-link
          a.nav-link(href="/techHQ/techcenter/system/regCleaners.php") Registry Cleaners
        li.nav-link
          a.nav-link(href="/techHQ/techcenter/system/regDefrag.php") Registry Defrag
