//output:techMobileBrowCol1.html

h3 Ad/Content Blocking 
br 

#accordion(role='tablist', aria-multiselectable='true')
  .card
    #headingOne.card-header(role='tab')
      h5.mb-0
        a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
          | Basics
    |         
    #collapseOne.collapse.show(role='tabpanel', aria-labelledby='headingOne')
      .card-block
        li.nav-link
          a.nav-link(href='/techHQ/browsers/adblocking/adblocker.php') List of Ad/Content Blockers, I recommend 
        li.nav-link
          a.nav-link(href='/techHQ/browsers/adblocking/adblockBasics.php') Basic Ad/Content blocking on various blockers
        li.nav-link
          a.nav-link(href='/techHQ/browsers/adblocking/') Static -vs- Dynamic Filtering
        li.nav-link
          a.nav-link(href='/techHQ/browsers/adblocking/UblockConfusion.php') Ublock Origin -vs - Ublock Confusion
        li.nav-link
          a.nav-link(href='/techHQ/browsers/adblocking/ublockDynFilterLevels.php') Static Filtering -vs- Dynamic Filtering
        li.nav-link
          a.nav-link(href='/techHQ/browsers/adblocking/') Element Hiders
        li.nav-link
          a.nav-link(href='/techHQ/browsers/adblocking/') List of Common Filter lists (strong Static Filters)



#accordion(role='tablist', aria-multiselectable='true')
  .card
    #headingOne.card-header(role='tab')
      h5.mb-0
        a(data-toggle='collapsed', data-parent='#accordion', href='#collapseTwo', aria-expanded='true', aria-controls='collapseOne')
          | More Advanced Topics 
    |         
    #collapseTwo.collapse.show(role='tabpanel', aria-labelledby='headingOne')
      .card-block
          li.nav-link
            a.nav-link(href='/techHQ/browsers/adblocking/UblockTutorial.php') Ublock Tutorial 
          li.nav-link
            a.nav-link(href='/techHQ/browsers/adblocking/ublockDynFilterLevels.php') Dynamic Filter in Ublock
            ul
              li.nav-link
                a.nav-link(href='/techHQ/browsers/adblocking/noopExplained.php') What on earth is a &quot;noop filter&apos;?
              li.nav-link
                a.nav-link(href='/techHQ/browsers/adblocking/') How to &quot;use&quot; Noop Rules


#accordion(role='tablist', aria-multiselectable='true')
  .card
    #headingOne.card-header(role='tab')
      h5.mb-0
        a(data-toggle='collapsed', data-parent='#accordion', href='#collapseThree', aria-expanded='true', aria-controls='collapseOne')
          | Umatrix Specific
    |         
    #collapseThree.collapse.show(role='tabpanel', aria-labelledby='headingOne')
      .card-block
        li.nav-link
          a.nav-link(href='/techHQ/browsers/adblocking/umatrix_legend.php') Umatrix Legend
        li.nav-link
          a.nav-link(href='/techHQ/browsers/adblocking/umatrix_mainLayout.php') Umatrix Main Layout  



#accordion(role='tablist', aria-multiselectable='true')
  .card
    #headingOne.card-header(role='tab')
      h5.mb-0
        a(data-toggle='collapsed', data-parent='#accordion', href='#collapseFour', aria-expanded='true', aria-controls='collapseOne')
          | More Ublock Tasks
    |         
    #collapseFour.collapse.show(role='tabpanel', aria-labelledby='headingOne')
      .card-block      
        li.nav-link
          a.nav-link(href='/techHQ/browsers/adblocking/') Cookie Managing
        li.nav-link
          a.nav-link(href='/techHQ/browsers/adblocking/') Script Managing



#accordion(role='tablist', aria-multiselectable='true')
  .card
    #headingOne.card-header(role='tab')
      h5.mb-0
        a(data-toggle='collapsed', data-parent='#accordion', href='#collapseFive', aria-expanded='true', aria-controls='collapseOne')
          | Browser Addons 
    |         
    #collapseFive.collapse.show(role='tabpanel', aria-labelledby='headingOne')
      .card-block
        li.nav-link
          a.nav-link(href='/techHQ/browsers/addons/topAddonsNonSecurity.php') Top Overall Addons
        li.nav-link
          a.nav-link(href='/techHQ/browsers/addons/topSecurityAddons.php') Top Security Addons
        li.nav-link
          a.nav-link(href='/techHQ/browsers/addons/contentManagerAddons.php') Content Management
        li.nav-link
          a.nav-link(href='/techHQ/browsers/addons/downloadRelatedAddons.php') Download Related
        li.nav-link
          a.nav-link(href='/techHQ/browsers/addons/generalAddons.php') General Addons
        li.nav-link
          a.nav-link(href='/techHQ/browsers/addons/interfaceAddons.php') Interface Related
        li.nav-link
          a.nav-link(href='/techHQ/browsers/addons/passwordAddon.php') Password Related
        li.nav-link
          a.nav-link(href='/techHQ/browsers/addons/webMasterAddons.php') Webmaster Related
        li.nav-link
          a.nav-link(href='/techHQ/browsers/#') Backing up Browser Data
        li.nav-link
          a.nav-link(href='/techHQ/browsers/prevent_crashing_browsers') Prevent Browser Crashes/Hang-ups
        li.nav-link
          a.nav-link(href='/techHQ/browsers/tinyurl.php') URL Shortening
