//output:techMobileSoftCol1.html


#accordion(role='tablist', aria-multiselectable='true')
  .card
    #headingOne.card-header(role='tab')
      h5.mb-0
        a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
          | Software Sub-Categories
    |         
    #collapseOne.collapse(role='tabpanel', aria-labelledby='headingOne')
      .card-block
            a(href='/techHQ/software/internetRelated.php') Internet Related
            br 

            a(href='/techHQ/software/multimedia.php') Multimedia Related
            li.nav-link
                a.nav-link(href='/techHQ/software/multimedia/audio.php') Audio
            li.nav-link
                a.nav-link(href='/techHQ/software/multimedia/graphics.php') Graphics
            li.nav-link
                a.nav-link(href='/techHQ/software/multimedia/media_players_audio.php')
                  | Media Players
                  em Audio
              li.nav-link
                a.nav-link(href='/techHQ/software/multimedia/media_players_video.php')
                  | Media Players
                  em Video
              li.nav-link
                  a.nav-link(href='/techHQ/software/multimedia/videoPrograms') Video Related Programs


              a.nav-link(href='/techHQ/software/productivity.php') Office/Productivity Programs


              a.nav-link(href='/techHQ/software/securityPrograms.php') Security Related
              br 
              li.nav-link
                a.nav-link(href='/techHQ/software/security/virusANDMalwareScanners.php') Antivirus and Antimalware
              li.nav-link
                a.nav-link(href='/techHQ/software/security/cleaners.php') System Cleaners
          
              li.nav-link
                a.nav-link(href='/techHQ/software/security/firewalls.php') Firewalls
              


            a(href='/techHQ/software/systemTools.php') System Tools
            br 
            li.nav-link
              a.nav-link(href='/techHQ/software/sTools/archivers.php') Archivers

            li.nav-link
              a.nav-link(href='/techHQ/software/sTools/backupSoftware.php') Backup Software
              br

              a.nav-link(href='/techHQ/software/sTools/burners.php') CD/DVD/Blue Ray Burners
              br

            li.nav-link
              a.nav-link(href='/techHQ/software/defrag.php') Defragmenters
              br
              | [File Managers]
              br

            li.nav-link
              a.nav-link(href='/techHQ/software/sTools/registryTools.php') Registry Tools
              br

            li.nav-link
              a.nav-link(href='/techHQ/software/sTools/startupManangers.php') Startup Managers
              br

            li.nav-link
              a.nav-link(href='/techHQ/software/sTools/sysInternals') SysInternels
              br

            li.nav-link
              a.nav-link(href='/techHQ/software/sTools/taskManagers.php') Task Manager
              br
