

h2 Dynamic Filtering Examples 

.card.shadow
  .card__header Allowing a connection from a third party domain, on a site, BYPASSING any static filter
  .card-text.p-3
    div A Website needs a connection from a domain for something, and with the active Static filters (filter lists), the element coming from that domain is blocked, because, something in a filter list is being triggered.

    div Here you can set the connection from, that particular domain to Allow (Green), which will allow the connection, BYPASSING any static filtering that may be getting in the way.

br/ 

h2 Examples of Noop Filtering

.card.shadow
  .card__header Overiding a global Block (Red), Dynamic filter
  .card-text.p-3
    div OK just remember a global filter for a domain will effect ANY/EVERY site you are on.   A Global block filter will block the connection from that domain and it doesn't matter if it's in one of the static filter lists or not ... it WILL BE BLOCKED.
    br/
    div Now what if for a certain domain you want "to block it IF it's in one of the typical static filterlists, BUT do not want to outright block it via the global BLOCK dynamic filter.".  
    br/
    div Here is where the Noop (Dark Grey) LOCAL Dynamic filter would come in.   You set the local dynamic filter for that domain to Noop, then it will "allow, UNLESS on a blocklist", just for that site, but since that domain has a GLOBAL dynmaic filter, set to BLOCK, that domain's connections on any other website would still be BLOCKED.
