h3 Noop Filters
p
    | What happens is when you set a domain to
    span.text-success Allow
    | (Green), it will bypass the static (filter-list) filters. (Found in the "3rd Party Filter" section of Ublock Origin's Dashboard)

p
  | What the NOOP filter does is it allow the item from the domain you set the
  em Noop
  | filter (grey/black) on, THOUGH UNLIKE
  em Allow
  | it STILL APPLIES, the static (3rd party) filters.
p
  | I can say, that using
  em Allow
  | instead of
  em Noop
  | has not been an issue for me, though I think i would still have used Noop before, as I had been making a mistake with my logic vs the way Ublock filters, since I started using it.
hr




h5 My Mistake
ul
  li NOTE: THIS IS WRONG
p
  | I was under the under the impression
  span.green
    em Allow
    | (Green)
  | would of course allow the content from that domain, though the static filters were still applied
  em to that content
  | . This would mean, if something from an
  em allowed domain
  | gets "flagged" in one of the 3rd party blocklists, then just that flagged element would be blocked, but the rest of the content, would be allowed... IF I AM UNDERSTAND THIS RIGHT ...
p THAT is how NOOP RULES work... no matter what is in the static blocklists, the content that got flagged (in my example) would still be display/sen