.card.w-75.mx-auto.border.border-primary
  .card__header Knowing if Ublock Origin is enabled or disabled

  .card-text.mx-auto.p-3

    ul
      li Ublock Enabled (note: Blue Color)
        img(src='/techHQ/browsers/adblocking/screenshots/ublock/ublockEnabled.jpg', alt='Ublock Enabled')
        br/
      li Ublock Disabled (note: Grey Color)
        img(src='/techHQ/browsers/adblocking/screenshots/ublock/ublockDisabled.jpg', alt='Ublock Disabled')

br/
br/

.card.d-none.d-lg-block.w-75.mx-auto.border.border-primary
  .card__header Enable Advanced Mode in Ublock Origin

  .card-text.mx-auto.p-3
    img.w-80(src='/techHQ/browsers/adblocking/screenshots/ublock/ublockDashSettingsAdvancedUser.jpg', alt='Ublock Disabled')

