
.card
  .card__header Mass Theme PPAs

  .card__body
    a(href='/linuxHQ/tic/themes/adapta.php') Adapta
    a(href='/linuxHQ/tic/themes/arc.php') Arc
    a(href='/linuxHQ/tic/themes/minty.php') (Linux) Mint-Y
    a(href='/linuxHQ/tic/themes/numix.php') Numix
    a(href='/linuxHQ/tic/themes/yosembiance.php') Yosembiance

.card
  .card__header Icons
  .card__body
    a(href='#') Evolvere
    a(href='#') Faience
    a(href='#') Faenza-Cupertino
    a(href='#') Vibrancy Colors
    a(href='#') Vivacious

.card
  .card__header Cursors

.card
  .card__header External Links

  .card__body

    a(href="https://www.deviantart.com/" target="_blank" aria-label="Deviant Art Site Link") DevianArt
      i.fa.fa-4x.fa-deviantart.text-dark.m-2(aria-hidden='true')
