.accordion

  // the input ID and for="" have to be equal
  input#themePPA(type="checkbox")
  label(for="themePPA") Mass Theme PPAs
  .content
    a(href='/linuxHQ/tic/themes/arc.php') Arc
    a(href='/linuxHQ/tic/themes/minty.php') (Linux) Mint-Y
    a(href='/linuxHQ/tic/themes/numix.php') Numix

  // the input ID and for="" have to be equal
  input#icons(type="checkbox")
  label(for="icons") Icons
  .content
    a(href='#') Evolvere
    a(href='#') Faience
    a(href='#') Faenza-Cupertino
    a(href='#') Vibrancy Colors
    a(href='#') Vivacious

  // the input ID and for="" have to be equal
  input#cursors(type="checkbox")
  label(for="cursors") Cursors
  .content

  // the input ID and for="" have to be equal
  input#links(type="checkbox")
  label(for="links") External Links
  .content
    a(href="https://www.deviantart.com/" target="_blank" aria-label="Deviant Art Site Link") DevianArt
      i.fa.fa-4x.fa-deviantart.text-dark.m-2(aria-hidden='true')
