.accordion
input#ppa(type="checkbox")
label(for="ppa") PPA Related
.accordion-content
  a(href='/linuxHQ/apps/favoritePPAs.php') My Favorite PPAs
  a(href='AddPPA_to_Ubuntu.php')
  | Adding PPAs/What is a PPA/
  br
  | List of common PPAs

.accordion
input#miscApps(type="checkbox")
label(for="miscApps") Misc Apps.
.accordion-content
  a(href='#') Google Chrome
  a(href='#') Libre Office
