.accordion

  // the input ID and for="" have to be equal
  input#ppa(type="checkbox")
  label(for="ppa") PPA Related
  .content
    a(href='/linuxHQ/apps/favoritePPAs.php') My Favorite PPAs
    a(href='AddPPA_to_Ubuntu.php')
    | Adding PPAs/What is a PPA/
    br
    | List of common PPAs

  // the input ID and for="" have to be equal
  input#miscApps(type="checkbox")
  label(for="miscApps") Misc Apps.
  .content
    a(href='#') Google Chrome
    a(href='#') Libre Office
