.d-none.d-md-block.w-50.mx-auto.border.border-dark.mt-3
  .p-2.bg-primary.text-white.text-weight-bold OMGUbuntu Headlines
  script(src='//rss.bloople.net/?url=http%3A%2F%2Ffeeds.feedburner.com%2Fd0od%3Fformat%3Dxml&detail=-1&limit=6&showtitle=false&type=js')


