<?php

    $sitePath = "/home/xmetalx1/public_html";
    include $sitePath . "/templates/tech/baseTechMAINTemp.tpl";

 ?>

h3 Educational Sites 
  div.support
    p.khanAcaImage
			a(href="https://www.khanacademy.org/", target="_blank")
				img(src="/techHQ/graphics/khan-logo-vertical-transparent.png", alt="Khan Academy Graphic", class="center") 
    
		p.linuxAcad
			a(href="https://linuxacademy.com/", target="_blank")
				img(src="/techHQ/graphics/linuxAcad.png", alt="Linux Academy Graphic")

p.KKing
  a(href='http://www.kristakingmath.com/', target='_blank')
    img(src='/techHQ/graphics/kking.png', alt='Krista King Math Site graphics') 
		p Krista King Math
		br 
		br 

		p a(href='https://www.youtube.com/channel/UCUDlvPp1MlnegYXOXzj7DEQ')
  | (or Her Channel on Youtube)



<?php
    include $sitePath . "/techHQ/modules/GAOTD.tpl";
    include $sitePath . "/modules/tech/baseTechFooter.tpl";
?>
