//output:indexTest.html
 
 
.card.hidden-sm-down.col-lg-8
 .card-block
   h2.card-title Educational Sites        
   .card-text
      .graphics
        a(href="https://www.khanacademy.org/", target="_blank")
          img(src="/techHQ/graphics/khan-logo.png", alt="Khan Academy Graphic") 
          
      .graphics
        a(href="https://linuxacademy.com/", target="_blank")
          img(src="/techHQ/graphics/linuxAcad.png", alt="Linux Academy Graphic")
                
      .graphics
        a(href='http://www.kristakingmath.com/', target='_blank') Krista King Math
        img(src='/techHQ/graphics/kking.png', alt='Krista King Math Site graphics') 
        br 
        br 
        a(href='https://www.youtube.com/channel/UCUDlvPp1MlnegYXOXzj7DEQ')
            | (or Her Channel on Youtube)
