//output:contentManagerAddons.html

h2 Content &quot;Manager&quot; Addons
p
  | This does not include a few of my &quot;Must have addons&quot; in the first table on the page

.card.card-warning 
  .card-header
      img(src='/techHQ/graphics/ffox/GreaseFire.png', alt='GreaseFire Icon')
      a(href='#') Greasefire2
    
  .card-block
    .card-text
      | Note to Self: Consider adding greasefire2 though the source it pulls from seems to only pull OLD options that haven't been updated for at LEAST 3 years 

.card
  .card-header
      img.icon(src='/techHQ/graphics/ffox/greasemonkey.png', alt='GreaseMonkey Icon')
      a(href='http://www.greasespot.net/') Greasemonkey
  
  .card-block
    .card-text
      p  A User Script Manager for Firefox
      p
        | User scripts add many features and even remove ads on some pages automatically ..

.card.card-warning 
  .card-header
      a(href='https://addons.mozilla.org/en-US/firefox/addon/nuke-anything-enhanced/?src=search', target='_blank')  Nuke Anything Enhanced
  .card-block
    p.card-text
      p  NOTE: NOT UPDATED since October 2014 ** 
      p  Allows you to hide objects on web-pages through the context (right click) menu
      p  Similar to RemoveIt Permanently

.card
  .card-header
      a(href='http://SocialFixer.com') Social Fixer
    
  .card-block
    p.card-text
      p
        | Formerly &quot;Facebook Fixer&quot;&rsquo;; This adds various extra features and enhancements to Facebook.
      ul
        li
          p (FOR THE RECORD), I think there is also a &quot;addition&quot; of Social Fixer for Chrome Related browsers, as well as Opera
        li
          p Internet Explorer (and IE based Browsers are not yet supported)

 <?php include $_SERVER['DOCUMENT_ROOT'].("/templates/tech/baseTechBrowserTemplate.php"); ?>
