<?php

		$the_title = 'Xmetal TechHQ - Browser Section - Download Related Addons';
		$sitePath = "/home/xmetalx1/public_html";
 	 include $sitePath . "/templates/tech/baseTechBrowserTemp.tpl";
 ?>

<h2>Download Related Addons</h2>
	<h4>Firefox</h4>
					
.card
  .card-header
      <img src="" alt="Ant Video Downloader Icon" class="icon">
		<a href="http://www.ant.com/video-downloader/">Ant Video Downloader</a>
  .card-block
    .card-text
    
	(NOT TO SAY I DISLIKE "DownloadHelper") This has become my website video downloader of Choice… it does have info being sent back to  the developer, though simply unselecting that "option" in the Addon’s Option screen, stops that problem.
						
.card
  .card-header
      <img src="/techHQ/graphics/ffox/download/DownloadHelper.png" alt="Download Helper Icon">
		<a href="http://www.downloadhelper.net"> Download Helper </a>
  .card-block
    .card-text
    <p> Videos and images download assistant for many site such as Youtube</p>

	<p> SOMETIMES Youtube changes the code to make DownloadHelper not be able to download anymore … 99% of the time I’d say update DownloadHelper to it’s newest version and that will solve that problem</p>

.card
  .card-header
      <a href="http://dmextension.mozdev.org/">DownloadManagerTweak</a>
  .card-block
    .card-text
     "A  modification of the Firefox download manager that changes its  appearance and allows it to be opened in a separate window, a new tab,  or the sidebar.
						
.card
  .card-header
      
  .card-block
    .card-text
						<div class="description">
							Sends Downloads to the statusbar (Download window that is) … visible even when your browsing the web.
						</div>
					  </li>
.card
  .card-header
      <img src="/techHQ/graphics/ffox/download/DownThemAll.png" alt="DownloadThemAll">
		<a href="http://www.downthemall.net/"> DownloadThemAll</a>
  .card-block
    .card-text
        Mass downloader plugin … I find it VERY useful
						 
.card
  .card-header
      <a href="http://www.flashvideodownloader.org/">Flash Video Downloader</a>
  .card-block
    .card-text
    One of the best (not counting DownloadHelper) Youtube to Mp4 or FLV downloader I have found for Firefox
						
.card
  .card-header
      <a href="http://flashgot.net/"> FlashGot</a>
  .card-block
    .card-text
    Integrates a good download manager, Flashget, into Firefox
						
.card
  .card-header
      <a href="http://www.pdfdownload.org">PDF Download </a>
  .card-block
    .card-text
    Allow you to Download, or view (the default action, I beleive) PDFs in Firefox.

	If you know you will want to see the PDF again later, this can really come in handy… you CAN DOWNLOAD pdf’s without this addon, though this	addon makes it alot easier.


<?php include $sitePath . "/modules/tech/baseTechFooter.tpl"; ?>
