
h3 Password Related Addons
h4 My TOP picks/&quot;Must haves&quot;(although others are useful)


.card
  .card-header
  img(src='/techHQ/graphics/ffox/LastPass.jpg', alt='Lastpass Icon')
a(href='http://lastpass.com/')  LastPass

  .card-block
    .card-text
		Great alternative that stores your password collection on-line … I sometimes use this when AIRoboForm’s does not work with new
			 builds … even when it does …  it’s still a good alternative to Roboform….

<?php include $sitePath . "/modules/tech/baseTechFooter.tpl"; ?>
