
h2 Cache (Temp Internet Files) and Cookie Related

.card
  .card-header
    img(src='', alt='Cookie Controller Icon')
    a(href='https://addons.mozilla.org/en-US/firefox/addon/cookie-controller') Cookie Controller

  .card-block
    .card-text

.card
  .card-header
    img(src='', alt='Better Privacy Icon')
    a(href='https://addons.mozilla.org/en-US/firefox/addon/betterprivacy/') BetterPrivacy

  .card-block
    .card-text
    p Highly configurable addon to auto-remove LSO (Flash) Cookies to enhance privacy
    p
      | These Flash Cookies are part of the &ldquo;Super Cookies&rdquo; that you may have read about. Many articles I have read lately bring up the fact that even after you remember &ldquo;normal&rdquo; cookies, Super Cookies via other methods then just regular cookies, can still keep track of you on the web.


.card
  .card-header
    img(src='', alt='cacheviewer Icon')
    a(href='http://park2.wakwak.com/~benki/')  CacheViewer  

  .card-block
    .card-text
		View and manage the cache of downloaded sites in Firefox

.card
  .card-header
    img(src='', alt='Cookie Manager Icon')
    a(href='') Cookie Manager+ 

  .card-block
    .card-text
    	p Allows users to manage cookies via:
      ul
        li Creating
        li Backing up


h2 Other useful security related

.card
  .card-header
    a(href='https://addons.mozilla.org/en-US/firefox/addon/flashblock')  Flashblock

  .card-block
    .card-text
      p
        | This is similar to NoScript (below) &mldr; What this does is change any and all Flash items (say .. at the top of this site&mldr;) to a play symbol. If you want the flash to play.. well&mldr; you readers are intelligent enough to know what to do. This can really really (and yes i meant to type that word twice) speed up web-browsing. Those Useless Flash ads that some popup killers can not get &mldr;. They do not auto play, and therefore do not take up bandwidth downloading.


h2 Various

.card
  .card-header
    img(src='/techHQ/graphics/ffox/security/NoScript.jpg', alt='NoScript Icon')
    a(href='https://addons.mozilla.org/en-US/firefox/addon/noscript/?src=cb-dl-mostpopular')  NoScript 

  .card-block
    .card-text
  p
    | This will let you allow or deny (deny by default) javascript in webpages&mldr; This is not only more secure in many cases, but its may also make pages load
    | faster.  You can temporarily allow, or permanently allow items on a site by site basis. I use this to prevent malicious scripts from taking over
    | my browser/PC &mldr; if you need a script (say yahoo.com, for yahoo mail &mldr;) &mldr;with a click or two, it is allowed to run &mldr; very easy to set up, if you
    | ask me.
  p
    | If you take advantage of the backup feature to backup your &ldquo;Whitelist&rdquo; (allowed sites) you do not have to worry about adding them back one
    | by one after&#x9;a major Firefox upgrade. (say you are moving your list from NoScript from one computer to another).


h2 MY # 1 MUST HAVE ADDON
p
  | Time and Time again, I have read security articles noting that there is a &ldquo;new bug&rdquo; on the web taking advantage of un-suspecting users. &ldquo;If you have Firefox, all you need to do is (and even this is a maybe, depending on the exploit) upgrade to the new version of NoScript and you will be protected&rdquo;
p
  | By the way, all that means is if you have NoScript, go to the Firefox Addon menu &mldr;and &ldquo;Check for updates&rdquo; when selecting the NoScript addon &mldr;
  br
  |  that&rsquo;s all that, that means&mldr; This is the way you update almost any addon





.card
  .card-header
    img(src='/techHQ/graphics/ffox/security/RequestPolicy.png', alt='Request Policy Icon')
      a(href='') Request Policy

  .card-block
    .card-text
      p
        | Control various Cross-Site requests (requests from sites other then the one you are on) &mldr; NOTE: NOT ALL requests are malicious &mldr; but similar to NoScript, this gives you much more control on what your browser does and what is allowed to happen
