<?php

  $the_title = 'Xmetal TechHQ - Browser Section - Top Non-Security Related Addons';


<h1>Content “Manager” Addons</h1>

	<p>This does not include a few of my “Must have addons” in the first table on the page_ </p>

				
.card
  .card-header
      <img src="/techHQ/graphics/ffox/GreaseFire.png" alt="GreaseFire Icon">
							<a href="http://skrul.com/blog/projects/greasefire">Greasefire</a>
  .card-block
    .card-text
    	Auto-finds Greasemonkey scripts on userscripts.org, based on the domain/website you are visiting
			
			
.card
  .card-header
      <img src="/techHQ/graphics/ffox/greasemonkey.png" alt="GreaseMonkey Icon" />Greasemonkey
  .card-block
    .card-text
    <p>A User Script Manager for Firefox</p>
		<p>User scripts add many features and even remove ads on some pages automatically ..</p>
		 	  
.card
  .card-header
      <div class="title">Nuke Anything Enhanced</div>
  .card-block
    .card-text
    <p>Allows you to hide objects on webpages through the context (right click) menu</p>
	<p>Similar to RemoveIt Permanently</p>
					
					    
.card
  .card-header
      <img src="/techHQ/graphics/ffox/redirectRemover.png" alt="Redirect remover"> Redirect Remover
  .card-block
    .card-text
    Remove Redirects from websites
    
    
.card
  .card-header
      <img src="/techHQ/graphics/ffox/remove_it_perm.png" alt="RIP Icon"> Remove It Permanently
  .card-block
    .card-text
    Highly customizable addon to remove items via the contect menu.
						 
						 
						 
.card
  .card-header
      RightToClick
  .card-block
    .card-text
    Allows right clicks and highlighting where forbidden by javascript
					
.card
  .card-header
      StopAutoplay
  .card-block
    .card-text
    This Plugin stops the auto playing of various files (Quicktime and real media for instance) …

				
.card
  .card-header
      <a href="http://www.tidyfox.com/" target="_blank">TidyFox</a>
  .card-block
    .card-text
       <p>This adds (where you put it can be fully customized) button icon that gives you quick acesss, based on domians.</p>
		<p>I have tried a few “History in a sidebar” type addons and they weren’t bad … but they weren’’t what I was looking for. This adds just enough of what
		 I wanted, without being “in the way”, if you ask me</p>
					  
.card
  .card-header
      <a href="http://socialfixer.com/">Social Fixer</a>
  .card-block
    .card-text
        This adds various extra features and enhancements to Facebook.
						<ul>
						  <li>(FOR THE RECORD), I think there is also a “addition” of Social Fixer for Chrome Related browsers, as well as Opera,</li>
						  <li>Internet Explorer (and IE based Browsers are not yet supported)</li>
						</ul>
					


<?php include $sitePath . "/modules/tech/baseTechFooter.tpl"; ?>
