<?php

  $title = 'Browser Section - Top Security Related Addons';
  $sitePath = "/home/xmetalx1/public_html";
  include $sitePath . "/templates/tech/baseTechBrowserTemp.tpl";
 ?>

<h2>Cache (Temp Internet Files) and Cookie Related</h2>

.card
  .card-header
  img(src='', alt='Cookie Controller Icon')
a(href='https://addons.mozilla.org/en-US/firefox/addon/cookie-controller') Cookie Controller

  .card-block
    .card-text

.card
  .card-header
    img(src='', alt='Better Privacy Icon')
    a(href='https://addons.mozilla.org/en-US/firefox/addon/betterprivacy/')  BetterPrivacy

  .card-block
    .card-text
        <p>Highly configurable addon to auto-remove LSO (Flash) Cookies to enhance privacy</p>
	    <p>These Flash Cookies are part of the “Super Cookies” that you may have read about. Many articles I have read lately bring up the fact that even after you remember “normal” cookies, Super Cookies via other methods then just regular cookies, can still keep track of you on the web.</p>

.card
  .card-header
      img(src='', alt='cacheviewer Icon')
a(href='http://park2.wakwak.com/~benki/')  CacheViewer  

  .card-block
    .card-text
		View and manage the cache of downloaded sites in Firefox



.card
  .card-header
    img(src='', alt='Cookie Manager Icon')
a(href='') Cookie Manager+ 

  .card-block
    .card-text
	<p>Allows users to manage cookies via:</p>
					<ul>
					  <li>Creating</li>
					  <li>Backing up</li>
					</ul>



.card
  .card-header
      img(src='', alt='HTTP_E Icon')
a(href='')  HTTPS Everywhere

  .card-block
    .card-text
		Without going into boring details … HTTP links are regular links and HTTPS (are Secure (notice the “S”) used on many sites … sometimes sites have HTTPS available but people (typing HTTP, out of force of habit) don’t take advantage of HTTPS… HTTPS makes browsing somewhat more secure andthis plug in will contain a “database” of known sites and even if you type in HTTP (with the add-on ACTIVE) .. Firefox will change the URL to HTTPS.

		<p>This will NOT block your ISP from knowing what sites you visit, more will it prevent viruses and malware.. It will make your browsing slightly more secure<br> and with other add-ons like CookieSafe, Request Policy, and NoScript, you will have a much more secure browsing experience</p>
		

.card
  .card-header
      <a href="https://addons.mozilla.org/en-US/firefox/addon/modify-headers/"> Modify Headers</a>
  .card-block
    .card-text
    	Allows you to change or filter HTTP Header request information</p>
	

.card
  .card-header
    img(src='/techHQ/graphics/ffox/security/NoScript.jpg', alt='NoScript Icon')
    a(href='https://addons.mozilla.org/en-US/firefox/addon/noscript/?src=cb-dl-mostpopular')  NoScript 

  .card-block
    .card-text
p
  | This will let you allow or deny (deny by default) javascript in webpages&mldr; This is not only more secure in many cases, but its may also make pages load
  | faster.  You can temporarily allow, or permanently allow items on a site by site basis. I use this to prevent malicious scripts from taking over
  | my browser/PC &mldr; if you need a script (say yahoo.com, for yahoo mail &mldr;) &mldr;with a click or two, it is allowed to run &mldr; very easy to set up, if you
  | ask me.
p
  | If you take advantage of the backup feature to backup your &ldquo;Whitelist&rdquo; (allowed sites) you do not have to worry about adding them back one
  | by one after&#x9;a major Firefox upgrade. (say you are moving your list from NoScript from one computer to another).


h2 MY # 1 MUST HAVE ADDON
p
  | Time and Time again, I have read security articles noting that there is a &ldquo;new bug&rdquo; on the web taking advantage of un-suspecting users. &ldquo;If you have Firefox, all you need to do is (and even this is a maybe, depending on the exploit) upgrade to the new version of NoScript and you will be protected&rdquo;
p
  | By the way, all that means is if you have NoScript, go to the Firefox Addon menu &mldr;and &ldquo;Check for updates&rdquo; when selecting the NoScript addon &mldr;
  br
  |  that&rsquo;s all that, that means&mldr; This is the way you update almost any addon

.card
  .card-header
      img(src='', alt='RefControl Icon')
a(href='https://addons.mozilla.org/en-US/firefox/addon/refcontrol')  RefControl&gt;

  .card-block
    .card-text
				<p> Control Refers (where a site can tell where you came from (a different site).</p>

				p
  strong
    em This allows you to:
  |  - block, - allow (some download sites you have to allow), or - forge (fake) a refer based on rules
  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;that you create
| &#x9;&#x9;&#x9;&#x9;&#x9;
p
  | Like NoScript, I made a rule to forge all third party (anything not listed as Allow) and I add allow rules IF needed.
| &#x9;&#x9;&#x9;&#x9;&#x9;
p
  | To do this, in the option dialog box for RefControl, look at the bottom where it says &ldquo;default for sites not listed&rdquo; and click edit
| &#x9;&#x9;&#x9;&#x9;&#x9;
p  Here (I choose Forge, but you can choice Block)
| &#x9;&#x9;&#x9;&#x9;&#x9;
p
  | Without RefControl, the &ldquo;default&rdquo; for your browser is 
  em Allow
  | , in case you were wondering

				

.card
  .card-header
img(src='/techHQ/graphics/ffox/security/RequestPolicy.png', alt='Request Policy Icon')
a(href='') Request Policy

  .card-block
    .card-text
    <p> Control various Cross-Site requests (requests from sites other then the one you are on) … NOTE: NOT ALL requests are malicious … but similar to NoScript, this gives you much more control on what your browser does and what is allowed to happen</p>
		  
.card
  .card-header
img(src='/techHQ/graphics/ffox/UAControl.png', alt='UAControl Icon')
a(href='')
   UAControl

  .card-block
    .card-text	
				p
        | UNLIKE RefControl, when I set the &ldquo;default&rdquo;settings to block sending UA data&mldr;. I had a few problems with sites displaying &mldr;
      p
        | I have to admit unlike Ref Control where i suggest &ldquo;Block/forge (fake)&rdquo; to all 3rd party (sites other than the one your browser is currently on,
        | where information (say an ad banner) is being downloaded from, when you visit the webpage) by default, WITH UAControl I leave the settings alone
        | and add them on a &ldquo;per-site&rdquo; basis.


.card
  .card-header
  img(src='/techHQ/graphics/ffox/UserAgent.png', alt='User Agent Switcher Icon')
a(href='') User Agent Switcher

  .card-block
    .card-text
      p
        | Allows you to change the User Agent information sent by Firefox. This includes &ldquo;what browser&rdquo; you are using, and what version of that browser,with some other information

h2 Other useful security related

.card
  .card-hea
		
	der
    a(href='https://addons.mozilla.org/en-US/firefox/addon/flashblock')  Flashblock

  .card-block
    .card-text
      p
        | This is similar to NoScript (below) &mldr; What this does is change any and all Flash items (say .. at the top of this site&mldr;) to a play symbol. If you want the flash to play.. well&mldr; you readers are intelligent enough to know what to do. This can really really (and yes i meant to type that word twice) speed up web-browsing. Those Useless Flash ads that some popup killers can not get &mldr;. They do not auto play, and therefore do not take up bandwidth downloading.


<?php include $sitePath . "/modules/tech/baseTechFooter.tpl"; ?>
