

h3 Web Mastering Related

.card
  .card-header
    a(href='http://chrispederick.com/work/web-developer/', target='_blank') Web Developer

  .card-block
    .card-text
    Adds web development tools via the toolbar and Menus



.card
  .card-header
      a(href='http://spaghetticoder.org/cssusage/', target='_blank') CSSUsage

  .card-block
    .card-text
    Firebug extension to view which CSS rules are really used on your site.


<?php include $sitePath . "/modules/tech/baseTechFooter.tpl"; ?>
