// No Longer Needed but leave until i can convert the default radius calls to 8px
// Apparently no prefixes are needed anymore

@mixin boxShadow($horz: 4px, $vert: 3px, $depth: 5px, $color: $black)
{
  box-shadow: $horz $vert $depth $color;
}
@mixin size ($width, $height)
{
  width: $width;

height: $height;
  }

// Are These needed or built into something else now? 
@mixin padding( $top, $right, $bottom, $left)
 {
   padding: $top $right $bottom $left;

 }

@mixin margin( $top, $right, $bottom, $left)
{
	margin: $top $right $bottom $left;

}
// ############################################################################

@mixin autoMargin($margin-left: auto, $margin-right: auto)
{
margin-right: $margin-right;

	margin-left: $margin-left;
	}
