//output:baseTechBrowserTemp.html

<?php include $sitePath . '/modules/tech/baseTechHeader.tpl'; ?>

.row
  .card.col-xs-2.col-sm-2.col-md-2.col-lg-2.col-xl-2
    .card-text
      <?php include $sitePath . ('/techHQ/modules/techBrowsersCol1.tpl'); ?>

  .card.col-xs-10.col-sm-10.col-md-10.col-lg-10.col-xl-10
      .card-text
