//output:baseTechCenterTemp.html 

<?php include $sitePath . '/modules/tech/baseTechHeader.tpl'; ?>

#mainBody.row.col-12
  .hidden-sm-down.col-md-2.col-lg-2.col-xl-2
  <?php include $sitePath .'/techHQ/modules/techCenterCol1.tpl'; ?>
          
  .col-xs-12.col-sm-12.col-md-12.col-lg-10.col-xl-10
  
