//output:baseTechCenterTemp.html 

<?php include $sitePath . '/modules/tech/baseTechHeader.tpl'; ?>

.row
    .hidden-sm-down.col-md-2.col-lg-2.col-xl-2
      <?php include $sitePath .'/techHQ/modules/techCenterCol1.tpl'; ?>
      
    .hidden-md-up.col-xl-12.col-md-12
      <?php include $sitePath . '/techHQ/modules/mobile/techTechCenterMob.tpl'; ?>

          
    .col-xs-12.col-sm-12.col-md-12.col-lg-10.col-xl-10
  
