//output:baseTechMAINTemp.html
<?php include $sitePath . '/modules/tech/baseTechHeader.tpl'; ?>

.row
  .hidden-xs.col-sm-2.col-md-4.col-lg-2.col-xl-2
    .card
      .card-block
        h4.card-title News and Headlines 
        .card-text 
        <?php include $sitePath . '/techHQ/modules/techMainCol1.tpl'; ?>
        
  .col-xs-10.col-sm-10.col-md-8.col-lg-10.col-xl-10
    .card
      .card-block
        .card-text 
