//output:baseTechSoftwareTemp.html 

<?php include $sitePath . '/modules/tech/baseTechHeader.tpl'; ?>

.row 
  .card.col-lg-2
    .card-block
      .card-title Software Catagories 
        <?php include $sitePath . '/techHQ/modules/techSoftwareCol1.tpl'; ?>
        
  .card.col-lg-10
    .card-text
