//output:baseTechSecurityTemp.html

<?php include $sitePath . '/modules/tech/baseTechHeader.tpl'; ?>

.row 
  .panel.panel-default.col-lg-2
    .panel-body
      <?php include $sitePath . '/techHQ/modules/techSecurityCol1.tpl'; ?>


  .panel.panel-default.col-lg-10
    .panel-body
