//output:baseTechBrowserTemp.html

<?php include $sitePath . '/modules/tech/baseTechHeader.tpl'; ?>

.panel.panel-default.col-sm-2
  .panel-body
    <?php include $sitePath . ('/techHQ/modules/techBrowsersCol1.tpl'); ?>
    
.panel.panel-default.col-lg-10
    .panel-body 
