//output:baseTechSoftwareTemp.html 

<?php include $sitePath . '/techHQ/modules/variables/icons.php'; ?>
<?php include $sitePath . '/modules/tech/baseTechHeader.tpl'; ?>

#mainBody.row.col-12

  .col-md-3.col-lg-3.col-xl-3
    <?php include $sitePath . '/techHQ/modules/techSoftwareCol1.tpl'; ?>
    
  .col-xs-12.col-sm-12.col-md-9.col-lg-10.col-xl-10
