//output:baseTechMAINTemp.html

<?php include $sitePath . '/modules/tech/baseTechHeader.tpl'; ?>

#mainBody.row.col-12

  .col-lg-2.col-xl-2.hidden-md-down
      <?php include $sitePath . '/techHQ/modules/techMainCol1.tpl'; ?>
        
  .col-xs-10.col-sm-10.col-md-10.col-lg-10.col-xl-10
    .card
      .card-block
        .card-text 
