//output:baseTechMAINTemp.html
<?php include $sitePath . '/modules/tech/baseTechHeader.tpl'; ?>

.card
  .card-block.col-xs-2.col-sm-2.col-md-2.col-lg-2.col-xl-2
    h4.card-title News and Headlines 
    |     
    p.card-text 
    |     

.card
  .card-block.col-xs-10.col-sm-10.col-md-10.col-lg-10.col-xl-10
    p.card-text 
