//output:windowsUpdate.html 

p.boldCenter
    a(href='#m1') Method 1 of Updating (Firefox and free plugin) 
    | |
    a(href='#M2') Method 2 of Updating (Belarc)
hr
p.boldTitles
    a#m1(name='m1')
    | Method 1
p.header What you need 

ul
  li
    a(href='http://www.getfirefox.com', target='_blank') Firefox
    |  (a web browser alternative to IE ... for those that do not already know)
  |     
  li
    a(href='http://windowsupdate.62nds.com/', target='_blank') WindizUpdate Plugin / Addon


p.header What to do? 
ol
  li Once you have Firefox Installed, 
  |     
  li
    | go to the Windiz Website above and install the plugin. (note: you may need to specifically allow that site to be able to install plugins) ...
  |     
  li Run &quot;Scan my Computer&quot; like you would on Microsoft&apos;s Update. 
  |     
  li
    | INSTALLING THE UPDATES
    ol
      li
        | First you may (Like MS&apos;s) just let the updater do everything ... download and install ... ) which is perfectly fine
      |             
      li
        | This site also allows you to (in an easier manner) download them and install them later.... they are located in the 
        span.redtext C:|WUTEMP
        |  folder


p
  span.boldText Comments
  | : What this does is basically the same as Microsoft, but for those who don&apos;t like MS scanning their system OR have problems with Microsoft&apos;s Website. I do currently have my AutoUpdate/Automatic update( ..whatever) Service in XP set at DISABLED. I know you have to turn on two of the services to even get MS&apos;s scanner to work.
p.mainProgDescript
  | Note: i am not sure if this is &quot;XP Only&quot; at the moment. ... not saying it is or it isn&apos;t
hr



p.boldTitles    Method 2      
p.header What you Need?
p
  a(href='http://www.belarc.com/free_download.html', target='_blank') Belarc Adviser
  |  -  is a tool that scans various areas in your system and then tell you what programs you have installed, what some of the &quot;basic&quot; and &quot;no so basic&quot; hardware info about your computer is AND according to the latest Security bulletin (I THINK its the latest at the time the last version of Belarc was released .. . ) what Windows updates and/or hotfixes your system is missing, it also may find problem updates that &quot;need to be reinstalled&quot; ... this is a GREAT TOOL if you ask me

p.header What to do?
ol
  li Just run Belarc by clicking the Belarc Icon on your Start Menu OR Desktop 
  |     
  li
    | Your Browser will open with &quot;Profile&quot; of your PC and look for where it says 
    span.redtext System Security Scanner
    |  and look at where it says 
    span.redtext &quot;Microsoft Security Updates&quot;
    |  (This screenshot was taken from a PC with all patches, but you may have a red X
    |         and a message like &quot;3 patches/hotfixes missing)
    |         
    ul
      li
        img(src='UPDATE/SSS.jpg', alt='Belarc Summary Screenshot', width='518', height='76')
  |     
  li
    | when you Click that it will take you down the page and list the patches you need in a link for to Microsoft
  |     
  li
    | go to the MS link and download the patches manually or go to a site like 
    a(href='http://windowsupdate.62nds.com/', target='_blank') WindizUpdate Plugin / Addon
    |  (Listed above) and go to the &quot;search&quot; menu on the left ... copy and paste the patch you need (AKA &quot;
    span.redtext Q22423
    | &quot;) into that and manually get the exe of the patch from 
    a(href='http://windowsupdate.62nds.com/', target='_blank') WindizUpdate Plugin / Addon
    |  ... this way you can back those exe&apos;s up onto a CD-R and install them in other computers or just plain know what updates you need if you reformat so that you do not have to waste a ton of time re-downloading the updates you previously had already :D



<?php include $sitePath . "/modules/tech/baseTechFooter.tpl"; ?>
