// Only for the SECTION ... I will move this later, IF NEEDED 

// Columns are done differently now in Bootstrap 4.x but I will leave things as-is for now


.row
    .col-lg-6
        strong Would I recommend this distrobution to anyone curious about it?: 
        // Var here, that is not coded yet 
        
    .col-lg-6 
        strong Any reason given: 
        // Var here, that is not coded yet 

.row
    .col-lg-6
        strong Would I recommend this distrobution to a new user to Linux?: 
        // Var here, that is not coded yet 
    .col-lg-6 
        strong Any reason given: 
        // Var here, that is not coded yet 


.row
    strong My Experience:  
        // Var here, that is not coded yet 
    br 

    strong Any Extra Comments 
        // Var here, that is not coded yet 
