nav
  .nav.nav-tabs#nav-tab(role='tablist')
    a.nav-item.nav-link.active#nav-versions-tab(data-toggle='tab', href='#nav-versions', role='tab', aria-controls='nav-versions', aria-selected='true') Versions
    a.nav-item.nav-link#nav-install-tab(data-toggle='tab', href='#nav-install', role='tab', aria-controls='nav-install', aria-selected='false') How-To-Install
    a.nav-item.nav-link#nav-screenshots-tab(data-toggle='tab', href='#nav-screenshots', role='tab', aria-controls='nav-contact', aria-selected='false') Screenshots
.tab-content#nav-tabContent
  .tab-pane.fade.show.active#nav-home(role='tabpanel', aria-labelledby='nav-version-tab') tab 1 content 
  .tab-pane.fade#nav-install(role='tabpanel', aria-labelledby='nav-install-tab') tab 2 content 
  .tab-pane.fade#nav-screnshots(role='tabpanel', aria-labelledby='nav-screenshots-tab') tab 3 content