.card.border.border-dark.m-3.shadow
  .card-header Distrowatch Headline Feed
  .card-text
    script(src='//rss.bloople.net/?url=https%3A%2F%2Fdistrowatch.com%2Fnews%2Fdw.xml&detail=20&limit=10&showtitle=false&type=js')

.card.border.border-dark.m-3.shadow
  .card-header Distrowatch Distro Feed
  .card-text
    script(src='//rss.bloople.net/?url=https%3A%2F%2Fdistrowatch.com%2Fnews%2Fdwd.xml&detail=-1&limit=10&showtitle=false&type=js')