.card.border.border-dark.m-3.shadow
   http://www.rssdog.com/index.php?url=https%3A%2F%2Fdistrowatch.com%2Fnews%2Fdw.xml&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&linktarget=_blank&bordercol=%23d4d0c8&headbgcol=%23999999&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0





.card.border.border-dark.m-3.shadow
  .card-header Distrowatch Distro Feed
  .card-text 
    //  Distros
    script(src='//rss.bloople.net/?url=https%3A%2F%2Fdistrowatch.com%2Fnews%2Fdwd.xml&detail=-1&limit=10&showtitle=false&type=js')



