.accordion
  input#DWNewsFeed(type='checkbox')
  label(for='DWNewsFeed') DistroWatch News Feed
  .accordion-content
    script(src='//rss.bloople.net/?url=https%3A%2F%2Fdistrowatch.com%2Fnews%2Fdw.xml&detail=-1&limit=8&showtitle=false&type=js')
.accordion
  input#DWDistroRelease(type='checkbox')
  label(for='DWDistroRelease') Distrowatch New Distro Release Feed
  .accordion-content
    script(src='//rss.bloople.net/?url=https%3A%2F%2Fdistrowatch.com%2Fnews%2Fdwd.xml&detail=-1&limit=10&showtitle=false&type=js')