.card.card--bordered
  .card-header DistroWatch News Feed
  .card-text
    // News
    script(src='//rss.bloople.net/?url=https%3A%2F%2Fdistrowatch.com%2Fnews%2Fdw.xml&detail=-1&limit=8&showtitle=false&type=js')


.card.card--bordered
  .card-header Distrowatch Distro Feed
  .card-text
    //  Distros
    script(src='//rss.bloople.net/?url=https%3A%2F%2Fdistrowatch.com%2Fnews%2Fdwd.xml&detail=-1&limit=10&showtitle=false&type=js')
