
// The output of this should go into template literals in the javascript file 

.card
    .card-text 
        .row 
            div distro Icon and distro Name goes here 
        .row
            .col-4
            div Homepage
            .col-4
            div Download Page
            .col-4
            div Latest Version: 
        

        .row 
            .col-6
                div Distrowatch Page 
            .col-6
                div Target Audience: 
            .col-6 
                div Desktops: 
            .col-6
                div Similar Distros: 
            .col-6
                div Software Type: 

         // This will probably go in a thing of tabs, like i was planning on before, but leave this here for now
        .row
            div Youtube Playlists 
        .row 
            .col-6
                div Youtube Reviews and comment Playlist 
            .col-6
                div Youtube Tweaks and Tips Playlist


