#linuxCarousel.carousel.slide.mx-auto(data-ride='carousel')
  ol.carousel-indicators
    li.active(data-target='#linuxCarousel' data-slide-to='0')
    li(data-target='#linuxCarousel' data-slide-to='1')
    li(data-target='#linuxCarousel' data-slide-to='2')
  .carousel-inner
    .carousel-item.active
      img.d-block.mx-auto(src='/linuxHQ/screenshots/ubuntu/kubuntu.png' alt='Kubuntu 18.04')
    .carousel-item
      img.d-block.mx-auto(src='/linuxHQ/screenshots/ubuntu/mint.png' alt='Second slide')
    .carousel-item
      img.d-block.mx-auto(src='/linuxHQ/screenshots/solus/solusbudgie.png' alt='Third slide')
  a.carousel-control-prev(href='#linuxCarousel' role='button' data-slide='prev')
    span.carousel-control-prev-icon(aria-hidden='true')
    span.sr-only Previous
  a.carousel-control-next(href='#linuxCarousel' role='button' data-slide='next')
    span.carousel-control-next-icon(aria-hidden='true')
    span.sr-only Next