.carousel
  button.carousel__button.carousel__button--left
    img(src="/graphics/leftarrow.png" alt="left arrow")
  .carousel__track-container
    ul.carousel__track
      li
        img.carousel__image(src='/linuxHQ/screenshots/ubuntu/kubuntu2004.png' alt='Kubuntu 18.04 slide')
      li
        img.carousel__image(src='/linuxHQ/screenshots/ubuntu/cinnamonMint.png' alt='Linux Mint slide')
      li
        img.carousel__image(src='/linuxHQ/screenshots/solus/thumbnails/solusbudgie_tn.png' alt='Solus Budgie slide')
  button.carousel__button.carousel__button--right
    img(src="/graphics/rightarrow.jpg" alt="right arrow")


  .carousel__nav
    button.carousel__indicator
    button.carousel__indicator
    button.carousel__indicator
