//output:TICTemplate.html

.card
	.card-block
		.card-title
			<?php echo $TICName; ?>
		
		.card-text
			<?php echo $TICSShot; ?>

			div DeviantArt Page:
				.DAHome <?php echo $DAHome; ?>
			
			div Github Page:
				.GHHome <?php echo $GHHome; ?>
		
			div Gnome-look.org Page:
				.GLHome <?php echo $GLHome; ?>
			
			div Noobslab Page:
				.NSHome <?php echo $NSHome; ?>
			
			.linuxContainer  
				.TICUsage Usable in: <?php echo $TICUsage; ?>
				.TICInstructs Instructions for Ubuntu based distros:
				.TICInstructs Instructions for Arch-based distros:
