//output:Software.html 

#Software
  h5 Graphical (GUI) Software Centers
  ul
    li Gnome Software Center  
    li Ubuntu/Mint Software Center 
    li Muon Discover 
  
	h5  Graphical (GUI) Package Managers
  ul
    li muon 
    li Synaptic Package Manager
    li Yum Extender  (yumex) 
    li Apper 
  
	
.card 
	.card-block
		.card-title CLI Package Managers 
			
		.card-text 
			
		  ul
		    li
		      | Arch based
		      ul
		        li
		          | pacman
		          
							ul
		            li Searching
		                kbd sudo  pacman -Ss packageName  
		           	li  Installing
		              kbd sudo pacman -S packageName 

		        li
		          p.commandTask  Updating 
		          ul
		            li
		              p.P4  &ldquo;Regular&rdquo;  Updates  
		              ul
		                kbd sudo pacman -Syyu  
		    li
      p.CodeHeader yaourt
			           
      ul
        li
          p Searching / Installing   
        
				
				  ul
            li
              kbd yaourt packageName 

        li
          p.P4(style='margin-left:0cm;')
            | (Installing)  
            span.T1 type number of
            span.T2 package,
            span.T3 after doing the search
						
						
  li
    p.distroName Debian / Ubuntu  Based  
    |         
    ul
      li.CodeHeader
        | apt-get
        ul
          li.commandTask
            | Searching
            ul
              kbd sudo apt-get search packageName
          |               
          li
            p.commandTask  Installing
            |                 
            ul
              kbd sudo apt-get install packageName 
          li.commandTask
            | Updating (Repo/ &apos;Software List&apos;)
            ul
              kbd sudo apt-get update
          li
            p.commandTask
              | Updating   the software (typically done after updating the repo list)
              | - &nbsp;This is what &ldquo;updater&rdquo; applets do

            ul
              li
                p.code sudo apt-get upgrade 
      li
        p.CodeHeader aptitude 
        |             
        ul
          li Searching 
          kbd sudo aptitude search packageName
          
          li   Installing
          kbd  sudo aptitude install packageName

  li
    p.distroName OpenSuse 
    ul
      li
        p.P21  zypper
      li  Searching
    
      li Installing  

  li
    | Fedora
    ul
      li
        p.P15  yum 
    
		  li.commandTask  Searching 
      kbd yum search packageName
      
			li.commandTask  Installing 
      kbd yum install packageName  
    
		  li.commandTask   Updating 
      kbd yum update packageName

<?php include $sitePath . "/modules/footer.tpl"; ?>
