//output:installHowToJade.tpl

.row
  .headers How to install (command line instructions) :
    div(style="clear:both;")
    p On Ubuntu-based Systems: #
        span.italics(Ubuntu, elementaryOS, Deepin, Linux Lite, any *buntu distro, LXLE, ...etc )
          div.code <?php echo $installUbuntu; ?>
    p On Linux Mint:
      .code <?php echo $installMint; ?>

    p On Debian:
      .code <?php echo $installDebian; ?>
        <br /><br /><br />
        p  On Arch based Systems:
          .code <?php echo $installArch; ?>
          <br />
        p  On OpenSuse
          .code  <?php echo $installSuse; ?>
            <br />
        p  On Fedora 21 and prior (with yum ... before the switch to dnf):
          .code <?php echo $installFedora; ?> <br />

        p  On PCLinuxOS:
          .code <?php echo $installPCLOS; ?><br />

        p  On Gentoo:
          .code <?php echo $installGentoo; ?>
