//output:linuxTutorCol1.html

h2	NEW USER HEADQUATERS

h4 FAQ&apos;s
  .p-1 
    a(href='/linuxHQ/tutorials/newUserHQ/WhatIsLinux.php') What is Linux?
    br
    a(href='/linuxHQ/tutorials/newUserHQ/liveVersion.php') What is a &quot;Live Version&quot;?
    br
    a(href='/linuxHQ/tutorials/newUserHQ/partitions.php') Partitions Explained
    br
    a(href='/linuxHQ/tutorials/newUserHQ/commonTerms.php') Common Terms, in Linux
    br
    a(href='/linuxHQ/tutorials/newUserHQ/familiarSoftware.php') Familiar Software
    br
    | What is a &quot;Rolling Release&quot;?
    br
    | Linux &quot;Myths&quot; /
    br
    | Misconceptions
    br
    | What does LTS mean?
    br
    a(href='/linuxHQ/tutorials/newUserHQ/DesktopE.php') Desktop Environment FAQs
    br
    a(href='/linuxHQ/tutorials/newUserHQ/myRecommendedDistros.php') My Recommended Distros (Opinion)

h4 Linux vs Windows    
  .p-1
    a(href='/linuxHQ/tutorials/newUserHQ/LinuxVsWindows.php') MS Windows vs Linux - Pros and Cons 
    br
    a(href='/linuxHQ/tutorials/newUserHQ/linuxPros.php') Linux Pros 
    br
    a(href='/linuxHQ/tutorials/newUserHQ/linuxCons.php') Linux Cons 



h4 Tutorials 
  .p-1 
    h5 Overall 
    | How to Update any Linux System


    h2 MORE ADVANCED TOPICS

      h4 Arch Based Tutorials    
        a(href='/linuxHQ/tutorials/addingAURtoArch.php ') Adding AUR Support 
        br
        a(href='/linuxHQ/tutorials/optimizingPacman.php')
        | Optimizing Pacman
        | (Manjaro or Arch)
        br


    h4 Debian based    

      a(href='http://debgen.simplylinux.ch/', target='_blank') Source List Generator
      br
      a(href='https://sites.google.com/site/mydebiansourceslist', target='_blank') Additional Sources
      br
      a(href='upgradingDebianBranches.php') Upgrading Debian Branches
      br
      a(href='upgradingFromDebianStable.php') Upgrading from Stable Branch
      br
      | Ubuntu based    
      | &quot;Dirty&quot; Upgrading


    h4 Command Line Package Management    

      | Searching for Package
      br
      | Installing Package
