//output:linuxDistroCol1.html


h2 Arch Family 
.p-1 
  a(href='/linuxHQ/distros/arch/archLinux.php') Arch Linux
  br
  a(href='/linuxHQ/distros/arch/antergos.php') Antergos
  br
  a(href='/linuxHQ/distros/arch/archBang.php') Archbang
  br
  a(href='/linuxHQ/distros/arch/manjaro.php') Manjaro
  br


h2 Debian Family
.p-1 
  a(href="") Anti-X
  br 
  a(href='/linuxHQ/distros/debian/bunsenlabs.php') Bunsenlabs Linux (Crunchbang alternative)
  br 
  a(href='/linuxHQ/distros/debian/crunchBang.php') Crunchbang (EOL)
  br
  a(href='/linuxHQ/distros/debian/crunchbangplusplus.php') CrunchBang++ (Crunchbang alternative)
  br
  a(href='/linuxHQ/distros/debian/debian.php') Debian
  br
  a(href='/linuxHQ/distros/debian/lmde.php') Linux Mint Debian Edition 
  br
  a(href='/linuxHQ/distros/debian/makulu.php') Makulu Linux
  br
  a(href="#") MX-16
  br 
  a(href='/linuxHQ/distros/debian/pointLinux.php') Point Linux
  br
  a(href='/linuxHQ/distros/debian/solydxk.php') SolydXK
  br


h2 Ubuntu Related 
.p-1 
  a(href='/linuxHQ/distros/ubuntu/ubuntu.php') Ubuntu
  br
  .indent
    
    a(href='#') KDE Neon / Neon
    br
    a(href='/linuxHQ/distros/ubuntu/kubuntu.php') Kubuntu
    br
    a(href='/linuxHQ/distros/ubuntu/lubuntu.php') Lubuntu
    br
    a(href='/linuxHQ/distros/ubuntu/xubuntu.php') Xubuntu
    br
    a(href="#") Ubuntu Budgie 
    br 
    a(href='/linuxHQ/distros/ubuntu/ubuntuMate.php') Ubuntu Mate
    br
    a(href='/linuxHQ/distros/ubuntu/deepn.php') Deepin
    br
    a(href='/linuxHQ/distros/ubuntu/elementaryOS.php') Elementary OS
    br
    a(href='/linuxHQ/distros/ubuntu/linuxLite.php') Linux Lite
    br
    a(href='/linuxHQ/distros/ubuntu/linuxMint.php') Linux Mint
    br
    a(href='/linuxHQ/distros/ubuntu/LXLE.php') LXLE
    br
    a(href='/linuxHQ/distros/ubuntu/zorin.php') Zorin
    br 
    a(href="#") Uberstudent
    br 


h2 RPM Based
.p-1 
  a(href='/linuxHQ/distros/rpm/centOS.php') CentOS
  br
  a(href='/linuxHQ/distros/rpm/fedora.php') Fedora
  br
  a(href='/linuxHQ/distros/rpm/korora.php') Korora
  br
  a(href='/linuxHQ/distros/rpm/openSuse.php') OpenSuse
  br

h2 Mandriva Family 
.p-1 
  a(href='/linuxHQ/distros/mandriva/mageia.php') Mageia
  br
  a(href='/linuxHQ/distros/mandriva/ROSA.php') ROSA
  br
  a(href='/linuxHQ/distros/mandriva/openMandriva.php') OpenMandriva

h2 Gentoo Family
.p-1 
  a(href='/linuxHQ/distros/gentoo/calculate.php') Calculate Linux
  br
  a(href='/linuxHQ/distros/gentoo/gentoo.php') Gentoo
  br
  a(href='/linuxHQ/distros/gentoo/sabayon.php') Sabayon

    
h2 Misc. Distros 
.p-1 
  a(href='/linuxHQ/distros/independent/solus.php') Solus
  br 
  span KaOS
  br
  a(href='/linuxHQ/distros/mandriva/PCLinuxOS.php') PCLinuxOS
  br
  a(href='/linuxHQ/distros/independent/puppyLinux.php') Puppy Linux

h2 Slackware based
.p-1 
  a(href='#') Salix
  br
  a(href='#') Slackware
  br
