//output:linuxDEContentJade.html

// I need to see this before BS"ing any of it
.DE
  .title <?php echo $deName; ?>
  .SShotCol <?php echo $deSShot; ?>
.infoCol

  .row
    .headers Desktop Catagory:
    <?php echo $deClass; ?>

  .row
    .headers General Requirements:
      <?php echo $deClass; ?>


.row
  .headers Distros that Feature:
  <?php echo $deFeatured; ?>

  <?php include $sitePath . "/linuxHQ/modules/installHowTo.tpl"; ?>
  br
  br

    .style( margin-top: 20px; clear:both; font-size: 10pt;)

    p * "Distros that feature" means distributions that have an official ISO or officially supported version with the DE in question. That is not to say that you can not install this DE on other distros.<br /><br />

    p Please note I have to double check any content about PCLinuxOS ...not saying its not accurate... just that I am not 100% sure of the line of code... when i check all of the package names (which is the only thing that WOULD be different if I got it wrong) .. I will remove this notation
