//output:linuxDesktopEnvCol1.html
p Desktops/ Window Managers
	ul.list-group
		li.list-group-item	a(href="/linuxHQ/desktops/budgie.php") Budgie-Desktop
		li.list-group-item 	a(href="/linuxHQ/desktops/cinnamon.php") Cinnamon
		li.list-group-item Gnome-shell <br />
		li.list-group-item a(href="/linuxHQ/desktops/KDE.php")KDE
		li.list-group-item a(href="/linuxHQ/desktops/mate.php")Mate
		li.list-group-item a(href="/linuxHQ/desktops/openbox.php")Openbox
		li.list-group-item a(href="/linuxHQ/desktops/LXDE.php")LXDE
		li.list-group-item a(href="/linuxHQ/desktops/XFCE.php")XFCE

div.family
  a(href='/linuxHQ/newUserHQ/DesktopE.php') Desktop Environment FAQs
  br
  a(href='/linuxHQ/newUserHQ/myRecommendedDistros.php') My Recommended Distros (Opinion) 
