//output:linuxTICCol1.html

h4 Mass Theme PPAs
  .p-1
    a(href='/linuxHQ/tic/themes/ambiance.php') Ambiance
    br
    a(href='/linuxHQ/tic/themes/arc.php') Arc
    br
    a(href='#') Numix
    br
    a(href='/linuxHQ/tic/themes/paper.php') Paper
    br
    a(href='#') Radience
    br
    a(href='/linuxHQ/tic/themes/yosembiance.php') Yosembiance
    br


h4 Icons
  .p-1  
    a(href='#') Evolvere
    br
    a(href='#') Faience
    br
    a(href='#') Faenza-Cupertino
    br
    a(href='#') Vibrancy Colors
    br
    a(href='#') Vivacious 
    br
            

h4 Cursors
  .p-1 
