//output:linuxNTutor_Temp_Col1.html

h2	NEW USER HEADQUATERS

.card
  .card-block
    h4.card-title
      | FAQ&apos;s    
    .card-text
      a(href='/linuxHQ/tutorials/newUserHQ/WhatIsLinux.php') What is Linux?
      br
      a(href='/linuxHQ/tutorials/newUserHQ/liveVersion.php') What is a &quot;Live Version&quot;?
      br
      a(href='/linuxHQ/tutorials/newUserHQ/partitions.php') Partitions Explained
      br
      a(href='/linuxHQ/tutorials/newUserHQ/commonTerms.php') Common Terms, in Linux
      br
      a(href='/linuxHQ/tutorials/newUserHQ/familiarSoftware.php') Familiar Software
      br
      | What is a &quot;Rolling Release&quot;?
      br
      | Linux &quot;Myths&quot; /
      br
      | Misconceptions
      br
      | What does LTS mean?
      br
      a(href='/linuxHQ/tutorials/newUserHQ/DesktopE.php') Desktop Environment FAQs
      br
      a(href='/linuxHQ/tutorials/newUserHQ/myRecommendedDistros.php') My Recommended Distros (Opinion)

.card
  .card-block
    h4.card-title
      | Linux vs Windows     
    .card-text
      a(href='/linuxHQ/tutorials/newUserHQ/LinuxVsWindows.php') MS Windows vs Linux - Pros and Cons 
      br
      a(href='/linuxHQ/tutorials/newUserHQ/linuxPros.php') Linux Pros 
      br
      a(href='/linuxHQ/tutorials/newUserHQ/linuxCons.php') Linux Cons 

.card
  .card-block
    h4.card-title
      | Tutorials     
    .card-text
    h5 Overall 
    | How to Update any Linux System


h2 MORE ADVANCED TOPICS

.card
  .card-block
    h4.card-title
      | Arch Based Tutorials    
    .card-text
      a(href='/linuxHQ/tutorials/addingAURtoArch.php ')  Adding AUR Support 
      br
      a(href='/linuxHQ/tutorials/optimizingPacman.php')
      | Optimizing Pacman
      | (Manjaro or Arch)
      br

.card
  .card-block
    h4.card-title
      | Debian based    
    .card-text
      a(href='http://debgen.simplylinux.ch/', target='_blank') Source List Generator
      br
      a(href='https://sites.google.com/site/mydebiansourceslist', target='_blank') Additional Sources
      br
      a(href='upgradingDebianBranches.php') Upgrading Debian Branches
      br
      a(href='upgradingFromDebianStable.php') Upgrading from Stable Branch
      br

.card
  .card-block
    h4.card-title
      | Ubuntu based    
    .card-text
       | &quot;Dirty&quot; Upgrading

.card
  .card-block
    h4.card-title
      | Command Line Package Management    
    .card-text
      | Searching for Package
      br
      | Installing Package
