//output:linuxDECol1.html


h2 Desktops/Window Managers

	a(href="/linuxHQ/desktops/budgie.php") Budgie-Desktop
	br 
	a(href="/linuxHQ/desktops/cinnamon.php") Cinnamon
	br 
	| Gnome-shell
	br 
	a(href="/linuxHQ/desktops/KDE.php") KDE
	br
	a(href="/linuxHQ/desktops/mate.php") Mate
	br 
	a(href="/linuxHQ/desktops/openbox.php") Openbox
	br 
	a(href="/linuxHQ/desktops/LXDE.php") LXDE
	br 
	a(href="/linuxHQ/desktops/XFCE.php") XFCE
	br 
			
h2 Others 			
	a(href='/linuxHQ/newUserHQ/DesktopE.php') Desktop Environment FAQs
	br
	a(href='/linuxHQ/newUserHQ/myRecommendedDistros.php') My Recommended Distros (Opinion) 
