//output:linuxAppCol1.html

.card
  .card-block
    h4.card-title PPA Related
    .card-text
      a(href='/linuxHQ/apps/favoritePPAs.php') My Favorite PPAs
      br
      a(href='AddPPA_to_Ubuntu.php')
      | Adding PPAs/What is a PPA/
      br
      | List of common PPAs

.card
  .card-block
    h4.card-title Misc Apps.
    p.card-text
      a(href='#') Google Chrome
      br
      a(href='#') Libre Office
      br
      a(href='#') WPS Office
