<?php $title = 'Xmetalfanx Optimization Section - Optimizing Windows'; ?> 
  

.boldCenter
  | Here are some things you can do to &quot;optimize windows&quot;  
 
.centerTables
  .TDLeft
    a(href='#services') Disabling Services (2K/XP)
  |     &#x9;
  |   
  .TDRight
    a(href='#update') Windows Update

ol    
  li
    | (Windows 2000) - Disable Automatic Update Service. You must have SP2 or SP3 installed
  li
    | (Windows 2000) - Disable &quot;Spam&quot; Messenger Service   
  li
    | Get Startup Program such as Startup Cop or Startup Control Panel and remove un-needed startup items. Going to the run box and typing in
    | MSCONFIG will allow you to edit the startup items as well.   
  li   Do a Windows Update (All Versions of Windows) 
  li
    | Do not use Harmful Programs that contain Spyware and ads. 99% of the time there are free (truly free) programs that do the same and a better job then
    | the spyware programs.
   

blockquote
  p.justify
    | Also I have tried multiple versions and always have had trouble with. All Real Network&apos;s Programs and All 
    a(href='http://www.mcafee.com') Mcafee
    |  Products (but PGP ... which when Mcafee released their version of it, it had numerous bugs compared
    |     to the prior    freeware version by Mr. Zimmerman)
