doctype html
head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  title win10featuresWin7.html
  meta(name='viewport', content='width=device-width, initial-scale=1.0')



<body class="markdown haroopad">
<h2 id="how-to-add-windows-10-features-(that-work)-to-windows-7">
<a name="how-to-add-windows-10-features-(that-work)-to-windows-7" href="#how-to-add-windows-10-features-(that-work)-to-windows-7"></a

>How to Add WIndows 10 Features (that work) to Windows 7</h2><h3 id="workspaces"><a name="workspaces" href="#workspaces"></a>Workspaces</h3>
<p>Program Needed :</p>
<p class="oembeded"><a href="http://www.dexpot.de/index.php?id=home" data-props="" target="_blank">Dexpot</a></p>


<p><em>This one I use and Love</em></p><p>[Video (more like a gif) of Dexpot in action] (<a href="http://www.dexpot.de/video/fullscreenpreview_dexpot.mp4">http://www.dexpot.de/video/fullscreenpreview_dexpot.mp4</a>)</p><p><strong>OR</strong></p><p>(I have not tried this one )
<a href="http://virtuawin.sourceforge.net/">Virtual Win</a></p><h3 id="windows-snapping/tilling"><a name="windows-snapping/tilling" href="#windows-snapping/tilling"></a>Windows Snapping/Tilling</h3><p>Program Needed</p><p class="oembeded"><span style="border:1px solid #dfdfdf;padding:5px; margin:5px 10px; display:inline-block;"><span><a href="undefined" target="_blank"><img src="file:///tmp/.org.chromium.Chromium.P5mhPq/null"></a><br><span><b><a href="undefined" target="_blank">AquaSnap Window Manager: dock, snap, tile, organize</a></b><br>Too many windows on your screen? Stop wasting your productivity. AquaSnap brings new easy and efficient ways to manage multiple applications, try it now!<br></span></span></span></p><p><img src="http://www.nurgo-software.com/images/AquaSnap/Docking.gif" alt="AqualSnap"></p><p><img src="http://www.nurgo-software.com/images/AquaSnap/Stretching.gif" alt="AquaSnap Windows Stretching"></p><p><img src="http://www.nurgo-software.com/images/AquaSnap/GroupMove.gif" alt="Moving Windows together"></p>
