<?php
	$title = 'Homepage';
	$sitePath = "/home/xmetalx1/public_html";
	include $sitePath . "/templates/linux/baseLinuxTemplate.tpl";
?>

div.row.hidden-xs.hidden-sm.hidden-md 
	div.col-lg-6
    img(src='graphics/tux-penguin-clip-art.jpg', width='119', height='117', alt='Tux Peguin Graphic')
  div.col-lg-6
    <?php include $sitePath . "/linuxHQ/modules/distrowatch.tpl"; ?>

div.panel.panel-default
  div.panel-heading  
    h3 Introduction
  div.panel-body
    p.justified
      | Hello, I&amp;#8217d like to give a little background about my  experience with Linux, before you start browsing my site, to get a sense for where I am coming from. For a number of years now , I have been using Linux to some degree, and  have been using it more and more, while using  Windows less and less.
    p.justified
      | I  have recently found a number of Linux reviewers on Youtube that have  inspired me&#x9;to make a  page that hopefully can show that Linux is not something that is just  for programmers or advanced users.
    p.justified
      | Showing  Tutorials, My reviews (as well as others), and sites that have helped me over&#x9;the years, is TRUE goal I have with this site, as a Linux  Section to my first site&#x9;( 
      a(href='http://xmetalfanx.x10.mx/') http://xmetalfanx.x10.mx
      |  ) seems to be getting a more out ofhand section, the more ideas I come up with.
      
		p
      | a(href='info/aboutMe.php') ( Read More )



<?php include $sitePath . "/modules/linux/linuxBaseFooter.tpl"; ?>
