////////////////////////////////////////////////////////
// RSS Feed Related

.card--rssfeed {
  border-color: $themeBGColor;
  margin: 0 auto;

  .card-text {
    padding: 1rem;

    .feed-item-title {
      a:link,
      a:hover,
      a:visited {
        font-weight: 500;
        font-size: 1rem;
      }
    }
  }
}
