// Tweaking this to match the bootswatch theme i am using
.darkBG {
  color: var(--white);
  background-color: var(--darkGrey1);

  a:link,
  a:visited {
    background-color: inherit;
    color: inherit;
  }

  a:hover {
    background-color: inherit;
    color: var(--lightgrey);
  }
}
