// Tweaking this to match the bootswatch theme i am using
.darkBG {
  color: var(--white);
  background-color: var(--darkGrey1);

  a:link,
  a:visited {
    background-color: inherit;
    color: inherit;
  }

  a:hover {
    background-color: inherit;
    color: var(--lightgrey);
  }
}

/* THEME RELATED */

// I did this because i need this to be a variable in other places, then just the background color
$themeBGColor: var(--darkGrey2);

.darkGreyText {
  color: $themeBGColor;
}


.themeBGColor,
.themeBGColor a:link {
  color: var(--white);
  background-color: var(--darkGrey1);
}
