@import '../01-variables/01-varInclude';

/********** Global *****************/

*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1.05rem;
  width: 100%;

}

body {
  font-size: 16px;
  min-height: 100%;

  a { color: var(--midnightBlue);     }

  .grid-container {
    display: grid;
    grid-template-areas:
    'header'
    'middle-container'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr 75px;
    height: 100vh;
  }
}

// problem is this extend is from something later on in theming
footer {
  background-color: var(--themeBGColor1);
  color: var(--white);
  display: flex;
  grid-area: footer;
  margin: 0;
  max-height: $footerheight;
  padding: 1.5rem;

  a:link,
  a:hover,
  a:visited {
    background-color: inherit;
    color: var(--white);
    text-decoration: none;
  }

  i {
    margin: 0 .5rem;
  }
}

header {
  background-color: var(--themeBGColor1);
  color: var(--white75);
  font-size: 30px;
  font-weight: 800;
  grid-area: header;
  text-align: center;
}

// no longer in bootstrap 5
.text-justify {
  text-align: justify;
}
