@import 'header';

/********** Global *****************/

*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1.05rem;
  width: 100%;
}

body {
  color: var(--darkGrey2);
  display: grid;
  font-family: var(--Roboto);
  font-size: 16px;
  font-weight: 400;
  grid-template-areas:
    'header'
    'main-section'
    'footer';
  grid-template-columns: 1fr;
  height: 100vh;
  line-height: 1.5;
  min-height: 100%;
  text-align: left;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--themeBGColorAccent);
    font-weight: 800;
  }
}

// attempt at refactoring
header,
footer {
  background-color: var(--themeBGColorMain);
  display: grid;
  // aligns content top vs bottom on the Y axis
  align-content: center;

  a {
    color: var(--white);
    text-decoration: none;
  }

  a:hover {
    // testing/ideas
    outline: 1px dotted var(--white);
    text-decoration: none;
  }
}

// problem is this extend is from something later on in theming
footer {
  color: var(--white);
  grid-area: footer;
  max-height: $footerheight;
  padding: 1.5rem;
  grid-template-areas: 'site-made contacts';
  align-content: center;

  // I could slap other classes on each img tag, or do this ... sort of redundant CSS but it removes the need for extra css tags in the html
  img {
    max-width: 32px;
    max-height: 32px;
    margin: 0.4rem;
  }

  // left side of footer
  .site-made {
    grid-area: site-made;
  }

  // right side of footer
  .contacts {
    grid-area: contacts;
    text-align: right;
  }
}

/*********** Main Section in middle of page  *****/

// the main section between the nav top bar and the footer
.main-section {
  grid-area: main-section;
  padding: 1.5rem;
  display: grid;

  grid-gap: 1.5rem;

  // aligns to the left
  justify-items: start;

  // this is a link color ON a whiteBG
  a {
    color: var(--midnightBlue);
  }

  &--left-wide {
    grid-template-columns: auto 18%;
    grid-template-areas: 'pContent sidebar';
  }

  &--right-wide {
    grid-template-columns: 18% auto;
    grid-template-areas: 'sidebar pContent';
  }

  // This even make sense? ... with no "sidebar?"   maybe yes if i dont do grid-template-areas: in the parent class;
  &--wide {
    grid-template-columns: 1fr;
    grid-template-areas: 'pContent';
  }

  /************** Cards *************/
  .card {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin: 0 auto 1.2rem auto;
    max-height: 550px;

    &--bordered {
      border: 1px solid var(--themeBGColorMain);
    }

    .card__body,
    .card__text {
      padding: 1rem;
    }

    .card__header {
      border-color: var(--themeBGColorMain);
      color: var(--themeBGColorAccent);
      display: flex;
      flex-direction: row;
      font-weight: bold;
      font-size: 1.1rem;
      justify-content: space-between;
      padding: 1rem;

      a:link,
      a:visited {
        background-color: inherit;
        color: var(--white);
        text-decoration: none;
      }

      // Dark BG for header, and light text
      &--dark-bg {
        background-color: var(--themeBGColorMain);
        color: var(--white);

        // The program or addon or whatever header on the left of what use to be two col (+ float) layout for
        // the card header

        // not a fan of this var name but i dont want name collosion with "card-title" which is the var i rather use
        .card-name,
        .addon-title {
          font-size: 24px;
          font-weight: 700;
        }
      }
    }
  }

  .sidebar {
    img {
      display: block;
      margin: 1rem 0;
      padding: 0;
    }

    .card {
      .card__header {
        padding: 20px;
      }

      .card__body {
        line-height: 1.4rem;

        // removes the need for so many <br /> tags
        a {
          display: block;
        }
      }
    }
  }

  // the main sections of each side of the site
  .primaryContent {
    grid-area: pContent;
    // margin: 0 2rem;
    margin-right: 2.5rem;
  }
}

@media all and (max-width: 794px) {
  // the main section between the nav top bar and the footer
  .main-section,
  .main-section--left-wide,
  .main-section--right-wide {
    display: grid;
    grid-template-areas:
      'sidebar'
      'pContent';

    //grid-template-columns: 1fr;
    //grid-template-rows: 1fr 1fr;

    .sidebar {
      grid-area: sidebar;
    }

    // the main sections of each side of the site
    .primaryContent {
      grid-area: pContent;
    }
  }
}
