footer
  .site-made
    | Site made with:

    //  SASS
    a(href='https://www.sass-lang.com/' target='_blank' aria-label='SASS Developer site' rel='noopener')
      img(src='/graphics/simpleIcons/sass.svg' alt='HTML5 SVG')
      span.hiddenAccessLinkText SASS Developer site
    //  HTML 5
    a(href='https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5' aria-label='Mozilla Developer Site for HTML5' target='_blank' rel='noopener')
      img(src='/graphics/simpleIcons/darkBG/html5.svg' alt='HTML5 SVG')
      span.hiddenAccessLinkText Mozilla Developer Site for HTML5
    //  CSS 3
    a(href='https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3' aria-label='Mozilla Developer Site for CSS3' target='_blank' rel='noopener')
      img(src='/graphics/simpleIcons/darkBG/css.svg' alt='CSS SVG')
      span.hiddenAccessLinkText Mozilla Developer Site for CSS3
    //  The second of the two MAIN columns
    //  remember in the final output to put the two closing </div> tags for the new bodyContainer and the inner bodyMain, AFTER the end of the footer
  .contacts
    span.pr-4.d-none.d-md-inline-block Xmetal/Xmetalfanx 2013-*
    a(href='https://gitlab.com/Xmetal' aria-label='Xmetalfanx Gitlab Page' target='_blank' rel='noopener')
      img(src='/graphics/simpleIcons/darkBG/gitlab.svg' alt='GitLab SVG')
      span.hiddenAccessLinkText My Gitlab Page
    a(href='https://github.com/Xmetalfanx' aria-label='Xmetalfanx Github Page' target='_blank' rel='noopener')
      img(src='/graphics/simpleIcons/darkBG/github.svg' alt='Github SVG')
      span.hiddenAccessLinkText
        | My Github Page
        br
    a(href='https://bitbucket.org/%7B1f3bbcd5-12ee-42d1-bdc4-cef9f90590b0%7D/' aria-label='Xmetalfanx Bitbucket Page' target='_blank' rel='noopener')
      img(src='/graphics/simpleIcons/darkBG/bitbucket.svg' alt='Bitbucket SVG')
      span.hiddenAccessLinkText
        | My Bitbucket Page
        br
    a(href='https://fosstodon.org/@Xmetal' aria-label='Xmetalfanx Mastodon Page' target='_blank' rel='noopener')
      img(src='/graphics/simpleIcons/mastodon.svg' alt='Mastodon SVG')
      span.hiddenAccessLinkText
        | Find me on Mastodon
        br
    a(href='https://twitter.com/Xmetalfanx' aria-label='Xmetalfanx on Twitter' target='_blank' rel='noopener')
      img(src='/graphics/simpleIcons/darkBG/twitter.svg' alt='Twitter SVG')
      span.hiddenAccessLinkText
        | Find me on Twitter
        br
    a(href='https://www.youtube.com/user/Xmetalfanx' aria-label='Xmetalfanx\'s Youtube Page' target='_blank' rel='noopener')
      img(src='/graphics/simpleIcons/darkBG/youtube.svg' alt='Youtube SVG')
      span.hiddenAccessLinkText Find me on Youtube
