.git-section
  .frontpage-title My Git Projects

  .git-container
    .git-group
      .git-section--title Linux Setup  
      .git-icons
        a(href='https://github.com/Xmetalfanx/linuxSetup' target='_blank' rel='noopener' aria-label='Link to Xmetal\'s Github page for LinuxSetup scripts')
          i.fa.fa-3x.fa-github(aria-hidden='true')
        a(href='https://gitlab.com/Xmetal/linuxSetup' target='_blank' rel='noopener' aria-label='Link to Xmetal\'s Gitlab page for LinuxSetup scripts')
          i.fa.fa-3x.fa-gitlab(aria-hidden='true')
      div Helps a user setup Linux by:
      ul
        li Installing Updates and (when appropriate) Optimizing mirrors
        li Lets the user install various softwares and/or themes
        li Installs/Enables some third party repos that update the software selection they can install

      | Distro bases supported:
      ul.d-flex.flex-wrap
        li Arch
        li Debian
        li Fedora
        li OpenSUSE
        li Solus
        li Ubuntu

    .git-group
      .git-section--title Linux Theming
      .git-icons
        a(href='https://github.com/Xmetalfanx/linuxThemes' target='_blank' rel='noopener' aria-label='Link to Xmetal\'s Github page for Linux Theming scripts')
          i.fa.fa-3x.fa-github(aria-hidden='true')
        a(href='https://gitlab.com/Xmetal/linuxThemes' target='_blank' rel='noopener' aria-label='Link to Xmetal\'s Gitlab page for Linux Theming scripts')
          i.fa.fa-3x.fa-gitlab(aria-hidden='true')
      div This originally was going to be a part of the LinuxSetup scripts, though it grew too much and I decided to branch it out. This installs themes and icon packs of well liked Linux Themes into your system. I have alot of plans for this for version and distro detection.