
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')

link(rel='stylesheet' href='https://bootswatch.com/4/sandstone/bootstrap.css')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')

//  Various Javascript
script(src='https://code.jquery.com/jquery-3.4.1.min.js' type="application/javascript" crossorigin='anonymous')

script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/popper.min.js' type="application/javascript" integrity='sha256-trs1NroMTXyZS9LeGSSGjIWW3EKTGqAbWaYR5iSVMyQ=' crossorigin='anonymous')


script(src='https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.0.0/purify.min.js' type="application/javascript" integrity='sha256-s4Yo8OlTSK7swu8b0SXrSFRsOHu9nb5OX6/6QHutdWU=' crossorigin='anonymous')

<<<<<<< HEAD
link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css' integrity='sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=' crossorigin='anonymous')
=======
script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/brands.min.js' integrity='sha256-JO94/aOGy//cy/zhym7ofmZboTcjghvsYMo8kiC4yWM=' crossorigin='anonymous')
>>>>>>> 6a81ff96... switch to slimmer font awesome cdn file

link(ref='stylesheet' href="/universalCSS/styling.css")

// Various Meta Tags
meta(name='robots', content='index,follow,noodp')
|
meta(name='googlebot', content='index,follow')
|
meta(name='viewport', content='width=device-width, initial-scale=1')
|        
link(href='/index.php', rel='index')
|
link(href='/index.php', rel='home')

