section.site-section
  img.img-fluid.d-none.d-lg-inline(src='/graphics/unsplash/city1.jpg' alt='unsplash city image')
    h3
      a(href="/linuxHQ/index.php") LinuxHQ Section
    ul
      li Linux Distribution and Desktop information, including:
        ul
          li Description, Version info, screenshots, links to reviews and more.
          li Theme, Icon, and Cursor information for those wanting to customize their system's appearance

  div
    h3
      a(href="/techHQ/index.php") TechHQ Section
    ul
      li Software suggestions and Web Browser/Browser Addon recommendations
      ul
        li Including cross-platform options for Windows and Linux

      li Security
        ul
          li Tips on what software to use to keep your computer secure

    img.img-fluid.d-none.d-lg-inline(src='/graphics/unsplash/eugene-chystiakov-v3KR1I_qMe0-unsplash.jpg' alt='unsplash lake image')
    .unsplashCredits
      Photo by <a href="https://unsplash.com/@eugenechystiakov?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Eugene Chystiakov</a> on <a href="https://unsplash.com/t/architecture?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
