.site-sections
    section
        .section--title
            a(href='/linuxHQ/index.php') LinuxHQ Section
        .section--details
            .section-description
                | Linux Distribution and Desktop information, including: 
                ul
                    li Description, Version info, screenshots,
                    li Theme and Icon information for those wanting to customize their system's appearance, and more.
            .section--image
                img.mx-auto(src="/graphics/unsplash/christmas/tessa-rampersad-5toRIWF2GUY-unsplash.jpg" alt="Christmas Tree image")
                .credits Photo by <a href="https://unsplash.com/@t_rampersad?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Tessa Rampersad</a> on <a href="https://unsplash.com/photos/green-christmas-tree-5toRIWF2GUY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>

    section
        .section--title
            a(href='/techHQ/index.php') TechHQ Section
        .section--details
            .section--image
                img.mx-auto(src="/graphics/unsplash/christmas/james-wheeler-faMVPE56PnU-unsplash.jpg" alt="Christmas house decoration image")
                .credits Photo by <a href="https://unsplash.com/@souvenirpixels?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">James Wheeler</a> on <a href="https://unsplash.com/photos/snowman-and-santa-claus-near-house-decor-faMVPE56PnU?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
            .section-description
                | Software suggestions and Web Browser/Browser Addon  recommendations -Including cross-platform options for Windows and Linux, and Security tips to keep your computer secure.
