.card.shadow
    .card-header Site Update
    .card-body.text-justify
        .font-weight-bold Jan 19, 2020 Update
        div After focusing a bit on my Linux Setup Scripts, i am now fixing UI issues, and continuing to complete the site and optimize things where needed.