.site-section
  section
    figure
      img.img-fluid(src='/graphics/unsplash/city1.jpg' alt='unsplash city image')
      figcaption

  section
    .section-title
      a(href='/techHQ/index.php') TechHQ Section

    .section-body 
      div Software suggestions and Web Browser/Browser Addon recommendations -Including cross-platform options for Windows and Linux , and Security tips to keep your computer secure.

      div June 2023 Update: While my intent is the same for this section, I AM behind on keeping up with Windows, since I "left Windows" right at the tail end of Windows 7 days.  I know my program suggestions say for Antivirus and anti-Malware software are up to date (though many of the same apps are just as good as they were years back).  
      
      div My idea is to make the "how to do X" or "How to do Y" in say the Tech Center/Tutorial section use cross-platform apps if I can, this way if you are on Linux or Windows, you can get use out of my advice/suggestions.   If there is say a really good app specific to Linux only or Windows only ... I am not against listing that, either.
  
  section 
    .section-title
      a(href='/linuxHQ/index.php') LinuxHQ Section
    .section-body 
      div Linux Distribution and Desktop information, including: Description, Version info, screenshots, Theme and Icon information for those wanting to customize their system's appearance, and more.
  
  section 
    figure
        img.img-fluid(src="/graphics/unsplash/lake1.jpg" alt="unsplash lake image")
