.site-section
  img.img-fluid.d-none.d-lg-inline(src='/graphics/unsplash/city1.jpg' alt='unsplash city image')
  .card.card--bordered
    .card__header.font-weight-bold
      a(href="/linuxHQ/index.php") LinuxHQ Section
    .card__body This Section includes
      ul
        li Linux Distribution and Desktop information, including:
           ul
            li  Description, Version (I admit I am behind on updating this info) information, screenshots, links to reviews and more.
        li Theme, Icon, and Cursor information for those wanting to customize their system's appearance

  .card.card--bordered
    .card__header.font-weight-bold
      a(href="/techHQ/index.php") TechHQ Section
    .card__body This section contains
      ul
        li Browser
          ul
            li Addons
            li Useful tips and tricks
        li Securiry
          ul
            li Tips on what software to use to keep your computer secure


  img.img-fluid.d-none.d-lg-inline(src='/graphics/unsplash/lake1.jpg' alt='unsplash lake image')
