
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')

//CSS 
link(href='https://bootswatch.com/4/sandstone/bootstrap.css' rel='stylesheet')

// script(src='https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.0.0/purify.min.js' integrity='sha256-s4Yo8OlTSK7swu8b0SXrSFRsOHu9nb5OX6/6QHutdWU=' crossorigin='anonymous')

link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css', integrity='sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=', crossorigin='anonymous')


// Various Meta Tags
meta(name='robots', content='index,follow,noodp')
|
meta(name='googlebot', content='index,follow')
|
meta(name='viewport', content='width=device-width, initial-scale=1')
|        
link(href='/index.php', rel='index')
|
link(href='/index.php', rel='home')

