
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')

// Bootstrap
link(href="https://bootswatch.com/4/sandstone/bootstrap.css", rel="stylesheet")
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.js', crossorigin='anonymous')

// Various Javascript
script(src='https://code.jquery.com/jquery-3.4.1.min.js', crossorigin='anonymous')

script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/popper.min.js')

// Fork Awesome 
link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css', integrity='sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=', crossorigin='anonymous')


// Various Meta Tags
meta(name='robots', content='index,follow,noodp')
|     
meta(name='googlebot', content='index,follow')
|     
meta(name='viewport', content='width=device-width, initial-scale=1')
|     
base(href='http://xmetal.x10.mx')
|     
link(href='/index.php', rel='index')
|     
link(href='/index.php', rel='home')
