
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')

//CSS 
link(href='https://bootswatch.com/4/sandstone/bootstrap.css' rel='stylesheet')

// Javascript 
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/dompurify.0.8.2/purify.min.js")

link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css', integrity='sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=', crossorigin='anonymous')


// Various Meta Tags
meta(name='robots', content='index,follow,noodp')
|
meta(name='googlebot', content='index,follow')
|
meta(name='viewport', content='width=device-width, initial-scale=1')
|        
link(href='/index.php', rel='index')
|
link(href='/index.php', rel='home')

