//output:universalHeaderInclude.html   

meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')

// JQuery and Popper
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
|   
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')

// Bootstrap CDN
link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B", crossorigin="anonymous")
|   
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js", integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em", crossorigin="anonymous")

// Font Awesome 
script(rel="stylesheet", src='https://use.fontawesome.com/releases/v5.1.0/css/all.css', integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt', crossorigin='anonymous')
  
// Various Meta Tags
meta(name='robots', content='index,follow,noodp')
|     
meta(name='googlebot', content='index,follow')
|     
meta(name='viewport', content='width=device-width, initial-scale=1')
|     
base(href='http://xmetal.x10.mx')
|     
link(rel='index', href='/index.php')
|     
link(rel='home', href='/index.php')
