/* All of the following is from GAOTD's site, .. with some updates for compliance checkers I ran   */

#GAOTD {
  width: 50%;
  padding-top: 3px;
  margin-left: auto;
  margin-right: auto;
}

#ga_block {
  width: 60%;
  background-color: #ffffff;
  color: #000000;

  img {
    display: block;
    border: none;
  }

  #ga_text {
    font: normal 11px Arial, sans-serif;
    border: none;
    margin: 4px 0 0 0;
    width: 60%;
    overflow: auto;
    text-align: justify;

    a {
      text-decoration: none;
      color: #000000;
      font-size: 13px;
      background-color: transparent;
    }

    img {
      display: block;
      position: relative;
      float: left;
      border: none;
      margin: 0 1em 1em 0;
    }

    p {
      margin: 4px 0;
    }
  }
}

#ga_block #ga_title {
  font: normal 11px Verdana, sans-serif;
  border: none;
  margin: 4px 0 0 0;

  a {
    text-decoration: none;
    color: #0099ff;
    background-color: transparent;
  }
}
