

@mixin borderRad($radius: 8px)
{
	border-radius: $radius;
}

@mixin boxShadow($horz: 4px, $vert: 3px, $depth: 5px, $color: $black)
{
  box-shadow: $horz $vert $depth $color;
}

@mixin padding( $top, $right, $bottom, $left)
 {
   padding: $top $right $bottom $left;

 }

@mixin margin( $top, $right, $bottom, $left)
{
	margin: $top $right $bottom $left;

}

// #############################################
/* Border variables */
$solidBorder: 1px solid $black;
$dottedBorder: 1px dotted $black;
