header
  .nav-icon
    img.icon__iconLG(src="/graphics/simpleIcons/darkBG/linux.svg" alt="Linux Graphic")
    a(href="/linuxHQ/index.php") LinuxHQ

  nav
    a(href='/linuxHQ/distros/distroHome.php') Distributions
    a(href='/linuxHQ/desktops/desktopsIndex.php') Desktops
    a(href='/linuxHQ/tutorials/tutorialIndex.php') Tutorial
    a(href='/linuxHQ/tic/TICHome.php') Theming
