
doctype html
head 

  meta(name='Description', content="Xmetafanx's LinuxHQ site is a page for ..")

  title 

    <?php

    $mainTitle = 'Xmetal LinuxHQ Section - ';

    global $sectiontitle;         // Allows the use of the $sectionTitle variable

    echo $mainTitle . $sectionTitle . $pageTitle;

    ?>

    // Include universal header info 
    <?php require 'modules/universalHeaderInclude.tpl'; ?>

