header
  a(href="/linuxHQ/index.php")
    i.fa.fa-3x.fa-linux(aria-hidden='true')
    h2 LinuxHQ

  nav.topnav(id="topnav")
    a(href='/linuxHQ/distros/distroHome.php') Distributions
    a(href='/linuxHQ/desktops/desktopsIndex.php') Desktops
    a(href='/linuxHQ/tutorials/tutorialIndex.php') Tutorial
    a(href='/linuxHQ/tic/TICHome.php') Theming

  a.icon(href="javascript:void(0);", onclick="navmenu()")
    i.fa.fa-bars(aria-hidden="true")
