header
  .nav-icon
    img.icon--size40(src="/graphics/simpleIcons/darkBG/linux.svg" alt="Linux Graphic")
    a(href="/linuxHQ/index.php") LinuxHQ

  nav.topnav(id="top-nav")
    a(href='/linuxHQ/distros/distroHome.php') Distributions
    a(href='/linuxHQ/desktops/desktopsIndex.php') Desktops
    a(href='/linuxHQ/tutorials/tutorialIndex.php') Tutorial
    a(href='/linuxHQ/tic/TICHome.php') Theming
    a.icon(href="javascript:void(0);", onclick="myFunction()")
      i.fa.fa-bars(aria-hidden="true")
