// No Longer Needed but leave until i can convert the default radius calls to 8px
// Apparently no prefixes are needed anymore
@mixin borderRad($radius: 8px)
{
	border-radius: $radius;
}

@mixin boxShadow($horz: 4px, $vert: 3px, $depth: 5px, $color: $black)
{
  box-shadow: $horz $vert $depth $color;
}

// #############################################
/* Border variables */
$solidBorder: 1px solid $black;
$dottedBorder: 1px dotted $black;
