//output:GAOTD.HTML

script(type='text/javascript', language='javascript', src='https://www.rssdog.com/index.php?url=http%3A%2F%2Ffeeds.feedburner.com%2Fgiveawayoftheday%2Ffeed&mode=javascript&showonly=&maxitems=1&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&xmlbtn=1&linktarget=_blank&textsize=inherit&bordercol=%23333333&headbgcol=%23333333&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23333333&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0')
