//output:GAOTD.HTML

div 

   script(type='text/javascript').
  var gaotd_SiteName = "My Site Name";
    
  script(type='text/javascript', src='https://www.giveawayoftheday.com/ticker/')
    
  noscript
    a(href='https://www.giveawayoftheday.com/') Giveaway of the Day
