//output: tabSoftware.html

ul.accordion-tabs-minimal
  li.tab-header-and-content
    a.tab-link.is-active(href='#') Graphics Programs
    |     
    .tab-content
      p 
  |   
  li.tab-header-and-content
    a.tab-link(href='#') Internet Programs
    |     
    .tab-content
      p
  |   
  li.tab-header-and-content
    a.tab-link(href='#') Productivity Programs
    |     
    .tab-content
      p  
  |   
  li.tab-header-and-content
    a.tab-link(href='#') Security Programs
    |     
    .tab-content
      p 
      |   
  li.tab-header-and-content
    a.tab-link(href='#') System Tools 
    |     
    .tab-content
      p 
