//output:techPersonal.html

.btn.btn-dark
  h3
    a(href='../techHQ/personal/personalIndex.php') About Me 
    
.btn.btn-dark
  a(href='../personal/interests/interestIndex.php') Interests      
    
a(href='../techHQ/personal/interests/books.php') Books
br
a(href='../techHQ/personal/interests/studying.php') Books/Ebooks I am studying from
br
a(href='../techHQ/personal/interests/newAge.php') New Age Music
br
a(href='../techHQ/personal/interests/vintage.php') Vintage Radio Programs
br
a(href='../techHQ/personal/interests/movies.php') Movies I Like

.btn.btn-dark Causes I Support    
  a(href='http://www.eff.org') EFF.org
