//output:techSoftwareCol1.html
div#col1Menus
  h2
    a(href='/techHQ/software/softwareIndex.php') Software Home:

  .btn
    a(href='/techHQ/software/internetRelated.php') Internet Related

  .btn Multimedia Related
    a(href='/techHQ/software/multimedia/audio.php') Audio
    br
    a(href='/techHQ/software/multimedia/graphics.php') Graphics
    br
    a(href='/techHQ/software/multimedia/media_players_audio.php')
      | Media Players 
      em Audio
      br 
    a(href='/techHQ/software/multimedia/media_players_video.php')
      | Media Players 
      em Video 
      br
    a(href='/techHQ/software/multimedia/videoPrograms') Video Related Programs
    br


  .btn
    a(href='/techHQ/software/productivity.php') Office/Productivity Programs

  .btn
    a(href='/techHQ/software/securityPrograms.php') Security Related
    br 
      a(href='/techHQ/software/security/virusANDMalwareScanners.php') Antivirus and Antimalware
      br
      a(href='/techHQ/software/security/cleaners.php') System Cleaners
      br
      a(href='/techHQ/software/security/firewalls.php') Firewalls
      br

.btn
  a(href='/techHQ/software/systemTools.php') System Tools

    a(href='/techHQ/software/sTools/archivers.php') Archivers
    br
    a(href='/techHQ/software/sTools/backupSoftware.php') Backup Software
    br
    a(href='/techHQ/software/sTools/burners.php') CD/DVD/Blue Ray Burners
    br
    a(href='/techHQ/software/defrag.php') Defragmenters
    br
    | [File Managers]
    br
    a(href='/techHQ/software/sTools/registryTools.php') Registry Tools
    br
    a(href='/techHQ/software/sTools/startupManangers.php') Startup Managers
    br
    a(href='/techHQ/software/sTools/sysInternals') SysInternels
    br
    a(href='/techHQ/software/sTools/taskManagers.php') Task Manager
    br


.btn External Links 

a(href='http://www.majorgeek.com', target='_blank')
  img(src='/techHQ/graphics/portals/mg_logo_trns.gif', alt='MajorGeek.com Link')
br
a(href='http://www.snapfiles.com')
  img.centerImage(src='/techHQ/graphics/portals/snapfiles_freedlani.gif', alt='Snapfiles', style='width: 88px; height: 32px;')
br
a(href='http://www.softpedia.com', target='_blank')
  img.centerImage(src='/techHQ/graphics/portals/softpedia_logo.gif', alt='Soft Pedia', style='width: 175px; height: 32px;')
br

a(href='http://www.neowin.net/') NeoWin
br
a(href='http://www.nonags.com/') NoNags
br
