//output:techBrowserCol1.html
h3 Ad/Content Blocking 
br 

.btn.btn-dark.p-2 Basics

  a(href='/techHQ/browsers/adblocking/adblocker.php') List of Ad/Content Blockers, I recommend 
  br 
  a(href='/techHQ/browsers/adblocking/adblockBasics.php') Basic Ad/Content blocking on various blockers
  br 
  a(href='/techHQ/browsers/adblocking/') Static -vs- Dynamic Filtering
  br 
  a(href='/techHQ/browsers/adblocking/UblockConfusion.php') Ublock Origin -vs - Ublock Confusion
  br 
  a(href='/techHQ/browsers/adblocking/ublockDynFilterLevels.php') Static Filtering -vs- Dynamic Filtering
  br 
  a(href='/techHQ/browsers/adblocking/') Element Hiders
  br 
  a(href='/techHQ/browsers/adblocking/') List of Common Filter lists (strong Static Filters)
  br 

.btn.btn-dark.p-2 More Advanced Topics 

a(href='/techHQ/browsers/adblocking/UblockTutorial.php') Ublock Tutorial 
br
a(href='/techHQ/browsers/adblocking/ublockDynFilterLevels.php') Dynamic Filter in Ublock
br
ul
  li 
    a(href='/techHQ/browsers/adblocking/noopExplained.php') What on earth is a &quot;noop filter&apos;?
  br
  li
    a(href='/techHQ/browsers/adblocking/') How to &quot;use&quot; Noop Rules
    br

.btn.btn-dark Umatrix Specific 

a(href='/techHQ/browsers/adblocking/umatrix_legend.php') Umatrix Legend
br
a(href='/techHQ/browsers/adblocking/umatrix_mainLayout.php') Umatrix Main Layout  
br
  
.btn.btn-dark  More Ublock Tasks       
      
a(href='/techHQ/browsers/adblocking/') Cookie Managing
br
a(href='/techHQ/browsers/adblocking/') Script Managing
br      
          
.btn.btn-dark Browser Addons 

a(href='/techHQ/browsers/addons/firefox/downloadRelatedAddons.php') Download Related
br
a(href='/techHQ/browsers/addons/firefox/generalAddons.php') General Addons
br
a(href='/techHQ/browsers/addons/firefox/interfaceAddons.php') Interface Related


a(href='/techHQ/browsers/#') Backing up Browser Data
br
a(href='/techHQ/browsers/tinyurl.php') URL Shortening
