//output:techSecurityCol1.html



h2 Security

.panel.panel-default
  .panel-heading
    a(href='/techHQ/security/encryptSoftware.php') Encrpytion

.panel.panel-default
	.panel-heading Internet Security
	.panel-body
		a(href='/techHQ/security/internet/InternetThreats.php') Internet Threats
		a(href='/techHQ/security/host_manager.php') Blocking ads and spyware with Host File
			| Cookie Blocking
		a(href='/techHQ/security/internet/ipBlockers.php') IP Blocking
		a(href='/techHQ/security/internet/secureBrowsing/securingSummary.php') Overall Summary
			ul 
				li Firefox
				li Google Chrome/Chromium
				li Opera
				li Vivaldi

.panel.panel-default
  .panel-heading Windows Related 
  .panel-body
		a(href='/techHQ/security/secureDeleting.php') Securely Removing Data from your computer
		a(href='/techHQ/security/spyware/spyware.php') Spyware Related
		a(href='/techHQ/security/firewall/softFirewalls.php') Firewalls
		a(href='/techHQ/security/infections/spyware_and_Virus_scanners.php') Virus and Malware Removal
		a(href='/techHQ/security/secureWindowsPrograms.php') Small Freewares to Secure your PC
		a(href='http://browsehappy.com/why/') &quot;Why IE could be Dangerous?&quot;

.panel.panel-default
  .panel-heading
    a(href='/techHQ/security/secureBrowsing/securezBrowseIndex.php') Secure Web Browsing


	h2 Online Scan Site
		
    a(href='https://grc.com/x/ne.dll?bh0bkyd2', target='_blank') Shields UP!
    br
	
