//output:techMainCol.html

.btn.p-2 News and Updates

h4 Updates to Site      

p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. LOLUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. LOLDuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


.btn.p-2 Older Updates

a(href='http://www.softwarepatch.com/windows/index.html') Link to a site with manual updates for windows updates
|  and it does list updates for say a item like &ldquo;.NET  Framework
br
br 
  
a(href='/techHQ/security/blockWebTracking.php') Adding page on &ldquo;How to block sites and companies from tracking you online&rdquo;
br
br 
  
  
| Added/changed 
a(href='/techHQ/software/internet/web_browsers.php') the Web Browser page
| to include more comments and alot &#x9;more browsers
