//output:techMainCol.html


.card
  .card-header News and Updates
  .card-block
    h4.card-title
    |   Updates to Site      
    .card-text
      a(href='#') (Link here doesn't work yet) Explaination of what I have been doing to the site 


.card
  .card-header Older Headlines
  .card-block       
    .card-text
      a(href='http://www.softwarepatch.com/windows/index.html') Link to a site with manual updates for windows updates
      |  and it does list updates for say a item like &ldquo;.NET  Framework
      br
      br 
        
      a(href='/techHQ/security/blockWebTracking.php') Adding page on &ldquo;How to block sites and companies from tracking you online&rdquo;
      br
      br 
        
        
      | Added/changed 
      a(href='/techHQ/software/internet/web_browsers.php') the Web Browser page
      | to include more comments and alot
      | &#x9;more browsers
