//output:techPersonal.html
.card
  .card-block
    h3.card-title
    |  a(href='../techHQ/personal/personalIndex.php') About Me 
    .card-text
      a(href='../personal/nov2006pics.php', target='_blank')  Photos of Me
      br
      a(href='../techHQ/personal/crazyAnimals.php') Crazy Squirrel 

.card
  .card-block
    h4.card-title
    | a(href='../personal/interests/interestIndex.php') Interests    
    .card-text
      a(href='../techHQ/personal/interests/books.php') Books
      br
      a(href='../techHQ/personal/interests/studying.php') Books/Ebooks I am studying from
      br
      a(href='../techHQ/personal/interests/newAge.php') New Age Music
      br
      a(href='../techHQ/personal/interests/vintage.php') Vintage Radio Programs
      br
      a(href='../techHQ/personal/interests/movies.php') Movies I Like


.card
  .card-block
    h4.card-title
    | Causes I Support    
    .card-text
      a(href='http://www.eff.com')
        img(src='/techHQ/graphics/support/links_badge_eff.gif', alt='Electronic Froutiar Foundation Icon')
      br
      a(href='http://www.eff.org', target='_blank')
        img(src='/techHQ/graphics/support/efforg.gif', alt='EFF.org graphic')
