//output:techMainCol.html


.card
  .card-header News and Updates
  .card-block
    h4.card-title
    |         
    p.card-text
      a(href='/techHQ/security/internet/searchEngines.php') Page with Alternative Search Engines to Google
      b
      | Added a 
      a(href='/techHQ/software/sTools/taskManagers.php') Task Manager
      |  and 
      a(href='') Backup Software
      br
      a(href='/techHQ/software/sTools/backupSoftware.php', target='_blank') Backup Software
      | Subsection to  |  System Tools (Software)
      br
        
.card
  .card-block     
    .card-text
      a(href='/techHQ/security/blockWebTracking.php') Adding page on &ldquo;How to block sites and companies from tracking you online&rdquo;
      br
      | Added/changed 
      a(href='/techHQ/software/internet/web_browsers.php') the Web Browser page
      | to include more comments and alot
      | &#x9;more browsers
      br

.card
  .card-block       
    .card-text
      a(href='/techHQ/security/pcworld_spyware_review.php')
        | Page up with a list of what
        br
        |   &ldquo;new&rdquo; security program I am trying,
        | &#x9;and my comments on them, as well as where you can
        br
        |       download and try them for yourself
      br

.card
  .card-header Older Headlines
  .card-block       
    .card-text
      a(href='http://www.softwarepatch.com/windows/index.html') Link to a site with manual updates for windows updates
      |  and it does list updates for say a item like &ldquo;.NET  Framework
      br
