//output:techSecurityCol1.html
div
  .btn.p-2 
    a(href='/techHQ/security/encryptSoftware.php') Encryption

  .btn.p-2  Internet Security

  a(href='/techHQ/security/internet/InternetThreats.php') Internet Threats
  a(href='/techHQ/security/host_manager.php') Blocking ads and spyware with Host File
  a(href='/techHQ/security/internet/ipBlockers.php') IP Blocking
  a(href='/techHQ/security/internet/secureBrowsing/securingSummary.php') Overall Summary
  ul 
    li Firefox
    li Google Chrome/Chromium
    li Opera
    li Vivaldi

  .btn.p-2 Windows Related

  a(href='/techHQ/security/secureDeleting.php') Securely Removing Data from your computer
  a(href='/techHQ/security/spyware/spyware.php') Spyware Related
  a(href='/techHQ/security/firewall/softFirewalls.php') Firewalls
  a(href='/techHQ/security/infections/spyware_and_Virus_scanners.php') Virus and Malware Removal
  a(href='/techHQ/security/secureWindowsPrograms.php') Small Freewares to Secure your PC
  a(href='http://browsehappy.com/why/') &quot;Why IE could be Dangerous?&quot;

  .btn.p-2 
    a(href='/techHQ/security/secureBrowsing/securezBrowseIndex.php') Secure Web Browsing

  .btn.p-2 
    div Online Scan Site

  a(href='https://grc.com/x/ne.dll?bh0bkyd2', target='_blank') Shields UP!
  br
