//output:techCenterCol1.html
.card
	.card-block
		h4.card-title Multimedia Related
		.card-text
			a(href='/techHQ/techcenter/multimedia/id3TagLookup.php') ID3 Tag-lookup
			br 
			a(href='/techHQ/techcenter/multimedia/audioEnhance.php') Media Player Enhancer
	.card
		.card-block
			h4.card-title System Tool Related
		.card-text
			a(href='#')
			| Making Windows 7 look like Windows 10
			br
			a(href='#') Routine Maintance
			br
			a(href='/techHQ/techcenter/windowsUpdates.php') Windows Updates
			br
			a(href='/techHQ/techcenter/system/bad_uninstalls.php') Bad Uninstalls
			br
			a(href='/techHQ/techcenter/system/fileConverting.php') File Converting
			br
			a(href='/techHQ/techcenter/system/restorePointsPrune.php') Restore Point Pruning
			br
			a(href='/techHQ/techcenter/system/fileConverting') File Converting
			br
			a(href='/techHQ/techcenter/system/fil') File Converting
			br
			a(href='/techHQ/techcenter/system/systemLog.php') System Logs
			br

.card
	.card-block
		h4.card-title Registry Related
	.card-text
			a(href='/techHQ/techcenter/system/regCleaners.php') Registry Cleaners
			br 
			a(href='/techHQ/techcenter/system/regDefrag.php') Registry Defrag
