php

  	$sectionVar = "DE";
	$pageTitle = 'Cinnamon ';

	<script language=”JavaScript”>
		var localDEName = 'cinnamon';

	</script>
	
	$sitePath = "/home/xmetalx1/public_html";
	include $sitePath . "/templates/linux/baseLinuxDE.tpl";

?>


 <script src="http://xmetal.x10.mx/linuxHQ/scripts/desktops.js"></script>
</body>
<?php include $sitePath . "/modules/footer.tpl"; ?>
