
.row.col-md-9
	.col
		.card
			h5.card__header Desktop/Window Manager Name

			.card-text
				img.img-fluid(src="...")/

				div Info about screenshot
	.col
		.card
			h5.card__header Desktop/Window Manager Name
			.card-text
				img.img-fluid(src="...")/

				div Info about screenshot
	.col
		.card
			h5.card__header Desktop/Window Manager Name

			.card-text
				img.img-fluid(src="...")/

				div Info about screenshot


.row.col-md-9
	.col
		.card
			h5.card__header Desktop/Window Manager Name

			.card-text
				img.img-fluid(src="...")/

				div Info about screenshot
	.col
		.card
			h5.card__header Desktop/Window Manager Name
			.card-text
				img.img-fluid(src="...")/

				div Info about screenshot
	.col
		.card
			h5.card__header Desktop/Window Manager Name

			.card-text
				img.img-fluid(src="...")/

				div Info about screenshot



.row.col-md-9
	.col
		.card
			h5.card__header Desktop/Window Manager Name

			.card-text
				img.img-fluid(src="...")/

				div Info about screenshot
	.col
		.card
			h5.card__header Desktop/Window Manager Name
			.card-text
				img.img-fluid(src="...")/

				div Info about screenshot
	.col
		.card
			h5.card__header Desktop/Window Manager Name

			.card-text
				img.img-fluid(src="...")/

				div Info about screenshot



	div Issue: I will NOT know how many entries there are in the JSON file .. I need to make it a max of 3 columns and whatever comes next wraps down ... I think CSS/Bootstrap can do that
