<?php
	$the_title = 'Xmetalfanx\'s Security Section - How to block web advertisers from tracking you';
?> 

    <p>I am not going to claim this section is &quot;fool-proof&quot;, and I plan to add similar (in some cases, the same ) add-ons for other browsers
	(Chrome in particular ... since for those that do not like Firefox, Chrome seems to be the browser of choice). I am also overlooking the obvious
	&quot;well if you don't want to be tracked on Facebook... DONT HAVE a Facebook account&quot; mentality (which IS true, to a point) ...
    </p>

	<p>It's almost like saying &quot;if you don't want to be tracked online, NEVER use the internet&quot; ... It's true, but &quot;today&quot; its impractical
	 if you ask me. Also I will not include information (at the moment anyway) about Proxy services.. I am not writing this for &quot;how to block your
	 ISP from knowing what you do&quot; ... BELELIVE ME .. IF THEY WANT TO KNOW, THERE IS NOTHING YOU CAN REALLY DO TO STOP THAT... and in a way. its their
	  service your using, so they have the right to monitor it (I say that being &quot;as anti-&quot;Big Brother&quot;&quot; as anyone),. I am doing this
	  more for advertising sites and other shady websites
    </p>
    <p class="header">How to protect yourself from companies knowing where you visit
    </p>
    <p class="boldUnderline">What you need (again I plan to add Chrome add-ons for this, but now will focus on my favorite browser, Firefox)
    </p>
    <p>
      <a href="http://www.getfirefox.com" target="_blank">
        <img src="../graphics/joke/firefox.gif" alt="Firefox Hug Graphic" width="53" height="39" class="left" />
        <span class="boldText">Firefox
        </span></a> (of course)
    </p>

		<ul>
      <li class="boldItalics">TOP &quot;Anti-tracker&quot; Addons
      </li>
    </ul>

	  <blockquote>
      <p>
        <span class="boldItalics">
          <a href="http://www.ghostery.com/" target="_blank">
            <img src="../graphics/ffox/Ghosty.jpg" alt="Ghostery Icon" width="32" height="8" class="iconsLeft" /></a>
        </span>
      </p>
      <ul>
        <li>
        <a href="http://www.ghostery.com/" target="_blank">
          <span class="progName">Ghosty
          </span></a> -  will block sites from using techniques   such as web-bugs (tiny graphics) and third party cookies from tracking your surfing habits.  You set the blocking up once and that is it.... it will even auto-update the &quot;database&quot; of tracking items it block for you so you do not have to do anything. Numerous sources say this isn't the best, but has a very good database of what it is blocking
        <ul>
          <li>I want to address a few sources (granted I am not an expert on the subject) that say &quot;Ghostery shares your information with others, which I admit is a MAJOR privacy concern;
          </li>
          <li>This is called Ghost Rank and it claims to send anonymous data back to Ghostery.. The point is YOU have to &quot;opt in&quot; to this and its not even an option &quot;checked&quot; by default. You Uncheck this box on the top of the Ghostery Settings Page&quot; and (I am taking Ghostery at it's word) your machine will NOT SEND GHOSTY ANY DATA ... Uncheck one box and the issue is solved
          <ul>
            <li>This reminds of some programs (Say File Factory or ImgBurn) that DO INCLUDE the &quot;Ask Toolbar&quot; in the installer, though unlike shady programs that install it anyway, even when you tell it not to, ImgBurn or File Factory (just 2 examples, I could think of) 's installers do not install the toolbar. Just read the options and un-check one box ... &quot;Issue solved&quot;<br />                <br />
            </li>
          </ul>
          </li>
        </ul>
        </li>
        <li>
        <span class="boldText">
          <a href="http://www.privacychoice.org/" onmouseover="makeTT(event,'chrome://febe/skin/defaultExtIcon64x64.png','Author:','PrivacyChoice.org','ID:','trackerblock@privacychoice.org','Size (installed):','245 KB','Last Install Date:','Wed Jan 25 2012 04:04:22 GMT-0500 (Eastern Standard Time)')" onmouseout="deleteTT()">PrivacyChoice TrackerBlock - </a>
        </span>This allows you to choice which (if any) websites can track you via advertising and other methods on the web.
        </li>
        <li>TACO based addons (no I am not getting the munchies for Mexican food0
        <ul>
          <li>
          <a href="http://jmhobbs.github.com/beef-taco" target="_blank">Beef Taco</a> - Adds a list of Opt-out cookies, if i am not mistaken .. .similar to TrackerBlock
          </li>
          <li>Taco by Abine -
          <ul>
            <li>I cant say which is &quot;better' those Beef Taco is a spinoff apparently and I have recently installed both (ALONG with Ghosty and TrackerBlocker)... and have no ill effects or slowdown (so far) .. so &quot;eh ... why not have all 4 installed?&quot;... If that changes (crashes.. slowdown, ...etc, I will let everyone know).
            </li>
            <li> I KNOW 100% SOME OF THESE &quot;FEATURES&quot; overlap and in fact I just noticed the Cookie Blocking in Ghosty is disabled when Ghosty detects BeefTaco or Taco installed (apparently some people have major slowdown or freezes, if Cookie blocking is not disabled in Ghosty, with the other addons)....
            <ul>
              <li>FOR the record ... Ghosty does this automatically and the user (that's you) does not have to do ANYTHING.... Just remove either &quot;Taco&quot; addon to get Cookie Protection back in Ghosty ... as I said .. this would be one of the features in these addons that &quot;overlap each other&quot;
              </li>
            </ul>
            </li>
          </ul>
          </li>
        </ul>
        </li>
      </ul>
      <p>
        <a href="https://addons.mozilla.org/en-US/firefox/addon/cookiesafe/" target="_blank">
          <img src="../graphics/ffox/cookie/CookieSafe.gif" alt="CookieSafe Addon" width="30" height="27" class="iconsLeft" /></a>
      </p>
      <ul>
        <li>
        <a href="https://addons.mozilla.org/en-US/firefox/addon/cookiesafe/" target="_blank">
          <span class="boldText">Cookie Safe
          </span></a> (3.x and below, I believe)-            Cookie managing add-on that makes it easier to manage cookies and cookie permissions,(not that its really hard to do) in Firefox
        <ul>
          <li>
          <a href="https://addons.mozilla.org/en-us/firefox/addon/cookiesafe-ff-4-compatible/" target="_blank" class="progName">Cookie Safe for Firefox 4 and up</a> (I personally know it works                4x to 6x, AND THINK it works (with Add-on Compatibility Reporter) with the Firefox 7 beta 5 that is out at the time I am typing this message.
          </li>
          <li>
          <a href="http://forum.addonsmirror.net/index.php?showtopic=6599" target="_blank">
            <img src="../graphics/ffox/cookie/cMonster.png" alt="Cookie Monster Icon" width="32" height="32" class="iconsLeft" />
            <span class="progName"> Cookie Monster
            </span></a> - This is an alternative to
          <span class="italics">CookieSafe
          </span>... same principle ... but i do know some that do not like CS and prefer CookieMonster... I am not sure if there are any ill effects to using both, though you really do not need to <br />
          </li>
        </ul>
        </li>
      </ul>
      <p>&nbsp;
      </p>
      <p>&nbsp;
      </p>
    </blockquote>
    <ul>
      <li class="boldItalics">Other top security addons for Firefox
      </li>
    </ul>
    <blockquote>
      <ol>
        <li>
        <a href="http://www.noscript.net/" target="_blank">
          <img src="../graphics/ffox/security/NoScript.jpg" alt="NoScript Addon Icon" width="32" height="32" class="iconsLeft" />
          <span class="progName">NoScript
          </span></a> -        Blocks MANY web exploits ... NoScript blocks sites running scripts (while maintaining a white-list (allows) and blacklist (known sites you want to block) and after you hit        allow on your favorite site ... it will not block those scripts you want Firefox to run again. I have seen TONS of articles of &quot;new exploits&quot; year after year now        and many of them say that ( not counting MS patches) the way to protect yourself is to use an updated copy of NoScript with an updated version of Firefox        (you don't have to use 4.x, by the way)<br /> <br />
        </li>
        <li>
        <a href="http://netticat.ath.cx/extensions.html" target="_blank">
          <img src="../graphics/ffox/security/BetterPrivacy.jpg" alt="Better Privacy Icon" width="32" height="32" class="iconsLeft" />
          <span class="progName">Better Privacy
          </span>- </a>removes LSO (Flash) Cookies that some other temp file cleaners MAY MISS. ..These are those &quot;Super Cookies&quot; you may have heard about       <br /> <br />
        </li>
        <li>
        <a href="http://www.requestpolicy.com/">
          <img src="../graphics/ffox/security/RequestPolicy.png" alt="Request Policy Icon" width="32" height="32" class="iconsLeft" />
          <span class="progName">Request Policy
          </span></a>        - &quot;Control which cross-site requests are allowed.   Improve the privacy of your browsing. Secure yourself from Cross-Site Request Forgery (CSRF) and          other attacks.&quot; -
        <span class="italics">Official (shortened from complete description) Description, curtesy of Request Policy (aka .. I didn't write that) <br /><br />
        </span>
        </li>
        <li>
        <a href="http://www.stardrifter.org/refcontrol/" target="_blank">
          <img src="../graphics/ffox/RefControl.png" alt="Ref Control Icon" width="56" height="32" class="iconsLeft" />
          <span class="progName">RefControl
          </span></a> - Control HTTP Refers on a per-site basis ... I admit this could overlap (at least in ways) &quot;Request Policy&quot;
		  and &quot;Modify Headers&quot;, but I choose to use all 3.<br />These can be used by sites to tell them where you just came from (what site you
		   clicked a link on to GET to thier site)
        <ol>
          <ul>
            <li>If you want control of that functionality, this is the addon for you. (again.. .Request Policy COULD also have this capability)
            </li>
            <li>One I use is:
            <ul>
              <li>Click Edit, then check &quot;Third Party Requests only&quot;  and either options you can choose are:
              <ul>
                <li>
                <span class="maroonText">Forge
                </span> - Fake a referrer, to the site requesting
                </li>
                <li>
                <span class="maroonText">Block
                </span> - Send no referrer information to the site requesting
                </li>
              </ul>
              </li>
            </ul>
            </li>
          </ul>
        </ol>
        </li>
        <li>
        <a href="http://www.garethhunt.com/modifyheaders/" target="_blank">
          <img src="../graphics/ffox/ModifyHeader.png" alt="Modify Header Icon" width="32" height="32" class="iconsLeft" />
          <span class="boldText">Modify Headers
          </span></a>- Manipulates HTTP Request Headers at user's discretion
        <ul>
          <ul>
            <li>Two Headers I have set are
            <span class="redtext">DNT
            </span> (for &quot;DO NOT TRACK&quot;) and
            <span class="redtext">X-Do-Not-Track
            </span> set to
            <span class="blue">1
            </span> (aka True/&quot;on&quot;) .. not all sites abide by these headers, but for those that do, I have these set
            </li>
            <li>Firefox (I can not re-call if it is version 4 or 5 that started to have this) has a Do not Track features that may do the same thing as this add-on Open Options (Preferences in Linux) and go to the Security tab and put a check by &quot;Tell sites I do not want to be tracked&quot;
            </li>
          </ul>
        </ul>
        </li>
      </ol>
    </blockquote>
    <p class="header">Summary of how add-ons like NoScript, CookieSafe(/Cookie Monster) and Request Policy operate
    </p>
    <ul>
      <li>These  operate on
      <span class="italics">white (allow) lists
      </span>, which allow whatever is listed,
      </li>
      <li> Everything that is not &quot;allowed' is
      <span class="underline">blocked
      </span> by the default settings of these add-ons
      </li>
      <li>What is allowed is controlled ENTIRELY by the user. and each domain (/site) requests can be set independently ...
      </li>
    </ul>
    <p>
      <img src="../smiles/shock/eek (1).gif" alt="shocked Smile" width="26" height="24" class="iconsLeft" />
    </p>
    <p>
      <span class="redtext">WHAT IN THE WORLD DOES THAT MEAN?
      </span>you ask... Basically (this is hypothetical) you can go to a Facebook page (that has three requests coming from it
    </p>
    <ul>
      <ul>
        <li>Facebook.com
        </li>
        <li>Doubleclick.net
        </li>
        <li>&quot;CoolWizzBangAdvertiser.net&quot;
        </li>
      </ul>
    </ul>
    <p>These addons allow you to  allow requests in these add-ons for &quot;Facebook.com&quot; AND BLOCK &quot;Doubleclick.net&quot; requests as well as &quot;CoolWizzBangAdvertiser.net&quot; that are allowed by the browser (if there where no addons) ON that Facebook Page
    </p>
    <p class="code2">Before I go on, I want to say I just found (curtesy of Ghack.net) &quot;
      <a href="https://addons.mozilla.org/en-US/firefox/addon/facebook-blocker/?src=api" target="_blank">Facebook Blocker</a>&quot;, which supposedly blocks (if it actually does anything, I can not say at this point... I just wanted to mention it as a possible additional add-on).... I can not confirm nor deny that it works.
    </p>
    <p>NOTE:
      <span class="boldUnderline">BLOCKING is automatic (or &quot;Default&quot;)
      </span> as I said ... You don't have to do anything other than get Firefox and install the respected Add-on (Though the Cookie related Add-ons I mentioned, do not block EVERYTHING by default, you do have to set that up)
    </p>
    <p>
      <a href="cookieBlocking.php" target="_blank">How to setup Blocking all Cookies by Default: Cookie Safe  AND Cookie Monster</a>
    </p>
    <p>&quot;Oh .. this sounds like a pain .. I visit &quot;SiteX&quot; everyday almost and will have to keep allowing that in each addon&quot; ... FALSE ... You set them to allow once and the add-on remembers ... in most of these add-ons, there are &quot;import&quot;/&quot;export&quot; settings to back up that add-ons white list and configurations ... which can be handy not only transferring the add-on setting from PC to PC, but also to say portable versions of Firefox and so forth and so on
    </p>
    <p class="header">Conclusion
    </p>
    <p>Well, (to a degree) I hope I helped web users secure their web browsing experience
      <span class="italics">and
      </span> did not confuse anyone to the point of getting a headache.
      <img src="../smiles/emoticons/emot0.gif" alt="Confused and Fainting Smile" width="60" height="54" class="imgfloat" /> I am NOT SAYING this will mean you will not get spyware/viruses/trojans/malware .. .but instead this is a guide that can help you on your way to having a secure system, by not being as easily tracked while your online..<br />
    </p>
  </div>

	<?php include $sitePath . "/modules/tech/baseTechFooter.tpl"; ?>
