@use "01-intial/index"as *;

header,
footer {
  display: flex;

  @include darkBG;
  font-weight: 900;

  // Aligns horizontally .. the left item all the way to the left, and the right div item
  // (in a two div layout inside) all the way to the right
  justify-content: space-between;

  // aligns content top vs bottom on the Y axis
  align-items: center;

  // This is a problem on mobile
  max-height: 4.5rem;

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    outline: 1px dotted var(--white);
    text-decoration: none;
  }
}

footer {
  padding: 1.5rem;
  grid-area: footer;

  // I could slap other classes on each img tag, or do this ... sort of redundant CSS but it removes the need for extra css tags in the html
  img {
    max-width: 32px;
    max-height: 32px;
    margin: .4rem;
  }

  .contacts,
  .site-made {
    width: 50%;
  }

  .site-made {
    @media all and (max-width: 993px) {
      display: none;
    }
  }

  .contacts {
    text-align: right;

    @media all and (max-width: 993px) {
      width: 100% !important;
    }
  }
}

header {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  padding: 1rem;
  text-shadow: 2px 5px var(--themeBGColorMain);
  grid-area: header;

  .fa {
    margin-right: 1rem;
  }

  @include darkBG;

  * {
    background-color: inherit;
    color: inherit;
  }

  // right aligned menus
  .topnav {
    display: flex;
    flex-direction: row;
    justify-self: end;
    font-weight: 500;
    font-size: var(--h4);

    a {
      padding: 1rem;

      @media screen and (max-width: 794px) {
        display: none;
      }
    }

    // for hamburger menu that should only display on mobile
    .icon {
      display: none;

      /* When the screen is less than 600 pixels wide, hide all links. Show the link that contains should open and close the topnav (.icon) */
      @media screen and (max-width: 794px) {
        float: right;
        display: block;
      }
    }
  }

  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 794px) {
    .topnav.responsive {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
      left: 0;
      top: 0;
      background: #333;
      display: grid;
      text-align: center;
      justify-content: center;

      a {
        display: block;
        text-align: left;
        align-self: center;
      }

      .icon {
        position: absolute;
        right: 0;
        display: block;
        // idea: move menu icon over the menu in responsive mode
        z-index: 1;
        margin: 17px 35px 0 0;
        outline: inherit;
        align-self: start;
      }
    }
  }
}
