/*********** Main Section in middle of page, between the header and footer *****/

.main-section {
  grid-area: main-section;
  padding: 1.5rem;
  display: grid;
  grid-gap: 1.5rem;
  justify-items: stretch;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--themeColor3);

    a {
      padding: 0.25rem;

      &:hover {
        outline: 1px solid var(--themeColor3);
        text-decoration: none;
      }
    }
  }

  // This even make sense? ... with no "sidebar?"   maybe yes if i dont do grid-template-areas: in the parent class;
  &--wide {
    @extend .main-section;
    grid-template-columns: 1fr;
    grid-template-areas: "pContent";
  }

  &--left-wide {
    @extend .main-section;
    grid-template-columns: auto 18%;
    grid-template-areas: "pContent sidebar";
  }

  &--right-wide {
    @extend .main-section;
    grid-template-columns: 18% auto;
    grid-template-areas: "sidebar pContent";
  }

  /****** Sidebar *****/
  .sidebar {
    img {
      display: block;
      margin: 1rem 0;
      padding: 0;
    }

    /** cards in Sidebar, specifically ... i think any mainSection global .card stuff carries over ***/
    .card {
      //width: 85%;

      .card__header {
        padding: 0.5rem 1rem;
      }

      .card__body {
        line-height: 1.4rem;

        // removes the need for so many <br /> tags
        a,
        span {
          margin: 0.4rem auto;
        }
      }
    }
  }

  // the main sections of each side of the site
  .primary-content {
    grid-area: pContent;

    .card {
      .card__header {
        align-items: center;
        display: grid;
        justify-content: space-between;
      }
    }

    // the idea is for readability
    p {
      margin: 1rem auto;
      max-width: 72ch;
    }
  }
}

/* Media query for center section under 794px wide */
@media all and (max-width: 768px) {

  // the main section between the nav top bar and the footer
  .main-section,
  .main-section--left-wide,
  .main-section--right-wide {
    .sidebar {
      .card {
        margin: 0 auto;

        // why is this here? ... could i make this more generic and remove this? (move it to the higest level "card__body"
        .card__body {
          a {
            display: inline-block;
          }
        }
      }
    }

    // the main sections of each side of the site
    .primary-content {
      grid-area: pContent;
      margin: 0 1rem;
      //width: min-content;
    }
  }

  .main-section--left-wide,
  .main-section--right-wide {
    grid-template-areas:
      "sidebar"
      "pContent";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

// I forgot what this is for .
// do i need it?
// @media all and (max-width: 768px) {
//   .sidebar {
//     .card {
//       margin-left: 0;
//       margin-bottom: 1rem;
//     }
//   }
// }
