
h2 Upgrading Debian Stable (What you have to start with)
h3 *** DO THESE IN ORDER ***
h4 Update and Upgrade (Current Stable) to the newest it can be 


div Update the repository &quot;database&quot; 
  
  code sudo apt-get update
  
  

div Upgrade the system


  code sudo apt-get upgrade

  <ul>
    <li>Do a Distributuon upgrade </li>
  </ul>
  
    code sudo apt-get distr-upgrade
  
  <ul>
    <li>Now (it may not be needed, but I choose to do it) Reboot the computer</li>
  </ul>
  <p>&nbsp;
  <p class="col2SectionHeaders">Get ready to upgrade to &quot;Testing&quot; 
  <ul>
    <li>Go into the Terminal and type in whats below to edit your &quot;sourcelist&quot;</li>
  </ul>

    code sudo nano /etc/apt/sources.list

  <ul>
    <li>Once the file is opened, go to the line where it says &quot;CD_Rom&quot; or something to that effect and comment it out by putting a &quot; # &quot; in front of the entire line.
      <ul>
        <li>The point of this is everytime you &quot;sudo apt-get update&quot; (without it being commented out), it will check to see if it can find the Flashdrive/CD-Rom/..etc ... this just tells the system not to check that </li>
      </ul>
    </li>
    <li>You will see something similar to the following lines </li>
  </ul>
  
  
code    
      code deb http://ftp.us.debian.org/debian stable main contrib non-free<br />
        deb-src http://ftp.us.debian.org/debian stable main contrib non-free
      code deb http://ftp.debian.org/debian/ wheezy-updates main contrib non-free<br />
        deb-src http://ftp.debian.org/debian/ wheezy-updates main contrib non-free
      code deb http://security.debian.org/ wheezy/updates main contrib non-free<br />
        deb-src http://security.debian.org/ wheezy/updates main contrib non-free
    

  
p
  em Yours may only have &quot;main&quot; listed ... same process though
  
ul
  li
    span.font-weight-bold STEP 1 
    | : ADJUST THE SOURCES.LIST file to the new branch
    |       
    ul
      li
        | (if you only have &quot;MAIN&quot; listed at the end, you may want to add the following, too)
        ul
          li
            span.terms contrib
            |  ... and 
            span.terms non-free
      |         
      li
        | IF YOUR UPGRADING TO TESTING (whatever is in &quot;testing)
        ul
          li
            | Change where you see 
            span.terms Wheezy
            |  .... to 
            span.terms Testing
            |  ... THATS IT (AS FAR AS EDITING THIS FILE)
      |         
      li
        | IF YOUR UPGRADING TO (whats currently the testing branch when I am typing this) Jessie
        ul
          li
            | Change where you see 
            span.terms Wheezy
            |  .... to 
            span.terms Jessie
            |  ... THATS IT (AS FAR AS EDITING THIS FILE)

  
    <p>	<em>(YES these nex steps are exactly the same as before, when you hadn't changed the sources.list file, yet)</em>
  
ul 
  li
    span.boldUnderline Step 2:
    |  Update the repository &quot;database&quot;


  
    code sudo apt-get update
  
ul
  li
    span.boldUnderline Step 3:
    |  Upgrade the system
  
    code sudo apt-get upgrade
  
ul
  li
    span.boldUnderline Step 4
    | : Do a Distributuon upgrade

    code sudo apt-get distr-upgrade
  
  <ul>
    <li>Now (it may not be needed, but I choose to do it) Reboot the computer</li>
    </ul>
  <p>If nothing went wrong, You are now done ... You are now on Debian &quot;Testing&quot;/&quot;Wheezy&quot; depending on what you picked 
  <p>&nbsp;

<?php include $sitePath . "/modules/footer.tpl"; ?>
